<template>


    <div class="login-container" style="background: rgb(249, 249, 249);">
        <div class="auth-content">
            <div class="card o-hidden">
        <el-form ref="loginForm" :model="loginForm" :rules="loginRules" class="login-form" auto-complete="on" label-position="left">
            <div class="auth-logo text-center mb-4">
                 <img src="https://landsterling.sa/themes/ls-theme/assets/images/logo.svg" alt="Land Sterling">

            </div>
            <h1 class="mb-3 text-18 sign">Sign In</h1>
     
            <el-form-item prop="email">
        <span class="svg-container">
          <svg-icon icon-class="user" />
        </span>
                <el-input v-model="loginForm.email" class="my-email" name="email" type="text" auto-complete="on" :placeholder="$t('login.email')" style="text-transform: lowercase !important;" />
            </el-form-item>
            <el-form-item prop="password">
        <span class="svg-container">
          <svg-icon icon-class="password" />
        </span>
                <el-input
                    :type="pwdType"
                    v-model="loginForm.password"
                    name="password"
                    auto-complete="on"
                    placeholder="password"
                    @keyup.enter.native="handleLogin" />
                <span class="show-pwd" @click="showPwd">
          <svg-icon icon-class="eye" />
        </span>
            </el-form-item>
            <el-form-item class="login-btn">
                <el-button class="el-button btn-red btn el-button--default el-button--medium" :loading="loading" type="primary" style="width:100%;" @click.native.prevent="handleLogin">
                    Sign in
                </el-button>
            </el-form-item>
           
        </el-form>
 </div> 
    </div> 
    </div> 
</template>

<script>
    import LangSelect from '@/components/LangSelect';
    import { validEmail } from '@/utils/validate';

    export default {
        name: 'Login',
        components: { LangSelect },
        data() {
            const validateEmail = (rule, value, callback) => {
                if (!validEmail(value)) {
                    callback(new Error('Please enter the correct email'));
                } else {
                    callback();
                }
            };
            const validatePass = (rule, value, callback) => {
                if (value.length < 4) {
                    callback(new Error('Password cannot be less than 4 digits'));
                } else {
                    callback();
                }
            };
            return {
                loginForm: {
                    email: 'admin@landsterling.com',
                    password: 'secret',
                },
                loginRules: {
                    email: [{ required: true, trigger: 'blur', validator: validateEmail }],
                    password: [{ required: true, trigger: 'blur', validator: validatePass }],
                },
                loading: false,
                pwdType: 'password',
                redirect: undefined,
            };
        },
        watch: {
            $route: {
                handler: function(route) {
                    this.redirect = route.query && route.query.redirect;
                },
                immediate: true,
            },
        },
        methods: {
            showPwd() {
                if (this.pwdType === 'password') {
                    this.pwdType = '';
                } else {
                    this.pwdType = 'password';
                }
            },
            handleLogin() {
                this.$refs.loginForm.validate(valid => {
                    if (valid) {
                        this.loading = true;
                        this.$store.dispatch('user/login', this.loginForm)
                            .then(() => {
                                this.$router.push({ path: this.redirect || '/' });
                                this.loading = false;
                            })
                            .catch(() => {
                                this.loading = false;
                            });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
        },
    };
</script>

<style rel="stylesheet/scss" lang="scss">
    $bg:#2d3a4b;
    $light_gray:#eee;

    /* reset element-ui css */
    .login-container {
        .el-input {
            display: inline-block;
            width: 85%;
            input {
                background: transparent;
                border: 0px;
                -webkit-appearance: none;
                border-radius: 0px;
                &:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0px 1000px $bg inset !important;
                    -webkit-text-fill-color: #fff !important;
                }
            }
        }
        .el-form-item {
            border: 1px solid rgba(255, 255, 255, 0.1);
            background: rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            color: #454545;
        }
    }

</style>

<style rel="stylesheet/scss" lang="scss" scoped>
    $bg:#2d3a4b;
    $dark_gray:#889aa4;
    $light_gray:#eee;
    .login-container {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: $bg;
        .login-form {
            position: absolute;
            left: 0;
            right: 0;
            width: 520px;
            max-width: 100%;
            padding: 35px 35px 15px 35px;
            margin: 120px auto;
        }
        .tips {
            font-size: 14px;
            color: #fff;
            margin-bottom: 10px;
            span {
                &:first-of-type {
                    margin-right: 16px;
                    cursor: pointer;
                }
            }
        }
        .svg-container {
            padding: 6px 5px 6px 15px;
            color: $dark_gray;
            vertical-align: middle;
            width: 30px;
            display: inline-block;
        }
        .title {
            font-size: 26px;
            font-weight: 400;
            color: $light_gray;
            margin: 0px auto 40px auto;
            text-align: center;
            font-weight: bold;
        }
        .show-pwd {
            position: absolute;
            right: 10px;
            top: 7px;
            font-size: 16px;
            color: $dark_gray;
            cursor: pointer;
            user-select: none;
        }
        .set-language {
            color: #fff;
            position: absolute;
            top: 40px;
            right: 35px;
        }
    }
    .auth-content {
    max-width: 610px;
    min-width: 610px;
    margin: auto;
}


.login-container {
    display: flex;
    position: unset !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
}

.login-container .login-form {
    background: #fff;
    position: unset;
    margin: 60px auto;
    padding: 25px 15px 0px 15px;
}

.auth-logo img {
    width: 230px;
    height: unset;
}

.sign {
    font-weight: 600;
}

.login-container .svg-container {
    padding: 5px 5px 5px 15px;
    color: #6d6d6d;
}
.login-container .el-form-item {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ced4da;
    background: #f8f9fa;
    font-weight: 400;
    text-transform: capitalize;
    color: #697580;
    letter-spacing: .5px;
}

.el-form-item--medium .el-form-item__content {
   line-height: 35px;
    width: 100%;
    border-radius: 3px;
    border: 0px solid #ced4da;
    background: #f8f9fa;
    font-weight: 400;
    text-transform: capitalize;
    color: #6d6d6d;
    letter-spacing: .5px; 
}
.login-container .el-input {
    height: 35px;
}

.login-container .el-form-item .el-input input {
    padding: 7px 5px 7px 15px !important;
    color: #6d6d6d !important;
    height: 35px !important;
}

.login-container .el-form-item__error {
    position: absolute !important;
}

.login-btn {
    border: 1px solid #9e0d21 !important;
    border-radius: 3px !important;
}

.btn-red {
    background: #9e0d21;
    margin-left: 0;
    border-radius: 0px !important;
}

.my-email input {
    text-transform: lowercase !important;
}



</style>
