<template>
    <el-card v-if="user.name">
        <div class="user-profile">
            <div class="user-avatar box-center">
                <!--<pan-thumb :image="user.avatar" :height="'100px'" :width="'100px'" :hoverable="false"/>-->

                <pan-thumb :image="image" >
                    <el-button type="primary" icon="el-icon-upload" circle @click="imagecropperShow=true"></el-button>
                </pan-thumb>

                <!--<el-button type="primary" icon="upload" style="position: absolute;bottom: 15px;margin-left: 40px;" @click="imagecropperShow=true">
                    Change Avatar
                </el-button>-->

                <image-cropper
                    v-show="imagecropperShow"
                    :key="imagecropperKey"
                    :width="300"
                    field="file"
                    :params="{resource:'avatar','resource_id':user.id}"
                    :headers="{ Authorization:auth_token }"
                    :height="300"
                    url="images"
                    lang-type="en"
                    @close="close"
                    @crop-upload-success="cropSuccess"
                />

            </div>
            <div class="box-center my-acc-details">
                <h4 class="user-name text-center">{{ user.firstname }} {{ user.lastname }}</h4>
                <div class="user-role text-center text-muted">{{ getRole() }}</div>
            </div>
            <!--<div class="box-social">
                <el-table :data="social" :show-header="false">
                    <el-table-column prop="name" label="Name"></el-table-column>
                    <el-table-column label="Count" align="left" width="100">
                        <template slot-scope="scope">{{ scope.row.count | toThousandFilter }}</template>
                    </el-table-column>
                </el-table>
            </div>-->
            <!--<div class="user-follow">
                <el-button type="primary" style="width: 100%;">Follow</el-button>
            </div>-->
        </div>
    </el-card>
</template>

<script>
    import PanThumb from '@/components/PanThumb';
    import ImageCropper from '@/components/ImageCropper';

    export default {
        components: { ImageCropper, PanThumb },
        props: {
            user: {
                type: Object,
                default: () => {
                    return {
                        name: '',
                        email: '',
                        avatar: '',
                        roles: [],
                    };
                },
            },
        },
        data() {
            return {
                imagecropperShow: false,
                imagecropperKey: 0,
                image:'',
                social: [
                    {
                        'name': 'Assignments',
                        'count': 1235,
                    },
                    {
                        'name': 'Properties',
                        'count': 23512,
                    },
                    {
                        'name': 'Defects',
                        'count': 7242,
                    },
                ],
            };
        },
        methods: {
            getRole() {
                const roles = this.user.roles.map(value => this.$options.filters.uppercaseFirst(value));
                return roles.join(' | ');
            },
            cropSuccess(resData) {
                this.imagecropperShow = false;
                this.imagecropperKey = this.imagecropperKey + 1;
                this.image = resData.user.avatar;
                this.$store.dispatch('user/getInfo');
            },
            close() {
                this.imagecropperShow = false;
            },
        },
        computed:{
            auth_token(){
                return `Bearer ${this.$store.getters.token}`;
            },
        },
        watch:{
            user(){
                this.image = this.user.avatar
            }
        }
    };
</script>

<style lang="scss" scoped>
    .user-profile {
        .user-name {
            font-weight: bold;
        }
        .box-center {
            padding-top: 10px;
            max-width: 150px;
            margin: 0 auto;
        }
        .user-role {
            padding-top: 5px;
            font-weight: 400;
            font-size: 14px;
        }

        .my-acc-details {
            h4.user-name {
                font-size: 20px;
                font-size: 20px;
                margin-top: 7px;
                margin-bottom: 0px;
            }
        }
        .box-social {
            padding-top: 30px;
            .el-table {
                border-top: 1px solid #dfe6ec;
            }
        }
        .user-follow {
            padding-top: 20px;
        }
    }
</style>
