<template>
    <div v-if="user.name">

        <el-col :xs="24" :sm="13" :md="13" :lg="13" :xl="13">
            <el-card>
                <h4 class="pro-heading">Profile Setting</h4>

                <el-form :inline="true" :model="user">
                    <el-row :gutter="25">
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="First Name">
                                <el-input v-model="user.firstname" :disabled="user.role === 'admin'"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Last Name">
                                <el-input v-model="user.lastname" :disabled="user.role === 'admin'"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Email">
                                <el-input v-model="user.email" disabled/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Position">
                                <el-input v-model="user.position"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Qualification">
                                <el-input v-model="user.qualification"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Professional Membership Number">
                                <el-input v-model="user.professional_membership_number" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item>
                                <el-button type="primary" style="padding: 10px 30px;margin: 0;margin-top: 10px;" class="btn-blue btn"  @click="onSubmit" :disabled="user.role === 'admin'">Update</el-button>
                            </el-form-item>
                        </el-col>
                    </el-row>


                </el-form>

                <div class="change-pass">
                    <h4>Change Password</h4>
                    <el-form :inline="true" :model="passwordForm">
                        <el-form-item label="Current Password" :error="get('current_password')">
                            <el-input type="password" v-model="passwordForm.current_password" />
                        </el-form-item>
                        <el-form-item label="New Password" :error="get('new_password')">
                            <el-input type="password" v-model="passwordForm.new_password"/>
                        </el-form-item>
                        <el-form-item label="Confirm Password" :error="get('new_password_confirmation')">
                            <el-input type="password" v-model="passwordForm.new_password_confirmation"/>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" style="padding: 10px 30px;margin: 0;margin-top: 10px;" class="btn-blue btn" @click="onSubmitPasswordUpdate" >Update</el-button>
                        </el-form-item>
                    </el-form>

                </div>

            </el-card>
        </el-col>



        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
            <el-card>
                <h4 class="pro-heading">Recent Activities</h4>
                <div class="user-activity">
                    <div v-if="!activities.length">
                        No activity recorded!
                    </div>
                    <span class="ago">From Last Week</span>
                    <div class="post" v-for="activity in activities">
                        <div class="user-block">
                            <img
                                class="img-circle"
                                :src="user.avatar"
                                alt="user image"
                            >
                            <span class="username text-muted"><a href="#">{{ user.firstname }} {{ user.lastname }}</a><a href="#" class="pull-right btn-box-tool" style="float: right;color: #bbb;">{{ activity.created_at |fromNow }} <i class="fa fa-times"></i></a></span>
                            <span class="description">{{ activity.log_name }} {{ activity.description }}</span>
                        </div>


                        <!--
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="link-black text-sm">
                                    <i class="el-icon-share"/> Share
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link-black text-sm">
                                    <svg-icon icon-class="like"/>Like
                                </a>
                            </li>
                            <li class="pull-right">
                                <a href="#" class="link-black text-sm">
                                    <svg-icon icon-class="comment"/>Comments
                                    (5)
                                </a>
                            </li>
                        </ul>
                        -->
                        <!--<el-input placeholder="Type a comment"></el-input>-->
                    </div>
                    <!--
                    <div class="post">
                        <div class="user-block">
                            <img
                                    class="img-circle"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMMN-8f9CQQ3MKJpboBJIqaiJ2Wus2Tf4w_vx9STtalxrY3qGJ"
                                    alt="user image"
                            >
                            <span class="username text-muted"><a href="#">Captain American</a><a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a></span>
                            <span class="description">Sent you a message - yesterday</span>
                        </div>
                        <p>
                            Lorem ipsum represents a long-held tradition for designers,
                            typographers and the like. Some people hate it and argue for
                            its demise, but others ignore the hate as they create awesome
                            tools to help create filler text for everyone from bacon lovers
                            to Charlie Sheen fans.
                        </p>
                        <el-input placeholder="Response">
                            <el-button slot="append">Send</el-button>
                        </el-input>
                    </div>
                    <div class="post">
                        <div class="user-block">
                            <img
                                    class="img-circle img-bordered-sm"
                                    src="https://cdn3.iconfinder.com/data/icons/movies-3/32/daredevil-superhero-marvel-comics-mutant-avatar-512.png"
                                    alt="User Image"
                            >
                            <span class="username">
                <a href="#">Daredevil</a>
                <a href="#" class="pull-right btn-box-tool">
                  <i class="fa fa-times"></i>
                </a>
              </span>
                            <span class="description">Posted 4 photos - 2 days ago</span>
                        </div>
                        <div class="user-images">
                            <el-carousel :interval="6000" type="card" height="200px">
                                <el-carousel-item v-for="item in carouselImages" :key="item">
                                    <img :src="item" class="image">
                                </el-carousel-item>
                            </el-carousel>
                        </div>
                        &lt;!&ndash;
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="link-black text-sm">
                                    <i class="el-icon-share"/> Share
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link-black text-sm">
                                    <svg-icon icon-class="like"/>Like
                                </a>
                            </li>
                            <li class="pull-right">
                                <a href="#" class="link-black text-sm">
                                    <svg-icon icon-class="comment"/>Comments
                                    (5)
                                </a>
                            </li>
                        </ul>
                        &ndash;&gt;
                        <el-input placeholder="Type a comment"></el-input>
                    </div>
                    -->
                </div>

            </el-card>
        </el-col>
        <!--
        <el-tab-pane label="Timeline" name="second">
            <div class="block">
                <el-timeline>
                    <el-timeline-item timestamp="2019/4/17" placement="top">
                        <el-card>
                            <h4>Update Github template</h4>
                            <p>tuandm committed 2019/4/17 20:46</p>
                        </el-card>
                    </el-timeline-item>
                    <el-timeline-item timestamp="2019/4/18" placement="top">
                        <el-card>
                            <h4>Update Github template</h4>
                            <p>tonynguyen committed 2019/4/18 20:46</p>
                        </el-card>
                        <el-card>
                            <h4>Update Github template</h4>
                            <p>tuandm committed 2019/4/19 21:16</p>
                        </el-card>
                    </el-timeline-item>
                    <el-timeline-item timestamp="2019/4/19" placement="top">
                        <el-card>
                            <h4>
                                Deploy
                                <a href="https://landsterling.com" target="_blank">landsterling.com</a>
                            </h4>
                            <p>deployed 2019/4/19 10:23</p>
                        </el-card>
                    </el-timeline-item>
                </el-timeline>
            </div>
        </el-tab-pane>
        -->





    </div>
</template>

<script>
    // import Resource from '@/api/resource';
    // const userResource = new Resource('users');
    import UserResource from '@/api/user';
    let userResource = new UserResource();
    import BackendErrors from '@/mixins/backend-errors';


    export default {
        mixins:[BackendErrors],
        props: {
            user: {
                type: Object,
                default: () => {
                    return {
                        id: '',
                        name: '',
                        email: '',
                        avatar: '',
                        roles: [],
                    };
                },
            },
            activities: {
                type: Array,
                default: () => [],
            },
        },
        data() {
            return {
                activeActivity: 'first',
                carouselImages: [
                    'https://cdn.laravue.dev/photo1.png',
                    'https://cdn.laravue.dev/photo2.png',
                    'https://cdn.laravue.dev/photo3.jpg',
                    'https://cdn.laravue.dev/photo4.jpg',
                ],
                updating: false,
                passwordForm:{
                    current_password:'',
                    new_password:'',
                    new_password_confirmation:''
                }
            };
        },
        methods: {
            handleClick(tab, event) {
                // console.log('Switching tab ', tab, event);
            },
            onSubmit() {
                this.updating = true;
                userResource
                    .update(this.user.id, this.user)
                    .then(response => {
                        this.updating = false;
                        this.$message({
                            message: 'User information has been updated successfully',
                            type: 'success',
                            duration: 5 * 1000,
                        });
                    })
                    .catch(error => {
                        console.log(error);
                        this.updating = false;
                    });
            },
            onSubmitPasswordUpdate() {
                this.updating = true;
                console.log('updating!');
                userResource
                    .updatePassword(this.user.id, this.passwordForm)
                    .then(response => {
                        this.clear();
                        this.clearPasswordForm();
                        this.updating = false;

                        this.$message({
                            message: 'User password has been updated successfully',
                            type: 'success',
                            duration: 5 * 1000,
                        });

                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                        this.updating = false;
                    });
            },
            clearPasswordForm(){
                this.passwordForm = {
                    current_password:'',
                    new_password:'',
                    new_password_confirmation:''
                };
            }
        },
    };
</script>

<style lang="scss" scoped>
    .user-activity {

        .user-block {
            .username, .description {
                display: block;
                margin-left: 50px;
                padding: 0px 0;
            }
            img {
                width: 40px;
                height: 40px;
                float: left;
            }
            :after {
                clear: both;
            }
            .img-circle {
                border-radius: 50%;
                border: 2px solid #d2d6de;
                padding: 2px;
            }
            span {
                font-weight: 500;
                font-size: 12px;
            }

        }

        .ago {
            color: rgb(187, 187, 187);
            font-size: 13px;
            margin-bottom: 4px;
            display: block;
        }

        .btn-blue {
            margin: 0;
            margin-top: 20px;
            padding: 10px 30px;
        }
        .el-tabs__active-bar {
            background: #9e0d21;
        }


        .post {
            font-size: 14px;
            border-bottom: 1px solid #e7eaef;
            margin-bottom: 0px;
            color: #666;

            background: #f9f9f9;
            padding: 10px;
            .image {
                width: 100%;
            }
            .user-images {
                padding-top: 20px;
            }
        }

        .post:first-of-type {

            border-radius: 5px 5px 0px 0px;
        }
        .post:last-of-type {

            border-radius: 0px 0px 5px 5px;
            border: unset;
        }
        .list-inline {
            padding-left: 0;
            margin-left: -5px;
            list-style: none;
            li {
                display: inline-block;
                padding-right: 5px;
                padding-left: 5px;
                font-size: 13px;
            }
            .link-black {
                &:hover, &:focus {
                    color: #999;
                }
            }
        }
        .el-carousel__item h3 {
            color: #475669;
            font-size: 14px;
            opacity: 0.75;
            line-height: 200px;
            margin: 0;
        }

        .el-carousel__item:nth-child(2n) {
            background-color: #99a9bf;
        }

        .el-carousel__item:nth-child(2n+1) {
            background-color: #d3dce6;
        }
    }
</style>
