<template>
    <el-card class="box-card user-bio">
        <div slot="header" class="clearfix">
            <span>About me</span>
        </div>
        <div class="user-education user-bio-section">
            <div class="user-bio-section-header">
                <svg-icon icon-class="education"/>
                <span>Education</span>
            </div>
            <div class="user-bio-section-body">
                <div class="text-muted">B.S. in Computer Science from the Government College University Faisalabad.</div>
            </div>
        </div>
        <div class="user-skills user-bio-section">
            <div class="user-bio-section-header">
                <svg-icon icon-class="skill"/>
                <span>Skills</span>
            </div>
            <div class="user-bio-section-body">
                <div class="progress-item">
                    <span>Laravel</span>
                    <el-progress :percentage="80"/>
                </div>
                <div class="progress-item">
                    <span>Vue</span>
                    <el-progress :percentage="70"/>
                </div>
                <div class="progress-item">
                    <span>JavaScript</span>
                    <el-progress :percentage="65"/>
                </div>
                <div class="progress-item">
                    <span>HTML &amp; CSS</span>
                    <el-progress :percentage="100" status="success"/>
                </div>
                <el-divider></el-divider>
                <div class="progress-item">
                    <input type="text" class="skill-input">
                    <input type="text" class="skill-input-persentage">

                    <el-button size="mini">Add Skill</el-button>
                </div>
            </div>
        </div>
    </el-card>
</template>

<script>
    export default {
    };
</script>

<style lang="scss" scoped>
    .user-bio {
        margin-top: 20px;
        color: #606266;
        span {
            padding-left: 4px;
        }
        .user-bio-section {
            font-size: 14px;
            padding: 15px 0;
            .user-bio-section-header {
                border-bottom: 1px solid #dfe6ec;
                padding-bottom: 10px;
                margin-bottom: 10px;
                font-weight: bold;
            }
        }
    }
    .skill-input{
        width: 45%;
        border-radius: 3px;
        border: 1px solid #DCDFE6;
        line-height: 1;
        padding: 4.5px 15px;
    }
    .skill-input-persentage{
        width: 20%;
        border-radius: 3px;
        border: 1px solid #DCDFE6;
        line-height: 1;
        padding: 4.5px 15px;
    }
</style>
