<template>
    <div class="app-container">

        <div class="filter-container">
            <el-input v-model="query.keyword" clearable @clear="handleFilter" :placeholder="$t('table.keyword')" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
            <el-select v-model="query.service" placeholder="select service" clearable style="width: 180px" class="filter-item" @change="handleFilter">
                <el-option v-for="item in serviceList" :key="item.id" :label="item.title | uppercaseFirst" :value="item.id" />
            </el-select>
            <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">
                {{ $t('table.search') }}
            </el-button>
            <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-plus" @click="handleCreate">
                {{ $t('table.add') }}
            </el-button>

        </div>

        <el-table :cell-style="ColumnStyle" v-loading="loading" :data="list" border fit highlight-current-row style="width: 100%">

            <el-table-column
                type="selection"
                width="40">
            </el-table-column>

            <el-table-column align="center" label="No" width="60">
                <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" :content="`${scope.row.id}`" >
                        <div @click="dialogStatusFormVisible = true">{{ scope.row.index }}</div>
                    </el-tooltip>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Title" width="250">
                <template slot-scope="scope">
                    <span>{{ scope.row.title }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Reference" >
                <template slot-scope="scope">
                    <span>{{ scope.row.ref_no }} ({{ scope.row.properties_count }})</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Due Date">
                <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" :content="scope.row.due_date_data.tooltip">
                        <el-tag :type="scope.row.due_date_data.type">{{ scope.row.due_date_data.text }}</el-tag>
                    </el-tooltip>
                </template>
            </el-table-column>

            <el-table-column label="Status">
                <template slot-scope="{row}">
                    <template v-if="row.edit">
                        <el-select @change="statusChanged(row)" v-model="row.new_status" class="filter-item" placeholder="Please select type">
                            <el-option v-for="item in row.service.statuses" :key="item.id"  :label="item.title" :value="item.id" />
                        </el-select>
                    </template>
                    <span v-else @click="row.edit = true">
                        <el-tag effect="dark" :style="{'background-color':row.status.color}">{{ row.status.title }}</el-tag>
                        </span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Manager" >
                <template slot-scope="scope">
                    <span>{{ scope.row.manager.firstname }} {{ scope.row.manager.lastname }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Client">
                <template slot-scope="scope">
                    <span >{{ scope.row.contact.client.firstname }} {{ scope.row.contact.client.lastname }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Service">
                <template slot-scope="scope">
                    <span >{{ scope.row.service.title }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Actions" width="150">
                <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" content="Edit Assignment">
                        <el-button type="primary" size="small" icon="el-icon-edit" @click="handleEdit(scope.row);"></el-button>
                    </el-tooltip>
                    <el-tooltip class="item" effect="dark" content="View Properties">
                        <el-button type="success" size="small" icon="el-icon-s-home" @click="handleProperties(scope.row);"></el-button>
                    </el-tooltip>
                </template>
            </el-table-column>
        </el-table>

        <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.limit" @pagination="getList" />

        <el-dialog :title="'Create new Assignment'" :visible.sync="dialogFormVisible">
            <div class="form-container" v-loading="assignmentCreating">
                <el-form ref="userForm" :model="newAssignment" label-position="left" label-width="250px" style="max-width: 600px;margin-left: 50px;">

                    <span slot="label"><!--<i class="el-icon-date"></i>--> Basic Details</span>

                    <el-form-item label="Service" :error="get('service')">
                        <el-select style="width:100%;" @change="clear();" v-model="newAssignment.service" class="filter-item" placeholder="Please select type">
                            <el-option v-for="item in serviceList" :key="item.id"  :label="item.title" :value="item.id" />
                        </el-select>
                    </el-form-item>

                    <el-form-item label="Title" :error="get('title')">
                        <el-input v-model="newAssignment.title" />
                    </el-form-item>

                    <el-form-item label="Due Date" :error="get('due_date')">
                        <el-date-picker
                            style="width:100%;"
                            v-model="newAssignment.due_date"
                            type="date"
                            placeholder="Pick a Date"
                            :picker-options="pickerOptions">
                        </el-date-picker>
                    </el-form-item>

                    <el-form-item label="Service Manager" :error="get('manager')">
                        <el-select style="width:100%;" v-model="newAssignment.manager" class="filter-item" placeholder="Please select manager">
                            <el-option v-for="item in userList" :key="item.id"  :label="`${item.firstname} ${item.lastname}`" :value="item.id" />
                        </el-select>
                    </el-form-item>

                    <!--<el-form-item label="Client" :error="get('client')">
                        <el-select style="width:100%;"  @change="handleClientContact" v-model="newAssignment.client" class="filter-item" placeholder="Please select type">
                            <el-option v-for="item in clientList" :key="item.id"  :label="`${item.firstname} ${item.lastname} (${item.email})`" :value="item.id" />
                        </el-select>
                    </el-form-item>

                    <el-form-item label="Client Contact" :error="get('client_contact')">
                        <el-select :loading="clientContactListLoading" style="width:100%;" v-model="newAssignment.client_contact" class="filter-item" placeholder="Please select type">
                            <el-option v-for="item in clientContactList" :key="item.id"  :label="`${item.firstname} ${item.lastname} (${item.email})`" :value="item.id" />
                        </el-select>
                    </el-form-item>-->

                    <el-form-item label="Client Contact" :error="get('client_contact')">

                        <el-select v-model="newAssignment.client_contact" placeholder="Select contact" filterable style="width:100%;">
                            <el-option-group
                                v-for="client in clientList"
                                :key="client.id"
                                :label="`${client.firstname} ${client.lastname}`">
                                <el-option
                                    v-for="item in client.contacts"
                                    :key="item.id"
                                    :label="`${item.firstname} ${item.lastname} (${item.email})`"
                                    :value="item.id">
                                </el-option>
                            </el-option-group>
                        </el-select>

                    </el-form-item>

                    <el-form-item label="Client Ref #" :error="get('client_ref')">
                        <el-input v-model="newAssignment.client_ref" />
                    </el-form-item>

                    <el-form-item label="Report Language" :error="get('report_lang')">
                        <el-select style="width:100%;" v-model="newAssignment.report_lang" class="filter-item" placeholder="Please select type">
                            <el-option label="English" value="en" />
                            <el-option label="Arabic" value="ar" />
                        </el-select>
                    </el-form-item>

                    <el-form-item label="Portfolio Report" v-if="newAssignment.service == 2" :error="get('is_portfolio')">
                        <el-radio v-model="newAssignment.is_portfolio" :label="1">Yes</el-radio>
                        <el-radio v-model="newAssignment.is_portfolio" :label="0">No</el-radio>
                    </el-form-item>

                    <div v-if="newAssignment.is_portfolio && newAssignment.service == 2" style="margin-bottom: 20px;">
                        <!--<div>-->

                        <el-collapse>
                            <el-collapse-item name="0" title="Portfolio Details">
                                <template slot="title">
                                    <i class="header-icon el-icon-info" style="color: red;" v-show="hasAny(['hide_valuation','template_type','report_title','applicant_name'])"></i> &nbsp; Portfolio Details
                                </template>
                                <el-form-item label="Hide Valuation" :error="get('hide_valuation')">
                                    <el-radio v-model="newAssignment.hide_valuation" :label="1">Yes</el-radio>
                                    <el-radio v-model="newAssignment.hide_valuation" :label="0">No</el-radio>
                                </el-form-item>
                                <el-form-item label="Template type" :error="get('template_type')">
                                    <el-radio v-model="newAssignment.template_type" label="normal">Normal</el-radio>
                                    <el-radio v-model="newAssignment.template_type" label="minimal">Minimal</el-radio>
                                    <el-radio v-model="newAssignment.template_type" label="multipage">Multi Page</el-radio>
                                </el-form-item>
                                <el-form-item label="Report Title" :error="get('report_title')">
                                    <el-input v-model="newAssignment.report_title" />
                                </el-form-item>
                                <el-form-item label="Applicant Name" :error="get('applicant_name')">
                                    <el-input v-model="newAssignment.applicant_name" />
                                </el-form-item>
                            </el-collapse-item>
                            <el-collapse-item name="1">
                                <template slot="title">
                                    <i class="header-icon el-icon-info" style="color: red;" v-show="hasAny(['introduction','brief_description','address','tenure_status','valuation_date','final_notes'])"></i> &nbsp; Executive Summary
                                </template>
                                <el-form-item label="Introduction" :error="get('introduction')">
                                    <el-input autosize type="textarea" v-model="newAssignment.introduction" />
                                </el-form-item>
                                <el-form-item label="Property (Brief Description)" :error="get('brief_description')">
                                    <el-input autosize type="textarea" v-model="newAssignment.brief_description" />
                                </el-form-item>
                                <el-form-item label="Address" :error="get('address')">
                                    <el-input autosize type="textarea" v-model="newAssignment.address" />
                                </el-form-item>
                                <el-form-item label="Tenure Status" :error="get('tenure_status')">
                                    <el-input autosize type="textarea" v-model="newAssignment.tenure_status" />
                                </el-form-item>
                                <el-form-item label="Valuation Date" :error="get('valuation_date')">
                                    <el-date-picker
                                        style="width:100%;"
                                        v-model="newAssignment.valuation_date"
                                        type="date"
                                        placeholder="Pick a Date"
                                        :picker-options="pickerOptions">
                                    </el-date-picker>
                                </el-form-item>
                                <el-form-item label="Notes on Final Market Value" :error="get('final_notes')">
                                    <el-input autosize type="textarea" v-model="newAssignment.final_notes" />
                                </el-form-item>
                            </el-collapse-item>
                            <el-collapse-item title="Introduction Page" name="2">
                                <template slot="title">
                                    <i class="header-icon el-icon-info" style="color: red;" v-show="hasAny(['instruction','purpose','methodology','valuation_basis'])"></i> &nbsp; Introduction Page
                                </template>
                                <el-form-item label="Instruction" :error="get('instruction')">
                                    <el-input autosize type="textarea" v-model="newAssignment.instruction" />
                                </el-form-item>
                                <el-form-item label="Purpose of valuation" :error="get('purpose')">
                                    <el-input autosize type="textarea" v-model="newAssignment.purpose" />
                                </el-form-item>
                                <el-form-item label="Valuation Methodology" :error="get('methodology')">
                                    <el-input autosize type="textarea" v-model="newAssignment.methodology" />
                                </el-form-item>
                                <el-form-item label="Basis of valuation" :error="get('valuation_basis')">
                                    <el-input autosize type="textarea" v-model="newAssignment.valuation_basis" />
                                </el-form-item>
                            </el-collapse-item>
                            <el-collapse-item title="Valuation Page" name="3">
                                <template slot="title">
                                    <i class="header-icon el-icon-info" style="color: red;" v-show="hasAny(['forced_sale','is_page_signature','valuation_approach','valuation_calculation_summary','principal_risks'])"></i> &nbsp; Valuation Page
                                </template>
                                <el-form-item label="Enable Forced sale" :error="get('forced_sale')">
                                    <el-radio v-model="newAssignment.forced_sale" :label="1">Yes</el-radio>
                                    <el-radio v-model="newAssignment.forced_sale" :label="0">No</el-radio>
                                </el-form-item>
                                <el-form-item label="Signature on every page" :error="get('is_page_signature')">
                                    <el-radio v-model="newAssignment.is_page_signature" :label="1">Yes</el-radio>
                                    <el-radio v-model="newAssignment.is_page_signature" :label="0">No</el-radio>
                                </el-form-item>
                                <el-form-item label="Valuation Approach" :error="get('valuation_approach')">
                                    <el-input autosize type="textarea" v-model="newAssignment.valuation_approach" />
                                </el-form-item>
                                <el-form-item label="Valuation Cal. Summary" :error="get('valuation_calculation_summary')">
                                    <el-input autosize type="textarea" v-model="newAssignment.valuation_calculation_summary" />
                                </el-form-item>
                                <el-form-item label="Principal Risks" :error="get('principal_risks')">
                                    <el-input autosize type="textarea" v-model="newAssignment.principal_risks" />
                                </el-form-item>
                            </el-collapse-item>
                        </el-collapse>
                    </div>

                </el-form>

                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">
                        {{ $t('table.cancel') }}
                    </el-button>
                    <el-button type="primary" @click="createAssignment()">
                        {{ $t('table.confirm') }}
                    </el-button>
                </div>
            </div>
        </el-dialog>

        <el-dialog :title="`Edit Assignment [${editAssignment.ref_no}]`" :visible.sync="dialogEditFormVisible">
            <div class="form-container" v-loading="assignmentEditing">
                <el-form :model="editAssignment" label-position="left" label-width="200px" style="max-width: 600px;margin-left: 50px;">

                    <el-form-item label="Service" :error="get('service')">
                        <el-select disabled style="width:100%;" v-model="editAssignment.service" class="filter-item" placeholder="Please select type">
                            <el-option v-for="item in serviceList" :key="item.id"  :label="item.title" :value="item.id" />
                        </el-select>
                    </el-form-item>

                    <el-form-item label="Title" :error="get('title')">
                        <el-input v-model="editAssignment.title" />
                    </el-form-item>

                    <el-form-item label="Due Date" :error="get('due_date')">
                        <el-date-picker
                            style="width:100%;"
                            v-model="editAssignment.due_date"
                            type="date"
                            placeholder="Pick a Date"
                            :picker-options="pickerOptions">
                        </el-date-picker>
                    </el-form-item>

                    <el-form-item label="Service Manager" :error="get('manager')">
                        <el-select style="width:100%;" v-model="editAssignment.manager" class="filter-item" placeholder="Please select manager">
                            <el-option v-for="item in userList" :key="item.id"  :label="`${item.firstname} ${item.lastname}`" :value="item.id" />
                        </el-select>
                    </el-form-item>

                    <el-form-item label="Client Contact" :error="get('client_contact')">

                        <el-select v-model="editAssignment.client_contact" placeholder="Select contact" filterable style="width:100%;">
                            <el-option-group
                                v-for="client in clientList"
                                :key="client.id"
                                :label="`${client.firstname} ${client.lastname}`">
                                <el-option
                                    v-for="item in client.contacts"
                                    :key="item.id"
                                    :label="`${item.firstname} ${item.lastname} (${item.email})`"
                                    :value="item.id">
                                </el-option>
                            </el-option-group>
                        </el-select>

                    </el-form-item>

                    <el-form-item label="Client Ref #" :error="get('client_ref')">
                        <el-input v-model="editAssignment.client_ref" />
                    </el-form-item>

                    <el-form-item label="Report Language" :error="get('report_lang')">
                        <el-select style="width:100%;" v-model="editAssignment.report_lang" class="filter-item" placeholder="Please select type">
                            <el-option label="English" value="en" />
                            <el-option label="Arabic" value="ar" />
                        </el-select>
                    </el-form-item>

                    <el-form-item label="Portfolio Report" v-if="editAssignment.service == 2" :error="get('is_portfolio')">
                        <el-radio v-model="editAssignment.is_portfolio" :label="1">Yes</el-radio>
                        <el-radio v-model="editAssignment.is_portfolio" :label="0">No</el-radio>
                    </el-form-item>

                    <div v-if="editAssignment.is_portfolio && editAssignment.service == 2" style="margin-bottom: 20px;">
                        <!--<div>-->

                        <el-collapse>
                            <el-collapse-item name="0" title="Portfolio Details">
                                <template slot="title">
                                    <i class="header-icon el-icon-info" style="color: red;" v-show="hasAny(['hide_valuation','template_type','report_title','applicant_name'])"></i> &nbsp; Portfolio Details
                                </template>
                                <el-form-item label="Hide Valuation" :error="get('hide_valuation')">
                                    <el-radio v-model="editAssignment.hide_valuation" :label="1">Yes</el-radio>
                                    <el-radio v-model="editAssignment.hide_valuation" :label="0">No</el-radio>
                                </el-form-item>
                                <el-form-item label="Template type" :error="get('template_type')">
                                    <el-radio v-model="editAssignment.template_type" label="normal">Normal</el-radio>
                                    <el-radio v-model="editAssignment.template_type" label="minimal">Minimal</el-radio>
                                    <el-radio v-model="editAssignment.template_type" label="multipage">Multi Page</el-radio>
                                </el-form-item>
                                <el-form-item label="Report Title" :error="get('report_title')">
                                    <el-input v-model="editAssignment.report_title" />
                                </el-form-item>
                                <el-form-item label="Applicant Name" :error="get('applicant_name')">
                                    <el-input v-model="editAssignment.applicant_name" />
                                </el-form-item>
                            </el-collapse-item>
                            <el-collapse-item name="1">
                                <template slot="title">
                                    <i class="header-icon el-icon-info" style="color: red;" v-show="hasAny(['introduction','brief_description','address','tenure_status','valuation_date','final_notes'])"></i> &nbsp; Executive Summary
                                </template>
                                <el-form-item label="Introduction" :error="get('introduction')">
                                    <el-input autosize type="textarea" v-model="editAssignment.introduction" />
                                </el-form-item>
                                <el-form-item label="Property (Brief Description)" :error="get('brief_description')">
                                    <el-input autosize type="textarea" v-model="editAssignment.brief_description" />
                                </el-form-item>
                                <el-form-item label="Address" :error="get('address')">
                                    <el-input autosize type="textarea" v-model="editAssignment.address" />
                                </el-form-item>
                                <el-form-item label="Tenure Status" :error="get('tenure_status')">
                                    <el-input autosize type="textarea" v-model="editAssignment.tenure_status" />
                                </el-form-item>
                                <el-form-item label="Valuation Date" :error="get('valuation_date')">
                                    <el-date-picker
                                        style="width:100%;"
                                        v-model="editAssignment.valuation_date"
                                        type="date"
                                        placeholder="Pick a Date"
                                        :picker-options="pickerOptions">
                                    </el-date-picker>
                                </el-form-item>
                                <el-form-item label="Notes on Final Market Value" :error="get('final_notes')">
                                    <el-input autosize type="textarea" v-model="editAssignment.final_notes" />
                                </el-form-item>
                            </el-collapse-item>
                            <el-collapse-item title="Introduction Page" name="2">
                                <template slot="title">
                                    <i class="header-icon el-icon-info" style="color: red;" v-show="hasAny(['instruction','purpose','methodology','valuation_basis'])"></i> &nbsp; Introduction Page
                                </template>
                                <el-form-item label="Instruction" :error="get('instruction')">
                                    <el-input autosize type="textarea" v-model="editAssignment.instruction" />
                                </el-form-item>
                                <el-form-item label="Purpose of valuation" :error="get('purpose')">
                                    <el-input autosize type="textarea" v-model="editAssignment.purpose" />
                                </el-form-item>
                                <el-form-item label="Valuation Methodology" :error="get('methodology')">
                                    <el-input autosize type="textarea" v-model="editAssignment.methodology" />
                                </el-form-item>
                                <el-form-item label="Basis of valuation" :error="get('valuation_basis')">
                                    <el-input autosize type="textarea" v-model="editAssignment.valuation_basis" />
                                </el-form-item>
                            </el-collapse-item>
                            <el-collapse-item title="Valuation Page" name="3">
                                <template slot="title">
                                    <i class="header-icon el-icon-info" style="color: red;" v-show="hasAny(['forced_sale','is_page_signature','valuation_approach','valuation_calculation_summary','principal_risks'])"></i> &nbsp; Valuation Page
                                </template>
                                <el-form-item label="Enable Forced sale" :error="get('forced_sale')">
                                    <el-radio v-model="editAssignment.forced_sale" :label="1">Yes</el-radio>
                                    <el-radio v-model="editAssignment.forced_sale" :label="0">No</el-radio>
                                </el-form-item>
                                <el-form-item label="Signature on every page" :error="get('is_page_signature')">
                                    <el-radio v-model="editAssignment.is_page_signature" :label="1">Yes</el-radio>
                                    <el-radio v-model="editAssignment.is_page_signature" :label="0">No</el-radio>
                                </el-form-item>
                                <el-form-item label="Valuation Approach" :error="get('valuation_approach')">
                                    <el-input autosize type="textarea" v-model="editAssignment.valuation_approach" />
                                </el-form-item>
                                <el-form-item label="Valuation Cal. Summary" :error="get('valuation_calculation_summary')">
                                    <el-input autosize type="textarea" v-model="editAssignment.valuation_calculation_summary" />
                                </el-form-item>
                                <el-form-item label="Principal Risks" :error="get('principal_risks')">
                                    <el-input autosize type="textarea" v-model="editAssignment.principal_risks" />
                                </el-form-item>
                            </el-collapse-item>
                        </el-collapse>
                    </div>

                </el-form>

                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogEditFormVisible = false">
                        {{ $t('table.cancel') }}
                    </el-button>
                    <el-button type="primary" @click="editResource()">
                        {{ $t('table.confirm') }}
                    </el-button>
                </div>
            </div>
        </el-dialog>

    </div>
</template>

<script>
    import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
    import UserResource from '@/api/user';
    import ServiceResource from '@/api/service';
    import ClientResource from '@/api/client';
    import AssignmentResource from '@/api/assignment';
    import CountryResource from '@/api/country';
    import BackendErrors from '@/mixins/backend-errors';
    import waves from '@/directive/waves'; // Waves directive
    import permission from '@/directive/permission'; // Waves directive

    const assignmentResource = new AssignmentResource();
    const userResource = new UserResource();
    const clientResource = new ClientResource();
    const serviceResource = new ServiceResource();
    const countryResource = new CountryResource();

    export default {
        name: 'AssignmentList',
        components: { Pagination },
        directives: { waves, permission },
        mixins:[BackendErrors],
        data() {
            return {
                list: null,
                activeTab: 'info',
                activeSubTab: 'summary',
                typeList: [],
                userList: [],
                clientList: [],
                serviceList: [],
                provinceList: [],
                areaList: [],
                countryList: [],
                total: 0,
                loading: true,
                query: {
                    page: 1,
                    limit: 10,
                    service: '',
                    keyword: '',
                },
                currentUserId: 0,
                assignmentCreating:false,
                assignmentEditing:false,
                currentUser: {
                    name: '',
                    permissions: [],
                    rolePermissions: [],
                },
                dialogFormVisible:false,
                dialogEditFormVisible:false,
                dialogStatusFormVisible:false,
                newAssignment:{},
                editAssignment:{},
                pickerOptions: {
                    shortcuts: [
                        {
                            text: 'Today',
                            onClick(picker) {
                                picker.$emit('pick', new Date());
                            }
                        },
                        {
                            text: 'Tomorrow',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() + 3600 * 1000 * 24);
                                picker.$emit('pick', date);
                            }
                        },
                        {
                            text: 'Yesterday',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24);
                                picker.$emit('pick', date);
                            }
                        },
                        {
                            text: 'A week after',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() + 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', date);
                            }
                        },
                        {
                            text: 'A week ago',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', date);
                            }
                        }
                    ]
                },
            };
        },
        created() {
            this.getList();
            this.getUserList();
            this.getClientList();
            this.getTypeList();
            this.getServiceList();
        },
        methods: {
            ColumnStyle({row, column, rowIndex, columnIndex}){
                if((columnIndex == 0)){
                    return {
                        "backgroundColor":row.status.color,
                        'color':'white'
                    };
                }
            },
            createAssignment() {
                this.assignmentCreating = true;
                assignmentResource
                    .store(this.newAssignment)
                    .then(response => {
                        this.$message({
                            message: `New assignment ${this.newAssignment.title} has been created successfully.`,
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.resetNewAssignment();
                        this.dialogFormVisible = false;
                        this.getList();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.assignmentCreating = false;
                    });
            },
            editResource() {
                this.assignmentEditing = true;
                assignmentResource
                    .update(this.editAssignment.id,this.editAssignment)
                    .then(response => {
                        this.$message({
                            message: `Assignment (${this.editAssignment.title}) has been updated successfully.`,
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.dialogEditFormVisible = false;
                        this.clear();
                        this.getList();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.assignmentEditing = false;
                    });
            },
            handleCreate() {
                this.resetNewAssignment();
                this.clear();
                this.dialogFormVisible = true;
            },
            statusChanged(row) {
                assignmentResource
                    .updateStatus(row.id,{status:row.new_status})
                    .then(response => {
                        this.getList();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                    });
            },
            handleEdit(row) {
                this.resetEditAssignment(row);
                this.dialogEditFormVisible = true;
            },
            handleProperties(row) {
                this.$router.push({name:'assignmentProperties',params:{id:row.id}})
            },
            resetNewAssignment() {
                this.newAssignment = {
                    title : '',
                    manager : '',
                    due_date : '',
                    service : '',
                    client_ref : '',
                    report_lang : '',
                    client_contact : '',
                    client : '',
                    ref_no : '',
                    is_portfolio:0,
                    hide_valuation:1,
                    template_type:'normal',
                    report_title:'',
                    applicant_name:'',
                    introduction:'',
                    brief_description:'',
                    address:'',
                    purpose:'',
                    tenure_status:'',
                    valuation_date:'',
                    final_notes:'',
                    instruction:'',
                    methodology:'',
                    valuation_basis:'',
                    forced_sale:0,
                    is_page_signature:0,
                    valuation_approach:'',
                    valuation_calculation_summary:'',
                    principal_risks:'',
                };
            },
            resetEditAssignment(row) {

                if (row.service_id == 1){
                    this.editAssignment = {
                        id : row.id,
                        title : row.title,
                        manager : row.manager_id,
                        due_date : row.due_date,
                        service : row.service_id,
                        client_ref : row.client_ref,
                        report_lang : row.report_lang,
                        client_contact : row.client_contact_id,
                        client : row.client_id,
                        ref_no : row.ref_no,
                        is_portfolio : row.is_portfolio,
                    };
                } else {
                    this.editAssignment = {
                        id : row.id,
                        title : row.title,
                        manager : row.manager_id,
                        due_date : row.due_date,
                        service : row.service_id,
                        client_ref : row.client_ref,
                        report_lang : row.report_lang,
                        client_contact : row.client_contact_id,
                        client : row.client_id,
                        ref_no : row.ref_no,
                        is_portfolio : row.is_portfolio,
                        hide_valuation : row.portfolio? row.portfolio.hide_valuation ?? 1 : 1,
                        template_type : row.portfolio? row.portfolio.template_type ?? 'normal' : 'normal',
                        report_title : row.portfolio? row.portfolio.report_title ?? '':'',
                        applicant_name : row.portfolio? row.portfolio.applicant_name ?? '':'',
                        introduction : row.portfolio? row.portfolio.introduction ?? '':'',
                        brief_description : row.portfolio? row.portfolio.brief_description ?? '':'',
                        address : row.portfolio? row.portfolio.address ?? '':'',
                        purpose : row.portfolio? row.portfolio.purpose ?? '':'',
                        tenure_status : row.portfolio? row.portfolio.tenure_status ?? '':'',
                        valuation_date : row.portfolio? row.portfolio.valuation_date ?? '':'',
                        final_notes : row.portfolio? row.portfolio.final_notes ?? '':'',
                        instruction : row.portfolio? row.portfolio.instruction ?? '':'',
                        methodology : row.portfolio? row.portfolio.methodology ?? '':'',
                        valuation_basis : row.portfolio? row.portfolio.valuation_basis ?? '':'',
                        forced_sale : row.portfolio? row.portfolio.forced_sale ?? '':'',
                        is_page_signature : row.portfolio? row.portfolio.is_page_signature ?? 0:0,
                        valuation_approach : row.portfolio? row.portfolio.valuation_approach ?? '':'',
                        valuation_calculation_summary : row.portfolio? row.portfolio.valuation_calculation_summary ?? '':'',
                        principal_risks : row.portfolio? row.portfolio.principal_risks ?? '':'',
                    };
                }

            },
            async getList() {
                const { limit, page } = this.query;
                this.loading = true;
                const { data, meta } = await assignmentResource.list(this.query);
                this.list = data;
                this.list.forEach((element, index) => {
                    element['index'] = (page - 1) * limit + index + 1;
                });
                this.list = this.list.map(v => {
                    this.$set(v, 'edit', false); // https://vuejs.org/v2/guide/reactivity.html
                    this.$set(v, 'new_status', v.status_id);
                    return v
                })
                this.total = meta.total;
                this.loading = false;
            },
            async getTypeList() {
                const { data } = await clientResource.typeList();
                this.typeList = data;
            },
            async getServiceList() {
                const { data } = await serviceResource.listAll();
                this.serviceList = data;
            },
            async getUserList() {
                const { data } = await userResource.listAll();
                this.userList = data;
            },
            async getClientList() {
                const { data } = await clientResource.listAll();
                this.clientList = data;
            },
            async getCountryList() {
                const { data } = await countryResource.listAll();
                this.countryList = data;
            },
            handleFilter() {
                this.query.page = 1;
                this.getList();
            }
        }
    };
</script>

<style lang="scss" scoped>
    .edit-input {
        padding-right: 100px;
    }
    .cancel-btn {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .dialog-footer {
        text-align: left;
        padding-top: 0;
        margin-left: 150px;
    }
    .app-container {
        flex: 1;
        justify-content: space-between;
        font-size: 14px;
        padding-right: 8px;
        .block {
            float: left;
            min-width: 250px;
        }
        .clear-left {
            clear: left;
        }
    }
    .mt-60{
        margin-top: 60px;
    }
</style>
