<template>
    <div class="app-container">
        <div class="filter-container">
            <el-input v-model="query.keyword" clearable @clear="handleFilter" :placeholder="$t('table.keyword')" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
            <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">
                {{ $t('table.search') }}
            </el-button>
            <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-plus" @click="handleCreate">
                {{ $t('table.add') }}
            </el-button>

        </div>
        <el-table v-loading="loading" :data="list" border fit highlight-current-row style="width: 100%">
            <el-table-column align="center" label="ID" width="70">
                <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" :content="`${scope.row.id}`" >
                        <span>{{ scope.row.index }}</span>
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column align="center" label="Name">
                <template slot-scope="scope">
                    <span>{{ scope.row.name }}</span>
                </template>
            </el-table-column>
            <el-table-column align="center" label="Template">
                <template slot-scope="scope">
                    <span>{{ scope.row.template.title }}</span>
                </template>
            </el-table-column>
            <el-table-column align="center" label="Inspection Type">
                <template slot-scope="scope">
                    <span>{{ scope.row.type.title }}</span>
                </template>
            </el-table-column>
            <el-table-column align="center" label="Property Number">
                <template slot-scope="scope">
                    <span>{{ scope.row.property_number }}</span>
                </template>
            </el-table-column>
            <el-table-column align="center" label="Valuer" v-if="assignment.service_id == 2">
                <template slot-scope="scope">
                    <span v-if="scope.row.valuer">{{ `${scope.row.valuer.firstname} ${scope.row.valuer.lastname}` }}</span>
                </template>
            </el-table-column>
            <el-table-column align="center" label="Inspector">
                <template slot-scope="scope">
                    <span v-if="scope.row.inspector">{{ `${scope.row.inspector.firstname} ${scope.row.inspector.lastname}` }}</span>
                </template>
            </el-table-column>
            <el-table-column align="center" label="Actions" width="150">
                <template slot-scope="{row}">
                    <el-tooltip class="item" effect="dark" content="Edit Property">
                        <el-button type="info" size="small" icon="el-icon-edit" @click="handleEdit(row);"></el-button>
                    </el-tooltip>
                    <el-tooltip v-show="assignment.service.code == 'VAL'" class="item" effect="dark" content="Inspection">
                        <el-button type="primary" size="small" icon="el-icon-s-order" @click="handleValuation(row);"></el-button>
                    </el-tooltip>
                    <el-tooltip v-show="assignment.service.code == 'BS'" class="item" effect="dark" :content="`Defects (${row.defects_count})`">
                        <el-button type="primary" size="small" icon="el-icon-wind-power" @click="handleDefects(row);"></el-button>
                    </el-tooltip>

                </template>
            </el-table-column>

        </el-table>

        <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.limit" @pagination="getList" />

        <el-dialog :title="`Edit Assignment [${editProperty.name}]`" :visible.sync="dialogEditFormVisible" :width="assignment.service_id == 2 ? '1050px' : '700px'">
            <div class="form-container" v-loading="propertyEditing">
                <el-form :model="editProperty" label-position="left" label-width="180px" >

                    <el-row  :gutter="20">

                        <el-col :span="assignment.service_id == 2 ? 12 : 24">

                            <el-form-item label="Select Template" :error="get('template')">
                                <el-select v-model="editProperty.template" placeholder="Select Template" filterable style="width: 100%">
                                    <el-option v-for="item in templateList" :key="item.id"  :label="item.title" :value="item.id" />
                                </el-select>
                            </el-form-item>

                            <el-form-item label="Select Area" :error="get('area')">
                                <el-select v-model="editProperty.area" placeholder="Select Area" filterable style="width: 100%;">
                                    <el-option-group
                                        v-for="country in countryList"
                                        :key="country.id"
                                        :label="country.name">
                                        <el-option
                                            v-for="area in country.areas"
                                            :key="area.id"
                                            :label="area.name"
                                            :value="area.id">
                                            <span style="float: left">{{ area.name }}</span>
                                            <span style="float: right; color: #8492a6; font-size: 13px">{{ area.province.name }}</span>
                                        </el-option>
                                    </el-option-group>
                                </el-select>
                            </el-form-item>

                            <el-form-item label="Select Inspector" :error="get('inspector')">
                                <el-select v-model="editProperty.inspector" placeholder="Select Inspector" style="width: 100%;">
                                    <el-option v-for="item in userList" :key="item.id"  :label="`${item.firstname} ${item.lastname}`" :value="item.id" >
                                        <span style="float: left">{{ `${item.firstname} ${item.lastname}` }}</span>
                                        <span style="float: right; color: #8492a6; font-size: 13px">{{ item.email }}</span>
                                    </el-option>
                                </el-select>
                            </el-form-item>

                            <el-form-item label="Name" :error="get('name')">
                                <el-input v-model="editProperty.name" />
                            </el-form-item>

                            <el-form-item label="Plot Number" :error="get('plot_number')">
                                <el-input v-model="editProperty.plot_number" />
                            </el-form-item>

                            <el-form-item label="Property Number" :error="get('property_number')">
                                <el-input v-model="editProperty.property_number" />
                            </el-form-item>

                            <el-form-item label="Select Inspection Type" :error="get('inspection_type')" >
                                <el-select v-model="editProperty.inspection_type" placeholder="Select Inspection Type" style="width: 100%" filterable>
                                    <el-option v-for="item in inspectionTypeList" :key="item.id"  :label="item.title" :value="item.id" />
                                </el-select>
                            </el-form-item>

                            <el-form-item label="Select Property Type" :error="get('property_type')" >
                                <el-select v-model="editProperty.property_type" placeholder="Select Property Type" style="width: 100%;" filterable>
                                    <el-option v-for="item in propertyTypeList" :key="item.id"  :label="item.title" :value="item.id" />
                                </el-select>
                            </el-form-item>

                        </el-col>

                        <el-col :span="12" v-show="assignment.service_id == 2">

                            <el-form-item label="Select Valuer" :error="get('valuer')">
                                <el-select v-model="editProperty.valuer" placeholder="Select Valuer" filterable style="width: 100%;">
                                    <el-option v-for="item in userList" :key="item.id"  :label="`${item.firstname} ${item.lastname}`" :value="item.id" />
                                </el-select>
                            </el-form-item>

                            <el-form-item label="Due Date" :error="get('instruction_date')">
                                <el-date-picker
                                    style="width:100%;"
                                    v-model="editProperty.instruction_date"
                                    type="date"
                                    placeholder="Pick a Date"
                                    :picker-options="datePickerOptions">
                                </el-date-picker>
                            </el-form-item>

                            <el-form-item label="Current Owner" :error="get('current_owner')">
                                <el-input v-model="editProperty.current_owner" />
                            </el-form-item>

                            <el-form-item label="Applicant Name" :error="get('applicant_name')">
                                <el-input v-model="editProperty.applicant_name" />
                            </el-form-item>

                            <el-form-item label="BUA" :error="get('bua') || get('bua_unit')">
                                <el-input v-model="editProperty.bua" class="input-with-select">
                                    <el-select v-model="editProperty.bua_unit" slot="prepend" placeholder="Unit" class="unit__prepend">
                                        <el-option label="sqft" value="SQ ft"></el-option>
                                        <el-option label="sqm" value="SD m"></el-option>
                                    </el-select>
                                </el-input>
                            </el-form-item>

                            <el-form-item label="Area" :error="get('area_num') || get('area_unit')">
                                <el-input v-model="editProperty.area_num" class="input-with-select">
                                    <el-select v-model="editProperty.area_unit" slot="prepend" placeholder="Unit" class="unit__prepend">
                                        <el-option label="sqft" value="SQ ft"></el-option>
                                        <el-option label="sqm" value="SD m"></el-option>
                                    </el-select>
                                </el-input>
                            </el-form-item>

                            <el-form-item label="Client Contact" :error="get('client_contact')">
                                <el-input v-model="editProperty.client_contact" />
                            </el-form-item>

                            <el-form-item label="Inspection Date Time" :error="get('inspection_datetime')">
                                <el-date-picker
                                    style="width:100%;"
                                    v-model="editProperty.inspection_datetime"
                                    type="datetime"
                                    placeholder="Pick a Date"
                                    :picker-options="datePickerOptions">
                                </el-date-picker>
                            </el-form-item>

                        </el-col>

                    </el-row>

                </el-form>

                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogEditFormVisible = false">
                        {{ $t('table.cancel') }}
                    </el-button>
                    <el-button type="primary" @click="editResource()">
                        {{ $t('table.confirm') }}
                    </el-button>
                </div>
            </div>
        </el-dialog>
        <el-dialog title="Add New Property" :visible.sync="dialogFormVisible" :width="assignment.service_id == 2 ? '1050px' : '700px'">
            <div class="form-container" v-loading="propertyCreating">
                <el-form :model="editProperty" label-position="left" label-width="180px" >

                    <el-row  :gutter="20">

                        <el-col :span="assignment.service_id == 2 ? 12 : 24">

                            <el-form-item label="Select Template" :error="get('template')">
                                <el-select v-model="newProperty.template" placeholder="Select Template" filterable style="width: 100%">
                                    <el-option v-for="item in templateList" :key="item.id"  :label="item.title" :value="item.id" />
                                </el-select>
                            </el-form-item>

                            <el-form-item label="Select Area" :error="get('area')">
                                <el-select v-model="newProperty.area" placeholder="Select Area" filterable style="width: 100%;">
                                    <el-option-group
                                        v-for="country in countryList"
                                        :key="country.id"
                                        :label="country.name">
                                        <el-option
                                            v-for="area in country.areas"
                                            :key="area.id"
                                            :label="area.name"
                                            :value="area.id">
                                            <span style="float: left">{{ area.name }}</span>
                                            <span style="float: right; color: #8492a6; font-size: 13px">{{ area.province.name }}</span>
                                        </el-option>
                                    </el-option-group>
                                </el-select>
                            </el-form-item>

                            <el-form-item label="Select Inspector" :error="get('inspector')">
                                <el-select v-model="newProperty.inspector" placeholder="Select Inspector" style="width: 100%;">
                                    <el-option v-for="item in userList" :key="item.id"  :label="`${item.firstname} ${item.lastname}`" :value="item.id" >
                                        <span style="float: left">{{ `${item.firstname} ${item.lastname}` }}</span>
                                        <span style="float: right; color: #8492a6; font-size: 13px">{{ item.email }}</span>
                                    </el-option>
                                </el-select>
                            </el-form-item>

                            <el-form-item label="Name" :error="get('name')">
                                <el-input v-model="newProperty.name" />
                            </el-form-item>

                            <el-form-item label="Plot Number" :error="get('plot_number')">
                                <el-input v-model="newProperty.plot_number" />
                            </el-form-item>

                            <el-form-item label="Property Number" :error="get('property_number')">
                                <el-input v-model="newProperty.property_number" />
                            </el-form-item>

                            <el-form-item label="Select Inspection Type" :error="get('inspection_type')" >
                                <el-select v-model="newProperty.inspection_type" placeholder="Select Inspection Type" style="width: 100%" filterable>
                                    <el-option v-for="item in inspectionTypeList" :key="item.id"  :label="item.title" :value="item.id" />
                                </el-select>
                            </el-form-item>

                            <el-form-item label="Select Property Type" :error="get('property_type')" >
                                <el-select v-model="newProperty.property_type" placeholder="Select Property Type" style="width: 100%;" filterable>
                                    <el-option v-for="item in propertyTypeList" :key="item.id"  :label="item.title" :value="item.id" />
                                </el-select>
                            </el-form-item>

                        </el-col>

                        <el-col :span="12" v-show="assignment.service_id == 2">

                            <el-form-item label="Select Valuer" :error="get('valuer')">
                                <el-select v-model="newProperty.valuer" placeholder="Select Valuer" filterable style="width: 100%;">
                                    <el-option v-for="item in userList" :key="item.id"  :label="`${item.firstname} ${item.lastname}`" :value="item.id" />
                                </el-select>
                            </el-form-item>

                            <el-form-item label="Due Date" :error="get('instruction_date')">
                                <el-date-picker
                                    style="width:100%;"
                                    v-model="newProperty.instruction_date"
                                    type="date"
                                    placeholder="Pick a Date"
                                    :picker-options="datePickerOptions">
                                </el-date-picker>
                            </el-form-item>

                            <el-form-item label="Current Owner" :error="get('current_owner')">
                                <el-input v-model="newProperty.current_owner" />
                            </el-form-item>

                            <el-form-item label="Applicant Name" :error="get('applicant_name')">
                                <el-input v-model="newProperty.applicant_name" />
                            </el-form-item>

                            <el-form-item label="BUA" :error="get('bua') || get('bua_unit')">
                                <el-input v-model="newProperty.bua" class="input-with-select">
                                    <el-select v-model="newProperty.bua_unit" slot="prepend" placeholder="Unit" class="unit__prepend">
                                        <el-option label="sqft" value="SQ ft"></el-option>
                                        <el-option label="sqm" value="SD m"></el-option>
                                    </el-select>
                                </el-input>
                            </el-form-item>

                            <el-form-item label="Area" :error="get('area_num') || get('area_unit')">
                                <el-input v-model="newProperty.area_num" class="input-with-select">
                                    <el-select v-model="newProperty.area_unit" slot="prepend" placeholder="Unit" class="unit__prepend">
                                        <el-option label="sqft" value="SQ ft"></el-option>
                                        <el-option label="sqm" value="SD m"></el-option>
                                    </el-select>
                                </el-input>
                            </el-form-item>

                            <el-form-item label="Client Contact" :error="get('client_contact')">
                                <el-input v-model="newProperty.client_contact" />
                            </el-form-item>

                            <el-form-item label="Inspection Date Time" :error="get('inspection_datetime')">
                                <el-date-picker
                                    style="width:100%;"
                                    v-model="newProperty.inspection_datetime"
                                    type="datetime"
                                    placeholder="Pick a Date"
                                    :picker-options="datePickerOptions">
                                </el-date-picker>
                            </el-form-item>

                        </el-col>

                    </el-row>

                </el-form>

                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">
                        {{ $t('table.cancel') }}
                    </el-button>
                    <el-button type="primary" @click="createProperty()">
                        {{ $t('table.confirm') }}
                    </el-button>
                </div>
            </div>
        </el-dialog>

    </div>


</template>

<script>
    import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
    import BackendErrors from '@/mixins/backend-errors';
    import DatePickerOptions from '@/mixins/date-picker-options';
    import waves from '@/directive/waves'; // Waves directive
    import permission from '@/directive/permission'; // Waves directive

    import AssignmentResource from '@/api/assignment'
    import CountryResource from '@/api/country'
    import UserResource from '@/api/user'
    import PropertyTypesResource from '@/api/property-types'
    import PropertyResource from '@/api/property'


    const countryResource = new CountryResource();
    const assignmentResource = new AssignmentResource();
    const userResource = new UserResource();
    const propertyTypesResource = new PropertyTypesResource();
    const propertyResource = new PropertyResource();

    export default {
        name: 'AssignmentDetail',
        components: { Pagination },
        directives: { waves, permission },
        mixins:[BackendErrors, DatePickerOptions],
        data() {
            return {
                list: null,
                templateList: null,
                countryList: null,
                propertyTypeList: null,
                inspectionTypeList: null,
                userList: [],
                assignment: {
                    service:{
                        code:'VAL'
                    }
                },
                total: 0,
                tempRoute:{},
                newProperty:{},
                query: {
                    page: 1,
                    assignment_id: null,
                    limit: 10,
                    keyword: '',
                },
                dialogEditFormVisible:false,
                dialogFormVisible:false,
                editProperty:{},
                propertyEditing:false,
                propertyCreating:false,
            };
        },
        created() {
            this.tempRoute = Object.assign({}, this.$route);
            this.query.assignment_id = this.$route.params.id;
            this.getList();
            this.getAssignment();
            this.getTemplateList();
            this.getCountryList();
            this.getPropertyTypeList();
            this.getInspectionTypeList();
            this.getUserList();
        },
        methods: {
            createProperty() {
                this.propertyCreating = true;
                propertyResource
                    .store(this.newProperty)
                    .then(response => {
                        this.$message({
                            message: `New property ${this.newProperty.name} has been created successfully.`,
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.resetNewProperty();
                        this.dialogFormVisible = false;
                        this.handleFilter();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.propertyCreating = false;
                    });
            },
            handleCreate() {
                this.resetNewProperty();
                this.clear();
                this.dialogFormVisible = true;
            },
            resetNewProperty() {
                this.newProperty = {
                    template : '',
                    valuer : '',
                    name : '',
                    plot_number : '',
                    property_number : '',
                    inspection_type : '',
                    property_type : '',
                    assignment : this.assignment.id,
                    service : this.assignment.service_id,
                    inspector : '',
                    instruction_date : '',
                    current_owner : '',
                    applicant_name : '',
                    bua : '',
                    bua_unit : '',
                    area : '',
                    area_num : '',
                    area_unit : '',
                    client_contact : '',
                    inspection_datetime : ''
                };
            },
            editResource() {
                this.propertyEditing = true;
                propertyResource
                    .update(this.editProperty.id,this.editProperty)
                    .then(response => {
                        this.$message({
                            message: `Property (${this.editProperty.name}) has been updated successfully.`,
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.dialogEditFormVisible = false;
                        this.clear();
                        this.handleFilter();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.propertyEditing = false;
                    });
            },
            async getPropertyTypeList() {
                const { data } = await propertyTypesResource.listAll();
                this.propertyTypeList = data;
            },
            async getInspectionTypeList() {
                const { data } = await assignmentResource.inspectionTypeList(this.query.assignment_id);
                this.inspectionTypeList = data;
            },
            async getTemplateList() {
                const { data } = await assignmentResource.resourceListAll(this.query.assignment_id,'templates');
                this.templateList = data;
            },
            async getCountryList() {
                const { data } = await countryResource.listAll();
                this.countryList = data;
            },
            async getUserList() {
                const { data } = await userResource.listAll();
                this.userList = data;
            },
            handleEdit(row) {
                this.resetEditProperty(row);
                this.dialogEditFormVisible = true;
            },
            resetEditProperty(row) {
                this.editProperty = {
                    id : row.id,
                    name: row.name,
                    template: row.template_id,
                    area: row.area_id,
                    valuer: row.valuer_id,
                    plot_number: row.plot_number,
                    property_number: row.property_number,
                    inspection_type: row.inspection_type_id,
                    property_type: row.property_type_id,
                    assignment: row.assignment_id,
                    service: row.service_id,
                    inspector: row.inspector_id,
                    instruction_date: row.instruction_date,
                    current_owner: row.current_owner,
                    applicant_name: row.applicant_name,
                    bua: row.bua,
                    bua_unit: row.bua_unit,
                    area_num: row.area,
                    area_unit: row.area_unit,
                    client_contact: row.client_contact,
                    inspection_datetime: row.inspection_datetime,
                };
            },
            handleValuation(row){
                this.$router.push({name:'propertyValuation',params:{id:row.id}})
            },
            handleDefects(row){
                this.$router.push({name:'propertyDefects',params:{id:row.id}})
            },
            handleReports(row){
                this.$router.push({name:'propertyReports',params:{id:row.id}})
            },
            handleFilter() {
                this.query.page = 1;
                this.getList();
            },
            async getList() {
                const { limit, page } = this.query;
                this.loading = true;
                const { data, meta } = await assignmentResource.propertiesList(this.query);
                this.list = data;
                this.list.forEach((element, index) => {
                    element['index'] = (page - 1) * limit + index + 1;
                });
                this.total = meta.total;
                this.loading = false;
            },
            async getAssignment() {
                const { data } = await assignmentResource.get(this.$route.params.id);
                this.assignment = data;
                this.setTagsViewTitle();

            },
            setTagsViewTitle() {
                const title ='Assignment'; // Should move to i18n
                const route = Object.assign({}, this.tempRoute, {
                    title: `${title} - [${this.assignment.ref_no}]`,
                });
                this.$store.dispatch('tagsView/updateVisitedView', route);
            }
        }
    };
</script>

<style lang="scss" scoped>
    .edit-input {
        padding-right: 100px;
    }
    .cancel-btn {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .dialog-footer {
        text-align: left;
        padding-top: 0;
        margin-left: 407px;
    }
    .app-container {
        flex: 1;
        justify-content: space-between;
        font-size: 14px;
        padding-right: 8px;
        .block {
            float: left;
            min-width: 250px;
        }
        .clear-left {
            clear: left;
        }
    }
    .unit__prepend{
        width: 100px;
    }
    /*.el-input-group__prepend, .el-input.el-input--medium.el-input--suffix{
        width: 100px !important;
    }*/

    /*.el-select .el-input {
        width: 110px;
    }
    .input-with-select .el-input-group__prepend {
        background-color: #fff;
    }*/
</style>
