<template>

    <div>
        <sticky class-name="sub-navbar">
            <div>

                <!--                <el-input placeholder="Search here..." v-model="keyword" style="width: 200px;float: left;margin-left: 10px;"></el-input>-->

                <el-select placeholder="Select Type" v-model="reportOptions.type">
                    <el-option value="combined" label="All Defects"></el-option>
                    <el-option value="civil" label="Civil"></el-option>
                    <el-option value="developer-civil" label="Developer - Civil">
                        <span style="float: left">Developer</span>
                        <span style="float: right; color: #8492a6; font-size: 13px">Civil</span>
                    </el-option>
                    <el-option value="oa-fm-civil" label="OA/FM - Civil">
                        <span style="float: left">OA/FM</span>
                        <span style="float: right; color: #8492a6; font-size: 13px">Civil</span>
                    </el-option>
                    <el-option value="mep" label="MEP"></el-option>
                    <el-option value="developer-mep" label="Developer - MEP">
                        <span style="float: left">Developer</span>
                        <span style="float: right; color: #8492a6; font-size: 13px">MEP</span>
                    </el-option>
                    <el-option value="oa-fm-mep" label="OA/FM - MEP">
                        <span style="float: left">OA/FM</span>
                        <span style="float: right; color: #8492a6; font-size: 13px">MEP</span>
                    </el-option>
                </el-select>
                <el-select placeholder="Select Format" v-model="reportOptions.format">
                    <el-option value="ms-excel" label="MS Excel">
                        <span style="float: left">MS Excel</span>
                        <span style="float: right; color: #8492a6; font-size: 13px">(.xlsx)</span>
                    </el-option>
                    <el-option value="ms-word" label="MS Word"></el-option>
                    <el-option value="web-view" label="Web View"></el-option>
                    <el-option value="pdf" label="PDF" disabled></el-option>
                    <el-option value="json" label="JSON" disabled></el-option>
                    <el-option value="csv" label="CSV" disabled></el-option>
                </el-select>
                <el-button :type="downloadReportButton ? 'info': 'success'" :disabled="downloadReportButton" @click="handleDownloadReport">Download Report</el-button>
                <el-button :type="downloadReportButton ? 'info': 'warning'" :disabled="downloadReportButton" @click="handleDownloadReport" style="margin-left: 0;">Email Report</el-button>
                <el-button type="primary" icon="el-icon-setting" circle @click="columnsDialogVisible = true"></el-button>
            </div>
        </sticky>

        <el-dialog title="Columns" :visible.sync="columnsDialogVisible" width="30%" center>

            <div>
                <div class="list-complete-item">
                    <div class="list-complete-item-handle">lorem ipsam da smit.</div>
                    <div style="position:absolute;right:0px;">
                        <span style="float: right ;margin-top: -20px;margin-right:5px;">
                          <i style="color:#ff4949" class="el-icon-delete" />
                        </span>
                    </div>
                </div>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button @click="columnsDialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="columnsDialogVisible = false">Confirm</el-button>
            </span>
        </el-dialog>

        <div class="app-container">

            <el-collapse v-model="reportActive">
                <el-collapse-item title="Reports" name="1">
                    <el-row :gutter="40" class="panel-group">
                        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
                            <div class="card-panel">
                                <div class="card-panel-icon-wrapper icon-people">
                                    <svg-icon icon-class="defect" class-name="card-panel-icon" />
                                </div>
                                <div class="card-panel-description">
                                    <div class="card-panel-text">Defect Count</div>
                                    <count-to :start-val="0" :end-val="list.length" class="card-panel-num"/>
                                </div>
                            </div>
                        </el-col>
                        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
                            <div class="card-panel">
                                <div class="card-panel-icon-wrapper icon-message">
                                    <svg-icon icon-class="totalcost" class-name="card-panel-icon" />
                                </div>
                                <div class="card-panel-description">
                                    <div class="card-panel-text">Total Cost</div>
                                    <count-to :start-val="0" :end-val="total_cost" :duration="3000" prefix="AED " class="card-panel-num"/>
                                </div>
                            </div>
                        </el-col>
                        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
                            <div class="card-panel">
                                <div class="card-panel-icon-wrapper icon-message">
                                    <svg-icon icon-class="civil" class-name="card-panel-icon" />
                                </div>
                                <div class="card-panel-description">
                                    <div class="card-panel-text">Civil</div>
                                    <count-to :start-val="0" :end-val="total_civil" :duration="3000" class="card-panel-num"/>
                                </div>
                            </div>
                        </el-col>
                        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
                            <div class="card-panel">
                                <div class="card-panel-icon-wrapper icon-message">
                                    <svg-icon icon-class="mep" class-name="card-panel-icon" />
                                </div>
                                <div class="card-panel-description">
                                    <div class="card-panel-text">MEP</div>
                                    <count-to :start-val="0" :end-val="total_mep" :duration="3000" class="card-panel-num"/>
                                </div>
                            </div>
                        </el-col>
                    </el-row>

                    <!--<el-row :gutter="32" style="margin-top: 15px;">
                        <el-col :xs="24" :sm="24" :lg="8" :offset="8">
                            <div class="chart-wrapper">
                                <pie-chart :civil="total_civil" :mep="total_mep"/>
                            </div>
                        </el-col>
                    </el-row>-->

                </el-collapse-item>
            </el-collapse>

            <el-divider></el-divider>

            <div v-if="!keywordDefectVisible" class="masonry" >
                <draggable v-model="list" @change="handleMove">
                    <transition-group type="transition" name="flip-list">
                        <div v-for="(item, index) in list" :key="item.id" class="item">
                            <el-image
                                style="width: 100%;height: 100px;"
                                fit="cover"
                                :preview-src-list="[item.image_url]"
                                :src="item.image_url"></el-image>
                            <p class="edit-button"><el-button  @click="clickedDefect(index ,item)" type="primary" icon="el-icon-edit" style="width: 100%;
    border-radius: 0px;"></el-button></p>
                            <p class="defect-progress"><el-progress :percentage="getProgress(item)" status="success" @hover="hide = true" v-if="hide" :show-text="false"></el-progress></p>
                            <p class="defect-location" v-show="item.location">{{item.location | limit(20)}}</p>
                            <p class="defect-location" v-show="!item.location" style="color: white;">lorem</p>
                        </div>
                    </transition-group>
                </draggable>
            </div>

            <!-- <div v-if="keywordDefectVisible" class="masonry" >
                 <div v-for="(item, index) in filteredlist" :key="item.id" class="item">
                     <el-image
                         style="width: 100%;"
                         :preview-src-list="[item.image_url]"
                         :src="item.image_url"></el-image>
                     <p class="edit-button"><el-button  @click="clickedDefect(index ,item)" type="primary" icon="el-icon-edit" style="width: 100%;
     border-radius: 0px;"></el-button></p>
                     <p class="defect-progress"><el-progress :percentage="getProgress(item)" status="success" @hover="hide = true" v-if="hide" :show-text="false"></el-progress></p>
                     <p style="padding: 4px 14px;font-size: 13px;">{{item.location}}</p>
                 </div>
             </div>-->

            <el-dialog title="Defect Update" :visible.sync="editDefectVisible" width="1000px">
                <div class="form-container" v-loading="defectEditing">
                    <el-row>
                        <el-col :span="12" class="p-10">
                            <el-form ref="editDefect" :model="editDefect" label-position="left" label-width="150px">

                                <el-form-item label="Inspection Type" :error="get('inspection_type')">
                                    <el-radio v-model="editDefect.inspection_type" :label="1">CIVIL</el-radio>
                                    <el-radio v-model="editDefect.inspection_type" :label="2">MEP</el-radio>
                                </el-form-item>

                                <el-form-item label="Element" :error="get('element')" v-show="columns.element">
                                    <el-select v-model="editDefect.element" class="filter-item" placeholder="Please select element" filterable>
                                        <el-option v-for="item in elementList" :key="item.id" :label="item.name | uppercaseFirst" :value="item.id">
                                            <span style="float: left">{{ item.name  | uppercaseFirst }}</span>
                                            <!--<span style="float: right; color: #8492a6; font-size: 13px">{{ // item.category  | uppercaseFirst }}</span>-->
                                        </el-option>
                                    </el-select>
                                </el-form-item>

                                <el-form-item label="Location" :error="get('location')"  v-show="columns.location">
                                    <el-autocomplete
                                        type="textarea"
                                        v-model="editDefect.location"
                                        :fetch-suggestions="querySearchAsync"
                                        placeholder="Please input"
                                        autosize
                                        :hide-loading="true"
                                        :trigger-on-focus="false"
                                        width="100%"
                                        class="defect-autocomplate"
                                    ></el-autocomplete>
                                </el-form-item>

                                <el-form-item label="NRM Code" :error="get('nrm_code')" v-show="columns.nrm_code">
                                    <el-input v-model="editDefect.nrm_code" />
                                </el-form-item>

                                <el-form-item label="Description" :error="get('description')" v-show="columns.description">
                                    <el-autocomplete
                                        type="textarea"
                                        v-model="editDefect.description"
                                        :fetch-suggestions="querySearchAsync"
                                        placeholder="Please input"
                                        autosize
                                        :hide-loading="true"
                                        :trigger-on-focus="false"
                                        width="100%"
                                        class="defect-autocomplate"
                                    ></el-autocomplete>
                                </el-form-item>

                                <el-form-item label="Conditions" :error="get('conditions')"  v-show="columns.conditions">
                                    <el-autocomplete
                                        type="textarea"
                                        v-model="editDefect.conditions"
                                        :fetch-suggestions="querySearchAsync"
                                        placeholder="Please input"
                                        autosize
                                        :trigger-on-focus="false"
                                        :hide-loading="true"
                                        width="100%"
                                        class="defect-autocomplate"
                                    ></el-autocomplete>
                                </el-form-item>

                                <el-form-item label="Recommendation" :error="get('recommendation')" v-show="columns.recommendation">
                                    <el-autocomplete
                                        type="textarea"
                                        v-model="editDefect.recommendation"
                                        :fetch-suggestions="querySearchAsync"
                                        placeholder="Please input"
                                        autosize
                                        :trigger-on-focus="false"
                                        :hide-loading="true"
                                        width="100%"
                                        class="defect-autocomplate"
                                    ></el-autocomplete>
                                </el-form-item>

                                <el-form-item label="Component" :error="get('component')" v-show="columns.component">
                                    <el-autocomplete
                                        type="textarea"
                                        v-model="editDefect.component"
                                        :fetch-suggestions="querySearchAsync"
                                        placeholder="Please input"
                                        autosize
                                        :hide-loading="true"
                                        :trigger-on-focus="false"
                                        width="100%"
                                        class="defect-autocomplate"
                                    ></el-autocomplete>
                                </el-form-item>

                                <el-form-item label="POAC" :error="get('poac')" v-show="columns.poac">
                                    <el-autocomplete
                                        type="textarea"
                                        v-model="editDefect.poac"
                                        :fetch-suggestions="querySearchAsync"
                                        placeholder="Please input"
                                        autosize
                                        :hide-loading="true"
                                        :trigger-on-focus="false"
                                        width="100%"
                                        class="defect-autocomplate"
                                    ></el-autocomplete>
                                </el-form-item>

                                <el-form-item label="REC" :error="get('rec')" v-show="columns.rec">
                                    <el-autocomplete
                                        type="textarea"
                                        v-model="editDefect.rec"
                                        :fetch-suggestions="querySearchAsync"
                                        placeholder="Please input"
                                        autosize
                                        :trigger-on-focus="false"
                                        :hide-loading="true"
                                        width="100%"
                                        class="defect-autocomplate"
                                    ></el-autocomplete>
                                </el-form-item>

                                <el-form-item label="Liable Parties" :error="get('liable_parties')" v-show="columns.liable_parties">
                                    <el-radio v-model="editDefect.liable_parties" label="Developer">Developer</el-radio>
                                    <el-radio v-model="editDefect.liable_parties" label="OA/FM">OA/FM</el-radio>
                                </el-form-item>

                                <el-form-item label="Rate" :error="get('rate')"  v-show="columns.rate">
                                    <el-input-number v-model="editDefect.rate"></el-input-number>
                                </el-form-item>

                                <el-form-item label="Quantity" :error="get('quantity')" v-show="columns.quantity">
                                    <el-input-number v-model="editDefect.quantity"></el-input-number>
                                </el-form-item>

                                <el-form-item label="Total"  v-show="columns.rate && columns.quantity">
                                    <el-input-number :value="editDefect.rate * editDefect.quantity" disabled></el-input-number>
                                </el-form-item>

                                <table v-show="columns.rating">
                                    <tr>
                                        <th>Rating</th>
                                        <th>Value</th>
                                    </tr>
                                    <tr>
                                        <td>	Safety and statutory Requirements</td>
                                        <td><el-rate v-model="editDefect.rating.ss_requirements"></el-rate></td>
                                    </tr>
                                    <tr>
                                        <td>Physical and Operational Condition</td>
                                        <td><el-rate v-model="editDefect.rating.po_condition"></el-rate></td>
                                    </tr>
                                    <tr>
                                        <td>Functional Suitability and Overall Performance</td>
                                        <td><el-rate v-model="editDefect.rating.fs_performance"></el-rate></td>
                                    </tr>
                                    <tr>
                                        <td>Energy and Environmental Performance</td>
                                        <td><el-rate v-model="editDefect.rating.ee_performance"></el-rate></td>
                                    </tr>
                                </table>

                                <el-form-item label="Status" :error="get('status')" v-show="columns.status">
                                    <el-radio v-model="editDefect.status" label="Completed">Completed</el-radio>
                                    <el-radio v-model="editDefect.status" label="Incomp./Minor">Incomp./Minor</el-radio>
                                    <el-radio v-model="editDefect.status" label="Incomp./Major">Incomp./Major</el-radio>
                                </el-form-item>

                            </el-form>
                        </el-col>
                        <el-col :span="12" class="p-10">

                            <el-image
                                style="width: 360px;"
                                :preview-src-list="[editDefect.image_url]"
                                :src="editDefect.image_url">
                            </el-image>
                            <el-upload
                                drag
                                :data="{resource:'defects','resource_id':editDefect.id}"
                                :headers="{Authorization:auth_token}"
                                :show-file-list="false"
                                :on-success="handleUpload"
                                action="api/images">
                                <i class="el-icon-upload"></i>
                                <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
                            </el-upload>
                        </el-col>
                    </el-row>
                    <div slot="footer" class="dialog-footer">
                        <el-button type="danger" @click="deleteDefect">
                            Delete
                        </el-button>
                        <el-button @click="editDefectVisible = false">
                            {{ $t('table.cancel') }}
                        </el-button>
                        <el-button type="primary" @click="editResource()">
                            {{ $t('table.confirm') }}
                        </el-button>
                    </div>
                </div>
            </el-dialog>

            <el-button type="success" icon="el-icon-plus" circle class="floating-button" @click="defectDrawerVisible = true"></el-button>

            <el-drawer
                title="Upload Defects"
                style="overflow-y: scroll"
                size="25%"
                @close="$refs.defectsUploads.clearFiles()"
                :visible.sync="defectDrawerVisible">
                <div style="padding: 20px;overflow: scroll;height: 100vh;">
                    <el-upload
                        class="upload-demo"
                        :file-list="defectList"
                        :headers="{Authorization:auth_token}"
                        action="api/images/create-defect"
                        :data="{property:property_id}"
                        multiple
                        ref="defectsUploads"
                        :on-success="newDefectAdded"
                        list-type="picture">
                        <el-button size="small" type="primary">Click to upload</el-button>
                        <div slot="tip" class="el-upload__tip">Only images are permitted other files will be rejected! The max allowed size is 2048 kb.</div>
                    </el-upload>
                </div>
            </el-drawer>
            <!--

                    <el-drawer
                        title="Defect Update"
                        :visible.sync="editDefectVisible"
                        width="1000"
                        direction="rtl">
                        <div class="form-container" v-loading="defectEditing">
                            <el-row>
                                <el-col :span="12" class="p-10">

                                </el-col>
                                <el-col :span="12" class="p-10">

                                    <el-image
                                        style="width: 100%;"
                                        :preview-src-list="[editDefect.image_url]"
                                        :src="editDefect.image_url">
                                    </el-image>

                                </el-col>
                            </el-row>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="editDefectVisible = false">
                                    {{ $t('table.cancel') }}
                                </el-button>
                                <el-button type="primary" @click="createUser()">
                                    {{ $t('table.confirm') }}
                                </el-button>
                            </div>
                        </div>
                    </el-drawer>
            -->

        </div>
    </div>
</template>

<script>
    import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
    import BackendErrors from '@/mixins/backend-errors';
    import waves from '@/directive/waves'; // Waves directive
    import permission from '@/directive/permission'; // Waves directive
    import Fuse from 'fuse.js'
    import CountTo from 'vue-count-to';
    import Sticky from '@/components/Sticky';
    import PieChart from './components/PieChart';
    import DndList from '@/components/DndList';

    import ElementResource from '@/api/element'
    import PropertyResource from '@/api/property'
    import DefectResource from '@/api/defect'
    import draggable from 'vuedraggable';
    const propertyResource = new PropertyResource();
    const elementResource = new ElementResource();
    const defectResource = new DefectResource();

    export default {
        name: 'PropertyDefects',
        components: {  CountTo, Sticky, PieChart, draggable },
        directives: { waves, permission },
        mixins:[BackendErrors],
        data() {
            return {
                filteredlist: [],
                reportActive:'1',
                list: [],
                hide:true,
                elementList: [],
                template:null,
                handleSettingVisible:false,
                handlePriorityVisible:false,
                columns: {
                    number:0,
                    location:0,
                    element:0,
                    property_id:0,
                    description:0,
                    recommendation:0,
                    liable_parties:0,
                    component:0,
                    poac:0,
                    rec:0,
                    rating:0,
                    status:0,
                    unit:0,
                    priority:0,
                    quantity:0,
                    rate:0,
                    audio:0,
                    nrm_code:0,
                    conditions:0,
                },
                tempRoute:{},
                checkboxVal: [], // checkboxVal
                query: {
                    page: 1,
                    assignment_id: 1,
                    limit: 10,
                    keyword: '',
                },
                editDefect:{
                    rating: {
                        ss_requirements:0,
                        po_condition:0,
                        fs_performance:0,
                        ee_performance:0
                    },
                },
                editDefectVisible:false,
                defectEditing:false,
                locations : [],
                property_id:1,
                property:null,
                reportOptions:{
                    type:null,
                    format:null,
                },
                counters:{
                    cost:0,
                    meps:0,
                    civils:0,
                },
                defectDrawerVisible:false,
                defectList:[],
                keyword:'',
                keywordDefectVisible:false,
                columnsDialogVisible:false
            };
        },
        created() {
            this.tempRoute = Object.assign({}, this.$route);
            this.property_id = this.$route.params.id;
            this.getList();
            this.getElements();
            this.getProperty();
        },
        methods: {
            handleDownloadReport(){

                this.reportOptions.property = this.property_id;
                let vm = this;
                let url = Object.keys(this.reportOptions).map(function(k) {
                    return encodeURIComponent(k) + '=' + encodeURIComponent(vm.reportOptions[k])
                }).join('&')
                window.open(`properties/${this.property_id}/report?${url}`);
                /*propertyResource.getReport(this.property_id, this.reportOptions)
                    .then(response => {
                        let blob = new Blob([response.data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' }),
                            url = window.URL.createObjectURL(blob)

                        window.open(url)
                        console.log('Downloaded!');
                    });*/
            },
            newDefectAdded(response, file, fileList){
                let newDefect = response.data;
                if (typeof newDefect !== "undefined"){
                    this.list.push(newDefect);
                }
            },
            querySearchAsync(queryString, cb) {

                var results = [];
                var locations = [];

                if ( ! localStorage.locations) {
                    defectResource.suggestions(queryString)
                        .then(response => {
                            localStorage.locations = JSON.stringify(response);
                        });
                }

                if (localStorage.locations) {
                    locations = JSON.parse(localStorage.locations);
                }

                results = queryString ? new Fuse(locations,{keys:['value']}).search(queryString) : locations;

                if (results.length){
                    cb(results.slice(0, 3));
                }

            },
            handleDefect(event, { index, value }){
                event.preventDefault()
                // Do it only when you click on the image
                if (event.target.tagName.toLowerCase() == 'img') {
                    console.log('img clicked',index, value)
                }
            },
            clickedDefect(index, value ){
                this.setEditDefect(index);
                this.editDefectVisible = true;
            },
            editResource() {
                this.defectEditing = true;

                defectResource
                    .update(this.editDefect.id,this.editDefect)
                    .then(response => {
                        this.$message({
                            message: `Defect has been updated successfully.`,
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.editDefectVisible = false;
                        this.clear();
                        this.setEditedDefect();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.defectEditing = false;
                    });
            },
            setEditDefect(index){
                let value = this.list[index];
                this.editDefect = {
                    id: value.id,
                    inspection_type: value.inspection_type_id,
                    number: value.number,
                    location: value.location,
                    category: value.category,
                    element: value.element_id,
                    description: value.description,
                    component: value.component,
                    nrm_code: value.nrm_code,
                    conditions: value.conditions,
                    recommendation: value.recommendation,
                    rec: value.rec,
                    poac: value.poac,
                    liable_parties: value.liable_parties,
                    status: value.status,
                    image_url: value.image_url,
                    unit: value.unit,
                    quantity: value.quantity,
                    rate: value.rate,
                    audio: value.audio,
                    rating: {
                        ss_requirements:value.rating.ss_requirements,
                        po_condition:value.rating.po_condition,
                        fs_performance:value.rating.fs_performance,
                        ee_performance:value.rating.ee_performance
                    },
                    index: index,
                };
            },
            setEditedDefect(){
                this.list.map(item => {
                    if (item.id == this.editDefect.id){
                        item.number=  this.editDefect.number;
                        item.location=  this.editDefect.location;
                        item.category=  this.editDefect.category;
                        item.element_id =  this.editDefect.element;
                        item.inspection_type_id =  this.editDefect.inspection_type;
                        item.description=  this.editDefect.description;
                        item.rec=  this.editDefect.rec;
                        item.nrm_code=  this.editDefect.nrm_code;
                        item.poac=  this.editDefect.poac;
                        item.conditions=  this.editDefect.conditions;
                        item.recommendation=  this.editDefect.recommendation;
                        item.component=  this.editDefect.component;
                        item.liable_parties=  this.editDefect.liable_parties;
                        item.status=  this.editDefect.status;
                        item.image_url=  this.editDefect.image_url;
                        item.unit=  this.editDefect.unit;
                        item.quantity=  this.editDefect.quantity;
                        item.rate=  this.editDefect.rate;
                        item.audio=  this.editDefect.audio;
                        item.rating.ss_requirements =  this.editDefect.rating.ss_requirements;
                        item.rating.po_condition =  this.editDefect.rating.po_condition;
                        item.rating.fs_performance =  this.editDefect.rating.fs_performance;
                        item.rating.ee_performance =  this.editDefect.rating.ee_performance;
                    }
                });
                this.editDefect = {
                    rating: {
                        ss_requirements:0,
                        po_condition:0,
                        fs_performance:0,
                        ee_performance:0
                    },
                };
                this.list.forEach((element, index) => {
                    this.totalCost += element.rate ?? 0 * element.quantity ?? 0;
                });
                localStorage.removeItem('locations');
            },
            handleSetting(){
                this.handleSettingVisible = true;
            },
            async getList() {
                const { limit, page } = this.query;
                this.loading = true;
                const { data, meta } = await propertyResource.defectsList(this.property_id, this.query);

                // this.$refs.defects.masonryOver();

                this.list = this.list.concat(data);
                this.list.forEach((element, index) => {
                    element['index'] = (page - 1) * limit + index + 1;
                    this.counters.cost += element.rate * element.quantity;
                    // (element.rate.)
                });
                this.loading = false;
            },
            async getElements() {
                const { data } = await elementResource.listAll();
                this.elementList = data;
            },
            async getProperty() {
                const { data } = await propertyResource.get(this.property_id);
                this.property = data;
                this.columns = data.template.settings;
            },
            setTagsViewTitle() {
                const title ='Assignment Properties'; // Should move to i18n
                const route = Object.assign({}, this.tempRoute, {
                    title: `${title} - [${this.$route.params.id}]`,
                });
                this.$store.dispatch('tagsView/updateVisitedView', route);
            },
            handleUpload(response, file, fileList){

                this.list.map(item => {
                    if (item.id == this.editDefect.id){
                        item.image_url =  response.defect.image_url;
                    }
                });

                this.editDefect.image_url = response.defect.image_url;

                this.$message({
                    message: response.message,
                    type: response.type
                });

            },
            getProgress(item){

                if (!this.columns){
                    return 0;
                }

                let progress = 0;
                let total = 0;

                /*if (this.columns.number){
                    ++total;
                    item.number ? ++progress : 0;
                }*/
                if (this.columns.location){
                    ++total;
                    item.location ? ++progress : 0;
                }
                if (this.columns.element){
                    ++total;
                    item.element_id ? ++progress : 0;
                }
                if (this.columns.description){
                    ++total;
                    item.description ? ++progress : 0;
                }
                if (this.columns.recommendation){
                    ++total;
                    item.recommendation ? ++progress : 0;
                }
                if (this.columns.liable_parties){
                    ++total;
                    item.liable_parties ? ++progress : 0;
                }
                if (this.columns.component){
                    ++total;
                    item.component ? ++progress : 0;
                }
                if (this.columns.poac){
                    ++total;
                    item.poac ? ++progress : 0;
                }
                if (this.columns.rec){
                    ++total;
                    item.rec ? ++progress : 0;
                }
                if (this.columns.status){
                    ++total;
                    item.status ? ++progress : 0;
                }
                /*if (this.columns.unit){
                    ++total;
                    item.unit ? ++progress : 0;
                }*/
                /*if (this.columns.priority){
                    ++total;
                    item.priority ? ++progress : 0;
                }*/
                if (this.columns.quantity){
                    ++total;
                    item.quantity ? ++progress : 0;
                }
                if (this.columns.rate){
                    ++total;
                    item.rate ? ++progress : 0;
                }
                if (this.columns.audio){
                    ++total;
                    item.audio ? ++progress : 0;
                }
                if (this.columns.nrm_code){
                    ++total;
                    item.nrm_code ? ++progress : 0;
                }
                if (this.columns.conditions){
                    ++total;
                    item.conditions ? ++progress : 0;
                }

                if (isNaN(progress / total * 100)){
                    return 0;
                } else {
                    return (progress / total * 100);
                }
            },
            async deleteDefect(){
                this.$confirm('This will permanently delete the defect. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    this.defectEditing = true;
                    defectResource.destroy(this.editDefect.id)
                        .then(response => {
                            this.$message({
                                message: `Defect has been deleted successfully.`,
                                type: 'success',
                                duration: 5 * 1000,
                            });
                            this.editDefectVisible = false;
                            this.clear();
                            this.removeDefect();
                        })
                        .catch(error => {
                            this.record(error);
                            console.log(error);
                        })
                        .finally(() => {
                            this.defectEditing = false;
                        });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Delete canceled'
                    });
                });

            },
            removeDefect(){
                this.list.splice(this.editDefect.index,1);
                // console.log('Defect removed!' + );
            },
            handleMove(e){
                this.list.map((element, index) => {
                    element.number = index + 1;
                });
                defectResource.sort({defects:this.list});
            }
        },
        watch:{
            keyword(){
                this.keywordDefectVisible = true;
                this.filteredlist = new Fuse(this.list,{
                    keys: [ 'location' ]
                }).search(this.keyword)

                if (this.keyword === ''){
                    this.keywordDefectVisible = false;
                }
            }
        },
        computed:{
            downloadReportButton(){
                return ! Boolean(this.reportOptions.format && this.reportOptions.type);
            },
            auth_token(){
                return `Bearer ${this.$store.getters.token}`;
            },
            total_cost(){
                let total = 0;
                this.list.forEach(item => {
                    try {
                        total += (item.quantity?? 0) * (item.rate??0);
                    }catch (e) {
                        console.log(item);
                    }
                });
                return total;
            },
            total_civil(){
                let civil = 0;
                this.list.forEach(item => {
                    if (item.inspection_type_id === 1){
                        ++civil;
                    }
                });
                return civil;
            },
            total_mep(){
                let mep = 0;
                this.list.forEach(item => {
                    if (item.inspection_type_id === 2){
                        ++mep;
                    }
                });
                return mep;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .edit-button{
        cursor: pointer;
        margin: 0;
        margin-top: -4px;
    }
    .vue-masonry-gallery .over{
        display: none !important;
    }
    .edit-input {
        padding-right: 100px;
    }
    .cancel-btn {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .dialog-footer {
        text-align: left;
        padding-top: 0;
        margin-left: 150px;
    }
    .app-container {
        flex: 1;
        justify-content: space-between;
        font-size: 14px;
        padding-right: 8px;
        .block {
            float: left;
            min-width: 250px;
        }
        .clear-left {
            clear: left;
        }
    }
    .panel-group {
        margin-top: 18px;
        /*.card-panel-col{
            margin-bottom: 32px;
        }*/
        .card-panel {
            height: 108px;
            cursor: pointer;
            font-size: 12px;
            position: relative;
            overflow: hidden;
            color: #666;
            background: #fff;
            box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
            border-color: rgba(0, 0, 0, .05);
            &:hover {
                .card-panel-icon-wrapper {
                    color: #fff;
                }
                .icon-people {
                    background: #40c9c6;
                }
                .icon-message {
                    background: #36a3f7;
                }
                .icon-money {
                    background: #f4516c;
                }
                .icon-shopping {
                    background: #34bfa3
                }
            }
            .icon-people {
                color: #40c9c6;
            }
            .icon-message {
                color: #36a3f7;
            }
            .icon-money {
                color: #f4516c;
            }
            .icon-shopping {
                color: #34bfa3
            }
            .card-panel-icon-wrapper {
                float: left;
                margin: 14px 0 0 14px;
                padding: 16px;
                transition: all 0.38s ease-out;
                border-radius: 6px;
            }
            .card-panel-icon {
                float: left;
                font-size: 48px;
            }
            .card-panel-description {
                float: right;
                font-weight: bold;
                margin: 26px;
                margin-left: 0px;
                .card-panel-text {
                    line-height: 18px;
                    color: rgba(0, 0, 0, 0.45);
                    font-size: 16px;
                    margin-bottom: 12px;
                }
                .card-panel-num {
                    font-size: 20px;
                }
            }
        }
    }
    .settings td{
        padding-left:50px ;
    }
    .some-info{
        text-align: center;
        padding: 10px;
        font-size: 12px;
        text-transform: capitalize;
        font-weight: 600;
        background-color: aqua;
        margin-top: 0;
    }
    .img-info{
        font-family: Arial,Helvetica,sans-serif;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 97.8%;
        height: 100%;
        text-align: center;
        opacity: 0;
        transition: all .2s ease-out;
        transition-delay: .05s;
    }
    .img-info:hover {
        opacity: 1;
    }
    .title-info {
        padding: 10px 4px;
        position: absolute;
        transition: all .3s ease-out;
        transition-delay: .1s;
        background-color: #7d9db3;
        width: calc(100%);
        margin-left: 10px;
    }
    .p-10{
        padding: 10px;
    }
    .defect-autocomplate{
        width: 100%;
    }
    .masonry { /* Masonry container */
        /*column-count: 6;*/
        /*column-gap: 1em;*/
    }
    .item {
        display: inline-block;
        margin: 0.5em;
        width: 15%;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    .floating-button{
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: rgb(48, 65, 86);
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
        border: 1px solid rgb(48, 65, 86);
        z-index: 2000;
    }
    .defect-progress{
        margin: 0;
    }
    .defect-progress div.el-progress-bar__outer, .defect-progress div.el-progress-bar__inner{
        border-radius: 0;
    }
    .chart-wrapper {
        background: #fff;
        padding: 16px 16px 0;
        margin-bottom: 32px;
    }
    .el-image__inner{
        /*border-radius: 4px !important;*/
    }
    .defect-location{
        padding: 4px 14px;
        font-size: 13px;
        cursor: all-scroll;
    }
    .list-complete-item {
        cursor: pointer;
        position: relative;
        font-size: 14px;
        padding: 5px 12px;
        margin-top: 4px;
        border: 1px solid #bfcbd9;
        transition: all 1s;
    }

    .list-complete-item-handle {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 50px;
    }
</style>
