<template>
    <div class="app-container">
        <el-card shadow="never">
            <div slot="header" class="clearfix">
                <span>Property Name Here</span>
                <el-dropdown split-button type="success" @click="handleClick" style="float: right; padding: 3px 0">
                    Save Property
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>Save & Download Draft</el-dropdown-item>
                        <el-dropdown-item>Save & Download final</el-dropdown-item>
                        <el-dropdown-item>Save as new</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
            <el-form ref="form" :model="form" label-width="150px" size="mini">
                <el-collapse v-model="activeName" @change="handleChange">
                    <el-collapse-item title="Inspection Section" name="1">

                        <el-card>
                            <el-row :gutter="10" style="margin-bottom: 30px;">
                                <el-col :span="24">
                                    <el-button style="margin-top: 12px;" @click="nextValuation" type="success">Next step</el-button>
                                    <el-button style="margin-top: 12px;" @click="previousValuation" :disabled="activeValuation == 0">Back step</el-button>
                                </el-col>
                            </el-row>

                            <el-row :gutter="10" style="margin-top: 20px;margin-bottom: 50px">
                                <el-col :span="24">
                                    <el-steps :active="activeValuation" finish-status="success" >
                                        <el-step title="" @click="setValuation(0)">
                                            <span slot="title"><small>Inspection</small></span>
                                        </el-step>
                                        <el-step title="" @click="setValuation(1)">
                                            <span slot="title"><small>Location</small></span>
                                        </el-step>
                                        <el-step title="Land Details" @click="setValuation(2)">
                                            <span slot="title"><small>Land Details</small></span>
                                        </el-step>
                                        <el-step  @click="setValuation(3)">
                                            <span slot="title"><small>Property Details</small></span>
                                        </el-step>
                                        <el-step title="Externally" @click="setValuation(4)">
                                            <span slot="title"><small>Externally</small></span>
                                        </el-step>
                                        <el-step title="Internally" @click="setValuation(5)">
                                            <span slot="title"><small>Internally</small></span>
                                        </el-step>
                                        <el-step title="Surroundings" @click="setValuation(6)">
                                            <span slot="title"><small>Surroundings</small></span>
                                        </el-step>
                                        <el-step title="Others" @click="setValuation(7)">
                                            <span slot="title"><small>Others</small></span>
                                        </el-step>
                                    </el-steps>
                                </el-col>
                            </el-row>

                            <el-row v-show="activeValuation == 0">
                                <el-col :span="6">
                                    <el-form-item label="Inspection Date:">
                                        <el-date-picker type="date" placeholder="Pick a date" v-model="form.date1" style="width: 100%;"></el-date-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <el-form-item label="Inspection Time:">
                                        <el-time-picker placeholder="Pick a time" v-model="form.date2" style="width: 100%;"></el-time-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <el-form-item label="Inspection Tel:">
                                        <el-input v-model="form.name"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <el-form-item label="Activity name">
                                        <el-input v-model="form.name"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>

                            <el-row v-show="activeValuation == 1">
                                <el-col :span="12">
                                    <el-form-item label="GPS:">
                                        <el-input v-model="form.name"></el-input>
                                    </el-form-item>
                                    <el-form-item label="Address (New)">
                                        <el-input v-model="form.name"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="Address (Old)">
                                        <el-input v-model="form.name"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>

                            <el-row  v-show="activeValuation == 2">
                                <el-col :span="12">
                                    <el-form-item label="Location:">
                                        <el-radio v-model="form.radio" label="1">Primary</el-radio>
                                        <el-radio v-model="form.radio" label="2">Secondary</el-radio>
                                    </el-form-item>
                                    <el-form-item label="Road surface:">
                                        <el-radio v-model="form.radio" label="1">Covered</el-radio>
                                        <el-radio v-model="form.radio" label="2">Uncovered</el-radio>
                                    </el-form-item>
                                    <el-form-item label="Leveling:">
                                        <el-radio v-model="form.radio" label="1">Yes</el-radio>
                                        <el-radio v-model="form.radio" label="2">No</el-radio>
                                    </el-form-item>

                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="Parking:">
                                        <el-radio v-model="form.radio" label="1">Available</el-radio>
                                        <el-radio v-model="form.radio" label="2">Unavailable</el-radio>
                                    </el-form-item>
                                    <el-form-item label="Boundaries:">
                                        <el-radio v-model="form.radio" label="1">Fenced</el-radio>
                                        <el-radio v-model="form.radio" label="2">Not Fenced</el-radio>
                                    </el-form-item>
                                </el-col>
                            </el-row>

                            <el-row v-show="activeValuation == 3">
                                <el-col :span="8">
                                    <el-form-item label="Age (Years):">
                                        <el-input v-model="form.name"></el-input>
                                    </el-form-item>
                                    <el-form-item label="Life (Years):">
                                        <el-input v-model="form.name"></el-input>
                                    </el-form-item>
                                    <el-form-item label="Other Details:">
                                        <el-input v-model="form.name"></el-input>
                                    </el-form-item>
                                    <el-form-item label="Occupancy:">
                                        <el-input v-model="form.name"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">

                                    <el-form-item label="No of units:">
                                        <el-input v-model="form.name"></el-input>
                                    </el-form-item>
                                    <el-form-item label="Property Condition:">
                                        <el-input v-model="form.name"></el-input>
                                    </el-form-item>
                                    <el-form-item label="Development:">
                                        <el-input v-model="form.name"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="Property Status:">
                                        <el-select v-model="form.name" filterable placeholder="Select">
                                            <el-option
                                                v-for="item in property_conditions"
                                                :key="item"
                                                :label="item"
                                                :value="item">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="Lift:">
                                        <el-radio v-model="form.radio" label="1">Available</el-radio>
                                        <el-radio v-model="form.radio" label="2">Unavailable</el-radio>
                                    </el-form-item>
                                    <el-form-item label="Unit Type:">
                                        <el-select v-model="form.name" filterable placeholder="Select">
                                            <el-option
                                                v-for="item in unit_types"
                                                :key="item"
                                                :label="item"
                                                :value="item">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>

                            <el-row v-show="activeValuation == 4">
                                <el-col :span="8">
                                    <el-form-item label="Boundary Wall:">
                                        <el-select
                                            v-model="new_boundary_walls"
                                            multiple
                                            filterable
                                            allow-create
                                            default-first-option
                                            style="width: 100%;"
                                            placeholder="Choose Boundary Walls">
                                            <el-option
                                                v-for="item in boundary_walls"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="Yard Covering:">
                                        <el-select
                                            v-model="new_yard_covering"
                                            multiple
                                            filterable
                                            style="width: 100%;"
                                            allow-create
                                            default-first-option
                                            placeholder="Choose Yard Coverings">
                                            <el-option
                                                v-for="item in yard_covering"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="Structure:">
                                        <el-select
                                            v-model="new_structures"
                                            multiple
                                            filterable
                                            style="width: 100%;"
                                            allow-create
                                            default-first-option
                                            placeholder="Choose Structure">
                                            <el-option
                                                v-for="item in structures"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>

                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="Cladding:">
                                        <el-select
                                            v-model="new_cladding"
                                            multiple
                                            style="width: 100%;"
                                            filterable
                                            allow-create
                                            default-first-option
                                            placeholder="Choose Cladding">
                                            <el-option
                                                v-for="item in structures"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="Windows:">
                                        <el-select
                                            v-model="new_windows"
                                            multiple
                                            filterable
                                            style="width: 100%;"
                                            allow-create
                                            default-first-option
                                            placeholder="Choose Cladding">
                                            <el-option
                                                v-for="item in windows"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>

                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="Doors:">
                                        <el-select
                                            v-model="new_doors"
                                            multiple
                                            filterable
                                            style="width: 100%;"
                                            allow-create
                                            default-first-option
                                            placeholder="Choose Cladding">
                                            <el-option
                                                v-for="item in doors"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="Facilities:">
                                        <el-select
                                            v-model="new_facilities"
                                            multiple
                                            filterable
                                            allow-create
                                            style="width: 100%;"
                                            default-first-option
                                            placeholder="Choose Cladding">
                                            <el-option
                                                v-for="item in facilities"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>

                            <el-row  v-show="activeValuation == 5">
                                <el-col :span="24">
                                    <div style="margin-bottom: 20px;">
                                        <el-button
                                            size="small"
                                            @click="addTab(internallyTabsValue)"
                                        >
                                            Add Internally
                                        </el-button>
                                    </div>
                                    <el-tabs v-model="internallyTabsValue" type="card" closable @tab-remove="removeTab">
                                        <el-tab-pane
                                            v-for="(item, index) in internallyTabs"
                                            :key="item.name"
                                            :label="item.title"
                                            :name="item.name"
                                        >
                                            <el-form-item label="FL Level/Type">
                                                <el-input placeholder="Please input" v-model="item.title" size="small"></el-input>
                                            </el-form-item>
                                            <el-form-item label="Description">
                                                <el-input placeholder="Please input" v-model="item.content" size="small" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-tab-pane>
                                    </el-tabs>
                                </el-col>
                                <el-col :span="24"><el-drawer></el-drawer></el-col>
                                <el-col :span="8">
                                    <el-form-item label="Finishing:">
                                        <el-select
                                            v-model="new_finishing"
                                            multiple
                                            filterable
                                            allow-create
                                            default-first-option
                                            style="width: 100%;"
                                            placeholder="Choose Boundary Walls">
                                            <el-option
                                                v-for="item in finishing"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="Air-Conditioning:">
                                        <el-select
                                            v-model="new_air_conditioning"
                                            multiple
                                            filterable
                                            style="width: 100%;"
                                            allow-create
                                            default-first-option
                                            placeholder="Choose Cladding">
                                            <el-option
                                                v-for="item in air_conditioning"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="View:">
                                        <el-select
                                            v-model="new_views"
                                            multiple
                                            filterable
                                            style="width: 100%;"
                                            allow-create
                                            default-first-option
                                            placeholder="Choose Cladding">
                                            <el-option
                                                v-for="item in views"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>

                            <el-row v-show="activeValuation == 6">
                                <el-col :span="24">
                                    <el-form-item label="Surroundings">
                                        <el-checkbox-group v-model="checkedSurroundings">
                                            <el-checkbox v-for="item in surroundings" :label="item.label" :key="item.value">{{item.label}}</el-checkbox>
                                        </el-checkbox-group>
                                    </el-form-item>
                                </el-col>
                            </el-row>

                            <el-row v-show="activeValuation == 7">
                                <el-col :span="24">
                                    <el-form-item label="Specification including Construction type" label-width="400px">
                                        <el-input
                                            type="textarea"
                                            :rows="2"
                                            placeholder="Please input"
                                            v-model="specification">
                                        </el-input>
                                    </el-form-item>
                                    <el-form-item label="Additional Features/Alterations (Include impact on Market value)" label-width="400px">
                                        <el-input
                                            type="textarea"
                                            :rows="2"
                                            placeholder="Please input"
                                            v-model="specification">
                                        </el-input>
                                    </el-form-item>
                                    <el-form-item label="Main services" label-width="400px">
                                        <el-input
                                            type="textarea"
                                            :rows="2"
                                            placeholder="Please input"
                                            v-model="specification">
                                        </el-input>
                                    </el-form-item>
                                    <el-form-item label="Nature and source of the information relied upon" label-width="400px">
                                        <el-input
                                            type="textarea"
                                            :rows="2"
                                            placeholder="Please input"
                                            v-model="specification">
                                        </el-input>
                                    </el-form-item>
                                    <el-form-item label="Extent of investigation" label-width="400px">
                                        <el-input
                                            type="textarea"
                                            :rows="2"
                                            placeholder="Please input"
                                            v-model="specification">
                                        </el-input>
                                    </el-form-item>
                                    <el-form-item label="Previous Involvement Declaration" label-width="400px">
                                        <el-input
                                            type="textarea"
                                            :rows="2"
                                            placeholder="Please input"
                                            v-model="specification">
                                        </el-input>
                                    </el-form-item>
                                    <el-form-item label="Surveyor Declaration" label-width="400px">
                                        <el-input
                                            type="textarea"
                                            :rows="2"
                                            placeholder="Please input"
                                            v-model="specification">
                                        </el-input>
                                    </el-form-item>
                                    <el-form-item label="Micro Location" label-width="400px">
                                        <el-input
                                            type="textarea"
                                            :rows="2"
                                            placeholder="Please input"
                                            v-model="specification">
                                        </el-input>
                                    </el-form-item>
                                    <el-form-item label="Access & Surroundings" label-width="400px">
                                        <el-input
                                            type="textarea"
                                            :rows="2"
                                            placeholder="Please input"
                                            v-model="specification">
                                        </el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-card>

                    </el-collapse-item>
                    <el-collapse-item title="Map" name="2">
                        <el-card>
                            <el-row :gutter="10">
                                <el-col :span="12">
                                    <google-maps></google-maps>

                                    <el-row :gutter="10" style="margin-top: 10px;">
                                        <el-col :span="4">
                                            <el-input size="mini" placeholder="Lat"></el-input>
                                        </el-col>
                                        <el-col :span="4">
                                            <el-input size="mini" placeholder="Lng"></el-input>
                                        </el-col>
                                        <el-col :span="16" >
                                            <el-button-group>
                                                <el-button type="primary" icon="el-icon-brush" size="mini">Clear Markers</el-button>
                                                <el-button type="primary" icon="el-icon-brush" size="mini">Clear Polygons</el-button>
                                                <!--                                                <el-button type="primary" icon="el-icon-map-location" size="mini">Add Map</el-button>-->
                                            </el-button-group>
                                        </el-col>
                                    </el-row>

                                </el-col>
                                <el-col :span="12">
                                    <!--<el-image  v-if="place" :src="item[0].getUrl()" v-for="item in place.photos"></el-image>-->
                                </el-col>
                            </el-row>
                        </el-card>
                    </el-collapse-item>
                    <el-collapse-item title="Photos" name="3">
                        <el-upload
                            action="https://jsonplaceholder.typicode.com/posts/"
                            list-type="picture-card"
                            multiple
                            :on-preview="handlePictureCardPreview"
                            :on-remove="handleRemove">
                            <i class="el-icon-plus"></i>
                        </el-upload>

                    </el-collapse-item>
                    <el-collapse-item title="Valuation" name="4">
                        <el-row :gutter="10">
                            <el-col :span="8">
                                <el-form-item label="Valuation Date:">
                                    <el-date-picker type="date" placeholder="Pick a date" v-model="form.date1" style="width: 100%;"></el-date-picker>
                                </el-form-item>
                                <el-form-item label="Interest to be Valued">
                                    <el-select
                                        v-model="new_yard_covering"
                                        multiple
                                        filterable
                                        style="width: 100%;"
                                        allow-create
                                        default-first-option
                                        placeholder="Choose options">
                                        <el-option
                                            v-for="item in yard_covering"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="Purpose:">
                                    <el-select
                                        v-model="new_structures"
                                        multiple
                                        filterable
                                        style="width: 100%;"
                                        allow-create
                                        default-first-option
                                        placeholder="Choose option">
                                        <el-option
                                            v-for="item in structures"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="Basis:">
                                    <el-select
                                        v-model="new_cladding"
                                        multiple
                                        style="width: 100%;"
                                        filterable
                                        allow-create
                                        default-first-option
                                        placeholder="Choose option">
                                        <el-option
                                            v-for="item in structures"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="Tenure Status:">
                                    <el-select
                                        v-model="new_windows"
                                        multiple
                                        filterable
                                        style="width: 100%;"
                                        allow-create
                                        default-first-option
                                        placeholder="Choose option">
                                        <el-option
                                            v-for="item in windows"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="Developer:">
                                    <el-input v-model="form.name"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Add Calculation methods:" label-width="300px">
                                    <el-checkbox-group v-model="checkedMethods">
                                        <el-checkbox v-for="item in methods" :label="item.label" :key="item.value">{{item.label}}</el-checkbox>
                                    </el-checkbox-group>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-collapse-item>
                    <transition name="fade" :duration="1000">
                        <el-collapse-item title="Comparison Method" name="5">
                            <!--                        <el-collapse-item v-show="checkedMethods.includes('Comparison Method')" title="Comparison Method" name="5">-->
                            <el-row>
                                <el-col :span="24">
                                    <el-button-group>
                                        <el-button icon="el-icon-plus" size="mini" @click="handleCreateComparable">Add New Comparable</el-button>
                                        <el-button icon="el-icon-search" size="mini"  @click="handleInsertComparable">Insert Comparable</el-button>
                                    </el-button-group>
                                </el-col>
                                <el-col :span="24">
                                    <el-table
                                        :data="comparablesData"
                                        style="width: 100%">
                                        <el-table-column
                                            prop="date"
                                            label="Date"
                                            width="150">
                                            <template slot-scope="{row}">
                                                <el-date-picker type="date" size="mini" placeholder="Pick a date" v-model="row.date" style="width: 100%;"></el-date-picker>
                                            </template>
                                        </el-table-column>
                                        <el-table-column
                                            prop="type"
                                            label="Type"
                                            width="120">
                                            <template slot-scope="{row}">
                                                <el-input size="mini" v-model="row.type" style="width: 100%;"></el-input>
                                            </template>
                                        </el-table-column>
                                        <el-table-column
                                            prop="tx_type"
                                            label="Transaction Type"
                                            width="120">
                                            <template slot-scope="{row}">
                                                <el-input size="mini" v-model="row.tx_type" style="width: 100%;"></el-input>
                                            </template>
                                        </el-table-column>
                                        <el-table-column
                                            prop="area"
                                            label="Area"
                                            width="120">
                                            <template slot-scope="{row}">
                                                <el-input size="mini" v-model="row.area" style="width: 100%;"></el-input>
                                            </template>
                                        </el-table-column>
                                        <el-table-column
                                            prop="area_rate"
                                            label="Rate/Land Area"
                                            width="120">
                                        </el-table-column>
                                        <el-table-column
                                            prop="bua"
                                            label="BUA"
                                            width="120">
                                            <template slot-scope="{row}">
                                                <el-input size="mini" v-model="row.bua" style="width: 100%;"></el-input>
                                            </template>
                                        </el-table-column>
                                        <el-table-column
                                            prop="bua_rate"
                                            label="Rate/BUA"
                                            width="120">
                                        </el-table-column>
                                        <el-table-column
                                            prop="market_value"
                                            label="Market Value"
                                            width="120">
                                            <template slot-scope="{row}">
                                                <el-input size="mini" v-model.lazy="row.market_value" v-v-money="money" style="width: 100%;"></el-input>
                                            </template>
                                        </el-table-column>
                                        <el-table-column
                                            prop="tx_details"
                                            label="Transaction Details">
                                            <template slot-scope="{row}">
                                                <el-input size="mini" v-model="row.tx_details" style="width: 100%;"></el-input>
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="Action">
                                            <template slot-scope="scope">
                                                <el-button type="danger" size="mini" circle @click="removeComparable(scope)"><i class="el-icon-delete"></i></el-button>
                                                <el-button type="primary" size="mini" circle @click="handleEditComparable(scope)"><i class="el-icon-edit"></i></el-button>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </el-col>
                            </el-row>
                            <el-row :gutter="10" style="margin-top: 20px">
                                <el-col :span="6">
                                    <el-checkbox v-model="use_decimal_for_rate_area"><strong>Use decimal for Rate / Area</strong></el-checkbox>
                                </el-col>
                                <el-col :span="6">
                                    <el-form-item label="Area for calculation">
                                        <el-select v-model="form.area_for_calculation" placeholder="Choose option">
                                            <el-option label="BUA" value="bua"></el-option>
                                            <el-option label="Land Area" value="land-area"></el-option>
                                            <el-option label="Other" value="other"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-collapse-item>
                    </transition>
                    <transition name="fade" :duration="1000">
                        <el-collapse-item v-show="checkedMethods.includes('Cost Method')" title="Cost Method" name="6">
                            <div>Decision making: giving advices about operations is acceptable, but do not make decisions for the users;</div>
                            <div>Controlled consequences: users should be granted the freedom to operate, including canceling, aborting or terminating current operation.</div>
                        </el-collapse-item>
                    </transition>
                    <transition name="fade" :duration="1000">
                        <el-collapse-item v-show="checkedMethods.includes('Cost Method (Under Construction)')" title="Cost Method (Under Construction)" name="7">
                            <div>Decision making: giving advices about operations is acceptable, but do not make decisions for the users;</div>
                            <div>Controlled consequences: users should be granted the freedom to operate, including canceling, aborting or terminating current operation.</div>
                        </el-collapse-item>
                    </transition>
                    <transition name="fade" :duration="1000">
                        <el-collapse-item v-show="checkedMethods.includes('Income Method')" title="Income Method" name="8">
                            <div>Decision making: giving advices about operations is acceptable, but do not make decisions for the users;</div>
                            <div>Controlled consequences: users should be granted the freedom to operate, including canceling, aborting or terminating current operation.</div>
                        </el-collapse-item>
                    </transition>
                    <el-collapse-item title="Inspection" name="9">
                        <div>Decision making: giving advices about operations is acceptable, but do not make decisions for the users;</div>
                        <div>Controlled consequences: users should be granted the freedom to operate, including canceling, aborting or terminating current operation.</div>
                    </el-collapse-item>
                    <el-collapse-item title="Appendices" name="10">
                        <el-upload
                            action="https://jsonplaceholder.typicode.com/posts/"
                            list-type="picture-card"
                            multiple
                            :on-preview="handlePictureCardPreview"
                            :on-remove="handleRemove">
                            <i class="el-icon-plus"></i>
                        </el-upload>

                    </el-collapse-item>
                    <el-collapse-item title="Report" name="11">
                        <div>Decision making: giving advices about operations is acceptable, but do not make decisions for the users;</div>
                        <div>Controlled consequences: users should be granted the freedom to operate, including canceling, aborting or terminating current operation.</div>
                    </el-collapse-item>
                    <el-collapse-item title="Comments" name="12">
                        <el-timeline style="padding-left: 200px;">
                            <el-timeline-item
                                v-for="(activity, index) in activities"
                                :key="index"
                                :timestamp="activity.timestamp">
                                {{activity.content}}
                            </el-timeline-item>
                        </el-timeline>
                        <el-form-item label-width="200px" label="Comment:" style="max-width: 700px;">
                            <el-input placeholder="Write a comment...">
                                <el-button slot="append" icon="el-icon-plus"></el-button>
                            </el-input>
                        </el-form-item>
                    </el-collapse-item>
                    <el-collapse-item title="Attach Documents" name="13">
                        <el-upload
                            class="upload-demo"
                            drag
                            action="https://jsonplaceholder.typicode.com/posts/"
                            :on-preview="handlePreview"
                            :on-remove="handleRemove"
                            :file-list="fileList"
                            multiple>
                            <i class="el-icon-upload"></i>
                            <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
                            <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
                        </el-upload>
                    </el-collapse-item>
                </el-collapse>
            </el-form>
        </el-card>

        <el-dialog title="Create new Comparable" :visible.sync="dialogComparableVisible">
            <div class="form-container" v-loading="comparableCreating">
                <el-form ref="userForm" :model="newComparable" label-position="left" label-width="250px">

                    <span slot="label">Basic Details</span>

                    Comparable Form
                </el-form>

                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogComparableVisible = false">
                        {{ $t('table.cancel') }}
                    </el-button>
                    <el-button type="primary" @click="createComparable()">
                        {{ $t('table.confirm') }}
                    </el-button>
                </div>
            </div>
        </el-dialog>

        <el-dialog title="Edit Comparable" :visible.sync="dialogEditComparableVisible">
            <div class="form-container" v-loading="comparableEditing">
                <el-form ref="userForm" :model="editComparable" label-position="left" label-width="250px">

                    <span slot="label">Basic Details</span>

                    Edit Comparable Form
                </el-form>

                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogEditComparableVisible = false">
                        {{ $t('table.cancel') }}
                    </el-button>
                    <el-button type="primary" @click="handEditComparable()">
                        {{ $t('table.confirm') }}
                    </el-button>
                </div>
            </div>
        </el-dialog>

        <el-drawer
            title="Insert Comparable's"
            :visible.sync="drawerComparableVisible"
            size="70%">
            <div>
                Load old Comparable here for selection!
            </div>
        </el-drawer>


    </div>
</template>

<script>
    import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
    import BackendErrors from '@/mixins/backend-errors';
    import waves from '@/directive/waves'; // Waves directive
    import permission from '@/directive/permission'; // Waves directive
    import { VMoney } from 'v-money'

    import AssignmentResource from '@/api/assignment'
    const assignmentResource = new AssignmentResource();

    import GoogleMaps from "@/views/properties/components/GoogleMaps";

    export default {
        name: 'PropertyValuation',
        components: { Pagination, GoogleMaps },
        directives: { waves, permission, VMoney },
        mixins:[BackendErrors],
        data() {
            return {
                internallyTabsValue: '1',
                internallyTabs: [
                    {
                        content:"Internally content",
                        name:'1',
                        title:"New Internally"
                    }
                ],
                internallytabIndex: 2,
                list: null,
                assignment: {
                    service:{
                        code:'VAL'
                    }
                },
                activeName:'1',
                total: 0,
                tempRoute:{},
                query: {
                    page: 1,
                    assignment_id: 1,
                    limit: 10,
                    keyword: '',
                },
                form: {
                    name: '',
                    region: '',
                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: '',
                    radio:'',
                    area_for_calculation:'bua'
                },
                unit_types:['1BR','2BR','3BR','4BR','5BR','6BR','7BR','8BR','Penthouse','Studio','Retail Unit','Commercial'],
                property_conditions:['Developed & Completed','Under Construction','Undeveloped'],
                boundary_walls:[
                    {
                        value: 'Marble',
                        label: 'Marble'
                    }, {
                        value: 'Ceramic',
                        label: 'Ceramic'
                    }, {
                        value: 'Block Wall',
                        label: 'Block Wall'
                    }, {
                        value: 'Paint',
                        label: 'Paint'
                    }
                ],
                new_boundary_walls:[],
                yard_covering:[
                    {
                        value: 'Garden',
                        label: 'Garden'
                    }, {
                        value: 'Stone',
                        label: 'Stone'
                    }, {
                        value: 'Interlock',
                        label: 'Interlock'
                    }, {
                        value: 'Concrete',
                        label: 'Concrete'
                    }
                ],
                new_yard_covering:[],
                structures:[
                    {
                        value: 'Concrete',
                        label: 'Concrete'
                    }, {
                        value: 'Wooden',
                        label: 'Wooden'
                    }, {
                        value: 'Metal',
                        label: 'Metal'
                    }
                ],
                new_structures:[],
                cladding:[
                    {
                        value: 'Marble',
                        label: 'Marble'
                    }, {
                        value: 'Aluminium',
                        label: 'Aluminium'
                    }, {
                        value: 'Stone',
                        label: 'Stone'
                    }, {
                        value: 'Paint',
                        label: 'Paint'
                    }
                ],
                new_cladding:[],
                windows:[
                    {
                        value: 'Standard',
                        label: 'Standard'
                    }, {
                        value: 'Aluminium',
                        label: 'Aluminium'
                    }, {
                        value: 'D.Glazing',
                        label: 'D.Glazing'
                    }
                ],
                new_windows:[],
                doors:[
                    {
                        value: 'Wooden',
                        label: 'Wooden'
                    }, {
                        value: 'Metal',
                        label: 'Metal'
                    }
                ],
                new_doors:[],
                facilities:[
                    {
                        value: 'Auto. Garage',
                        label: 'Auto. Garage'
                    }, {
                        value: 'Swimming Pool',
                        label: 'Swimming Pool'
                    }, {
                        value: 'Covered Parking',
                        label: 'Covered Parking'
                    }, {
                        value: 'Play Area',
                        label: 'Play Area'
                    }, {
                        value: 'Gym',
                        label: 'Gym'
                    }
                ],
                new_facilities:[],
                finishing:[
                    {
                        value: 'Poor',
                        label: 'Poor'
                    }, {
                        value: 'Good',
                        label: 'Good'
                    }, {
                        value: 'Average',
                        label: 'Average'
                    }
                ],
                new_finishing:[],
                air_conditioning:[
                    {
                        value: 'Central',
                        label: 'Central'
                    }, {
                        value: 'Split-Duct',
                        label: 'Split-Duct'
                    }, {
                        value: 'Split',
                        label: 'Split'
                    }, {
                        value: 'Window',
                        label: 'Window'
                    }
                ],
                new_air_conditioning:[],
                views:[
                    {
                        value: 'Neighbours',
                        label: 'Neighbours'
                    }, {
                        value: 'Road',
                        label: 'Road'
                    }, {
                        value: 'Sea/Lake',
                        label: 'Sea/Lake'
                    }, {
                        value: 'Open',
                        label: 'Open'
                    }
                ],
                new_views:[],
                surroundings:[
                    {
                        value: 1,
                        label: 'Educational'
                    }, {
                        value: 2,
                        label: 'Governmental'
                    }, {
                        value: 3,
                        label: 'Telecommunication Towers'
                    }, {
                        value: 4,
                        label: 'Healthcare'
                    }, {
                        value: 5,
                        label: 'Malls/Shopping centres'
                    }, {
                        value: 6,
                        label: 'Residential'
                    }, {
                        value: 7,
                        label: 'Sports Facilities'
                    }, {
                        value: 8,
                        label: 'Shops'
                    }, {
                        value: 9,
                        label: 'Offices'
                    }, {
                        value: 10,
                        label: 'Religious'
                    }, {
                        value: 11,
                        label: 'Hotels/ Hotel Apartments'
                    }, {
                        value: 12,
                        label: 'Industrial'
                    }
                ],
                checkedSurroundings:[],
                methods:[
                    {
                        value: 1,
                        label: 'Comparison Method'
                    }, {
                        value: 2,
                        label: 'Cost Method'
                    }, {
                        value: 3,
                        label: 'Cost Method (Under Construction)'
                    }, {
                        value: 4,
                        label: 'Income Method'
                    }
                ],
                checkedMethods:[],
                specification:'',
                activeValuation:0,
                dialogImageUrl: '',
                dialogVisible: false,
                comparablesData: [{
                    date: '2016-05-5',
                    type: 'Apartment',
                    tx_type: 'Asking',
                    area: 0,
                    area_rate: 0,
                    bua: 538,
                    bua_rate: 1171,
                    market_value: 630000,
                    tx_details: 'Azizi Aliyah, Studio Apt, Mid floor, Community View',
                },{
                    date: '2016-05-8',
                    type: 'Apartment',
                    tx_type: 'Asking',
                    area: 0,
                    area_rate: 0,
                    bua: 538,
                    bua_rate: 1171,
                    market_value: 630000,
                    tx_details: 'Azizi Aliyah, Studio Apt, Mid floor, Community View',
                },{
                    date: '2016-05-6',
                    type: 'Apartment',
                    tx_type: 'Asking',
                    area: 0,
                    area_rate: 0,
                    bua: 538,
                    bua_rate: 1171,
                    market_value: 630000,
                    tx_details: 'Azizi Aliyah, Studio Apt, Mid floor, Community View',
                },{
                    date: '2016-05-8',
                    type: 'Apartment',
                    tx_type: 'Asking',
                    area: 0,
                    area_rate: 0,
                    bua: 538,
                    bua_rate: 1171,
                    market_value: 630000,
                    tx_details: 'Azizi Aliyah, Studio Apt, Mid floor, Community View',
                },],
                money: {
                    decimal: '.',
                    thousands: ',',
                    prefix: '',
                    suffix: '',
                    precision: 0,
                    masked: false
                },
                use_decimal_for_rate_area:false,
                dialogComparableVisible:false,
                dialogEditComparableVisible:false,
                drawerComparableVisible:false,
                comparableCreating:false,
                comparableEditing:false,
                newComparable:{},
                editComparable:{},
                activities: [{
                    content: 'The report is send to manager for verification by Navtej Jhagra',
                    timestamp: '2018-04-15'
                }, {
                    content: 'Final report has been generated.',
                    timestamp: '2018-04-13'
                }, {
                    content: 'The report is send to manager for verification.',
                    timestamp: '2018-04-11'
                }],

            };
        },
        created() {
            this.getList();
            this.getAssignment();
            this.tempRoute = Object.assign({}, this.$route);
            this.query.assignment_id = this.$route.params.id;
            this.setTagsViewTitle();


        },
        methods: {
            fileList:[],
            handlePreview(){
                console.log('handlePreview');
            },
            handleRemove(){
                console.log('handleRemove');
            },
            removeComparable(scope){
                this.comparablesData.splice(scope.$index,1);
            },
            handleEditComparable(scope){
                this.dialogEditComparableVisible = true;
                console.log('dialogEditComparableVisible');
            },
            createComparable(scope){
                console.log('create Comparable');
                this.$message({
                    message: `New Comparable has been created successfully.`,
                    type: 'success',
                    duration: 5 * 1000,
                });
                this.dialogComparableVisible = false;
            },
            handEditComparable(scope){
                console.log('hand Edit Comparable');
                this.$message({
                    message: `Comparable has been updated successfully.`,
                    type: 'success',
                    duration: 5 * 1000,
                });
                this.dialogEditComparableVisible = false;
            },
            handleCreateComparable(){
                this.dialogComparableVisible = true;
                console.log('handleCreateComparable');
            },
            handleInsertComparable(){
                this.drawerComparableVisible = true;
                console.log('drawerComparableVisible');
            },
            handleClick() {
                alert('button click');
            },
            nextValuation() {
                if (++this.activeValuation > 7) this.activeValuation = 0;
            },
            previousValuation() {
                if (--this.activeValuation > 7) this.activeValuation = 0;
            },
            setValuation(val) {
                this.activeValuation = val;
            },
            addTab(targetName) {
                let newTabName = ++this.internallytabIndex + '';
                this.internallyTabs.push({
                    title: 'New Internally',
                    name: newTabName,
                    content: 'New Tab content'
                });
                this.internallyTabsValue = newTabName;
            },
            removeTab(targetName) {
                let tabs = this.internallyTabs;
                let activeName = this.internallyTabsValue;
                if (activeName === targetName) {
                    tabs.forEach((tab, index) => {
                        if (tab.name === targetName) {
                            let nextTab = tabs[index + 1] || tabs[index - 1];
                            if (nextTab) {
                                activeName = nextTab.name;
                            }
                        }
                    });
                }

                this.internallyTabsValue = activeName;
                this.internallyTabs = tabs.filter(tab => tab.name !== targetName);
            },
            handleValuation(row){
                this.$router.push({name:'propertyValuation',params:{id:row.id}})
            },
            handleDefects(row){
                this.$router.push({name:'propertyDefects',params:{id:row.id}})
            },
            handleReports(row){
                this.$router.push({name:'propertyReports',params:{id:row.id}})
            },
            async getList() {
                const { limit, page } = this.query;
                this.loading = true;
                const { data, meta } = await assignmentResource.propertiesList(this.query);
                this.list = data;
                this.list.forEach((element, index) => {
                    element['index'] = (page - 1) * limit + index + 1;
                });
                this.total = meta.total;
                this.loading = false;
            },
            async getAssignment() {
                const { data } = await assignmentResource.get(this.$route.params.id);
                this.assignment = data;
            },
            setTagsViewTitle() {
                const title ='Property Valuation'; // Should move to i18n
                const route = Object.assign({}, this.tempRoute, {
                    title: `${title} - [${this.$route.params.id}]`,
                });
                this.$store.dispatch('tagsView/updateVisitedView', route);
            },
            handleChange(val) {

            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .edit-input {
        padding-right: 100px;
    }
    .cancel-btn {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .dialog-footer {
        text-align: left;
        padding-top: 0;
        margin-left: 150px;
    }
    .app-container {
        flex: 1;
        justify-content: space-between;
        font-size: 14px;
        padding-right: 8px;
        .block {
            float: left;
            min-width: 250px;
        }
        .clear-left {
            clear: left;
        }
    }
    .el-dropdown {
        vertical-align: top;
    }
    .el-dropdown + .el-dropdown {
        margin-left: 15px;
    }
    .el-icon-arrow-down {
        font-size: 12px;
    }
</style>
