<template>
    <div class="app-container unit-list">
        <div class="page-head">
            <div class="container-fluid no-gutters" style="padding: 0;">
                <div class="row">
                    <div class="col-lg-7">

                        <h1><strong v-if="project.building">{{ project.building.name }} ({{ project.units }}) </strong></h1>
                        <div class="breadcurm">
                            <el-breadcrumb separator="/">
                                <el-breadcrumb-item :to="{ path: '/' }">Dashboard</el-breadcrumb-item>
                                <el-breadcrumb-item :to="{ path: '/' }">Fit-out Management</el-breadcrumb-item>
                                <el-breadcrumb-item><strong v-if="project.building">{{ project.building.name }} ({{ project.units }}) </strong></el-breadcrumb-item>
                            </el-breadcrumb>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="buttons">
                            <el-button @click="refreshPage" class="btn-refresh"><i class="el-icon-refresh-right"></i></el-button>
                            <!-- Restart btn here -->
                            <!-- <a href="#" class="btn-blue btn teer">
                                <i class="el-icon-s-operation"></i> Filter Settings
                             </a>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>

               <!-- <span style="float: right;" v-if="checkRole(['admin','fom manager'])">Notifications <el-switch @change="NotificationsUpdate" v-model="notifications" active-color="#13ce66" inactive-color="#ff4949"/></span> -->

        <el-form ref="form" :model="project" size="mini" v-loading="gettingProjectTasks">
            <el-card shadow="never" class="st-steps">
                <el-row :gutter="15" id="project-steps" class="project-stages">
                    <el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">
                        <el-tooltip class="item" effect="dark" content="Ctrl + <" placement="top-start">
                            <el-button class="step-arrow" v-shortkey="['ctrl','arrowleft']" @shortkey.native="previousStep" @click="previousStep" :disabled="activeStep === 0"><i class="el-icon-arrow-left"></i></el-button>
                        </el-tooltip>
                    </el-col>
                    <el-col :xs="22" :sm="22" :md="22" :lg="22" :xl="22">
                        <el-steps :active="activeStep" finish-status="success" align-center process-status="finish">
                            <el-step @click.native="setStep(0)" title="Project Commencement"/>
                            <el-step @click.native="setStep(1)" title="Drawing Approval"/>
                            <el-step @click.native="setStep(2)" title="NOC Approval"/>
                            <el-step @click.native="setStep(3)" title="Permit to Work"/>
                            <el-step @click.native="setStep(4)" title="Safety Inductions" />
                            <el-step @click.native="setStep(5)" title="Mobilisation"/>
                            <el-step @click.native="setStep(6)" title="Fit Out Works"/>
                            <el-step @click.native="setStep(7)" title="Completion"/>
                        </el-steps>
                    </el-col>

                    <el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">
                        <el-tooltip class="item" effect="dark" content="Ctrl + >" placement="top-start">
                            <el-button class="step-arrow" v-shortkey="['ctrl','arrowright']" @shortkey.native="nextStep"  @click="nextStep"><i class="el-icon-arrow-right"></i></el-button>
                        </el-tooltip>
                    </el-col>

                </el-row>
            </el-card>
            <el-card shadow="never" class="st-step-detail">
                <el-row>

                    <el-col :span="24">

                        <el-collapse v-model="activeGroup">

                        <el-row class="steps-col-title">
                            <el-col :span="24"><h5>Task List</h5> </el-col>
                            <el-col :span="12"><p>Title</p> </el-col>
                            <el-col :span="4"><p style="margin-left: -7px;">Reviewed By</p></el-col>
                            <el-col :span="4"><p style="margin-left: -20px;">Actioned By</p></el-col>
                            <el-col :span="4"><p style="margin-left: 12px;">Due Date</p></el-col>
                        </el-row>
                            <el-collapse-item
                                v-if="canViewTaskGroup(taskGroup)"
                                :name="taskGroup.id" v-for="(taskGroup,index) in taskGroupsSteps[step_name(activeStep)]"
                                :key="index">
                                <template slot="title">
                                    <el-row style="width: 100%;" class="group-title">
                                        <el-col :span="12">
                                            <arrow :up-word="taskGroup.setting.incoming"/>
                                            <strong>{{ taskGroup.setting.title }}</strong>
                                        </el-col>

                                        <el-col :span="4" class="avatars">
                                            <el-tooltip v-for="(user ,index) in taskGroup.receivers" :key="user.id" class="item" effect="dark" :content="`${user.fullname}`" placement="top">
                                                <el-avatar :src="user.avatar"/>
                                            </el-tooltip>
                                            <span v-if="!taskGroup.length">&nbsp;</span>
                                        </el-col>
                                        <el-col :span="4" class="avatars">
                                            <el-tooltip v-for="(user ,index) in taskGroup.senders" :key="user.id" class="item" effect="dark" :content="`${user.fullname}`" placement="top">
                                                <el-avatar :src="user.avatar"/>
                                            </el-tooltip>
                                            <span v-if="!taskGroup.length">&nbsp;</span>
                                        </el-col>

                                        <el-col :span="1">
                                            <i class="el-icon-s-comment" v-if="taskGroup.message"></i>

                                        </el-col>

                                        <bell :value="taskGroup.assigned"/>

                                        <el-col :span="1">
                                            <el-tooltip class="item" effect="dark" :content="taskGroup.date | fromNow" placement="top-start">
                                                <el-tag :type="taskGroup.datewarning ? 'success' : 'warning'">{{taskGroup.due_date |time('ll')}}</el-tag>
                                            </el-tooltip>
                                        </el-col>

                                    </el-row>
                                </template>
                                <div v-if="checkRole(['admin','fom manager'])" class="group-form">
                                    <el-form :inline="true" :model="taskGroup" style="width: 100%;">
                                        <el-row :gutter="20">
                                            <el-col :xs="12" :sm="6" :md="6" :lg="6" :xl="6">
                                                <el-form-item class="receiver-plus" label="Add Reviewed By">
                                                    <div class="res-img"><img v-for="(receiver,index) in taskGroup.receivers" :key="index" :src="receiver.avatar" />
                                                        <el-select  @change="saveGroupTask(taskGroup,'receiver')" v-model="taskGroup.receivers" value-key="id"  placeholder="Select User" multiple filterable>
                                                            <el-option class="sender-opt"
                                                                       v-for="(user, index) in users"
                                                                       :key="index"
                                                                       :label="``" :value="user">
                                                    <span style="float: left; height: 100%; line-height: 10px;">
                                                        <el-avatar style="width: 25px;height: 25px;line-height: 17px;margin-right: 8px;" :src="user.avatar"/>
                                                    </span>
                                                                <span> {{ user.fullname }}</span>
                                                            </el-option>
                                                        </el-select>
                                                    </div>

                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="12" :sm="6" :md="6" :lg="6" :xl="6">
                                                <el-form-item class="senders-plus" label="Actioned By">
                                                    <div class="res-img"><img v-for="(sender,index) in taskGroup.senders" :key="index" :src="sender.avatar" />
                                                        <el-select @change="saveGroupTask(taskGroup,'sender')" v-model="taskGroup.senders" value-key="id"  placeholder="Select User" multiple filterable>
                                                            <el-option class="sender-opt"
                                                                       v-for="(user, index) in users"
                                                                       :key="index"
                                                                       :label="``"
                                                                       :value="user">
                                                    <span style="float: left; height: 100%; line-height: 10px;">
                                                        <el-avatar style="width: 25px;height: 25px;line-height: 17px;margin-right: 8px;" :src="user.avatar"/>
                                                    </span>
                                                                <span style=""> {{ user.fullname }}</span>
                                                            </el-option>
                                                        </el-select>
                                                    </div>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="12" :sm="6" :md="6" :lg="6" :xl="6">
                                                <el-form-item label="Due Date">
                                                    <el-date-picker value-format="yyyy-MM-dd" @change="saveGroupTask(taskGroup)" type="date" placeholder="Pick a date" v-model="taskGroup.due_date"/>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="12" :sm="6" :md="6" :lg="6" :xl="6" style="text-align: right;">
                                                <!-- <el-form-item :label="`${ taskGroup.setting.incoming ? 'Assign to Senders':'Share with Receivers'}`">
                                                    <el-switch :active-value="1" :inactive-value="0" @change="taskGroupAssignAction(taskGroup)" v-model="taskGroup.assigned" active-color="#13ce66" inactive-color="#ff4949" style="margin-left: 15px"></el-switch>
                                                </el-form-item> -->

                                                <!-- <el-button type="warning" v-waves icon="el-icon-search"> </el-button> -->
                                                <el-button class="task-asign" :type="taskGroup.assigned? 'success':'warning'" v-waves :icon="taskGroup.assigned? 'el-icon-check':'el-icon-warning-outline'" @click="taskGroup.assigned = !taskGroup.assigned;taskGroupAssignAction(taskGroup)"> {{ taskGroup.assigned? 'Task Assigned':'Assign Task' }}</el-button>
                                            </el-col>
                                        </el-row>
                                    </el-form>
                                </div>
                                <hr style="margin: 18px 0px 0px;">
                                <el-row :gutter="25" align="top">

                                    <el-col class="st-tasks" :xs="24" :sm="12" :md="12" :lg="12" :xl="12" v-for="task in taskGroup.tasks" :key="task.id" v-if="display_task(task)">
                                        <div   >


                                            <h5>

                                                <strong>{{ task.setting.title }}</strong>
                                            </h5>
                                            <el-form class="all-tasks-form" ref="form" :model="task" :inline="true">

                                                <div v-if="task.setting.type === 'notification'">
                                                    <notification-task-body :task="task" />
                                                </div>

                                                <div v-else-if="task.setting.type === 'fill-up form'">
                                                    <fill-up-form :task="task"/>
                                                </div>

                                                <div v-else>
                                                    <div v-if="display_task_status(taskGroup)">
                                                        <el-form-item label="Status" >
                                                            <el-select @change="saveTaskOnStatusChange(task)" v-model="task.status" placeholder="Select Status" :disabled="!checkRole(['admin','fom manager'])">
                                                                <el-option label="Pending" value="Pending"/>
                                                                <el-option label="Uploaded" value="Uploaded"/>
                                                                <el-option label="Approved" value="Approved"/>
                                                                <el-option label="Rejected" value="Rejected"/>
                                                                <el-option label="Not Required" value="Not Required"/>
                                                            </el-select>
                                                        </el-form-item>


                                                    </div>
                                                    <div>
                                                        <el-upload
                                                            :headers="{Authorization:auth_token}"
                                                            class="upload-demo"
                                                            :data="{resource:'fom_tasks','resource_id':task.id}"
                                                            :on-success="handleTaskFileUpload"
                                                            :on-exceed="handleTaskFileUploadExceed"
                                                            action="api/images"
                                                            :limit="1"
                                                            :multiple="false"
                                                            :file-list="fileList">
                                                    <span slot="trigger">
                                                        <el-button size="small" type="primary" icon="el-icon-upload2" v-if="canUploadFileInTaskGroup(taskGroup)">Upload</el-button>
                                                    </span>
                                                            <el-popover
                                                                placement="top-start"
                                                                title="Downloaded By"
                                                                width="300"
                                                                trigger="hover">
                                                                <span v-for="user in task.downloader" :key="user.id" v-if="user">{{ user.user.fullname }} | {{ user.created_at|fromNow }}</span>
                                                                <span v-if="!task.downloader.length">No One Download this file yet! </span>
                                                                <br>
                                                                <a slot="reference" v-if="task.file_download" :href="task.file_download" class="el-button el-button--success el-button--small" download @click="fileDownloading" :class="{'is-disabled':fileIsDownloading}"><i class="el-icon-download"></i> Download</a>
                                                            </el-popover>
                                                        </el-upload>
                                                    </div>
                                                    <div class="task-comments">
                                                        <comments-index :comments="task.comments"/>
                                                    </div>
                                                </div>

                                            </el-form>
                                        </div>

                                    </el-col>
                                </el-row>

                            </el-collapse-item>
                        </el-collapse>
                    </el-col>
                </el-row>
            </el-card>

        </el-form>


    </div>
</template>

<script>
    import CommentsIndex from '@/components/Comments/CommentsIndex'; // Secondary package based on el-pagination
    import BackendErrors from '@/mixins/backend-errors';
    import waves from '@/directive/waves'; // Waves directive
    import permission from '@/directive/permission'; // Waves directive
    import {VMoney} from 'v-money'
    import checkRole from '@/utils/role';
    import role from '@/directive/role/index.js'
    import FomProjectResource from '@/api/fom_project'
    import FomTaskResource from '@/api/fom_task'
    import CommentResource from '@/api/comments'
    import User from '@/api/user'
    import Driver from 'driver.js'; // import driver.js
    import 'driver.js/dist/driver.min.css'; // import driver.js css
    import steps from './unit-stages-steps';
    import TaskTypeIcon from "./components/task-type-icon";
    import NotificationTaskBody from "./components/notification-task-body";
    import FillUpForm from "./forms/fill-up-form";
    import Arrow from "./components/arrow";
    import Bell from "./components/bell";
    import TasksTableHeader from "./components/tasks-table-header";

    import TaskGroupAssignResource from '@/api/TaskGroupAssign'
    const taskGroupAssignResource = new TaskGroupAssignResource();


    const fomProjectResource = new FomProjectResource();
    const fomTaskResource = new FomTaskResource();
    const commentResource = new CommentResource();

    const UserResource = new User();

    export default {
        name: 'ProjectStages',
        components: {
            TasksTableHeader,
            Bell,
            Arrow,
            FillUpForm,
            NotificationTaskBody,
            TaskTypeIcon,
            CommentsIndex
        },
        directives: { waves, permission, VMoney },
        mixins:[BackendErrors],
        data() {
            return {
                driver: null,
                taskGroupsStepsOne: null,
                notifications: false,
                fileIsDownloading: false,
                taskGroupsSteps:[],
                project: {},
                activeName:'1',
                total: 0,
                tempRoute:{},
                query: {
                    page: 1,
                    project_id: 1,
                    limit: 10,
                    keyword: '',
                },
                value: '',
                dialogImageUrl: '',
                dialogVisible: false,
                fileList:[],
                users:[],
                imageUrl: '',
                isPdf:false,
                dialogVisibleUser:false,
                gettingProjectTasks:false,
                activeGroup:'',
                activeStep:0,
            };
        },
        created() {
            this.query.project_id = this.$route.params.id;
            this.getProject();
            // this.getTaskGroups();
            this.getUsersList();
            this.tempRoute = Object.assign({}, this.$route);

            this.setTagsViewTitle();
        },
        mounted(){
            if (!localStorage.getItem("noDriverUnitStages")){
                this.driver = new Driver();
                this.driver.defineSteps(steps);
                this.driver.start();
                localStorage.setItem("noDriverUnitStages", 1);
            }
            if (this.$route.query.group){
                this.activeGroup = parseInt(this.$route.query.group);
            }
            if (this.$route.query.step){
                this.activeStep =  parseInt(this.$route.query.step);
            }
            if (localStorage.getItem('notifications') === 'true' && this.checkRole(['admin','fom manager'])){
                this.notifications = true;
            }
        },
        methods: {
            refreshPage(){
                document.location.reload();
            },
            display_task(task){
                if (this.checkRole(['admin','fom manager'])){
                    return true;
                }
                if(task.setting.type === 'file upload'
                    && task.status === 'Not Required'
                ){
                    return false;
                }
                return true;
            },
            display_task_status(taskGroup){
                if (this.checkRole(['admin','fom manager'])){
                    return true;
                }
                if(!taskGroup.setting.incoming){
                    return false;
                }
                return true;
            },
            checkRole,
            onSubmit(){

            },
            handlePreview(){
                console.log('handlePreview');
            },
            handleClick() {
                alert('button click');
            },
            nextStep() {
                if (++this.activeStep > 8) this.activeStep = 0;
            },
            setStep(step) {
                this.activeStep = step;
            },
            previousStep() {
                if (--this.activeStep < 0) this.activeStep = 0;
            },
            addTab(targetName) {
                let newTabName = ++this.internallytabIndex + '';
                this.internallyTabs.push({
                    title: 'New Internally',
                    name: newTabName,
                    content: 'New Tab content'
                });
                this.internallyTabsValue = newTabName;
            },
            removeTab(targetName) {
                let tabs = this.internallyTabs;
                let activeName = this.internallyTabsValue;
                if (activeName === targetName) {
                    tabs.forEach((tab, index) => {
                        if (tab.name === targetName) {
                            let nextTab = tabs[index + 1] || tabs[index - 1];
                            if (nextTab) {
                                activeName = nextTab.name;
                            }
                        }
                    });
                }

                this.internallyTabsValue = activeName;
                this.internallyTabs = tabs.filter(tab => tab.name !== targetName);
            },
            handleValuation(row){
                this.$router.push({name:'propertyValuation',params:{id:row.id}})
            },
            handleDefects(row){
                this.$router.push({name:'propertyDefects',params:{id:row.id}})
            },
            handleReports(row){
                this.$router.push({name:'propertyReports',params:{id:row.id}})
            },
            async getProject() {
                this.gettingProjectTasks = true;
                let vm = this;
                const { data } = await fomProjectResource
                    .getProjectWithTasks(this.query.project_id,this.query)
                    .finally(function(){
                        vm.gettingProjectTasks = false;
                    });
                this.project = data;
                this.taskGroupsSteps = data.task_groups_steps;
                if (!this.$route.query.step){
                    this.activeStep =  this.project.steps;
                }
            },
            async getUsersList() {
                const { data } = await UserResource.listAll();
                this.users = data;
            },
            setTagsViewTitle() {
                const title ='Unit Details'; // Should move to i18n
                const route = Object.assign({}, this.tempRoute, {
                    title: `${title} - [${this.$route.params.id}]`,
                });
                this.$store.dispatch('tagsView/updateVisitedView', route);
            },
            handleChange(val) {

            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            saveGroupTask(taskGroup,type){

                let editTaskGroup = {
                    id: taskGroup.id,
                    due_date: taskGroup.due_date,
                    assigned: taskGroup.assigned,
                    notifications: this.notifications,
                    receivers: taskGroup.receivers.map(user => {return {user_id:user.id,type:'receiver',project_id:this.project.id}}),
                    senders: taskGroup.senders.map(user => {return {user_id:user.id,type:'sender',project_id:this.project.id}}),
                    type: type,
                };

                this.$message.closeAll();
                fomProjectResource
                    .updateProjectTaskGroup(taskGroup.id,editTaskGroup)
                    .then(response => {
                        this.$message({
                            message: `Congrats, task group has been updated successfully.`,
                            type: 'success',
                            duration: 5 * 1000,
                        });
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.unitEditing = false;
                    });

            },
            taskGroupAssignAction(taskGroup){

                let assignTaskGroup = {
                    id: taskGroup.id,
                    due_date: taskGroup.due_date,
                    assigned: taskGroup.assigned,
                    notifications: this.notifications,
                };

                taskGroupAssignResource
                    .update(taskGroup.id,assignTaskGroup)
                    .then(response => {
                        this.$message({
                            message: `Congrats, task group has been ${taskGroup.assigned ? 'Assigned':'Un Assigned'} successfully.`,
                            type: 'success',
                            duration: 5 * 1000,
                        });
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.unitEditing = false;
                    });

            },
            saveTask(task){

                this.$message.closeAll();

                let editTask = {
                    id: task.id,
                    status: task.status,
                    notifications: this.notifications,
                };

                fomProjectResource
                    .updateProjectTask(task.id,editTask)
                    .then(response => {
                        this.$message({
                            message: `Congrats, task has been updated successfully.`,
                            type: 'success',
                            duration: 5 * 1000,
                        });
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.unitEditing = false;
                    });

            },
            saveTaskOnStatusChange(task, slient =false){
                this.$message.closeAll();
                let vm = this;

                if (!slient) {
                    this.$prompt('Do you want to comment', 'Comment', {
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel',
                    }).then(({value}) => {

                        let commentTask = {
                            commentable_id: task.id,
                            status: task.status,
                            comment: value,
                            commentable_type: 'fom_task',
                            notifications: vm.notifications,
                        };
                        commentResource
                            .store(commentTask)
                            .then(response => {
                                task.comments.push(response)
                            })
                            .catch(error => {
                                console.log(error);
                            })
                            .finally(() => {
                                // vm.unitEditing = false;
                            });

                    }).catch((error) => {


                    });
                }

                let editTask = {
                    id: task.id,
                    status: task.status,
                    notifications: vm.notifications,
                };
                fomProjectResource
                    .updateProjectTask(task.id,editTask)
                    .then(response => {
                        if (!slient){
                            vm.$message({
                                message: `Congrats, task has been updated successfully.`,
                                type: 'success',
                                duration: 5 * 1000,
                            });
                        }


                    })
                    .catch(error => {
                        console.log(error);
                    })
                    .finally(() => {
                        vm.unitEditing = false;
                    });


            },
            downlaodTaskFile(task){
                fomTaskResource
                    .downloadFile(task.id,task.file_download.mime_type,task.file_download.file_name)
                    .then(response => {
                        const url = window.URL.createObjectURL(new Blob([response.data],{type: "application/pdf"}));
                        console.log(url);
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', task.file_download.file_name);
                        link.setAttribute("target", "_blank");
                        document.body.appendChild(link);
                        link.click();
                    })
                    .catch(error => {
                        console.log(error);
                    })
                    .finally(() => {

                    });
            },
            handleTaskFileUpload(response, file, fileList){
                Object.keys(this.taskGroupsSteps).forEach((key => {
                    this.taskGroupsSteps[key].map(group =>{
                        group.tasks.map(task => {
                            if(task.id === response.data.fom_task.id){
                                // task.file_url = response.data.fom_task.file_url;
                                task.file_download = response.data.fom_task.file_download;
                                task.status = 'Uploaded';
                                this.saveTaskOnStatusChange(task,true);
                            }
                        })
                    });
                }));
                /*this.taskGroupsSteps.one.map(group =>{
                    group.tasks.map(task => {
                        if(task.id === response.data.fom_task.id){
                            // task.file_url = response.data.fom_task.file_url;
                            task.file_download = response.data.fom_task.file_download;
                            this.saveTaskOnStatusChange(task,true);
                        }
                    })
                });
                this.taskGroupsSteps.two.map(group =>{
                    group.tasks.map(task => {
                        if(task.id === response.data.fom_task.id){
                            task.file_url = response.data.fom_task.file_url;
                        }
                    })
                });
                this.taskGroupsSteps.three.map(group =>{
                    group.tasks.map(task => {
                        if(task.id === response.data.fom_task.id){
                            task.file_url = response.data.fom_task.file_url;
                        }
                    })
                });
                this.taskGroupsSteps.four.map(group =>{
                    group.tasks.map(task => {
                        if(task.id === response.data.fom_task.id){
                            task.file_url = response.data.fom_task.file_url;
                        }
                    })
                });
                this.taskGroupsSteps.five.map(group =>{
                    group.tasks.map(task => {
                        if(task.id === response.data.fom_task.id){
                            task.file_url = response.data.fom_task.file_url;
                        }
                    })
                });
                this.taskGroupsSteps.six.map(group =>{
                    group.tasks.map(task => {
                        if(task.id === response.data.fom_task.id){
                            task.file_url = response.data.fom_task.file_url;
                        }
                    })
                });
                this.taskGroupsSteps.seven.map(group =>{
                    group.tasks.map(task => {
                        if(task.id === response.data.fom_task.id){
                            task.file_url = response.data.fom_task.file_url;
                        }
                    })
                });
                this.taskGroupsSteps.eight.map(group =>{
                    group.tasks.map(task => {
                        if(task.id === response.data.fom_task.id){
                            task.file_url = response.data.fom_task.file_url;
                        }
                    })
                });*/
            },
            handleTaskFileUploadExceed(){

                this.$message({
                    message: `File limit exceed. Delete before upload new.`,
                    type: 'warning',
                    duration: 5 * 1000,
                });
            },
            hasInUsers(users){

                if (!users.length){
                    false;
                }

                return users.some((user) => user.id === this.current_user_id );
            },
            canViewTaskGroup(taskGroup){
                return this.checkRole(['admin','fom manager'])
                    || (taskGroup.assigned && (this.hasInUsers(taskGroup.receivers) || this.hasInUsers(taskGroup.senders)))

            },
            canUploadFileInTaskGroup(taskGroup){
                return this.checkRole(['admin','fom manager']) ||  this.hasInUsers(taskGroup.senders);
            },
            NotificationsUpdate(){
                localStorage.setItem('notifications',this.notifications);
            },
            fileDownloading(e){
                if (this.fileIsDownloading){
                    e.preventDefault();
                }
                this.fileIsDownloading = true;
                let vm = this;
                setTimeout(function () {
                    console.log('2 seconds');
                    vm.fileIsDownloading = false;
                }, 4000);
            },
            step_name(step){
                let names = [
                    'one',
                    'two',
                    'three',
                    'four',
                    'five',
                    'six',
                    'seven',
                    'eight',
                    'nine',
                ];

                return names[step];
            }
        },
        computed:{
            auth_token(){
                return `Bearer ${this.$store.getters.token}`;
            },
            current_user_id(){
                return this.$store.getters.userId;
            },
        }
    };
</script>

<style lang="scss" scoped>

.task-discussion {
    margin-left: 0;
    margin-top: 10px;
}

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
    .edit-input {
        padding-right: 100px;
    }
    .cancel-btn {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .dialog-footer {
        text-align: left;
        padding-top: 0;
        margin-left: 150px;
    }
    .app-container {
        flex: 1;
        justify-content: space-between;
        font-size: 14px;
        padding-right: 8px;
        .block {
            float: left;
            min-width: 250px;
        }
        .clear-left {
            clear: left;
        }
    }
    .el-dropdown {
        vertical-align: top;
    }
    .el-dropdown + .el-dropdown {
        margin-left: 15px;
    }
    .el-icon-arrow-down {
        font-size: 12px;
    }
    .el-collapse-item{
        padding-top: 10px;
    }
    .group-form{
        padding: 40px 25px 20px 25px;
        justify-content: center;
        display: flex;
        -webkit-box-shadow: inset -1px 3px 13px 1px rgba(0,0,0,0.07);
        -moz-box-shadow: inset -1px 3px 13px 1px rgba(0,0,0,0.07);
        box-shadow: inset -1px 3px 13px 1px rgba(0,0,0,0.07);
    }
    .el-step__title{
        cursor: pointer;
    }
    .unit-header{
        font-size: 20px;
    }

    .page-head {}
    .page-head h1 {
        font-size: 20px;
        font-weight: 800;
        color: #333333;
        margin: 0;
        margin-bottom: 8px;
    }


    .unit-list .el-step__title {
        line-height: 20px;
        font-size: 11px !important;
        letter-spacing: .5px !important;
        font-weight: bold !important;
    }

    .btn-refresh , .btn-refresh:focus , .btn-refresh:hover {
        padding: 10px;
        background: #dedede;
        color: #333333;
        font-size: 16px;
        height: 46px;
        border: 1px solid #c2c2c2;
        position: relative;
        top: 2px;
        width: 46px;
        outline: none;
        box-shadow: none;
    }


    .step-arrow {
        padding: 6px;
        color: #bcbbbb;
        background: none;
        outline: none;
        box-shadow: none;
        border: 1px solid #bcbbbb;
        border-radius: 100px;
        margin-top: 10px;
    }

    .step-arrow:hover , .step-arrow:visited , .step-arrow:focus , .step-arrow:active {
        background: #f3f3f3;
        border: 1px solid #bcbbbb;
        color: #bcbbbb;
        outline: none;
        box-shadow: none;
    }


</style>
