<template>
    <div class="app-container" id="app-container">
        <div class="page-head">
            <div class="container-fluid no-gutters" style="padding: 0;">
                <div class="row">
                    <div class="col-lg-7">
                        <h1>All Properties</h1>
                        <div class="breadcurm">
                            <el-breadcrumb separator="/">
                                <el-breadcrumb-item :to="{ path: '/' }">Dashboard</el-breadcrumb-item>
                                <el-breadcrumb-item>Fit-out Management</el-breadcrumb-item>
                            </el-breadcrumb>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="buttons">
                            <el-radio-group v-model="query.building_view" class="switch-radio" @change="getList">
                                <el-radio-button label="Units" :value="true">
                                    <svg-icon icon-class="view-col"/></el-radio-button>
                                <el-radio-button label="Buildings" :value="false">
                                    <svg-icon icon-class="view-agenda"/></el-radio-button>
                            </el-radio-group>


                            <button type="button" @click="filterView = !filterView" class="btn-blue btn" :class="{'teer':filterView}">
                                <i class="el-icon-s-operation"></i> Filter Settings
                            </button>
                            <el-button v-role="['admin','fom manager']" id="add-new-project" class="btn-red btn" @click="handleCreate"><i class="el-icon-plus"></i> Add New Project</el-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <transition name="slide-fade">
            <el-card v-loading="loading" v-if="filterView" shadow="never" class="ls-card filter-card">
                <h4>Filter Settings</h4>
                <div id="filter-container" class="filter-container">
                    <el-form :inline="true">
                        <!--<el-form-item  class="filter-item" >
                             <el-switch
                                     style="display: block"
                                     v-model="query.building_view"
                                     active-color="#13ce66"
                                     inactive-color="#ff4949"
                                     active-text="Buildings"
                                     inactive-text="Units">
                             </el-switch>
                         </el-form-item>-->

                        <el-row :gutter="20">
                            <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                                <el-form-item label="By Keywords" class="filter-item">
                                    <el-input v-model="query.keyword"  placeholder="Enter Keywords"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                                <el-form-item label="Building">
                                    <el-select v-model="query.building" placeholder="Select Building" clearable class="filter-item" filterable>
                                        <el-option v-for="building in buildings" :label="building.name" :value="building.id" :key="building.id" />
                                    </el-select>
                                </el-form-item>

                            </el-col>
                            <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                                <el-form-item label="Owner" v-role="['admin']">
                                    <el-select v-model="query.owner" placeholder="Select Owner" clearable class="filter-item" filterable>
                                        <el-option v-for="owner in owners" :label="owner.firstname+' '+owner.lastname" :value="owner.id"  :key="owner.id" />
                                    </el-select>
                                </el-form-item>
                            </el-col>

                            <el-col :xs="24" :sm="7" :md="7" :lg="7" :xl="7">
                                <el-form-item label="Tenant" v-role="['admin']">
                                    <el-select v-model="query.tenant" placeholder="select tenant" clearable class="filter-item" filterable>
                                        <el-option v-for="tenant in tenants" :label="tenant.firstname+' '+tenant.lastname" :value="tenant.id" :key="tenant.id" />
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="7" :md="7" :lg="7" :xl="7">
                                <el-form-item label="Contractor" v-role="['admin']">
                                    <el-select v-model="query.contractor" placeholder="select contractor" clearable class="filter-item" filterable>
                                        <el-option v-for="contractor in contractors" :label="contractor.firstname+' '+contractor.lastname" :value="contractor.id" :key="contractor.id" />
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="7" :md="7" :lg="7" :xl="7">
                                <el-form-item label="Status" >
                                    <el-select v-model="query.status" placeholder="Select Status" clearable filterable>
                                        <el-option  label="Occupied" value="Occupied" />
                                        <el-option  label="Rented" value="Rented" />
                                        <el-option  label="Filled" value="Filled" />
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="3" :md="3" :lg="3" :xl="3">




                                <el-button v-waves class="btn-red btn-search" @click="getList"><i class="el-icon-search"></i> Search</el-button>
                            </el-col>

                        </el-row>

                    </el-form>
                </div>
            </el-card>
        </transition>

        <el-row  v-if="(query.building_view === 'Units') && list.length" v-loading="loading" :gutter="25" shadow="never">
            <!-- building boxes -->

            <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8"  v-for="unit in list" :key="unit.id">

                <el-card class="unit-view" id="project-card">
                    <div slot="header" class="heading">
                        <h4>
                            <img src="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
                            <span> {{ unit.building.name }}</span>
                            <span class="status">{{ unit.status }}</span>
                        </h4>
                    </div>


                    <div class="unit-view-content">

                        <div class="details-section">
                            <div class="item">
                                <strong>Unit No.</strong>
                                <span> {{ unit.units }} </span>
                            </div>
                            <div class="item">
                                <strong>Owner:</strong>
                                <span>{{ unit.owner.firstname }} {{ unit.owner.lastname }}</span>
                            </div>
                            <div class="item">
                                <strong>Tenant: </strong>
                                <span  v-if="unit.tenant">{{ unit.tenant.firstname }} {{ unit.tenant.lastname }}</span>
                            </div>
                            <div class="item">
                                <strong>Contractor: </strong>
                                <span v-if="unit.contractor">{{ unit.contractor.firstname }} {{ unit.contractor.lastname }}</span>
                            </div>
                            <div class="items">
                                <div class="sub-item">
                                    <strong>Levels</strong><br>
                                    <span>{{ unit.levels }}</span>
                                </div>
                                <div class="sub-item">
                                    <strong>Type</strong><br>
                                    <span>{{ unit.type | uppercaseFirst }}</span>
                                </div>
                                <div class="sub-item">
                                    <strong>Area (ft²)</strong><br>
                                    <span>{{ unit.area }}</span>
                                </div>
                            </div>
                            <div id="project-current-status" class="levels-section">
                                <el-tooltip class="level " :class="{'complete': unit.steps >= 0}" effect="dark" content="Project Commencement" placement="top-start">
                                    <div class=""></div>
                                </el-tooltip>
                                <el-tooltip class="level" :class="{'complete': unit.steps >= 1}" effect="dark" content="Drawing Approval" placement="top-start">
                                    <div class=""></div>
                                </el-tooltip>
                                <el-tooltip class="level" :class="{'complete': unit.steps >= 2}" effect="dark" content="NOC Approval" placement="top-start">
                                    <div class=""></div>
                                </el-tooltip>
                                <el-tooltip class="level" :class="{'complete': unit.steps >= 3}" effect="dark" content="Permit to Work" placement="top-start">
                                    <div class=""></div>
                                </el-tooltip>
                                <el-tooltip class="level " :class="{'complete': unit.steps >= 4}" effect="dark" content="Safety Inductions" placement="top-start">
                                    <div class=""></div>
                                </el-tooltip>
                                <el-tooltip class="level " :class="{'complete': unit.steps >= 5}" effect="dark" content="Mobilisation" placement="top-start">
                                    <div class=""></div>
                                </el-tooltip>
                                <el-tooltip class="level " :class="{'complete': unit.steps >= 6}" effect="dark" content="Fit Out Works" placement="top-start">
                                    <div class=""></div>
                                </el-tooltip>
                                <el-tooltip class="level " :class="{'complete': unit.steps >= 7}" effect="dark" content="Completion" placement="top-start">
                                    <div class=""></div>
                                </el-tooltip>
                                <el-tooltip class="level " :class="{'complete': unit.steps >= 8}" effect="dark" content="Feedback" placement="top-start">
                                    <div class=""></div>
                                </el-tooltip>
                            </div>
                            <div class="button-section">
                                <div id="project-detail">
                                    <button type="button" class="view-details" @click="gotoUnitDetail(unit.id)"><i class="el-icon-view"></i> View</button>
                                </div>
                                <div id="project-edit">
                                    <button type="button" class="edit-details" @click="handleEdit(unit)"><i class="el-icon-edit"></i> Edit</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </el-card>


            </el-col>
        </el-row>


        <!-- Colunm View -->
        <el-row v-if="query.building_view === 'Buildings'" v-loading="loading" shadow="never" :gutter="25">
            <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8" v-for="building in buildings" :key="building.id">
                <el-card class="unit-view">
                    <div slot="header" class="heading">
                        <h4>
                            <img src="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
                            <span> {{ building.name }}</span>
                            <el-button type="text" @click="viewBuildingDetails(building.id)">Details</el-button>
                        </h4>

                    </div>
                    <div class="unit-view-content">
                        <p><strong>All Units:</strong></p>
                        <div class="unit-item-1">
                                <span v-for="project in building.projects" :key="project.id" @click="gotoUnitDetail(project.id)" class="unit-item" >
                                    {{ project.units }}
                                </span>
                        </div>
                    </div>

                </el-card>
            </el-col>
        </el-row>


        <el-dialog title="Add New Project" class="st-popup" :visible.sync="dialogFormVisible">
            <el-dialog class="inner-plus-popup"

                       title="Add Owner"
                       :visible.sync="dialogOwnerVisible"
                       append-to-body>
                <user-create-with-role set-role="owner" @created="refreshUsers"/>
            </el-dialog>
            <el-dialog class="inner-plus-popup"

                       title="Add Tenant"
                       :visible.sync="dialogTenantVisible"
                       append-to-body>
                <user-create-with-role set-role="tenant" @created="refreshUsers"/>
            </el-dialog>
            <el-dialog class="inner-plus-popup"

                       title="Add Contractor"
                       :visible.sync="dialogContractorVisible"
                       append-to-body>
                <user-create-with-role set-role="contractor" @created="refreshUsers"/>
            </el-dialog>

            <div class="form-container" v-loading="unitCreating">
                <el-row :gutter="20">
                    <el-form :model="newUnit" :inline="true">
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Select Building" :error="get('building')">
                                <el-select v-model="newUnit.building" placeholder="Select building" filterable allow-create>
                                    <el-option v-for="building in buildings" :label="building.name" :value="building.id" :key="building.id" />
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Units" :error="get('units')">
                                <el-input v-model="newUnit.units" placeholder="Add units here"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <select-user-with-role class="select-multi-add" :users="users" v-model="newUnit.owner" label="Select Owner" :error="get('owner')" placeholder="Select owner" @add-new="dialogOwnerVisible = true" />
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <select-user-with-role class="select-multi-add" :users="users" v-model="newUnit.tenant" label="Select Tenant" :error="get('tenant')" placeholder="Select owner" @add-new="dialogTenantVisible = true"/>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <select-user-with-role class="select-multi-add" :users="users" v-model="newUnit.contractor" label="Select contractor" :error="get('contractor')" placeholder="Select contractor" @add-new="dialogContractorVisible = true"/>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Select Status" :error="get('status')">
                                <el-select v-model="newUnit.status" placeholder="Select status" filterable allow-create>
                                    <el-option  label="Occupied" value="Occupied" />
                                    <el-option  label="Rented" value="Rented" />
                                    <el-option  label="Filled" value="Filled" />
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="OA Email" :error="get('oa_email')">
                                <el-input v-model="newUnit.oa_email" placeholder="Add OA Email here"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Build. Manag. Email" :error="get('building_management_email')">
                                <el-input v-model="newUnit.building_management_email" placeholder="Add Build. Manag. Email here"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Select Type" :error="get('type')">
                                <el-select v-model="newUnit.type" placeholder="Select type" filterable allow-create>
                                    <el-option  label="Residencial" value="Residencial" />
                                    <el-option  label="Office" value="Office" />
                                    <el-option  label="Retail" value="Retail" />
                                    <el-option  label="Shop" value="Shop" />
                                    <el-option  label="Building" value="Building" />
                                    <el-option  label="Villa" value="Villa" />
                                    <el-option  label="Property" value="Property" />
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Area (ft²)" :error="get('area')">
                                <el-input v-model="newUnit.area" placeholder="Add area (ft²) here"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Levels" :error="get('levels')">
                                <el-input v-model="newUnit.levels" placeholder="Enter Levels here"/>
                            </el-form-item>
                        </el-col>
                    </el-form>

                    <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                        <el-button class="btn btn-cancel" @click="dialogFormVisible = false">
                            {{ $t('table.cancel') }}
                        </el-button>
                        <el-button type="primary" class="btn btn-blue" @click="createUnit()">
                            {{ $t('table.confirm') }}
                        </el-button>
                    </el-col>

                </el-row>

            </div>
        </el-dialog>


        <el-dialog title="Edit Project" class="st-popup" :visible.sync="dialogEditFormVisible">
            <el-dialog class="inner-plus-popup" title="Add Owner" :visible.sync="dialogOwnerVisible" append-to-body>
                <user-create-with-role set-role="owner" @created="refreshUsers"/>
            </el-dialog>
            <el-dialog class="inner-plus-popup"

                       title="Add Tenant"
                       :visible.sync="dialogTenantVisible"
                       append-to-body>
                <user-create-with-role set-role="tenant" @created="refreshUsers"/>
            </el-dialog>
            <el-dialog class="inner-plus-popup"

                       title="Add Contractor"
                       :visible.sync="dialogContractorVisible"
                       append-to-body>
                <user-create-with-role set-role="contractor" @created="refreshUsers"/>
            </el-dialog>
            <div class="form-container" v-loading="unitEditing">
                <el-row :gutter="20">

                    <el-form :model="editUnit"  :inline="true">
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Select Building" :error="get('owner')">
                                <el-select v-model="editUnit.building" placeholder="Select building" filterable>
                                    <el-option v-for="building in buildings" :label="building.name" :value="building.id" :key="building.id" />
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Units" :error="get('units')">
                                <el-input v-model="editUnit.units"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <select-user-with-role class="select-multi-add"  :users="users" v-model="editUnit.owner" label="Select Owner" :error="get('owner')" placeholder="Select Owner" @add-new="dialogOwnerVisible = true"/>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <select-user-with-role class="select-multi-add"  :users="users" v-model="editUnit.tenant" label="Select Tenant" :error="get('tenant')" placeholder="Select Tenant" @add-new="dialogTenantVisible = true"/>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <select-user-with-role class="select-multi-add"  :users="users" v-model="editUnit.contractor" label="Select contractor" :error="get('contractor')" placeholder="Select contractor" @add-new="dialogContractorVisible = true"/>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="OA Email" :error="get('oa_email')">
                                <el-input v-model="editUnit.oa_email"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Build. Manag. Email" :error="get('building_management_email')">
                                <el-input v-model="editUnit.building_management_email"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Select Status" :error="get('status')">
                                <el-select v-model="editUnit.status" placeholder="Select status" filterable allow-create>
                                    <el-option  label="Occupied" value="Occupied" />
                                    <el-option  label="Rented" value="Rented" />
                                    <el-option  label="Filled" value="Filled" />
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Select Type" :error="get('type')">
                                <el-select v-model="editUnit.type" placeholder="Select type" filterable allow-create>
                                    <el-option  label="Residencial" value="Residencial" />
                                    <el-option  label="Office" value="Office" />
                                    <el-option  label="Retail" value="Retail" />
                                    <el-option  label="Shop" value="Shop" />
                                    <el-option  label="Building" value="Building" />
                                    <el-option  label="Villa" value="Villa" />
                                    <el-option  label="Property" value="Property" />
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Area (ft²)" :error="get('area')">
                                <el-input v-model="editUnit.area"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Levels" :error="get('levels')">
                                <el-input v-model="editUnit.levels"/>
                            </el-form-item>
                        </el-col>
                    </el-form>
                    <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                        <el-button class="btn btn-cancel" @click="dialogEditFormVisible = false">
                            {{ $t('table.cancel') }}
                        </el-button>
                        <el-button class="btn btn-blue" type="primary" @click="EditUnit()">
                            {{ $t('table.confirm') }}
                        </el-button>


                    </el-col>
                </el-row>
            </div>
        </el-dialog>

        <pagination  v-if="!query.building_view" v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.limit" @pagination="getList"/>

    </div>
</template>

<script>
    import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
    import UserCreateWithRole from '@/components/UserCreate'; // Secondary package based on el-pagination
    import SelectUserWithRole from '@/components/SelectUserWithRole'; // Secondary package based on el-pagination
    import role from '@/directive/role/index.js'
    import BackendErrors from '@/mixins/backend-errors';
    import waves from '@/directive/waves'; // Waves directive
    import permission from '@/directive/permission'; // Waves directive
    import Driver from 'driver.js'; // import driver.js
    import 'driver.js/dist/driver.min.css'; // import driver.js css
    import steps from './unit-list-steps';
    import UserResource from '@/api/user';
    const userResource = new UserResource();
    import FomProjectResource from '@/api/fom_project';
    const fomProjectResource = new FomProjectResource();
    import BuildingResource from '@/api/building';
    const buildingResource = new BuildingResource();
    import {uppercaseFirst} from "@/filters";

    export default {
        name: 'FitOutManagementList',
        components: { Pagination, UserCreateWithRole,SelectUserWithRole },
        directives: { waves, permission, uppercaseFirst, role },
        mixins:[BackendErrors],
        mounted(){
            if (!localStorage.getItem("noDriverUnitList")){
                this.driver = new Driver();
                this.driver.defineSteps(steps);
                this.driver.start();
                localStorage.setItem("noDriverUnitList", 1);
            }
        },
        data() {
            return {
                list:[],
                users:[],
                tenants:[],
                owners:[],
                contractors:[],
                buildings:[],
                query: {
                    building_view:'Buildings',
                    keyword: '',
                    page: 1,
                    building: '',
                    tenant: '',
                    owner: '',
                    contractor: '',
                    status: '',
                    limit: 10,
                },
                total:0,
                dialogFormVisible:false,
                dialogOwnerVisible:false,
                dialogTenantVisible:false,
                dialogContractorVisible:false,
                dialogEditFormVisible:false,
                newUnit:{},
                editUnit:{},
                unitCreating:false,
                driver: null,
                unitEditing: null,
                filterView:false,
            };
        },
        created() {
            this.getList();
            this.getUsers();
            this.getBuildings();
        },
        methods:{
            async getList() {
                const { limit, page } = this.query;
                this.loading = true;
                const { data, meta } = await fomProjectResource.list(this.query);
                this.list = data;

                this.list.forEach((element, index) => {
                    element['index'] = (page - 1) * limit + index + 1;
                });
                /*this.list = this.list.map(v => {
                    this.$set(v, 'edit', false); // https://vuejs.org/v2/guide/reactivity.html
                    this.$set(v, 'new_status', v.status_id);
                    return v
                })*/
                this.total = meta.total;
                this.loading = false;
            },
            async getUsers() {
                const { data, meta } = await userResource.listAll();
                // this.users = this.getAll();
                /* this.contractors = this.getUsersHasRole('contractor',data);
                 this.owners = this.getUsersHasRole('owner',data);*/
                this.users = data;
            },
            refreshUsers(){
                this.getUsers();
                this.dialogOwnerVisible = false;
                this.dialogTenantVisible = false;
                this.dialogContractorVisible = false;
            },
            async getBuildings() {
                const { data } = await buildingResource.listAll();
                this.buildings = data;
            },
            getUsersHasRole(role_name,users){
                return users.filter(function (user) {
                    let roles = [];
                    roles =  user.roles.filter(function (role) {
                        return role.name === role_name;
                    });
                    return roles.length;
                });
            },
            gotoUnitDetail(id){
                this.$router.push({name:'UnitDetail',params:{id}});
            },
            handleCreate() {
                this.resetNewUnit();
                this.clear();
                this.dialogFormVisible = true;
            },
            handleEdit(unit) {
                this.resetEditUnit(unit);
                this.clear();
                this.dialogEditFormVisible = true;
            },
            resetNewUnit() {
                this.newUnit = {
                    building : '',
                    units:'',
                    owner : '',
                    tenant : '',
                    contractor : '',
                    type : '',
                    status : '',
                    levels : '',
                    oa_email : '',
                    building_management_email : '',
                };
            },
            resetEditUnit(unit) {
                this.editUnit = {
                    id : unit.id,
                    building : unit.building_id,
                    units : unit.units,
                    owner : unit.owner_id,
                    tenant : unit.tenant_id,
                    contractor : unit.contractor_id,
                    type : unit.type,
                    status : unit.status,
                    area : unit.area,
                    levels : unit.levels,
                    oa_email : unit.oa_email,
                    building_management_email : unit.building_management_email,
                };
            },
            createUnit(){
                this.unitCreating = true;
                fomProjectResource
                    .store(this.newUnit)
                    .then(response => {
                        this.$message({
                            message: `Congrats, unit has been created successfully.`,
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.resetNewUnit();
                        this.dialogFormVisible = false;
                        this.getList();
                        this.getBuildings();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.unitCreating = false;
                    });
            },
            EditUnit(){
                this.unitEditing = true;
                fomProjectResource
                    .update(this.editUnit.id,this.editUnit)
                    .then(response => {
                        this.$message({
                            message: `Congrats, unit has been updated successfully.`,
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.dialogEditFormVisible = false;
                        this.clear();
                        this.getList();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.unitEditing = false;
                    });
            },
            viewBuildingDetails(building){
                this.query.building = building;
                this.query.building_view = 'Units';
                this.getList();
            },
        },
    };
</script>

<style lang="scss" scoped>
    .units-list{
        display: inline-block;
        min-height: 150px;
        border-right: 1px solid #eff2f6;
        box-sizing: border-box;
        vertical-align: top;
        box-shadow: 0 8px 16px 0 rgba(40,40,90,.09), 0 3px 6px 0 rgba(0,0,0,.065);
    }
    .units-list .building-name-section{
        text-transform: capitalize;
        font-weight: 600;
        /*text-align: center;*/
        padding: 25px 45px;
        background-color: #0e406b;
        color: white;
    }
    .units-list .building-name{
        text-transform: uppercase;
        font-weight: 400;
        line-height: 28px;
        /*text-align: center;*/
        /*padding: 20px 20px;*/
        /*background-color: #0e406b;*/
        /*color: white;*/
    }

    .units-list .details-section .items .sub-item{
        flex: 1;
    }
    .levels-section{
        display: flex;
        height: 5px;
        /*border: 1px solid red;*/
        margin: 30px 0;
        background-color: #e3e7e8;
    }
    .levels-section .level{
        flex: 1;
        height: 28px;
        background-color: #e3e7e8;
        margin: 8px;
        border-radius: 110px;
        position: relative;
        top: -20px;
        width: 40px;
    }
    .levels-section .level:first-child{
        margin-left: 0;
    }
    .levels-section .level:last-child{
        margin-right: 0;
    }
    .levels-section .level.complete{
        background-color: #0e406b;
    }
    .button-section{
        display: flex;
    }
    .button-section .button{
        flex: 1;
        margin: 5px;
    }
    .button-section .button button{
        cursor: pointer;
        background-color: #0e406b;
        padding: 6px;
        width: 100%;
        color: white;
        font-weight: 500;
        border: 0;
        border-radius: 50px;
        font-size: 15px;
        outline: 0;

    }
    .box-card{

    }

    .unit-item{
        cursor: pointer;
    }

    .page-head {}
    .page-head h1 {
        font-size: 25px;
        font-weight: 800;
        color: #333333;
        margin: 0;
        margin-bottom: 8px;
    }

    .unit-view {
        font-size: 18px;
    }

    .unit-view .heading {
        font-size: 18px;
    }
    .unit-view .heading h4 {
        font-size: 18px;
        color: #003258;
        font-weight: 700;
        letter-spacing: .5px;
        text-transform: uppercase;
        margin: 0;
    }

    .unit-view .heading h4 span {
        max-width: 180px;
        display: inline-block;
        overflow: hidden;
        max-height: 18px;
        position: relative;
        top: 2px;
    }

    .unit-view .heading h4 img {
        max-width: 38px;
        max-height: 38px;
        min-width: 38px;
        min-height: 38px;
        border-radius: 3px;
        margin-right: 10px;
    }

    .unit-view .heading h4 button , span.status {
        font-size: 11px;
        float: right;
        font-weight: 700;
        letter-spacing: .5px;
        color: #f1f1f1;
        background: #003258;
        border-radius: 3px;
        box-shadow: none;
        text-transform: uppercase;
        outline: none;
        padding: 7px 12px;
        margin-top: 5px;
        max-height: unset !important;
    }

    .unit-view .unit-view-content {
        padding: 1px;
    }

    .unit-view .unit-view-content p {
        margin-bottom: 8px;
        line-height: 10px;
    }
    .unit-view .unit-view-content p strong {
        font-size: 14px;
        color: #333333;
    }
    .unit-view .unit-view-content .unit-item-1 {
        margin: 0 -6px;
    }
    .unit-view .unit-view-content span.unit-item {
        color: #777777;
        font-size: 14px;
        font-weight: 700;
        background: #e0e0e0;
        padding: 9px 13px;
        border-radius: 3px;
        margin: 6px 6px !important;
        display: inline-block;
        width: calc( 25% - 12px);
        text-align: center;
    }

    .unit-view .el-card__body {
        padding: 20px !important;
    }


    .unit-view .details-section{

    }
    .unit-view .details-section .item{
        background-color: #f1f1f1;
        line-height: 20px;
        max-height: 50px;
        font-size: 14px;
        letter-spacing: .5px;
        overflow: hidden;
        border-bottom: 1px solid #fff;
        color: #707070;
    }
    .unit-view .details-section .item strong {
        padding: 12px 15px;
        display: inline-block;
        min-width: 130px;
        border-right: 1px solid #fff;
    }
    .unit-view .details-section .item span {
        padding: 12px 15px;
        display: inline-block;
    }
    .unit-view .details-section .items{
        background-color: #e0e0e0;
        line-height: 20px;
        font-size: 14px;
        overflow: hidden;
        color: #707070;
        letter-spacing: .5px;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    .unit-view .details-section .items .sub-item {
        padding: 12px 15px;
        border-right: 1px solid #fff;
        letter-spacing: .5px;
    }

    .view-details {
        padding: 8px 15px;
        color: #fff;
        border-radius: 3px;
        margin-right: 10px;
        font-size: 12px;
        cursor: pointer;
        letter-spacing: .5px;
        border: none;
        outline: none;
        box-shadow: none;
        background: #222222;
    }
    .view-details i , .edit-details i {
        margin-right: 2px;
    }
    .edit-details {
        padding: 8px 15px;
        color: #fff;
        border-radius: 3px;
        margin-right: 10px;
        font-size: 12px;
        cursor: pointer;
        letter-spacing: .5px;
        border: none;
        outline: none;
        box-shadow: none;
        background: #444;
    }

    .btn-red {
        background: #9e0d21;
    }

    .btn-red:hover, .btn-red:active , .btn-red:focus {
        background: #880a1b !important;
        color: #fff;
        outline: none;
        box-shadow: none;
    }


    .btn-blue , .btn-blue:hover , .btn-blue:active , .btn-blue:focus{
        background: #003258;
        color: #fff;
        border: 1px solid #003258 !important;
        outline: none;
        box-shadow: none;
    }


    .st-popup .btn-blue {
        padding: 12px 25px;
        margin-top: 10px;
    }
    .inner-plus-popup .btn-blue {
        padding: 12px 25px;
        margin-top: 10px;
        margin-left: 0;
    }

    .btn-cancel {
        background: #fff !important;
        color: #9e0d21 !important;
        border: 1px solid #9e0d21 !important;
        margin-left: 0px !important;
        padding: 12px 25px;
        margin-top: 10px;
        outline: none;
        box-shadow: none;
    }

    .st-drwwer .btn-cancel , .st-drwwer .btn-red {
        padding: 12px 25px;
        margin-top: 0;
        border: 1px solid #9e0d21 !important;
    }

    .req-popup .btn-cancel {
        margin-top: 0;
        border-radius: 5px;
        padding: 13px 20px;
    }

    .btn-search {
        padding: 11px 20px;
        margin-left: 0px;
        color: #fff;
        font-size: 14px;
        line-height: 14px;
        border: none;
        margin-top: 25px;
        width: 100%;
    }

</style>
