<template>
  <div>
    <div class="form-container" v-loading="userCreating">
      <el-form :model="newUser" label-position="left" label-width="150px" style="max-width: 500px;">
        <el-form-item label="First Name" :error="get('firstname')">
          <el-input v-model="newUser.firstname" />
        </el-form-item>
        <el-form-item label="Last Name" :error="get('lastname')">
          <el-input v-model="newUser.lastname" />
        </el-form-item>
        <el-form-item :label="$t('user.email')" :error="get('email')">
          <el-input v-model="newUser.email" />
        </el-form-item>
        <el-form-item :label="$t('user.password')" :error="get('password')">
          <el-input v-model="newUser.password" show-password />
        </el-form-item>
        <el-form-item :label="$t('user.confirmPassword')" :error="get('password_confirmation')">
          <el-input v-model="newUser.password_confirmation" show-password />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
       <!-- <el-button @click="dialogFormVisible = false">
          {{ $t('table.cancel') }}
        </el-button>-->
        <el-button type="primary" @click="createUser()">
          {{ $t('table.confirm') }}
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
    import BackendErrors from '@/mixins/backend-errors';

    import UserResource from '@/api/user';
    const userResource = new UserResource();

    export default {
        name: 'CreateUser',
        mixins:[BackendErrors],
        props: {
            value: [ Number ],
            setRole: [ String ],
        },
        data() {
            return {
                currentValue: this.value,
                userCreating: false,
                newUser: {},
            }
        },
        watch: {
            value(newValue) {
                this.currentValue = newValue;
            },
        },
        mounted(){
            this.resetNewUser();
        },
        methods: {
            createUser() {
                this.newUser.roles = [this.newUser.role];
                this.userCreating = true;
                userResource
                    .store(this.newUser)
                    .then(response => {
                        this.$message({
                            message: 'New user ' + this.newUser.name + '(' + this.newUser.email + ') has been created successfully.',
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.resetNewUser();
                        this.clear();
                        this.$emit('created');
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.userCreating = false;
                    });
            },
            handleInput(event) {
                const value = event.target.value;
                this.$emit('input', value);
                this.$emit('change', value);
            },
            resetNewUser() {
                this.newUser = {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    role: this.setRole,
                };
            },
        },
    };
</script>

<style rel="stylesheet/scss" lang="scss" scoped>

</style>
