<template>
    <div class="app-container">

        <div class="filter-container">
            <el-input v-model="query.keyword" :placeholder="$t('table.keyword')" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
            <el-button v-waves type="primary" icon="el-icon-search" @click="handleFilter">
                {{ $t('table.search') }}
            </el-button>
            <el-button style="margin-left: 10px;" type="primary" icon="el-icon-plus" @click="handleCreate" >
                {{ $t('table.add') }}
            </el-button>
        </div>

        <el-table v-loading="loading" ref="multipleTable" :data="list" border fit highlight-current-row style="width: 100%">


            <el-table-column align="center" label="ID" width="80">
                <template slot-scope="scope">
                    <span>{{ scope.row.index }}</span>
                </template>
            </el-table-column>

            <el-table-column width="150" align="center" :label="$t('table.name')">
                <template slot-scope="scope">
                    <span>{{ scope.row.name | uppercaseFirst }}</span>
                </template>
            </el-table-column>

            <el-table-column align="left" :label="$t('table.description')">
                <template slot-scope="scope">
                    <span>{{ scope.row.description }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Actions" width="300" v-if="checkPermission(['manage permission'])">
                <template slot-scope="scope">
                    <el-button type="primary" size="small" icon="el-icon-edit" @click="handleEditPermissions(scope.row.id);" v-permission="['manage permission']" v-if="scope.row.name !== 'admin'">
                        {{ $t('permission.editPermission') }}
                    </el-button>
                    <el-button type="warning" size="small" icon="el-icon-edit" @click="handleEdit(scope.row)" v-if="scope.row.name !== 'admin'"> Edit </el-button>
                </template>
            </el-table-column>
        </el-table>

        <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.limit" @pagination="getList" />

        <el-dialog :visible.sync="dialogVisible" :title="'Edit Permissions - ' + currentRole.name">
            <div class="form-container" v-loading="dialogLoading">
                <div class="permissions-container">
                    <div class="block">
                        <el-form :model="currentRole" label-width="80px" label-position="top">
                            <el-form-item label="Menus">
                                <el-tree ref="menuPermissions" :data="menuPermissions" :default-checked-keys="permissionKeys(roleMenuPermissions)" :props="permissionProps" show-checkbox node-key="id" class="permission-tree" />
                            </el-form-item>
                        </el-form>
                    </div>
                    <div class="block">
                        <el-form :model="currentRole" label-width="80px" label-position="top">
                            <el-form-item label="Permissions">
                                <el-tree ref="otherPermissions" :data="otherPermissions" :default-checked-keys="permissionKeys(roleOtherPermissions)" :props="permissionProps" show-checkbox node-key="id" class="permission-tree" />
                            </el-form-item>
                        </el-form>
                    </div>
                    <div class="clear-left"></div>
                </div>
                <div style="text-align:right;">
                    <el-button type="danger" @click="dialogVisible=false">
                        {{ $t('permission.cancel') }}
                    </el-button>
                    <el-button type="primary" @click="confirmPermission">
                        {{ $t('permission.confirm') }}
                    </el-button>
                </div>
            </div>
        </el-dialog>

        <el-dialog :title="'Create new role'" :visible.sync="dialogFormVisible">
            <div class="form-container" v-loading="resourceCreating">
                <el-form ref="roleForm" :model="newResource" label-position="left" label-width="150px" style="max-width: 500px;">
                    <el-form-item :label="$t('user.name')" :error="get('name')">
                        <el-input v-model="newResource.name" @change="clear('name')"/>
                    </el-form-item>
                    <el-form-item label="Description" :error="get('description')">
                        <el-input v-model="newResource.description"  @change="clear('description')" type="textarea"/>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">
                        {{ $t('table.cancel') }}
                    </el-button>
                    <el-button type="primary" @click="createResource()">
                        {{ $t('table.confirm') }}
                    </el-button>
                </div>
            </div>
        </el-dialog>
        <el-dialog :title="'Edit role'" :visible.sync="dialogEditFormVisible">
            <div class="form-container" v-loading="resourceEditing">
                <el-form ref="roleEditForm" :model="editResource" label-position="left" label-width="150px" style="max-width: 500px;">
                    <el-form-item :label="$t('user.name')">
                        <el-input v-model="editResource.name" disabled/>
                    </el-form-item>
                    <el-form-item label="Description" :error="get('description')">
                        <el-input v-model="editResource.description" type="textarea"/>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogEditFormVisible = false">
                        {{ $t('table.cancel') }}
                    </el-button>
                    <el-button type="primary"  @click="editRole()">
                        Confirm Edit
                    </el-button>
                </div>
            </div>
        </el-dialog>

    </div>
</template>

<script>
    import Pagination from '@/components/Pagination';
    import Resource from '@/api/resource';
    import RoleResource from '@/api/role';
    import waves from '@/directive/waves'; // Waves directive
    import permission from '@/directive/permission'; // Permission directive (v-permission)
    import checkPermission from '@/utils/permission'; // Permission checking
    import BackendErrors from '@/mixins/backend-errors'
    const roleResource = new RoleResource();
    const permissionResource = new Resource('permissions');

    export default {
        name: 'RoleList',
        directives: { waves, permission },
        components: { Pagination },
        mixins: [ BackendErrors ],
        data() {
            return {
                query: {
                    page: 1,
                    limit: 10,
                    keyword: '',
                },
                total: 0,
                newResource: {},
                resourceCreating: false,
                resourceEditing: false,
                dialogFormVisible: false,
                currentRoleId: 1,
                list: [],
                loading: true,
                dialogLoading: false,
                dialogVisible: false,
                dialogEditFormVisible: false,
                permissions: [],
                menuPermissions: [],
                otherPermissions: [],
                permissionProps: {
                    children: 'children',
                    label: 'name',
                    disabled: 'disabled',
                },
                editResource:{
                    id: '',
                    name: '',
                    description: '',
                }
            };
        },
        computed: {
            currentRole() {
                const found = this.list.find(role => role.id === this.currentRoleId);
                if (found === undefined) {
                    return { name: '', permissions: [] };
                }

                return found;
            },
            rolePermissions() {
                return this.classifyPermissions(this.currentRole.permissions).all;
            },
            roleMenuPermissions() {
                return this.classifyPermissions(this.currentRole.permissions).menu;
            },
            roleOtherPermissions() {
                return this.classifyPermissions(this.currentRole.permissions).other;
            },
        },
        created() {
            this.getRoles();
            this.getPermissions();
        },
        methods: {
            checkPermission,
            async getRoles() {
                this.loading = true;
                const { data } = await roleResource.list({});
                this.list = data;
                this.list.forEach((role, index) => {
                    role['index'] = index + 1;
                });
                this.loading = false;
            },
            createResource() {
                this.resourceCreating = true;
                roleResource
                    .store(this.newResource)
                    .then(response => {
                        this.$message({
                            message: 'New role (' + this.newResource.name + ') has been created successfully.',
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.resetNewResource();
                        this.dialogFormVisible = false;
                        this.handleFilter();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.resourceCreating = false;
                    });
            },
            editRole() {
                this.resourceEditing = true;
                roleResource
                    .updateInfo(this.editResource.id,this.editResource)
                    .then(response => {
                        this.$message({
                            message: 'role (' + this.editResource.name + ') has been updated successfully.',
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.dialogEditFormVisible = false;
                        this.handleFilter();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.resourceEditing = false;
                    });
            },
            async getPermissions() {
                const { data } = await permissionResource.list({});
                const { all, menu, other } = this.classifyPermissions(data);
                this.permissions = all;
                this.menuPermissions = menu;
                this.otherPermissions = other;
            },
            handleFilter() {
                this.query.page = 1;
                this.getList();
            },
            handleCreate() {
                this.resetNewResource();
                this.clear();
                this.dialogFormVisible = true;
                this.$nextTick(() => {
                    this.$refs['roleForm'].clearValidate();
                });
            },
            handleEdit(role) {
                this.setEditForm(role);
                this.dialogEditFormVisible = true;
                this.$nextTick(() => {
                    this.$refs['roleEditForm'].clearValidate();
                });
            },
            setEditForm(role){
                this.editResource = {
                    id: role.id,
                    name: role.name,
                    description: role.description,
                };
            },
            resetNewResource() {
                this.newResource = {
                    name: '',
                    description: '',
                };
            },
            async getList() {
                const { limit, page } = this.query;
                this.loading = true;
                const { data, meta } = await roleResource.list(this.query);
                this.list = data;
                this.list.forEach((element, index) => {
                    element['index'] = (page - 1) * limit + index + 1;
                });
                this.total = meta.total;
                this.loading = false;
            },
            classifyPermissions(permissions) {
                const all = []; const menu = []; const other = [];
                permissions.forEach(permission => {
                    const permissionName = permission.name;
                    all.push(permission);
                    if (permissionName.startsWith('view menu')) {
                        menu.push(this.normalizeMenuPermission(permission));
                    } else {
                        other.push(this.normalizePermission(permission));
                    }
                });
                return { all, menu, other };
            },
            normalizeMenuPermission(permission) {
                return { id: permission.id, name: this.$options.filters.uppercaseFirst(permission.name.substring(10)) };
            },
            normalizePermission(permission) {
                return { id: permission.id, name: this.$options.filters.uppercaseFirst(permission.name), disabled: permission.name === 'manage permission' };
            },
            permissionKeys(permissions) {
                return permissions.map(permssion => permssion.id);
            },
            handleEditPermissions(id) {
                this.dialogVisible = true;
                this.currentRoleId = id;
                this.$nextTick(() => {
                    this.$refs.menuPermissions.setCheckedKeys(this.permissionKeys(this.roleMenuPermissions));
                    this.$refs.otherPermissions.setCheckedKeys(this.permissionKeys(this.roleOtherPermissions));
                });
            },
            confirmPermission() {
                const checkedMenu = this.$refs.menuPermissions.getCheckedKeys();
                const checkedOther = this.$refs.otherPermissions.getCheckedKeys();
                const checkedPermissions = checkedMenu.concat(checkedOther);
                this.dialogLoading = true;

                roleResource.update(this.currentRole.id, { permissions: checkedPermissions }).then(response => {
                    this.$message({
                        message: 'Permissions has been updated successfully',
                        type: 'success',
                        duration: 5 * 1000,
                    });
                    this.dialogLoading = false;
                    this.dialogVisible = false;
                    this.getRoles();
                });
            },
        },
    };
</script>

<style lang="scss" scoped>
    .permissions-container {
        flex: 1;
        justify-content: space-between;
        font-size: 14px;
        padding-right: 8px;
        .block {
            float: left;
            min-width: 250px;
        }
        .clear-left {
            clear: left;
        }
    }
</style>
