<template>
    <div class="app-container">
        <div class="filter-container">
            <el-input
                v-model="query.keyword"
                clearable
                @clear="handleFilter"
                :placeholder="$t('table.keyword')"
                style="width: 200px;"
                class="filter-item"
                @keyup.enter.native="handleFilter"
            />
            <el-button
                v-waves
                class="filter-item"
                type="primary"
                icon="el-icon-search"
                @click="handleFilter"
            >{{ $t('table.search') }}</el-button>
            <el-button
                class="filter-item"
                style="margin-left: 10px;"
                type="primary"
                icon="el-icon-plus"
                @click="handleCreate"
            >{{ $t('table.add') }}</el-button>
        </div>

        <el-table v-loading="loading" :data="list" border fit highlight-current-row style="width: 100%">
            <el-table-column align="center" label="ID" width="80">
                <template slot-scope="scope">
                    <span>{{ scope.row.index }}</span>
                </template>
            </el-table-column>
            <el-table-column align="center" label="Full Name">
                <template slot-scope="scope">
                    <span>{{ scope.row.salutation }} {{ scope.row.firstname }} {{ scope.row.lastname }}</span>
                </template>
            </el-table-column>
            <el-table-column align="center" label="Email">
                <template slot-scope="scope">
                    <span>{{ scope.row.email }}</span>
                </template>
            </el-table-column>
            <el-table-column align="center" label="Designation">
                <template slot-scope="scope">
                    <span>{{ scope.row.designation }}</span>
                </template>
            </el-table-column>
            <el-table-column align="center" label="Mobile">
                <template slot-scope="scope">
                    <span>{{ scope.row.mobile_number }}</span>
                </template>
            </el-table-column>
            <el-table-column align="center" label="Area">
                <template slot-scope="scope">
                    <span>{{ scope.row.area.name }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Client">
                <template slot-scope="scope">
                    <span>{{ scope.row.client.firstname }} {{ scope.row.client.lastname }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Phone">
                <template slot-scope="scope">
                    <span>{{ scope.row.phone_number }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Actions" width="100">
                <template slot-scope="scope">
                    <el-button
                        type="primary"
                        size="small"
                        icon="el-icon-edit"
                        @click="handleEdit(scope.row);"
                    >Edit</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-dialog :title="'Create new client contact'" :visible.sync="dialogFormVisible" width="700px">
            <div class="form-container" v-loading="clientContactCreating" style="margin-left: 80px;">
                <el-form
                    ref="userForm"
                    :model="newClientContact"
                    label-position="left"
                    label-width="150px"
                    style="max-width: 500px;"
                >
                    <el-form-item label="Salutation" :error="get('salutation')">
                        <el-select
                            style="width: 100%;"
                            v-model="newClientContact.salutation"
                            class="filter-item"
                            placeholder="Please select salutation"
                        >
                            <el-option value="Mr." label="Mr." />
                            <el-option value="Miss." label="Miss." />
                            <el-option value="Mrs." label="Mrs." />
                            <el-option value="Dr." label="Dr." />
                            <el-option value="Prof." label="Prof." />
                        </el-select>
                    </el-form-item>

                    <el-form-item label="Select Area" :error="get('area')">
                        <el-select
                            v-model="newClientContact.area"
                            placeholder="Please select Area"
                            filterable
                            style="width: 100%;"
                        >
                            <el-option-group
                                v-for="country in countryList"
                                :key="country.id"
                                :label="country.name"
                            >
                                <el-option
                                    v-for="area in country.areas"
                                    :key="area.id"
                                    :label="area.name"
                                    :value="area.id"
                                >
                                    <span style="float: left">{{ area.name }}</span>
                                    <span
                                        style="float: right; color: #8492a6; font-size: 13px"
                                    >{{ area.province.name }}</span>
                                </el-option>
                            </el-option-group>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="Client" :error="get('client')" v-if="clientList">
                        <el-select
                            style="width: 100%;"
                            v-model="newClientContact.client"
                            class="filter-item"
                            placeholder="Please select client"
                            filterable
                        >
                            <el-option
                                v-for="item in clientList"
                                :key="item.id"
                                :label="`${item.firstname} ${item.lastname}`"
                                :value="item.id">
                                <span style="float: left">{{ item.firstname+' '+item.lastname }}</span>
                                <span style="float: right; color: #8492a6; font-size: 13px">{{ item.email }}</span>
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="First Name" :error="get('firstname')">
                        <el-input v-model="newClientContact.firstname" />
                    </el-form-item>
                    <el-form-item label="Last Name" :error="get('lastname')">
                        <el-input v-model="newClientContact.lastname" />
                    </el-form-item>
                    <el-form-item :label="$t('user.email')" :error="get('email')">
                        <el-input v-model="newClientContact.email" />
                    </el-form-item>
                    <el-form-item label="Designation" :error="get('designation')">
                        <el-input v-model="newClientContact.designation" />
                    </el-form-item>
                    <el-form-item label="Designation (AR)" :error="get('designation_ar')">
                        <el-input v-model="newClientContact.designation_ar" />
                    </el-form-item>
                    <el-form-item label="Mobile Number" :error="get('mobile_number')">
                        <el-input v-model="newClientContact.mobile_number" />
                    </el-form-item>
                    <el-form-item label="Phone Number" :error="get('phone_number')">
                        <el-input v-model="newClientContact.phone_number" />
                    </el-form-item>
                    <el-form-item :label="$t('user.password')" :error="get('password')">
                        <el-input v-model="newClientContact.password" show-password />
                    </el-form-item>
                    <el-form-item :label="$t('user.confirmPassword')" :error="get('password_confirmation')">
                        <el-input v-model="newClientContact.password_confirmation" show-password />
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">{{ $t('table.cancel') }}</el-button>
                    <el-button type="primary" @click="createClientContact()">{{ $t('table.confirm') }}</el-button>
                </div>
            </div>
        </el-dialog>

        <el-dialog :title="`Edit client contact ${editClientContact.firstname}`" :visible.sync="dialogEditFormVisible" width="700px">
            <div  class="form-container" v-loading="clientContactEditing">
                <el-form ref="userForm" :model="editClientContact" label-position="left" label-width="150px">
                    <el-form-item label="Salutation" :error="get('salutation')">
                        <el-select v-model="editClientContact.salutation" style="width: 100%" class="filter-item" placeholder="Please select salutation">
                            <el-option value="Mr." label="Mr." />
                            <el-option value="Miss." label="Miss." />
                            <el-option value="Mrs." label="Mrs." />
                            <el-option value="Dr." label="Dr." />
                            <el-option value="Prof." label="Prof." />
                        </el-select>
                    </el-form-item>

                    <el-form-item label="Client" :error="get('client')" >
                        <el-select
                            v-model="editClientContact.client"
                            class="filter-item"
                            style="width: 100%"
                            filterable
                            placeholder="Please select area"
                        >
                            <el-option
                                v-for="item in clientList"
                                :key="item.id"
                                :label="item.firstname+' '+item.lastname"
                                :value="item.id"
                            />
                        </el-select>
                    </el-form-item>

                    <el-form-item label="First Name" :error="get('firstname')">
                        <el-input v-model="editClientContact.firstname" />
                    </el-form-item>

                    <el-form-item label="Last Name" :error="get('lastname')">
                        <el-input v-model="editClientContact.lastname" />
                    </el-form-item>

                    <el-form-item :label="$t('user.email')" :error="get('email')">
                        <el-input v-model="editClientContact.email" />
                    </el-form-item>

                    <el-form-item label="Designation" :error="get('designation')">
                        <el-input v-model="editClientContact.designation" />
                    </el-form-item>

                    <el-form-item label="Designation (AR)" :error="get('designation_ar')">
                        <el-input v-model="editClientContact.designation_ar" />
                    </el-form-item>

                    <el-form-item label="Mobile Number" :error="get('mobile_number')">
                        <el-input v-model="editClientContact.mobile_number" />
                    </el-form-item>

                    <el-form-item label="Phone Number" :error="get('phone_number')">
                        <el-input v-model="editClientContact.phone_number" />
                    </el-form-item>

                    <el-form-item label="Select Area" :error="get('area')">
                        <el-select
                            v-model="editClientContact.area"
                            placeholder="Select Area"
                            filterable
                            style="width: 100%;"
                        >
                            <el-option-group
                                v-for="country in countryList"
                                :key="country.id"
                                :label="country.name"
                            >
                                <el-option
                                    v-for="area in country.areas"
                                    :key="area.id"
                                    :label="area.name"
                                    :value="area.id"
                                >
                                    <span style="float: left">{{ area.name }}</span>
                                    <span
                                        style="float: right; color: #8492a6; font-size: 13px"
                                    >{{ area.province.name }}</span>
                                </el-option>
                            </el-option-group>
                        </el-select>
                    </el-form-item>

                    <el-form-item :label="$t('user.password')" :error="get('password')">
                        <el-input v-model="editClientContact.password" show-password />
                    </el-form-item>

                    <el-form-item :label="$t('user.confirmPassword')" :error="get('password_confirmation')">
                        <el-input v-model="editClientContact.password_confirmation" show-password />
                    </el-form-item>

                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogEditFormVisible = false">{{ $t('table.cancel') }}</el-button>
                    <el-button type="primary" @click="editResource()">{{ $t('table.confirm') }}</el-button>
                </div>
            </div>
        </el-dialog>

        <pagination
            v-show="total>0"
            :total="total"
            :page.sync="query.page"
            :limit.sync="query.limit"
            @pagination="getList"
        />
    </div>
</template>

<script>
    import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
    import ClientResource from '@/api/client';
    import ClientContactResource from '@/api/client-contact';
    import CountryResource from '@/api/country';
    import BackendErrors from '@/mixins/backend-errors';
    import waves from '@/directive/waves'; // Waves directive
    import permission from '@/directive/permission'; // Waves directive

    const clientResource = new ClientResource();
    const clientContactResource = new ClientContactResource();
    const countryResource = new CountryResource();

    export default {
        name: 'ClientContactList',
        components: { Pagination },
        directives: { waves, permission },
        mixins: [BackendErrors],
        data() {
            return {
                list: null,
                countryList: [],
                clientList: [],
                total: 0,
                loading: true,
                query: {
                    page: 1,
                    limit: 10,
                    keyword: '',
                },
                currentUserId: 0,
                clientContactCreating: false,
                clientContactEditing: false,
                newClientContact: {},
                editClientContact: {},
                dialogFormVisible: false,
                dialogEditFormVisible: false,
                currentUser: {
                    name: '',
                    permissions: [],
                    rolePermissions: [],
                },
            };
        },
        created() {
            this.getList();
            this.getCountryList();
            this.getClientList();
        },
        methods: {
            editResource() {
                this.clientContactEditing = true;
                clientContactResource
                    .update(this.editClientContact.id, this.editClientContact)
                    .then(response => {
                        this.$message({
                            message:
                                `Client Contact ${this.editClientContact.firstname} (${this.editClientContact.email}) has been updated successfully.`,
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.dialogEditFormVisible = false;
                        this.clear();
                        this.getList();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.clientContactEditing = false;
                    });
            },
            createClientContact() {
                this.clientContactCreating = true;
                this.clear();
                clientContactResource
                    .store(this.newClientContact)
                    .then(response => {
                        this.$message({
                            message:
                                'New client Contact ' +
                                this.newClientContact.firstname +
                                '(' +
                                this.newClientContact.email +
                                ') has been created successfully.',
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.dialogFormVisible = false;
                        this.resetNewClientContact();
                        this.getList();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.clientContactCreating = false;
                    });
            },
            handleCreate() {
                this.resetNewClientContact();
                this.dialogFormVisible = true;
            },
            resetNewClientContact() {
                this.newClientContact = {
                    salutation: '',
                    designation_ar: '',
                    lastname: '',
                    password: '',
                    password_confirmation: '',
                    mobile_number: '',
                    firstname: '',
                    province: '',
                    area: '',
                    country: '',
                    phone_number: '',
                    email: '',
                    designation: '',
                    client: '',
                };
            },
            async getCountryList() {
                const { data } = await countryResource.listAll();
                this.countryList = data;
            },
            async getClientList() {
                const { data } = await clientResource.list();
                this.clientList = data;
            },
            async getList() {
                const { limit, page } = this.query;
                this.loading = true;
                const { data, meta } = await clientContactResource.list(this.query);
                this.list = data;
                this.list.forEach((element, index) => {
                    element['index'] = (page - 1) * limit + index + 1;
                });
                this.total = meta.total;
                this.loading = false;
            },
            handleFilter() {
                this.query.page = 1;
                this.getList();
            },
            handleEdit(row) {
                this.resetEditClientContact(row);
                this.dialogEditFormVisible = true;
            },
            resetEditClientContact(row) {
                this.editClientContact = {
                    id: row.id,
                    salutation: row.salutation,
                    designation_ar: row.designation_ar,
                    lastname: row.lastname,
                    password: '',
                    password_confirmation: '',
                    mobile_number: row.mobile_number,
                    area: row.area_id,
                    firstname: row.firstname,
                    phone_number: row.phone_number,
                    email: row.email,
                    designation: row.designation,
                    client: row.client_id,
                };
            },
        },
    };
</script>

<style lang="scss" scoped>
    .edit-input {
        padding-right: 100px;
    }
    .cancel-btn {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .dialog-footer {
        text-align: left;
        padding-top: 0;
        margin-left: 150px;
    }
    .app-container {
        flex: 1;
        justify-content: space-between;
        font-size: 14px;
        padding-right: 8px;
        .block {
            float: left;
            min-width: 250px;
        }
        .clear-left {
            clear: left;
        }
    }
</style>
