<template>
    <div class="task-discussion" v-if="comments.length">
        <ul>
            <li v-for="(comment,index) in comments" :key="index">
                <img v-if="comment.commenter" :src="comment.commenter.avatar" alt=""><b>
                <span v-if="comment.commenter">{{ comment.commenter.firstname }} {{ comment.commenter.lastname }}:</span> </b> {{ comment.comment }} <small :title="comment.created_at">({{ comment.created_at| fromNow }})</small></li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "view-all",
        props:['comments']
    }
</script>

<style scoped>
    .task-discussion{

        margin-left: 50px;
    }
    .task-discussion ul {
        list-style: none;
    }

    .task-discussion img{
        width: 30px;
        margin-right: 5px;
        border-radius: 50px;
        float: left;
    }
    .task-discussion li{
        line-height: 30px;
        margin-bottom: 5px;
    }
</style>