<template>
    <div class="app-container">
        <div class="filter-container">
            <el-input v-model="query.keyword"  clearable @clear="handleFilter" :placeholder="$t('table.keyword')" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
            <el-select v-model="query.role" :placeholder="$t('table.role')" clearable style="width: 150px" class="filter-item" @change="handleFilter">
                <el-option v-for="item in roles" :key="item" :label="item | uppercaseFirst" :value="item" />
            </el-select>
            <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter" style="max-width: 150px;">
                {{ $t('table.search') }}
            </el-button>
            <el-button class="filter-item" style="margin-left: 10px;max-width: 150px;" type="primary" icon="el-icon-plus" @click="handleCreate">
                {{ $t('table.add') }}
            </el-button>
            <el-button v-waves :loading="downloading" class="filter-item" type="primary" icon="el-icon-download" @click="handleDownload" style="max-width: 150px;">
                {{ $t('table.export') }}
            </el-button>
        </div>

        <el-table v-loading="loading" :data="list" border fit highlight-current-row style="width: 100%">
            <el-table-column align="center" label="ID" width="80">
                <template slot-scope="scope">
                    <span>{{ scope.row.index }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="First Name">
                <template slot-scope="scope">
                    <span>{{ scope.row.firstname }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Last Name">
                <template slot-scope="scope">
                    <span>{{ scope.row.lastname }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Email">
                <template slot-scope="scope">
                    <span>{{ scope.row.email }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Role" width="120">
                <template slot-scope="scope">
                    <span>{{ scope.row.roles.join(', ') }}</span>
                </template>
            </el-table-column>

            <!--<el-table-column align="center" label="User Type" width="120">
                <template slot-scope="scope">
                    <span>{{ scope.row.userable_type.replace('App\\Models\\','') }}</span>
                </template>
            </el-table-column>-->

            <el-table-column align="center" label="Actions" width="350">
                <template slot-scope="scope">

                    <el-button
                            type="primary"
                            size="mini"
                            @click="handleUserEdit(scope.row)"
                            icon="el-icon-edit"
                            v-permission="['manage user']" />

                    <router-link :to="'/administrator/users/edit/'+scope.row.id" v-if="!scope.row.roles.includes('admin')">
                        <el-button type="primary" size="mini" icon="el-icon-user" v-permission="['manage user']" />
                    </router-link>

                    <el-button
                            type="warning"
                            size="mini"
                            icon="el-icon-edit"
                            v-if="!scope.row.roles.includes('admin')"
                            v-permission="['manage permission']"
                            @click="handleEditPermissions(scope.row.id);">
                        Permissions
                    </el-button>

                    <el-button
                            type="danger"
                            size="mini"
                            icon="el-icon-delete"
                            v-permission="['manage user']"
                            @click="handleDelete(scope.row.id, scope.row.firstname);"
                            v-if="!scope.row.roles.includes('admin')" />

                </template>
            </el-table-column>

        </el-table>

        <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.limit" @pagination="getList" />

        <el-dialog :visible.sync="dialogPermissionVisible" :title="'Edit Permissions - ' + currentUser.name">
            <div class="form-container" v-loading="dialogPermissionLoading" v-if="currentUser.name">
                <div class="permissions-container">
                    <div class="block">
                        <el-form :model="currentUser" label-width="80px" label-position="top">
                            <el-form-item label="Menus">
                                <el-tree ref="menuPermissions" :data="normalizedMenuPermissions" :default-checked-keys="permissionKeys(userMenuPermissions)" :props="permissionProps" show-checkbox node-key="id" class="permission-tree" />
                            </el-form-item>
                        </el-form>
                    </div>
                    <div class="block">
                        <el-form :model="currentUser" label-width="80px" label-position="top">
                            <el-form-item label="Permissions">
                                <el-tree ref="otherPermissions" :data="normalizedOtherPermissions" :default-checked-keys="permissionKeys(userOtherPermissions)" :props="permissionProps" show-checkbox node-key="id" class="permission-tree" />
                            </el-form-item>
                        </el-form>
                    </div>
                    <div class="clear-left"></div>
                </div>
                <div style="text-align:right;">
                    <el-button type="danger" @click="dialogPermissionVisible=false">
                        {{ $t('permission.cancel') }}
                    </el-button>
                    <el-button type="primary" @click="confirmPermission">
                        {{ $t('permission.confirm') }}
                    </el-button>
                </div>
            </div>
        </el-dialog>

        <el-dialog :title="'Create new user'" :visible.sync="dialogFormVisible">
            <div class="form-container" v-loading="userCreating">
                <el-form ref="userForm" :model="newUser" label-position="left" label-width="150px" style="max-width: 500px;">

                    <select-resource
                            v-model="newUser.roles"
                            label="Roles"
                            :error="get('roles')"
                            resource-name="roles"
                            :multiple="true"
                            display="name"/>

                    <select-resource
                            v-model="newUser.client_id"
                            v-if="newUser.roles.includes(10)"
                            label="Client"
                            :error="get('client')"
                            resource-name="clients"
                            display="fullname"/>

                    <el-form-item label="First Name" :error="get('firstname')">
                        <el-input v-model="newUser.firstname" />
                    </el-form-item>
                    <el-form-item label="Last Name" :error="get('lastname')">
                        <el-input v-model="newUser.lastname" />
                    </el-form-item>
                    <el-form-item :label="$t('user.email')" :error="get('email')">
                        <el-input v-model="newUser.email" />
                    </el-form-item>
                    <el-form-item :label="$t('user.password')" :error="get('password')">
                        <el-input v-model="newUser.password" show-password />
                    </el-form-item>
                    <el-form-item :label="$t('user.confirmPassword')" :error="get('password_confirmation')">
                        <el-input v-model="newUser.password_confirmation" show-password />
                    </el-form-item>
                    <el-form-item label="Notify User">
                        <el-switch v-model="newUser.notify"></el-switch>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">
                        {{ $t('table.cancel') }}
                    </el-button>
                    <el-button type="primary" @click="createUser()">
                        {{ $t('table.confirm') }}
                    </el-button>
                </div>
            </div>
        </el-dialog>

        <el-dialog :title="'Edit user'" :visible.sync="dialogEditFormVisible">
            <div class="form-container" v-loading="userEditing">
                <el-form ref="userEditForm" :model="editUser" label-position="left" label-width="150px" style="max-width: 500px;">

                    <!--<el-form-item :label="$t('user.role')" :error="get('role')">
                        <el-select v-model="newUser.role" class="filter-item" placeholder="Please select role">
                            <el-option v-for="item in nonAdminRoles" :key="item" :label="item | uppercaseFirst" :value="item" />
                        </el-select>
                    </el-form-item>-->

                    <select-resource
                            v-model="editUser.role_ids"
                            label="Roles"
                            :error="get('roles')"
                            resource-name="roles"
                            :multiple="true"
                            display="name"/>

                    <select-resource
                            v-model="editUser.client_id"
                            v-if="editUser.role_ids && editUser.role_ids.includes(10)"
                            label="Client"
                            :error="get('client')"
                            resource-name="clients"
                            display="fullname"/>

                    <el-form-item label="First Name" :error="get('firstname')">
                        <el-input v-model="editUser.firstname" />
                    </el-form-item>
                    <el-form-item label="Last Name" :error="get('lastname')">
                        <el-input v-model="editUser.lastname" />
                    </el-form-item>
                    <el-form-item :label="$t('user.email')" :error="get('email')">
                        <el-input v-model="editUser.email" />
                    </el-form-item>

                    <!--<el-form-item :label="$t('user.password')" :error="get('password')">
                        <el-input v-model="editUser.password" show-password />
                    </el-form-item>
                    <el-form-item :label="$t('user.confirmPassword')" :error="get('password_confirmation')">
                        <el-input v-model="editUser.password_confirmation" show-password />
                    </el-form-item>-->

                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogEditFormVisible = false">
                        {{ $t('table.cancel') }}
                    </el-button>
                    <el-button type="primary" @click="handleEditUser()">
                        {{ $t('table.confirm') }}
                    </el-button>
                </div>
            </div>
        </el-dialog>
    </div>
</template>

<script>
    import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
    import UserResource from '@/api/user';
    import BackendErrors from '@/mixins/backend-errors';
    import Resource from '@/api/resource';
    import waves from '@/directive/waves'; // Waves directive
    import permission from '@/directive/permission'; // Waves directive
    import checkPermission from '@/utils/permission'; // Permission checking
    import SelectResource from '@/components/SelectResource'; // Secondary package based on el-pagination

    const userResource = new UserResource();
    const permissionResource = new Resource('permissions');

    export default {
        name: 'UserList',
        components: { Pagination, SelectResource },
        directives: { waves, permission },
        mixins:[BackendErrors],
        data() {
            return {
                list: null,
                total: 0,
                loading: true,
                downloading: false,
                userCreating: false,
                userEditing: false,
                query: {
                    page: 1,
                    limit: 10,
                    keyword: '',
                    role: '',
                },
                roles: [
                    'admin',
                    'management',
                    'fom head',
                    'fom manager',
                    'fom admin',
                    'bs head',
                    'bs manager',
                    'bs admin',
                    'user',
                ],
                nonAdminRoles: [],
                newUser: {},
                editUser: {
                    roles:[]
                },
                dialogFormVisible: false,
                dialogEditFormVisible: false,
                dialogPermissionVisible: false,
                dialogPermissionLoading: false,
                currentUserId: 0,
                currentUser: {
                    name: '',
                    permissions: [],
                    rolePermissions: [],
                },
                organizations : [],
                permissionProps: {
                    children: 'children',
                    label: 'name',
                    disabled: 'disabled',
                },
                permissions: [],
                menuPermissions: [],
                otherPermissions: [],
                isAdmin:false
            };
        },
        computed: {
            normalizedMenuPermissions() {
                let tmp = [];
                this.currentUser.permissions.role.forEach(permission => {
                    tmp.push({
                        id: permission.id,
                        name: permission.name,
                        disabled: true,
                    });
                });
                const rolePermissions = {
                    id: -1, // Faked ID
                    name: 'Inherited from role',
                    disabled: true,
                    children: this.classifyPermissions(tmp).menu,
                };

                tmp = this.menuPermissions.filter(permission => !this.currentUser.permissions.role.find(p => p.id === permission.id));
                const userPermissions = {
                    id: 0, // Faked ID
                    name: 'Extra menus',
                    children: tmp,
                    disabled: tmp.length === 0,
                };

                return [rolePermissions, userPermissions];
            },
            normalizedOtherPermissions() {
                let tmp = [];
                this.currentUser.permissions.role.forEach(permission => {
                    tmp.push({
                        id: permission.id,
                        name: permission.name,
                        disabled: true,
                    });
                });
                const rolePermissions = {
                    id: -1,
                    name: 'Inherited from role',
                    disabled: true,
                    children: this.classifyPermissions(tmp).other,
                };

                tmp = this.otherPermissions.filter(permission => !this.currentUser.permissions.role.find(p => p.id === permission.id));
                const userPermissions = {
                    id: 0,
                    name: 'Extra permissions',
                    children: tmp,
                    disabled: tmp.length === 0,
                };

                return [rolePermissions, userPermissions];
            },
            userMenuPermissions() {
                return this.classifyPermissions(this.userPermissions).menu;
            },
            userOtherPermissions() {
                return this.classifyPermissions(this.userPermissions).other;
            },
            userPermissions() {
                return this.currentUser.permissions.role.concat(this.currentUser.permissions.user);
            },
        },
        created() {
            this.resetNewUser();
            this.getList();
            if (checkPermission(['manage permission'])) {
                this.getPermissions();
            }
            this.setNonAdminRoles();
        },
        methods: {
            checkPermission,
            async getPermissions() {
                const { data } = await permissionResource.list({});
                const { all, menu, other } = this.classifyPermissions(data);
                this.permissions = all;
                this.menuPermissions = menu;
                this.otherPermissions = other;
            },
            async getList() {
                const { limit, page } = this.query;
                this.loading = true;
                const { data, meta } = await userResource.list(this.query);
                this.list = data;
                this.list.forEach((element, index) => {
                    element['index'] = (page - 1) * limit + index + 1;
                });
                this.total = meta.total;
                this.loading = false;
            },
            getOrganizationList() {
                this.loading = true;
                this.fetchAllOrganization()
                    .then(response => {
                        this.organizations = response.data
                    });
                this.loading = false;
            },
            handleFilter() {
                this.query.page = 1;
                this.getList();
            },
            handleCreate() {
                this.resetNewUser();
                this.dialogFormVisible = true;
            },
            handleDelete(id, name) {
                this.$confirm('This will permanently delete user ' + name + '. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning',
                }).then(() => {
                    userResource.destroy(id).then(response => {
                        this.$message({
                            type: 'success',
                            message: 'Delete completed',
                        });
                        this.handleFilter();
                    }).catch(error => {
                        console.log(error);
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Delete canceled',
                    });
                });
            },
            async handleEditPermissions(id) {
                this.currentUserId = id;
                this.dialogPermissionLoading = true;
                this.dialogPermissionVisible = true;
                const found = this.list.find(user => user.id === id);
                const { data } = await userResource.permissions(id);
                this.currentUser = {
                    id: found.id,
                    name: found.name,
                    permissions: data,
                };
                this.dialogPermissionLoading = false;
                this.$nextTick(() => {
                    this.$refs.menuPermissions.setCheckedKeys(this.permissionKeys(this.userMenuPermissions));
                    this.$refs.otherPermissions.setCheckedKeys(this.permissionKeys(this.userOtherPermissions));
                });
            },
            createUser() {
                this.userCreating = true;
                userResource
                    .store(this.newUser)
                    .then(response => {
                        this.$message({
                            message: 'New user ' + this.newUser.name + '(' + this.newUser.email + ') has been created successfully.',
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.resetNewUser();
                        this.dialogFormVisible = false;
                        this.handleFilter();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.userCreating = false;
                    });
            },
            resetNewUser() {
                this.newUser = {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    role: 'user',
                    roles:[]
                };
            },
            handleDownload() {
                this.downloading = true;
                import('@/vendor/Export2Excel').then(excel => {
                    const tHeader = ['id', 'user_id', 'name', 'email', 'role'];
                    const filterVal = ['index', 'id', 'name', 'email', 'role'];
                    const data = this.formatJson(filterVal, this.list);
                    excel.export_json_to_excel({
                        header: tHeader,
                        data,
                        filename: 'user-list',
                    });
                    this.downloading = false;
                });
            },
            formatJson(filterVal, jsonData) {
                return jsonData.map(v => filterVal.map(j => v[j]));
            },
            permissionKeys(permissions) {
                return permissions.map(permssion => permssion.id);
            },
            classifyPermissions(permissions) {
                const all = []; const menu = []; const other = [];
                permissions.forEach(permission => {
                    const permissionName = permission.name;
                    all.push(permission);
                    if (permissionName.startsWith('view menu')) {
                        menu.push(this.normalizeMenuPermission(permission));
                    } else {
                        other.push(this.normalizePermission(permission));
                    }
                });
                return { all, menu, other };
            },
            normalizeMenuPermission(permission) {
                return { id: permission.id, name: this.$options.filters.uppercaseFirst(permission.name.substring(10)), disabled: permission.disabled || false };
            },
            normalizePermission(permission) {
                const disabled = permission.disabled || permission.name === 'manage permission';
                return { id: permission.id, name: this.$options.filters.uppercaseFirst(permission.name), disabled: disabled };
            },
            confirmPermission() {
                const checkedMenu = this.$refs.menuPermissions.getCheckedKeys();
                const checkedOther = this.$refs.otherPermissions.getCheckedKeys();
                const checkedPermissions = checkedMenu.concat(checkedOther);
                this.dialogPermissionLoading = true;

                userResource.updatePermission(this.currentUserId, { permissions: checkedPermissions }).then(response => {
                    this.$message({
                        message: 'Permissions has been updated successfully',
                        type: 'success',
                        duration: 5 * 1000,
                    });
                    this.dialogPermissionLoading = false;
                    this.dialogPermissionVisible = false;
                });
            },
            setNonAdminRoles(){
                this.nonAdminRoles = [
                    'management',
                    'manager',
                    'service manager',
                    'user',
                    'visitor',
                    'client',
                    'company contact person',
                    'accounts',
                    'client contact',
                    'tenant',
                    'owner',
                    'contractor'
                ];

                if (this.$store.getters.roles.includes('admin')){
                    this.nonAdminRoles.push('admin')
                    this.isAdmin = true;
                }
            },
            handleUserEdit(row){
                this.dialogEditFormVisible = true;
                this.editUser = Object.assign({}, row);
            },
            handleEditUser() {
                this.userEditing = true;
                userResource
                    .update(this.editUser.id, this.editUser)
                    .then(response => {
                        this.$message({
                            message: 'User has been updated successfully.',
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.dialogEditFormVisible = false;
                        this.handleFilter();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.userEditing = false;
                    });
            },
        },
    };
</script>

<style lang="scss" scoped>
    .edit-input {
        padding-right: 100px;
    }
    .cancel-btn {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .dialog-footer {
        text-align: left;
        padding-top: 0;
        margin-left: 150px;
    }
    .app-container {
        flex: 1;
        justify-content: space-between;
        font-size: 14px;
        padding-right: 8px;
        .block {
            float: left;
            min-width: 250px;
        }
        .clear-left {
            clear: left;
        }
    }
</style>
