<template>
    <div class="app-container">
        <el-form :model="user" v-if="user">
            <el-row :gutter="20">
                 <el-col :xs="24" :sm="5" :md="5" :lg="5" :xl="5">
                    <user-card :user="user" />
                    <user-signature :user="user" v-if="checkRole(['valuation head','valuation manager','valuation valuer','admin'])"/>
                    <!--<user-bio />-->
                </el-col>
                
                    <user-activity :user="user" :activities="activities"/>
                
            </el-row>
        </el-form>
    </div>
</template>

<script>
    // import Resource from '@/api/resource';
    import UserBio from './components/UserBio';
    import UserCard from './components/UserCard';
    import UserActivity from './components/UserActivity';
    import UserSignature from './components/UserSignature';
    import checkRole from '@/utils/role';
    // const userResource = new Resource('users');
    import UserResource from '@/api/user';
    let userResource = new UserResource();

    export default {
        name: 'UserProfile',
        components: { UserBio, UserCard, UserActivity, UserSignature },
        data() {
            return {
                user: {},
                activities: [],
            };
        },
        watch: {
            '$route': 'getUser',
        },
        created() {
            const id = this.$route.params && this.$route.params.id;
            this.getUser(id);
            this.getActivities(id);
        },
        methods: {
            checkRole,
            async getUser(id) {
                const { data } = await userResource.get(id);
                this.user = data;
            },
            async getActivities(id) {
                const { data } = await userResource.activities(id);
                this.activities = data;
            },
        },
    };
</script>
