<template>
    <div>
        <el-form-item :label="label" :error="error">
            <el-select v-model="newUser" @change="onChange" :placeholder="placeholder" filterable >
                <el-option v-for="user in users" :label="`${user.firstname} ${user.lastname}`" :value="user.id" :key="user.id" >
                    <span style="float: left">{{ user.firstname+' '+user.lastname }}</span>
                    <span style="float: right; color: #8492a6; font-size: 13px">{{ user.email }}</span>
                </el-option>
            </el-select>
            <el-button icon="el-icon-plus" @click="addNew" v-if="canAdd"/>
        </el-form-item>
    </div>
</template>

<script>
    export default {
        name: "SelectUserWithRole",
        props:{
            label:[String],
            placeholder:[String],
            error:[String],
            value:[Number,String],
            users:[Array],
            canAdd:{
                type: Boolean,
                default: true
            }
        },
        data(){
            return {
                newUser:null,
            }
        },
        mounted(){
            this.newUser = this.value;
        },
        methods:{
            onChange(){
                this.$emit('change',this.newUser)
                this.$emit('input',this.newUser)
            },
            addNew(){
                this.$emit('add-new');
            }
        },
        watch:{
            value(){
                this.newUser = this.value;
            }
        }
    }
</script>

<style scoped>

</style>