<template>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur, blanditiis cumque doloremque, esse expedita fuga nam natus nisi nostrum nulla odio officia possimus quis quo recusandae reiciendis repellendus rerum?
        <div class="el-form-item el-form-item--mini">
            <div class="el-input el-input--mini">
                <gmap-autocomplete selectFirstOnEnter class="el-input__inner" placeholder="Search for Place" @place_changed="usePlace"></gmap-autocomplete>
            </div>
        </div>

        <!--<GmapMap ref="mapRef" style="width: 100%; height: 350px;" :zoom="zoom" :center="{lat: lat,lng: lng,}" >
            <GmapMarker
                v-if="this.place"
                :position="{lat: lat,lng:lng,}"
                :draggable="true"
                @dragend="updateCoordinates"
            />

        </GmapMap>-->
        <GmapMap :center="{lat: 1.38, lng: 103.8}" :zoom="12" style="width: 100%; height: 500px">
            <gmapPolygon :paths="paths" :editable="true" @paths_changed="updateEdited($event)"/>
        </GmapMap>

        <ul v-if="edited" @click="edited = null">
            <li v-for="path in edited">
                <ol>
                    <li v-for="point in path">
                        {{point.lat}}, {{point.lng}}
                    </li>
                </ol>
            </li>
        </ul>
    </div>
</template>


<script>
    import {gmapApi} from 'vue2-google-maps'

    export default {
        name: "GoogleMaps",
        data() {
            return {
                lat: 25.2048493,
                lng: 55.270782800000006,
                zoom: 10,
                markers: [],
                place:null,
                polygonsList: {},
                first: true,
                edited: null,
                paths: [
                    [ {lat: 1.380, lng: 103.800}, {lat:1.380, lng: 103.810}, {lat: 1.390, lng: 103.810}, {lat: 1.390, lng: 103.800} ],
                    [ {lat: 1.382, lng: 103.802}, {lat:1.382, lng: 103.808}, {lat: 1.388, lng: 103.808}, {lat: 1.388, lng: 103.802} ],
                ]
            };
        },
        mounted () {
            // At this point, the child GmapMap has been mounted, but
            // its map has not been initialized.
            // Therefore we need to write mapRef.$mapPromise.then(() => ...)
            this.$refs.mapRef.$mapPromise.then(google => {
                google.mapTypeId = 'hybrid';

                const drawingManager = new this.google.maps.drawing.DrawingManager({
                    drawingMode: this.google.maps.drawing.OverlayType.MARKER,
                    drawingControl: true,
                    drawingControlOptions: {
                        position: this.google.maps.ControlPosition.TOP_CENTER,
                        drawingModes: ['marker', /*'circle', */'polygon',/* 'polyline', 'rectangle'*/]
                    },
                    polygonOptions: {
                        fillColor: '#fff604',
                        fillOpacity: 0.3,
                        strokeColor: '#0014ff',
                        strokeWeight: 2,
                        editable: true
                    }
                });

                drawingManager.setMap(this.$refs.mapRef.$mapObject);

                /*this.google.maps.event.addListener(drawingManager, 'overlaycomplete', function (event) {
                    // Get overlay paths
                    let paths = event.overlay.getPaths().getArray();
                    // Remove overlay from map
                    event.overlay.setMap(null);

                    // Disable drawingManager
                    drawingManager.setDrawingMode(null);

                    // Create Polygon
                    vm.savePolygon(paths);
                });

                console.log('mounted',this.google);*/
            });

        },
        methods:{
            overlaycompleteHandle(){
                console.log('overlaycompleteHandle');
            },
            updateCoordinates(location) {
                this.lat = location.latLng.lat();
                this.lng = location.latLng.lng();
            },
            usePlace(place) {
                this.place = place;
                if (this.place) {
                    /*this.markers.push({
                        position: {
                            lat: this.place.geometry.location.lat(),
                            lng: this.place.geometry.location.lng(),
                        }
                    })*/
                    this.lat = this.place.geometry.location.lat();
                    this.lng = this.place.geometry.location.lng();
                    this.zoom = 15;
                    // this.place = null;
                }
            },
            updateEdited(mvcArray) {
                let paths = [];
                for (let i=0; i<mvcArray.getLength(); i++) {
                    let path = [];
                    for (let j=0; j<mvcArray.getAt(i).getLength(); j++) {
                        let point = mvcArray.getAt(i).getAt(j);
                        path.push({lat: point.lat(), lng: point.lng()});
                    }
                    paths.push(path);
                }
                this.edited = paths;
            }
        },
        computed:{
            google: gmapApi
        },
    }
</script>

<style scoped>

</style>
