<template>

    <div>
        <el-form-item :label="label" :error="error" v-if="labelDisplay">
            <el-select
                style="width:100%;"
                v-model="selected"
                :size="size"
                class="filter-item"
                :placeholder="`select ${label}`"
                :multiple="multiple"
                filterable
                :clearable="clearable"
                @change="valueChange">
                <el-option v-for="item in list" :key="item.id"  :label="`${item[display]}`" :value="item.id" />
            </el-select>
        </el-form-item>
        <el-select
            v-else
            style="width:100%;"
            v-model="selected"
            :size="size"
            class="filter-item"
            :placeholder="`select ${label}`"
            :multiple="multiple"
            filterable
            :clearable="clearable"
            @change="valueChange">
            <el-option v-for="item in list" :key="item.id"  :label="`${item[display]}`" :value="item.id">
                `${item[display]}` | raw
            </el-option>
        </el-select>
        <el-button icon="el-icon-refresh" @click="getList" v-if="refresh"/>
    </div>
</template>

<script>

    import Resource from '@/api/resource';

    export default {
        name: 'index',
        data(){
            return {
                list:[],
                selected:null,
                resource:null
            }
        },
        created(){
            this.resource = new Resource(`resource-selection/${this.resourceName}`);
            this.getList();
            this.selected = this.value;
        },
        props:{
            resourceName:{
                type:String,
                required:true
            },
            error:{
                type:String,
                default:''
            },
            label:{
                type:String,
                required:''
            },
            display:{
                type:String,
                default:'title'
            },
            options:{
                type:Object,
                default: () => {}
            },
            multiple:{
                type:Boolean,
                default:false
            },
            value:{
                required:true
            },
            refresh:{
                default:false
            },
            clearable:{
                required:false
            },
            labelDisplay:{
                default:true
            },
            size:{
                default:'mini'
            },
        },
        methods:{
            getList(){
                this.resource.list(this.options)
                    .then(response=>{
                        this.list = response
                    }).catch(error=>{
                    console.log('error')
                });
            },
            valueChange(){
                this.$emit('input',this.selected);
                this.$emit('change',this.selected);
            }
        },
        watch:{
            value(){
                this.selected = this.value;
            }
        }
    };
</script>

<style scoped>

</style>
