<template>
  <div class="app-container">
    <h1>Assignment List</h1>
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        clearable
        @clear="handleFilter"
        :placeholder="$t('table.keyword')"
        style="width: 200px;"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <!--<el-select v-model="query.service" placeholder="select service" clearable style="width: 180px" class="filter-item" @change="handleFilter">
                <el-option v-for="item in serviceList" :key="item.id" :label="item.title | uppercaseFirst" :value="item.id" />
      </el-select>-->
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
        style="max-width: 150px"
      >{{ $t('table.search') }}</el-button>
      <el-button
        class="filter-item"
        style="margin-left: 10px;max-width: 150px"
        type="primary"
        icon="el-icon-plus"
        v-if="checkRole(['admin','bs manager','bs head','bs admin'])"
        @click="handleCreate"
      >{{ $t('table.add') }}</el-button>
    </div>

    <el-table
      show-overflow-tooltip
      :cell-style="ColumnStyle"
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <!--<el-table-column
                type="selection"
                width="40">
      </el-table-column>-->

      <el-table-column align="center" label="No" width="60">
        <template slot-scope="scope">
          <el-tooltip class="item" effect="dark" :content="`${scope.row.id}`">
            <div @click="dialogStatusFormVisible = true">{{ scope.row.index }}</div>
          </el-tooltip>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Title" width="250px">
        <template slot-scope="scope">
          <span>{{ scope.row.title }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Reference" width="150px">
        <template slot-scope="scope">

          <el-popover
            placement="right"
            width="400"
            trigger="hover">
            <div>
              <p>Ref Number : {{ scope.row.ref_no }} </p>
              <p>System Id : {{ scope.row.id }} </p>
              <p>Client Name : {{ scope.row.client_contact.fullname }} </p>
              <p>Due Date : {{ scope.row.due_date_data.date }} </p>
              <p>Status : {{ scope.row.status }} </p>
              <p>Service : {{ scope.row.service }} </p>
              <p>Service : {{ scope.row.service }} </p>
              <p>Fee / Award / Price: {{ scope.row.price }} </p>
              <p>Target Date : {{ scope.row.target_date | time('ll') }} </p>
              <p>Payment Status : {{ scope.row.payment_percentage }}% </p>
              <p>Lead  : {{ scope.row.manager.fullname }} </p>
              <p>Team :
                <span
                        v-for="member in scope.row.team"
                        :key="member.id"
                >
                  {{ member.fullname }},
                </span>
              </p>
              <p>Draft Report Issued : {{ scope.row.draft_issued_at | time('llll') }} </p>
              <p>Final Report Issued : {{ scope.row.final_issued_at | time('llll') }} </p>
              <p>Contract Executed : {{ scope.row.contract_executed_at | time('llll') }} </p>
              <p>Payment Percentage : {{ scope.row.payment_percentage }} </p>
            </div>
            <span slot="reference">{{ scope.row.ref_no }}</span>
          </el-popover>

        </template>
      </el-table-column>

      <el-table-column align="center" label="Client" width="150px">
        <template slot-scope="scope">
          <span>{{ scope.row.client_contact.fullname }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Due Date" width="120px">
        <template slot-scope="scope">
          <el-tooltip class="item" effect="dark" :content="scope.row.due_date_data.tooltip">
            <el-tag :type="scope.row.due_date_data.type">{{ scope.row.due_date_data.date }}</el-tag>
          </el-tooltip>
        </template>
      </el-table-column>

      <el-table-column label="Status" width="120px">
        <template slot-scope="{row}">
          <template v-if="row.edit">
            <el-select
              @change="statusChanged(row)"
              v-model="row.new_status"
              class="filter-item"
              placeholder="Please select type"
            >
              <el-option label="Started" value="Started" />
              <el-option label="Insp/Test" value="Insp/Test" />
              <el-option label="Draft Report" value="Draft Report" />
              <el-option label="On Going" value="On Going" />
              <el-option label="Final Report" value="Final Report" />
              <el-option label="Completed (N:Lead)" value="Completed" />
              <el-option
                label="Finalized (N:Head)"
                value="Finalized"
                v-if="checkRole(['admin','bs manager','bs head'])"
              />
              <el-option label="Approved" value="Approved" v-if="checkRole(['admin','bs head'])" />
            </el-select>
          </template>
          <span v-else @click="row.edit = true;row.new_status=row.status">
            <el-tag effect="dark" :style="{'background-color':row.status_color}">{{ row.status }}</el-tag>
          </span>
        </template>
      </el-table-column>

      <el-table-column label="Service" width="80px" prop="service" />

      <el-table-column
        prop="price"
        label="Fee"
        width="100px"
        v-if="checkRole(['admin','bs manager','bs head'])"
      >
       <template slot-scope="scope">{{ scope.row.price }}</template>
      </el-table-column>

      <el-table-column align="center" label="Target Date" width="120px">
        <template slot-scope="scope">{{ scope.row.target_date | time('ll') }}</template>
      </el-table-column>

      <el-table-column align="center" label="Payment Status" width="120px">
        <template slot-scope="scope">{{ scope.row.payment_percentage }}%</template>
      </el-table-column>

      <el-table-column align="center" label="Lead">
        <template slot-scope="scope">
          <el-tooltip class="item" effect="dark" :content="scope.row.manager.fullname">
            <el-avatar :src="scope.row.manager.avatar" />
          </el-tooltip>
        </template>
      </el-table-column>

      <!-- <el-table-column align="center" label="Progress" v-if="checkRole(['admin','bs manager','bs head'])">
                <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" :content="`${scope.row.progress}% Completed`">
                        <el-progress :text-inside="true" :stroke-width="25" :percentage="scope.row.progress" status="success"/>
                    </el-tooltip>
                </template>
      </el-table-column>-->
      <!-- <el-table-column align="center" label="Payment Done" prop="payment_received" v-if="checkRole(['admin','bs manager','bs head'])"/> -->

      <!-- <el-table-column
        align="center"
        label="Report"
        v-if="checkRole(['admin','bs manager','bs head'])"
      >
        <template slot-scope="scope">
          <el-tooltip
            class="item"
            effect="dark"
            content="Contract Executed At"
            v-if="scope.row.contract_executed_at"
          >
            <el-tag size="mini" type="warning">{{ scope.row.contract_executed_at|time('ll') }}</el-tag>
          </el-tooltip>
          <el-tooltip
            class="item"
            effect="dark"
            content="Draft Report Sent At"
            v-if="scope.row.draft_issued_at"
          >
            <el-tag size="mini" type="info">{{ scope.row.draft_issued_at|time('ll') }}</el-tag>
          </el-tooltip>
          <el-tooltip
            class="item"
            effect="dark"
            content="Final Report Sent At"
            v-if="scope.row.final_issued_at"
          >
            <el-tag size="mini" type="success">{{ scope.row.final_issued_at|time('ll') }}</el-tag>
          </el-tooltip>
        </template>
      </el-table-column> -->
      <!--<el-table-column align="center" label="Final Issued">
                <template slot-scope="scope">
                    <span>{{ scope.row.final_issued_at }}</span>
                </template>
            </el-table-column>
            <el-table-column align="center" label="Contact Issued">
                <template slot-scope="scope">
                    <span>{{ scope.row.contract_executed_at }}</span>
                </template>
      </el-table-column>-->

      <!--<el-table-column align="center" label="Client">
                <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" :content="scope.row.client_contact.fullname">
                        <el-avatar :src="scope.row.client_contact.avatar"/>
                    </el-tooltip>
                </template>
      </el-table-column>-->

      <el-table-column align="center" label="Team" width="150">
        <template slot-scope="scope">
          <el-tooltip
            v-for="member in scope.row.team"
            :key="member.id"
            class="item"
            effect="dark"
            :content="member.fullname"
          >
            <el-avatar :src="member.avatar" />
          </el-tooltip>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Actions" width="150px">
        <template slot-scope="scope">
          <el-tooltip
            class="item"
            effect="dark"
            content="Edit Assignment"
            v-if="checkRole(['admin','bs manager','bs head','bs admin'])"
          >
            <el-button
              type="primary"
              size="mini"
              icon="el-icon-edit"
              @click="handleEdit(scope.row)"
            />
          </el-tooltip>
          <el-tooltip class="item" effect="dark" content="View Properties">
            <el-button
              type="success"
              size="mini"
              icon="el-icon-s-home"
              @click="handleProperties(scope.row)"
            />
          </el-tooltip>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />

    <el-dialog title="Create Assignment" :visible.sync="dialogFormVisible">
      <div class="form-container" v-loading="assignmentCreating">
        <el-form
          ref="userForm"
          :model="newAssignment"
          label-position="left"
          label-width="250px"
          style="max-width: 600px;margin-left: 50px;"
        >
          <el-form-item label="Title" :error="get('title')">
            <el-input v-model="newAssignment.title" />
          </el-form-item>

          <el-form-item label="Due Date" :error="get('due_date')">
            <el-date-picker
              style="width:100%;"
              v-model="newAssignment.due_date"
              type="date"
              placeholder="Pick a Date"
              :picker-options="pickerOptions"
            ></el-date-picker>
          </el-form-item>

          <el-form-item label="Draft Issued At" :error="get('draft_issued_at')">
            <el-date-picker
              style="width:100%;"
              v-model="newAssignment.draft_issued_at"
              type="date"
              placeholder="Pick a Date"
              :picker-options="pickerOptions"
            ></el-date-picker>
          </el-form-item>

          <el-form-item label="Final Issued At" :error="get('final_issued_at')">
            <el-date-picker
              style="width:100%;"
              v-model="newAssignment.final_issued_at"
              type="date"
              placeholder="Pick a Date"
              :picker-options="pickerOptions"
            ></el-date-picker>
          </el-form-item>

          <el-form-item label="Contract Executed At" :error="get('contract_executed_at')">
            <el-date-picker
              style="width:100%;"
              v-model="newAssignment.contract_executed_at"
              type="date"
              placeholder="Pick a Date"
              :picker-options="pickerOptions"
            ></el-date-picker>
          </el-form-item>

          <el-form-item label="Target Date" :error="get('target_date')">
            <el-date-picker
              style="width:100%;"
              v-model="newAssignment.target_date"
              type="date"
              placeholder="Pick a Date"
              :picker-options="pickerOptions"
            ></el-date-picker>
          </el-form-item>

          <select-resource
            v-model="newAssignment.manager"
            label="Lead"
            :error="get('manager')"
            resource-name="users"
            display="fullname"
          />

          <select-resource
            v-model="newAssignment.team"
            :error="get('team')"
            label="Team"
            :multiple="true"
            resource-name="users"
            display="fullname"
          />

          <select-resource
            v-model="newAssignment.client_contact"
            :error="get('client_contact')"
            label="Client Contact"
            resource-name="users"
            display="fullname"
          />

          <el-form-item label="Payment Status (%)" :error="get('payment_percentage')">
            <el-slider v-model="newAssignment.payment_percentage" show-input />
          </el-form-item>

          <el-form-item label="Client Ref #" :error="get('client_ref')">
            <el-input v-model="newAssignment.client_ref" />
          </el-form-item>

          <el-form-item label="Price" :error="get('price')">
            <el-input v-model="newAssignment.price" />
          </el-form-item>

          <el-form-item label="Service" :error="get('service')">
            <el-select
              style="width:100%;"
              v-model="newAssignment.service"
              class="filter-item"
              placeholder="Please select service"
            >
              <el-option label="BCA" value="BCA" />
              <el-option label="RFS" value="RFS" />
              <el-option label="RV" value="RV" />
              <el-option label="CA" value="CA" />
              <el-option label="SCM" value="SCM" />
            </el-select>
          </el-form-item>

          <el-form-item label="Report Language" :error="get('report_lang')">
            <el-select
              style="width:100%;"
              v-model="newAssignment.report_lang"
              class="filter-item"
              placeholder="Please select type"
            >
              <el-option label="English" value="en" />
              <el-option label="Arabic" value="ar" />
            </el-select>
          </el-form-item>

          <el-form-item label="Payment Received?" :error="get('payment_received')">
            <el-radio-group v-model="newAssignment.payment_received">
              <el-radio label="Yes">Yes</el-radio>
              <el-radio label="No">No</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-form>

        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">{{ $t('table.cancel') }}</el-button>
          <el-button type="primary" @click="createAssignment()">{{ $t('table.confirm') }}</el-button>
        </div>
      </div>
    </el-dialog>

    <el-dialog
      :title="`Edit Assignment [${editAssignment.ref_no}]`"
      :visible.sync="dialogEditFormVisible"
    >
      <div class="form-container" v-loading="assignmentEditing">
        <el-form
          :model="editAssignment"
          label-position="left"
          label-width="200px"
          style="max-width: 600px;margin-left: 50px;"
        >
          <el-form-item label="Title" :error="get('title')">
            <el-input v-model="editAssignment.title" />
          </el-form-item>

          <el-form-item label="Due Date" :error="get('due_date')">
            <el-date-picker
              style="width:100%;"
              v-model="editAssignment.due_date"
              type="date"
              placeholder="Pick a Date"
              :picker-options="pickerOptions"
            ></el-date-picker>
          </el-form-item>

          <el-form-item label="Draft Issued At" :error="get('draft_issued_at')">
            <el-date-picker
              style="width:100%;"
              v-model="editAssignment.draft_issued_at"
              type="date"
              placeholder="Pick a Date"
              :picker-options="pickerOptions"
            ></el-date-picker>
          </el-form-item>

          <el-form-item label="Final Issued At" :error="get('final_issued_at')">
            <el-date-picker
              style="width:100%;"
              v-model="editAssignment.final_issued_at"
              type="date"
              placeholder="Pick a Date"
              :picker-options="pickerOptions"
            ></el-date-picker>
          </el-form-item>

          <el-form-item label="Contract Executed At" :error="get('contract_executed_at')">
            <el-date-picker
              style="width:100%;"
              v-model="editAssignment.contract_executed_at"
              type="date"
              placeholder="Pick a Date"
              :picker-options="pickerOptions"
            ></el-date-picker>
          </el-form-item>

          <el-form-item label="Target Date" :error="get('target_date')">
            <el-date-picker
              style="width:100%;"
              v-model="editAssignment.target_date"
              type="date"
              placeholder="Pick a Date"
              :picker-options="pickerOptions"
            ></el-date-picker>
          </el-form-item>

          <select-resource
            v-model="editAssignment.manager"
            label="Lead"
            :error="get('manager')"
            resource-name="users"
            display="fullname"
          />

          <select-resource
            v-model="editAssignment.team"
            :error="get('team')"
            label="Team"
            :multiple="true"
            resource-name="users"
            display="fullname"
          />

          <select-resource
            v-model="editAssignment.client_contact"
            :error="get('client_contact')"
            label="Client Contact"
            resource-name="users"
            display="fullname"
          />

          <el-form-item label="Price" :error="get('price')">
            <el-input v-model="editAssignment.price" />
          </el-form-item>

          <el-form-item label="Payment Status (%)" :error="get('payment_percentage')">
            <el-slider v-model="editAssignment.payment_percentage" show-input />
          </el-form-item>

          <el-form-item label="Service" :error="get('service')">
            <el-select
              style="width:100%;"
              v-model="editAssignment.service"
              class="filter-item"
              placeholder="Please select service"
            >
              <el-option label="BCA" value="BCA" />
              <el-option label="RFS" value="RFS" />
              <el-option label="RV" value="RV" />
              <el-option label="CA" value="CA" />
              <el-option label="SCM" value="SCM" />
            </el-select>
          </el-form-item>

          <el-form-item label="Client Ref #" :error="get('client_ref')">
            <el-input v-model="editAssignment.client_ref" />
          </el-form-item>

          <el-form-item label="Report Language" :error="get('report_lang')">
            <el-select
              style="width:100%;"
              v-model="editAssignment.report_lang"
              class="filter-item"
              placeholder="Please select type"
            >
              <el-option label="English" value="en" />
              <el-option label="Arabic" value="ar" />
            </el-select>
          </el-form-item>

          <el-form-item label="Payment Received?" :error="get('payment_received')">
            <el-radio-group v-model="editAssignment.payment_received">
              <el-radio label="Yes" :value="1">Yes</el-radio>
              <el-radio label="No" :value="0">No</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-form>

        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogEditFormVisible = false">{{ $t('table.cancel') }}</el-button>
          <el-button type="primary" @click="editResource()">{{ $t('table.confirm') }}</el-button>
        </div>
      </div>
    </el-dialog>

  </div>
</template>

<script>
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import SelectResource from '@/components/SelectResource'; // Secondary package based on el-pagination
import UserResource from '@/api/user';
import ServiceResource from '@/api/service';
import ClientResource from '@/api/client';
import Resource from '@/api/resource';
import CountryResource from '@/api/country';
import BackendErrors from '@/mixins/backend-errors';
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Waves directive
import checkRole from '@/utils/role';

const assignmentResource = new Resource('building-survey-assignment');
const userResource = new UserResource();
const clientResource = new ClientResource();
const serviceResource = new ServiceResource();
const countryResource = new CountryResource();

export default {
  name: 'AssignmentList',
  components: { Pagination, SelectResource },
  directives: { waves, permission },
  mixins: [BackendErrors],
  data() {
    return {
      list: null,
      activeTab: 'info',
      activeSubTab: 'summary',
      typeList: [],
      userList: [],
      clientList: [],
      serviceList: [],
      provinceList: [],
      areaList: [],
      countryList: [],
      total: 0,
      loading: true,
      query: {
        page: 1,
        limit: 10,
        service: 1,
        keyword: '',
      },
      currentUserId: 0,
      assignmentCreating: false,
      assignmentEditing: false,
      currentUser: {
        name: '',
        permissions: [],
        rolePermissions: [],
      },
      dialogFormVisible: false,
      dialogEditFormVisible: false,
      dialogStatusFormVisible: false,
      newAssignment: {},
      editAssignment: {},
      pickerOptions: {
        shortcuts: [
          {
            text: 'Today',
            onClick(picker) {
              picker.$emit('pick', new Date());
            },
          },
          {
            text: 'Tomorrow',
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() + 3600 * 1000 * 24);
              picker.$emit('pick', date);
            },
          },
          {
            text: 'Yesterday',
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24);
              picker.$emit('pick', date);
            },
          },
          {
            text: 'A week after',
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() + 3600 * 1000 * 24 * 7);
              picker.$emit('pick', date);
            },
          },
          {
            text: 'A week ago',
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', date);
            },
          },
        ],
      },
    };
  },
  created() {
    this.getList();
    // this.getUserList();
    // this.getClientList();
    // this.getTypeList();
    // this.getServiceList();
  },
  mounted() {
    if (!localStorage.getItem('noDriver')) {
      console.log('First time!');
      localStorage.setItem('noDriver', 1);
    } else {
      console.log('Already visited!');
    }
  },
  methods: {
    checkRole,
    ColumnStyle({ row, column, rowIndex, columnIndex }) {
      /*if((columnIndex == 0)){
                    return {
                        "backgroundColor":row.status.color,
                        'color':'white'
                    };
                }*/
    },
    createAssignment() {
      this.assignmentCreating = true;
      assignmentResource
        .store(this.newAssignment)
        .then(response => {
          this.$message({
            message: `New assignment ${this.newAssignment.title} has been created successfully.`,
            type: 'success',
            duration: 5 * 1000,
          });
          this.resetNewAssignment();
          this.dialogFormVisible = false;
          this.getList();
        })
        .catch(error => {
          this.record(error);
          console.log(error);
        })
        .finally(() => {
          this.assignmentCreating = false;
        });
    },
    editResource() {
      this.assignmentEditing = true;
      assignmentResource
        .update(this.editAssignment.id, this.editAssignment)
        .then(response => {
          this.$message({
            message: `Assignment (${this.editAssignment.title}) has been updated successfully.`,
            type: 'success',
            duration: 5 * 1000,
          });
          this.dialogEditFormVisible = false;
          this.clear();
          this.getList();
        })
        .catch(error => {
          this.record(error);
          console.log(error);
        })
        .finally(() => {
          this.assignmentEditing = false;
        });
    },
    handleCreate() {
      this.resetNewAssignment();
      this.clear();
      this.dialogFormVisible = true;
    },
    statusChanged(row) {
      console.log(row.new_status);
      if (row.new_status !== 'Finalized' && row.new_status !== 'Approved') {
        assignmentResource
          .updateAttribute(row.id, {
            status: row.new_status,
            notify_via_notification: `notifyUpon${row.new_status}`,
          })
          .then(response => {
            this.getList();
          })
          .catch(error => {
            this.record(error);
            console.log(error);
          });
      } else {
        let message = `Are you sure to ${row.new_status}?`;
        if (row.payment_received === 'No') {
          message = `Payment not received yet! Are you sure to ${row.new_status}?`;
        }

        this.$confirm(message)
          .then(_ => {
            assignmentResource
              .updateAttribute(row.id, {
                status: row.new_status,
                notify_via_notification: `notifyUpon${row.new_status}`,
              })
              .then(response => {
                this.getList();
              })
              .catch(error => {
                this.record(error);
                console.log(error);
              });
            done();
          })
          .catch(_ => {});
      }
    },
    handleEdit(row) {
      this.resetEditAssignment(row);
      this.dialogEditFormVisible = true;
    },
    handleProperties(row) {
      this.$router.push({
        name: 'BuildingSurveyPropertyList',
        params: { id: row.id },
      });
    },
    handleUnFinalize(row) {
      let message = 'Are you sure to finalize?';
      if (row.payment_received === 'No') {
        message = 'Payment not received yet! Are you sure to finalize? ';
      }

      this.$confirm(message)
        .then(_ => {
          assignmentResource
            .updateAttribute(row.id, { finalize: 0 })
            .then(response => {
              this.getList();
            })
            .catch(error => {
              this.record(error);
              console.log(error);
            })
            .finally(() => {});
          done();
        })
        .catch(_ => {});
      //are you sure you want to un-finalize
    },
    handleFinalize(row) {
      let message = 'Are you sure to finalize?';
      if (row.payment_received === 'No') {
        message = 'Payment not received yet! Are you sure to finalize? ';
      }
      this.$confirm(message)
        .then(_ => {
          assignmentResource
            .updateAttribute(row.id, { finalize: 1 })
            .then(response => {
              this.getList();
            })
            .catch(error => {
              this.record(error);
              console.log(error);
            })
            .finally(() => {});
          done();
        })
        .catch(_ => {});
    },
    resetNewAssignment() {
      this.newAssignment = {
        title: '',
        manager: '',
        due_date: '',
        client_ref: '',
        report_lang: '',
        client_contact: '',
        ref_no: '',
        team: '',
        service: 0,
        price: '',
        target_date: '',
        payment_received: '',
        draft_issued_at: '',
        final_issued_at: '',
        contract_executed_at: '',
        payment_percentage:0,
      };
    },
    resetEditAssignment(row) {
      let selectedTeam = [];
      row.team.forEach(m => {
        selectedTeam.push(m.id);
      });

      this.editAssignment = {
        id: row.id,
        title: row.title,
        manager: row.manager_id,
        due_date: row.due_date,
        client_ref: row.client_ref,
        report_lang: row.report_lang,
        client_contact: row.client_contact_id,
        ref_no: row.ref_no,
        team: selectedTeam,
        service: row.service,
        price: row.price,
        target_date: row.target_date,
        payment_received: row.payment_received,
        draft_issued_at: row.draft_issued_at,
        final_issued_at: row.final_issued_at,
        contract_executed_at: row.contract_executed_at,
        payment_percentage: row.payment_percentage
      };
    },
    
    async getList() {
      const { limit, page } = this.query;
      this.loading = true;
      const { data, meta } = await assignmentResource.list(this.query);
      this.list = data;
      this.list.forEach((element, index) => {
        element['index'] = (page - 1) * limit + index + 1;
      });
      this.list = this.list.map(v => {
        this.$set(v, 'edit', false); // https://vuejs.org/v2/guide/reactivity.html
        this.$set(v, 'new_status', v.status_id);
        return v;
      });
      this.total = meta.total;
      this.loading = false;
    },
    async getTypeList() {
      const { data } = await clientResource.typeList();
      this.typeList = data;
    },
    async getServiceList() {
      const { data } = await serviceResource.listAll();
      this.serviceList = data;
    },
    async getUserList() {
      const { data } = await userResource.listAll();
      this.userList = data;
    },
    async getClientList() {
      const { data } = await clientResource.listAll();
      this.clientList = data;
    },
    async getCountryList() {
      const { data } = await countryResource.listAll();
      this.countryList = data;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
  },
};
</script>

<style lang="scss" scoped>
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.mt-60 {
  margin-top: 60px;
}
</style>

