<template>
    <div class="app-container">
        <h1>Property List</h1>

        <div class="filter-container">
            <el-input v-model="query.keyword" clearable @clear="handleFilter" :placeholder="$t('table.keyword')" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
            <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter" style="max-width: 150px;">
                {{ $t('table.search') }}
            </el-button>
            <el-button class="filter-item" style="margin-left: 10px;max-width: 150px;" type="primary" icon="el-icon-plus" @click="handleCreate">
                {{ $t('table.add') }}
            </el-button>

        </div>
        <el-table v-loading="loading" :data="list" border fit highlight-current-row style="width: 100%">
            <el-table-column align="center" label="ID" width="70">
                <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" :content="`${scope.row.id}`" >
                        <span>{{ scope.row.index }}</span>
                    </el-tooltip>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Name">
                <template slot-scope="scope">
                    <span>{{ scope.row.name }} ({{ scope.row.defects_count }})</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Template">
                <template slot-scope="scope">
                    <span>{{ scope.row.template.title }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Property Number">
                <template slot-scope="scope">
                    <span>{{ scope.row.property_number }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Plot Number">
                <template slot-scope="scope">
                    <span>{{ scope.row.plot_number }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Property Type">
                <template slot-scope="scope">
                    <span>{{ scope.row.property_type }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Surveyor">
                <template slot-scope="scope">
                    <span v-if="scope.row.surveyor">{{ scope.row.surveyor.fullname }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Area">
                <template slot-scope="scope">
                    <span >{{ scope.row.area.name }} ({{ scope.row.area.province.name }})</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Actions" width="150">
                <template slot-scope="{row}">
                    <el-tooltip class="item" effect="dark" content="Edit Property">
                        <el-button type="info" size="small" icon="el-icon-edit" @click="handleEdit(row)"/>
                    </el-tooltip>
                    <el-tooltip class="item" effect="dark" :content="`Defects (${row.defects_count})`">
                        <el-button type="primary" size="small" icon="el-icon-wind-power" @click="handleDefects(row);"/>
                    </el-tooltip>
                </template>
            </el-table-column>

        </el-table>

        <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.limit" @pagination="getList" />

        <el-dialog :title="`Edit Assignment [${editProperty.name}]`" :visible.sync="dialogEditFormVisible" width="700px">
            <div class="form-container" v-loading="propertyEditing">
                <el-form :model="editProperty" label-position="left" label-width="180px" >

                    <el-row  :gutter="20">

                        <el-col :span="24">

                            <select-resource
                                v-model="editProperty.template"
                                :error="get('template')"
                                label="Template"
                                resource-name="building-survey-templates"
                                display="title"/>

                            <select-resource
                                v-model="editProperty.area"
                                :error="get('area')"
                                label="Area"
                                resource-name="areas"
                                display="display"/>

                            <select-resource
                                v-model="editProperty.surveyor"
                                :error="get('surveyor')"
                                label="Surveyor"
                                :options="{assignment:query.assignment_id}"
                                resource-name="building-survey-assignment-team"
                                display="fullname"/>


                            <el-form-item label="Name" :error="get('name')">
                                <el-input v-model="editProperty.name" />
                            </el-form-item>

                            <el-form-item label="Plot Number" :error="get('plot_number')">
                                <el-input v-model="editProperty.plot_number" />
                            </el-form-item>

                            <el-form-item label="Property Number" :error="get('property_number')">
                                <el-input v-model="editProperty.property_number" />
                            </el-form-item>

                            <el-form-item label="Property Type" :error="get('property_type')" >
                                <el-select v-model="editProperty.property_type" allow-create placeholder="Select Property Type" style="width: 100%;" filterable>
                                    <el-option label="Villa" value="Villa" />
                                    <el-option label="Apartment" value="Apartment" />
                                    <el-option label="Land" value="Land" />
                                    <el-option label="Compound" value="Compound" />
                                    <el-option label="Tower" value="Tower" />
                                    <el-option label="Warehouse" value="Warehouse" />
                                    <el-option label="Mall - Shopping Center" value="Mall - Shopping Center" />
                                    <el-option label="Building" value="Building" />
                                    <el-option label="Office Units" value="Office Units" />
                                    <el-option label="Office Unit" value="Office Unit" />
                                    <el-option label="Townhouse" value="Townhouse" />
                                    <el-option label="Industrial Facility" value="Industrial Facility" />
                                    <el-option label="Retail Unit" value="Retail Unit" />
                                    <el-option label="Labour Camp" value="Labour Camp" />
                                    <el-option label="Lands + Buildings" value="Lands + Buildings" />
                                    <el-option label="School" value="School" />
                                    <el-option label="Temporary Structures" value="Temporary Structures" />
                                    <el-option label="Residential Villa" value="Residential Villa" />
                                </el-select>
                            </el-form-item>

                        </el-col>


                    </el-row>

                </el-form>

                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogEditFormVisible = false">
                        {{ $t('table.cancel') }}
                    </el-button>
                    <el-button type="primary" @click="editResource()">
                        {{ $t('table.confirm') }}
                    </el-button>
                </div>
            </div>
        </el-dialog>


        <el-dialog title="Add Property" :visible.sync="dialogFormVisible" width="700px">
            <div class="form-container" v-loading="propertyCreating">
                <el-form :model="editProperty" label-position="left" label-width="180px" >

                    <el-row  :gutter="20">

                        <el-col :span="24">

                            <select-resource
                                v-model="newProperty.template"
                                :error="get('template')"
                                label="Template"
                                resource-name="building-survey-templates"
                                display="title"/>

                            <select-resource
                                v-model="newProperty.area"
                                :error="get('area')"
                                label="Area"
                                resource-name="areas"
                                display="display"/>

                            <!--<el-form-item label="Select Inspector" :error="get('inspector')">
                                <el-select v-model="newProperty.inspector" placeholder="Select Inspector" style="width: 100%;">
                                    <el-option v-for="item in userList" :key="item.id"  :label="`${item.firstname} ${item.lastname}`" :value="item.id" >
                                        <span style="float: left">{{ `${item.firstname} ${item.lastname}` }}</span>
                                        <span style="float: right; color: #8492a6; font-size: 13px">{{ item.email }}</span>
                                    </el-option>
                                </el-select>
                            </el-form-item>-->

                            <select-resource
                                v-model="newProperty.surveyor"
                                :error="get('surveyor')"
                                label="Surveyor"
                                :options="{assignment:query.assignment_id}"
                                resource-name="building-survey-assignment-team"
                                display="fullname"/>

                            <el-form-item label="Name" :error="get('name')">
                                <el-input v-model="newProperty.name" />
                            </el-form-item>

                            <el-form-item label="Plot Number" :error="get('plot_number')">
                                <el-input v-model="newProperty.plot_number" />
                            </el-form-item>

                            <el-form-item label="Property Number" :error="get('property_number')">
                                <el-input v-model="newProperty.property_number" />
                            </el-form-item>

                            <el-form-item label="Property Type" :error="get('property_type')" >
                                <el-select v-model="newProperty.property_type" allow-create placeholder="Select Property Type" style="width: 100%;" filterable>
                                    <el-option label="Villa" value="Villa" />
                                    <el-option label="Apartment" value="Apartment" />
                                    <el-option label="Land" value="Land" />
                                    <el-option label="Compound" value="Compound" />
                                    <el-option label="Tower" value="Tower" />
                                    <el-option label="Warehouse" value="Warehouse" />
                                    <el-option label="Mall - Shopping Center" value="Mall - Shopping Center" />
                                    <el-option label="Building" value="Building" />
                                    <el-option label="Office Units" value="Office Units" />
                                    <el-option label="Office Unit" value="Office Unit" />
                                    <el-option label="Townhouse" value="Townhouse" />
                                    <el-option label="Industrial Facility" value="Industrial Facility" />
                                    <el-option label="Retail Unit" value="Retail Unit" />
                                    <el-option label="Labour Camp" value="Labour Camp" />
                                    <el-option label="Lands + Buildings" value="Lands + Buildings" />
                                    <el-option label="School" value="School" />
                                    <el-option label="Temporary Structures" value="Temporary Structures" />
                                    <el-option label="Residential Villa" value="Residential Villa" />
                                </el-select>
                            </el-form-item>

                        </el-col>


                    </el-row>

                </el-form>

                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">
                        {{ $t('table.cancel') }}
                    </el-button>
                    <el-button type="primary" @click="createProperty()">
                        {{ $t('table.confirm') }}
                    </el-button>
                </div>
            </div>
        </el-dialog>

    </div>


</template>

<script>
    import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
    import BackendErrors from '@/mixins/backend-errors';
    import DatePickerOptions from '@/mixins/date-picker-options';
    import waves from '@/directive/waves'; // Waves directive
    import permission from '@/directive/permission'; // Waves directive

    import SelectResource from '@/components/SelectResource';

    // import AssignmentResource from '@/api/assignment'
    import CountryResource from '@/api/country'
    import UserResource from '@/api/user'
    import PropertyTypesResource from '@/api/property-types'
    // import PropertyResource from '@/api/property'


    import Resource from '@/api/resource'


    const countryResource = new CountryResource();
    // const assignmentResource = new AssignmentResource();
    const userResource = new UserResource();
    const propertyTypesResource = new PropertyTypesResource();
    const propertyResource = new Resource('building-survey-properties');
    const assignmentResource = new Resource('building-survey-assignments');

    export default {
        name: 'AssignmentDetail',
        components: { Pagination, SelectResource },
        directives: { waves, permission },
        mixins:[BackendErrors, DatePickerOptions],
        data() {
            return {
                list: null,
                templateList: null,
                countryList: null,
                propertyTypeList: null,
                inspectionTypeList: null,
                userList: [],
                assignment: {
                    service:{
                        code:'VAL'
                    }
                },
                total: 0,
                tempRoute:{},
                newProperty:{},
                query: {
                    page: 1,
                    assignment_id: null,
                    limit: 10,
                    keyword: '',
                },
                dialogEditFormVisible:false,
                dialogFormVisible:false,
                editProperty:{},
                propertyEditing:false,
                propertyCreating:false,
            };
        },
        created() {
            this.tempRoute = Object.assign({}, this.$route);
            this.query.assignment_id = this.$route.params.id;
            this.getList();
            /*this.getAssignment();
            this.getTemplateList();
            this.getCountryList();
            this.getPropertyTypeList();
            this.getInspectionTypeList();
            this.getUserList();*/
        },
        methods: {
            createProperty() {
                this.propertyCreating = true;
                propertyResource
                    .store(this.newProperty)
                    .then(response => {
                        this.$message({
                            message: `New property ${this.newProperty.name} has been created successfully.`,
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.resetNewProperty();
                        this.dialogFormVisible = false;
                        this.handleFilter();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.propertyCreating = false;
                    });
            },
            handleCreate() {
                this.resetNewProperty();
                this.clear();
                this.dialogFormVisible = true;
            },
            resetNewProperty() {
                this.newProperty = {
                    template : '',
                    area : '',
                    surveyor : '',
                    name : '',
                    plot_number : '',
                    property_number : '',
                    property_type : '',
                    assignment : this.query.assignment_id,
                };
            },
            editResource() {
                this.propertyEditing = true;
                propertyResource
                    .update(this.editProperty.id,this.editProperty)
                    .then(response => {
                        this.$message({
                            message: `Property (${this.editProperty.name}) has been updated successfully.`,
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.dialogEditFormVisible = false;
                        this.clear();
                        this.handleFilter();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.propertyEditing = false;
                    });
            },
            async getPropertyTypeList() {
                const { data } = await propertyTypesResource.listAll();
                this.propertyTypeList = data;
            },
            async getInspectionTypeList() {
                const { data } = await assignmentResource.inspectionTypeList(this.query.assignment_id);
                this.inspectionTypeList = data;
            },
            async getTemplateList() {
                const { data } = await assignmentResource.resourceListAll(this.query.assignment_id,'templates');
                this.templateList = data;
            },
            async getCountryList() {
                const { data } = await countryResource.listAll();
                this.countryList = data;
            },
            async getUserList() {
                const { data } = await userResource.listAll();
                this.userList = data;
            },
            handleEdit(row) {
                this.resetEditProperty(row);
                this.dialogEditFormVisible = true;
            },
            resetEditProperty(row) {
                this.editProperty = {
                    id : row.id,
                    name: row.name,
                    template: row.template_id,
                    area: row.area_id,
                    surveyor: row.surveyor_id,
                    plot_number: row.plot_number,
                    property_number: row.property_number,
                    property_type: row.property_type,
                    assignment: row.assignment_id,
                };
            },
            handleValuation(row){
                this.$router.push({name:'propertyValuation',params:{id:row.id}})
            },
            handleDefects(row){
                this.$router.push({name:'BuildingSurveyDefectList',params:{id:row.id}})
            },
            handleReports(row){
                this.$router.push({name:'propertyReports',params:{id:row.id}})
            },
            handleFilter() {
                this.query.page = 1;
                this.getList();
            },
            async getList() {
                const { limit, page } = this.query;
                this.loading = true;
                const { data, meta } = await propertyResource.list(this.query);
                this.list = data;
                this.list.forEach((element, index) => {
                    element['index'] = (page - 1) * limit + index + 1;
                });
                this.total = meta.total;
                this.loading = false;
            },
            async getAssignment() {
                const { data } = await assignmentResource.get(this.$route.params.id);
                this.assignment = data;
                this.setTagsViewTitle();
            },
            setTagsViewTitle() {
                const title ='Properties '; // Should move to i18n
                const route = Object.assign({}, this.tempRoute, {
                    title: `${title} - [${this.assignment.ref_no}]`,
                });
                this.$store.dispatch('tagsView/updateVisitedView', route);
            }
        }
    };
</script>

<style lang="scss" scoped>
    .edit-input {
        padding-right: 100px;
    }
    .cancel-btn {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .dialog-footer {
        text-align: left;
        padding-top: 0;
        margin-left: 407px;
    }
    .app-container {
        flex: 1;
        justify-content: space-between;
        font-size: 14px;
        padding-right: 8px;
        .block {
            float: left;
            min-width: 250px;
        }
        .clear-left {
            clear: left;
        }
    }
    .unit__prepend{
        width: 100px;
    }
    /*.el-input-group__prepend, .el-input.el-input--medium.el-input--suffix{
        width: 100px !important;
    }*/

    /*.el-select .el-input {
        width: 110px;
    }
    .input-with-select .el-input-group__prepend {
        background-color: #fff;
    }*/
</style>
