<template>
    <!--<div class="drawer-container">
        <div>
            <el-divider content-position="left">Notifications <small @click="markNotificationsAsRead" class="mark-as-read">Mark read</small></el-divider>
            <span v-if="!unreadNotifications.length">No Unread Notification</span>
            <ul>
                <li v-for="notification in unreadNotifications" v-html="notification.data.message"></li>
            </ul>
            <el-divider content-position="left">Read Notifications</el-divider>
            <ul>
                <li v-for="notification in readNotifications" v-html="notification.data.message"></li>
            </ul>
        </div>
    </div>-->
    <el-dropdown class="dropdown" trigger="click">

        <div class="badge-top-container">
            <span class="badge badge-primary" v-if="unreadNotifications.length">{{ unreadNotifications.length }}</span>
            <i aria-haspopup="true" class="i-Bell text-muted header-icon dropdown-toggle" role="button" aria-expanded="false"></i>
        </div>
        <el-dropdown-menu slot="dropdown" class="dropdown-box top-notis">
            <div class="noti-header"><strong>Notifications</strong> <small @click="markNotificationsAsRead">Mark as Unread</small></div>



            <div  class="dropdown-item unread d-flex" v-for="note in unreadNotifications">
                <div  class="notification-icon">
                    <div class="avatars">
                       <span class="el-tooltip item el-avatar el-avatar--circle">
                           <img :src="note.data.by_user_avatar" style="object-fit: cover;">
                    </span>
                    </div>
                </div>
                <div  class="notification-details flex-grow-1">
                    <!-- <p class="m-0 d-flex align-items-center">
                    <!-- <span >{{note.data.title}}</span>
                    <span class="flex-grow-1"></span>
                </p> -->
                    <p  class="text-small m-0" v-html="note.data.message"></p>
                    <span class="text-small text-muted ml-auto"><i class="el-icon-time"></i> {{ note.created_at|fromNow }}</span>
                </div>
            </div>


            <div  class="dropdown-item d-flex" v-for="note in readNotifications">
                <div  class="notification-icon">
                    <div class="avatars">
                       <span class="el-tooltip item el-avatar el-avatar--circle">
                           <img :src="note.data.by_user_avatar" style="object-fit: cover;">
                    </span>
                    </div>
                </div>
                <div class="notification-details flex-grow-1">
                    <!-- <p class="m-0 d-flex align-items-center">
                    <span >{{note.data.title}}</span>
                    <span class="flex-grow-1"></span>
                </p> -->
                    <p class="text-small m-0" v-html="note.data.message"></p>
                    <span class="text-small text-muted ml-auto"><i class="el-icon-time"></i> {{ note.created_at|fromNow }}</span>
                </div>
            </div>

        </el-dropdown-menu>
    </el-dropdown>


</template>

<script>
    import ThemePicker from '@/components/ThemePicker';
    import request from '@/utils/request';

    export default {
        components: { ThemePicker },
        data() {
            return {
                tempRoute:{},
                notifications:[]
            };
        },
        mounted(){

            this.subscribeForNotifications();
            this.getUnreadNotifications();

        },
        created() {
            this.tempRoute = Object.assign({}, this.$route);
        },
        computed: {
            /*notifications(){
                return this.$store.state.notifications.notifications;
            },*/
            userId(){
                return this.$store.getters.userId;
            },
            unreadNotifications(){
                return this.notifications.filter(item => !item.read_at);
            },
            readNotifications(){
                return this.notifications.filter(item => item.read_at);
            },
        },
        methods: {
            subscribeForNotifications() {
                let vm = this;
                Echo.private('App.Laravue.Models.User.'+this.userId)
                    .notification((notification) => {
                        console.log(notification);
                        // this.$notify({
                        //     title: notification.title,
                        //     dangerouslyUseHTMLString: true,
                        //     message:  '<p>'+notification.message+'</p>' ,
                        //     duration: 0
                        // });
                        this.$message({
                            showClose: true,
                            message: 'You have New Notification.',
                            type: 'success'
                        });
                        vm.notifications.push({
                            data:notification
                        })
                    });
            },
            getUnreadNotifications() {
                let vm = this;
                request({
                    url: '/users-notifications',
                    method: 'get',
                }) .then(function (response) {
                    // handle success
                    vm.notifications = response
                }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).finally(function () {
                    // always executed
                });
            },
            markNotificationsAsRead() {
                let vm = this;
                request({
                    url: '/users-notifications/'+this.userId,
                    method: 'put',
                }) .then(function (response) {
                    vm.getUnreadNotifications();
                }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).finally(function () {
                    // always executed
                });
            },
        },
        /*watch:{
            notifications(){
                this.$emit('has-notifications',this.unreadNotifications.length)
            }
        }*/
    };
</script>

<style lang="scss" scoped>
    .dropdown-box{
        max-height: 400px;
        overflow: overlay;
        max-width: 440px;
        padding: 0 0 6px;
    }
    .noti-header {
        padding: 12px 23px 12px 15px;
        background: #fff;
    }
    .noti-header small {
        float: right;
        cursor: pointer;
    }
    .top-notis .dropdown-item {
        padding: 12px 25px 8px 12px;
        border-top: 1px solid rgba(0, 0, 0, 0.06);
    }
    .top-notis .dropdown-item a {
        color: #333333;
    }
    .time {
        font-size: 10px;
    }
    .notification-details {
        margin-left: 5px;
        padding-right: 30px;
    }
    .notification-details p {
        white-space: normal;
        color: #333333 !important;
        line-height: 18px;
        font-size: 12px;
        margin-bottom: 5px !important;
    }

    .notification-details p b , .notification-details p strong {
        color: #333333 !important;
    }

    .notification-details p a {
        float: right;
        color: #b3b3b3;
    }

    .top-notis .dropdown-item:last-child {
        border: none !important;
    }
    .top-notis .notification-icon {
        margin-right: 7px;
    }

    .top-notis .notification-icon .avatars img {
        border: 1px solid #c4c4c4;
    }

    .top-notis .dropdown-item.active, .top-notis .dropdown-item:active {
        background: none !important;
        color: #47404f !important;
    }

    .top-notis .dropdown-item.unread {
        background: #f8f9fa !important;
        border-left: 2px solid #003d6b;
    }


</style>
