<template>
    <div>
        <el-row :gutter="20" >
           <el-col :xs="24" :sm="14" :md="14" :lg="14" :xl="14">  
        <div class="el-form-item el-form-item--mini">
            <div class="el-input el-input--mini">
                <gmap-autocomplete selectFirstOnEnter class="el-input__inner" placeholder="Search for Place" @place_changed="updateCoordinatesFromPlace"/>
            </div>
        </div>

        <GmapMap
            ref="mapRef"
            style="width: 100%; height: 280px;"
            :zoom="zoom"
            :center="{lat: position.lat,lng:position.lng,}"
            @zoom_changed="setZoom($event)"
        >
            <!--@center_changed.lazy="centerChanged($event)"-->
            <GmapMarker
                :position="{lat: lat,lng:lng,}"
                :draggable="true"
                v-if="lat !== null && lng !== null"
                @dragend="updateCoordinatesOnDragend"
            />

            <gmapPolygon v-if="paths.length > 0" :paths="paths"/>
        </GmapMap>
           </el-col>
<el-col :xs="12" :sm="10" :md="10" :lg="10" :xl="10">  
        <el-row :gutter="10">
            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">  
                <el-form-item label="Latitude:">
                    <el-input size="mini" placeholder="Lat" v-model="lat"/>
                </el-form-item>
            </el-col>
           <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12"> 
               <el-form-item label="Longitude:">
                <el-input size="mini" placeholder="Lng" v-model="lng"/>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"> 
                <el-form-item label="Search using coordinates : Latitude,Longitude:">
                    <el-input size="mini" placeholder="Lat,Lng" v-model="latlng" @change="handleChangeGPS"/>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"> 
                <el-button-group>
                    <el-button type="warning" icon="el-icon-brush" size="mini" @click="handleClearMarker">Clear Marker</el-button>
                    <el-button type="warning" icon="el-icon-brush" size="mini" @click="handleClearPolygon">Clear Polygon</el-button>
                    <el-button type="primary" icon="el-icon-brush" size="mini" @click="handleCurrentLocation">Current Location</el-button>
                    <el-button type="success" icon="el-icon-brush" size="mini" @click="handleSaveChanges">Save Locations</el-button>
                </el-button-group>
            </el-col>
        </el-row>
</el-col>
        </el-row>
    </div>
</template>


<script>
    import {gmapApi} from 'vue2-google-maps'
    import Resource from '@/api/resource'

    const locationResource = new Resource('maps-locations');


    export default {
        name: "GoogleMaps",
        data() {
            return {
                position: {
                    lat: 25.2048493,
                    lng: 55.270782800000006,
                },
                id: null,
                lat: null,
                lng: null,
                zoom: 10,
                markers: [],
                place:null,
                paths: [],
                latlng: '',
            };
        },
        props:{
            resourceId:{
                required:true
            },
            resourceType:{
                type:String,
                required:true
            },
        },
        mounted () {
            // At this point, the child GmapMap has been mounted, but
            // its map has not been initialized.
            // Therefore we need to write mapRef.$mapPromise.then(() => ...)
            let vm = this;
            this.$refs.mapRef.$mapPromise.then(google => {
                google.mapTypeId = 'hybrid';

                const drawingManager = new this.google.maps.drawing.DrawingManager({
                    drawingMode: this.google.maps.drawing.OverlayType.MARKER,
                    drawingControl: true,
                    drawingControlOptions: {
                        position: this.google.maps.ControlPosition.TOP_CENTER,
                        drawingModes: ['marker', /*'circle', */'polygon',/* 'polyline', 'rectangle'*/]
                    },
                    polygonOptions: {
                        fillColor: '#fff604',
                        fillOpacity: 0.3,
                        strokeColor: '#0014ff',
                        strokeWeight: 2,
                        editable: true
                    }
                });

                drawingManager.setMap(this.$refs.mapRef.$mapObject);

                this.google.maps.event.addListener(drawingManager, 'overlaycomplete', function (event) {
                    // console.log(event.type);
                    if (event.type === 'polygon'){

                        let newPoly = event.overlay.getPath().getArray();
                        let willAddPoly = [];
                        newPoly.forEach((item)=>{
                            willAddPoly.push({
                                lat: item.lat(),
                                lng: item.lng(),
                            })
                        });
                        vm.paths = willAddPoly;
                    } else if (event.type === 'marker'){
                        vm.setCoordinate(event.overlay.position.lat(),event.overlay.position.lng());
                    }


                    // Get overlay paths
                    // let paths = event.overlay.getPaths().getArray();
                    // Remove overlay from map
                    event.overlay.setMap(null);

                    // Disable drawingManager
                    // drawingManager.setDrawingMode(null);

                    vm.handleSaveChanges();
                    // Create Polygon
                    // vm.savePolygon(vm.paths);
                });

            });

        },
        created(){
            this.getMapsLocations();
        },
        methods:{
            handleChangeGPS() {
                let latlng = this.latlng.split(',');
                let lat = parseFloat(latlng[0]);
                let lng = parseFloat(latlng[1]);
                if((!Number.isNaN(lat)) && (!Number.isNaN(lng))){
                    this.setCoordinate(lat,lng);
                    this.setPositionCoordinate(lat,lng);
                    this.setZoom(15);
                }
            },
            centerChanged(center) {
                // this.setPositionCoordinate(center.lat(),center.lng());
            },
            setZoom(zoom) {
                this.zoom = zoom;
            },
            setCoordinate(lat,lng) {
                this.lat = lat;
                this.lng = lng;
            },
            setPositionCoordinate(lat,lng) {
                this.position.lat = lat;
                this.position.lng = lng;
            },
            updateCoordinatesOnDragend(location) {
                this.setCoordinate(location.latLng.lat(),location.latLng.lng());
            },
            updateCoordinatesFromPlace(place) {
                this.place = place;
                if (this.place) {
                    this.setCoordinate(this.place.geometry.location.lat(),this.place.geometry.location.lng());
                    this.setPositionCoordinate(this.place.geometry.location.lat(),this.place.geometry.location.lng());
                    this.setZoom(15);
                }
            },
            handleSaveChanges(){
                locationResource.update(this.id,{
                    position_lat:this.lat,
                    position_lng:this.lat,
                    lat:this.lat ,
                    lng:this.lng ,
                    zoom:this.zoom ,
                    paths:this.paths ,
                }).then(response => {
                    this.$message({
                        message: 'Congrats, maps location is saved successfully.',
                        type: 'success'
                    });
                }).catch(error => {
                    console.error(error);
                })
            },
            handleCurrentLocation(){
                let vm = this;
                navigator.geolocation.getCurrentPosition(function(position) {
                    let lat = position.coords.latitude;
                    let long = position.coords.longitude;

                    vm.setCoordinate(lat,long);
                    vm.setPositionCoordinate(lat,long);
                    vm.handleSaveChanges();
                });
//                console.log(navigator.geolocation.getCurrentPosition());
            },
            getMapsLocations(){
                locationResource.list({
                    locationable_id : this.resourceId,
                    locationable_type :this.resourceType,
                    first :true,
                }).then(response => {
                    this.id = response.data.id;
                    this.position.lat = response.data.position_lat ?? 25.2048493;
                    this.position.lng = response.data.position_lng ?? 55.270782800000006;
                    this.lat = response.data.lat;
                    this.lng = response.data.lng;
                    this.zoom = response.data.zoom ?? 10;
                    this.paths = response.data.polygon ?? [];
//                    console.log(response);
                }).catch(error => {
                    console.error(error);
                })
            },
            handleClearMarker(){
                this.setCoordinate(null,null);
                this.handleSaveChanges();
            },
            handleClearPolygon(){
                this.paths=[] ;
                this.handleSaveChanges();
            },
        },
        computed:{
            google: gmapApi
        },
    }

</script>

<style scoped>

</style>
