<template>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis delectus dicta distinctio expedita facere, fugiat impedit inventore laborum minus, nam nisi optio, provident quos repellendus suscipit ullam veritatis voluptas?
    </div>
</template>

<script>
    import {MapElementFactory} from 'vue2-google-maps'

    export default MapElementFactory({

        name: "GoogleDrawingMap",

        ctr: () => google.maps.drawing,

        events: [
            'click',
            'dblclick',
            'drag',
            'dragend',
            'dragstart',
            'mousedown',
            'mousemove',
            'mouseout',
            'mouseup',
            'rightclick'
        ],

        mappedProps: {
            routeIndex: { type: Number },
            options: { type: Object },
            panel: { },
            directions: { type: Object },
            //// If you have a property that comes with a `_changed` event,
            //// you can specify `twoWay` to automatically bind the event, e.g. Map's `zoom`:
            // zoom: {type: Number, twoWay: true}
        },

        props: {},

        beforeCreate (options) {},
        // Actions to perform after creating the object instance.
        afterCreate (directionsRendererInstance) {},
    })
</script>

<style scoped>

</style>
