<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
    export default {
        name: 'App',
    };

    /*var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5d9307566c1dde20ed04597c/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();*/
</script>
<!--End of Tawk.to Script-->

<style>
  /*@tailwind base;

  @tailwind components;

  @tailwind utilities;*/

  /*#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title, #app .sidebar-container .el-submenu .el-menu-item {
      display: flex;
      align-items: center;
  }
  #app .sidebar-container .el-submenu__title, .el-menu-item {
      display: flex;
      align-items: center;
  }*/

  .el-table__header{
    font-size: 0.8em;
    color: black;
  }
  .el-table__body-wrapper{
    font-size: 0.9em;
    color: black;
  }
</style>
