<template>
    <div>

        <el-tabs class="st-drwwer-tabs">
            <el-tab-pane label="Request New">
                <el-form :inline="true" class="form-container">
                    <el-row :gutter="20">
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Contractor Name:">
                                <el-input placeholder="Contractor Name:" v-model="form.contractor_name"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Contractor Contact No.">
                                <el-input placeholder="Contractor Contact No." v-model="form.contractor_contact_no"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Site Supervisor Name:">
                                <el-input placeholder="Site Supervisor Name:" v-model="form.site_supervisor_name"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Site Supervisor Contact No.">
                                <el-input placeholder="Site Supervisor Contact No." v-model="form.site_supervisor_contact_no"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">

                            <h3>Work Permit Validity</h3>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Issuance Date">
                                <el-date-picker placeholder="Issuance Date" v-model="form.issuance_date"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Validity Date">
                                <el-date-picker placeholder="Validity Date" v-model="form.validity_date"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Personnel</h3>
                        </el-col>

                        <div v-for="(area,index) in form.areas" :key="index">

                            <el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
                                <el-form-item label="Working Area">
                                    <el-input placeholder="Working Area" v-model="area.area"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
                                <el-button class="sub-con-plus"  v-if="index === 0" @click="addArea" icon="el-icon-plus"/>
                                <el-button class="sub-con-del" v-else icon="el-icon-delete" @click="form.areas.splice(index,1)"/>
                            </el-col>
                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                <el-form-item label="Description of Work">
                                    <el-input type="textarea" placeholder="Description of Work" v-model="area.description"/>
                                </el-form-item>
                            </el-col>

                            <br clear="all">
                        </div>

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Working Area Condition</h3>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Pre Work Condition">
                                <el-input type="textarea" placeholder="Pre Work Condition" v-model="form.pre_work_condition"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Post Work Condition">
                                <el-input type="textarea" placeholder="Post Work Condition" v-model="form.post_work_condition"/>
                            </el-form-item>
                        </el-col>

                    </el-row>
                </el-form>

                <el-button class="btn btn-cancel" @click="closeForm">Cancel</el-button>
                <el-button class="btn btn-red" :disabled="submitingRequest"  @click="submitForm">Confirm</el-button>


            </el-tab-pane>


            <el-tab-pane label="Requests List">

                <el-table
                    :data="list"
                    style="width: 100%">
                    <el-table-column
                        prop="id"
                        width="50px"
                        label="No">
                        <template slot-scope="scope">
                            {{ scope.$index+1 }}
                        </template>
                    </el-table-column>
                    <el-table-column
                        width="200px"
                        label="Submit At">
                        <template slot-scope="scope">
                            {{ scope.row.created_at|time('llll') }}
                        </template>
                    </el-table-column>
                    <el-table-column
                        label="Status"
                        width="150px">
                        <template slot-scope="scope">
                            <span v-if="scope.row.status === 'Approved'"><el-tag size="mini" type="success">Approved</el-tag></span>
                            <span v-else-if="scope.row.status === 'Rejected'"><el-tag size="mini" type="danger">Rejected</el-tag></span>
                            <span v-else><el-tag size="mini" type="warning">Pending</el-tag></span>
                        </template>
                    </el-table-column>
                    <el-table-column
                        label="Comment"
                        prop="comment"
                        width="150">
                    </el-table-column>
                    <el-table-column
                        label="Operations">
                        <template slot-scope="scope">
                            <a :href="scope.row.download_url" class="el-button el-button--default el-button--mini" download>Download</a>
                            <el-button size="mini"  @click.native.prevent="viewForm(scope.row)">View</el-button>
                        </template>
                    </el-table-column>

                </el-table>

                <el-dialog class="req-popup"
                           width="50%"
                           title="Access work permit form Form Details"
                           :visible.sync="detailVisible"
                           append-to-body>

                    <el-row :gutter="25">
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form class="req-list-form" label-position="top" :inline="true">
                                <el-form-item label="Status" v-if="checkRole(['admin','fom manager'])">
                                    <el-select @change="updateStatus(rowDetail.id)" v-model="status" placeholder="Please select a status">
                                        <el-option label="Approved" value="Approved"/>
                                        <el-option label="Rejected" value="Rejected"/>
                                        <el-option label="Pending" value="Pending"/>
                                    </el-select>
                                </el-form-item>
                            </el-form>

                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th>Name</th>
                                    <th width="200px">Value</th>
                                </tr>
                                <tr>
                                    <td>Contractor Name</td>
                                    <td>{{ rowDetail.contractor_name }}</td>
                                </tr>
                                <tr>
                                    <td>Contractor Contact No</td>
                                    <td>{{ rowDetail.contractor_contact_no }}</td>
                                </tr>
                                <tr>
                                    <td>Site Supervisor Name</td>
                                    <td>{{ rowDetail.site_supervisor_name }}</td>
                                </tr>
                                <tr>
                                    <td>Site Supervisor Contact No</td>
                                    <td>{{ rowDetail.site_supervisor_contact_no }}</td>
                                </tr>
                                <tr>
                                    <td>Issuance Date</td>
                                    <td>{{ rowDetail.issuance_date }}</td>
                                </tr>
                                <tr>
                                    <td>Validity Date</td>
                                    <td>{{ rowDetail.validity_date }}</td>
                                </tr>
                                <tr>
                                    <td>Pre Work Condition</td>
                                    <td>{{ rowDetail.pre_work_condition }}</td>
                                </tr>
                                <tr>
                                    <td>Post Work Condition</td>
                                    <td>{{ rowDetail.post_work_condition }}</td>
                                </tr>
                            </table>

                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">

                                <tr>
                                    <th>Working Area</th>
                                    <th>Description of Work</th>
                                </tr>
                                <tr v-for="area in rowDetail.areas">
                                    <td>{{ area.area }}</td>
                                    <td>{{ area.description }}</td>
                                </tr>

                            </table>

                        </el-col>
                    </el-row>


                </el-dialog>



            </el-tab-pane>
        </el-tabs>

    </div>
</template>

<script>

    import checkRole from '@/utils/role';
    import FomFillUpFormResource from '@/api/fill-up-form';
    const fomFillUpFormResource = new FomFillUpFormResource('accessWorkPermit');
    import BackendErrors from '@/mixins/backend-errors';
    export default {
        name: "access-work-permit-form",
        mixins:[BackendErrors],
        props:['task'],
        data() {
            return {
                form:{
                    contractor_name:'',
                    contractor_contact_no:'',
                    site_supervisor_name:'',
                    site_supervisor_contact_no:'',
                    issuance_date:'',
                    validity_date:'',
                    pre_work_condition:'',
                    post_work_condition:'',
                    task_id:this.task.id,
                    areas:[
                        {
                            area:'',
                            description:''
                        }
                    ],
                },
                submitingRequest:false,
                detailVisible:false,
                list:[],
                rowDetail:{
                    contractor_name:'',
                    contractor_contact_no:'',
                    site_supervisor_name:'',
                    site_supervisor_contact_no:'',
                    issuance_date:'',
                    validity_date:'',
                    pre_work_condition:'',
                    post_work_condition:'',
                    task_id:this.task.id,
                    areas:[
                        {
                            area:'',
                            description:''
                        }
                    ],
                },
                status:''
            };
        },
        created(){
            this.getList();
        },
        methods:{
            checkRole,
            addArea(){
                this.form.areas.push({
                    area:'',
                    description:''
                })
            },
            getList(){
                fomFillUpFormResource.listByTask(this.task.id)
                    .then(response => {
                        this.list = response.data;
                    }).catch(error => {
                })
            },
            submitForm(){
                this.submitingRequest = true;
                fomFillUpFormResource.store(this.form)
                    .then(response => {
                        this.list.push(response.data);
                        this.resetForm();
                        this.clear();
                        this.$message({
                            message: `Congrats, report submit successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch(error => {
                    this.record(error)
                }).finally(()=>{
                    this.submitingRequest = false;
                })
            },
            closeForm(){
                this.resetForm();
                this.$emit('close');
            },
            resetForm(){
                this.form = {
                    contractor_name:'',
                    contractor_contact_no:'',
                    site_supervisor_name:'',
                    site_supervisor_contact_no:'',
                    issuance_date:'',
                    validity_date:'',
                    pre_work_condition:'',
                    post_work_condition:'',
                    task_id:this.task.id,
                    areas:[
                        {
                            area:'',
                            description:''
                        }
                    ],
                };
            },
            viewForm(row){
                this.detailVisible = true;
                this.rowDetail=row;
                this.status=this.rowDetail.status;
                console.log(row);
            },
            updateStatus(id){

                this.$prompt('Please input comment', 'Comment', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                }).then(({ value }) => {
                    fomFillUpFormResource.updateStatus(id,{
                        status: this.status,
                        comment:value
                    }).then(response => {
                        this.getList();
                        this.$message({
                            message: `Congrats, status updated successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch((error) => {
                        console.log(error);
                    });
                }).catch((error) => {
                    this.status=this.rowDetail.status;
                    console.log(error);
                });

            }
        }
    }
</script>

<style scoped>
    .sub-con-plus , .sub-con-plus:hover , .sub-con-plus:focus , .sub-con-plus:visited {
        color: #FFF;
        background: #13ce66 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #13ce66 !important;
        margin-top: 25px;
        width: 100%;
    }

    .sub-con-del , .sub-con-del:hover , .sub-con-del:focus , .sub-con-del:visited {
        color: #FFF;
        background: #f15151 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #f15151 !important;
        margin-top: 25px;
        width: 100%;
    }

    .btn-red {
        background: #9e0d21;
    }

    .btn-red:hover, .btn-red:active , .btn-red:focus {
        background: #880a1b !important;
        color: #fff;
        outline: none;
        box-shadow: none;
    }

    .st-drwwer .btn-cancel , .st-drwwer .btn-red {
        padding: 12px 25px;
        margin-top: 0;
        border: 1px solid #9e0d21 !important;
    }
</style>
