<template>
    <div >

        <el-tabs class="st-drwwer-tabs">
            <el-tab-pane label="Request New">
                <el-form :inline="true" class="form-container">
                    <el-row :gutter="20">
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <div class="custom-alert my-side-notes">
                                This Certificate of Conformity must be completed and submitted to Fit-out Contractor or Consultant for all Fit-out/renovation works. Application must be after the work place has been established but prior to commencement of the Fit-out activities
                            </div>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Date of Submission">
                                <el-date-picker placeholder="Date of Submission" v-model="form.date_of_submission"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <div class="custom-alert-warning my-side-notes">
                                <strong><i class="el-icon-warning"></i> NOTE:</strong> Online submission during holidays will be counted from the first day of working.
                            </div>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <div class="custom-alert my-side-notes">
                                <h5>
                                    Terms and Conditions
                                </h5>
                                <ol>
                                    <li>COC inspection will be schedule after 2 days from the above specified date.</li>
                                    <li>COC inspection will be schedule cum first submission basis. 10 COC inspections will be scheduled in a day.</li>
                                    <li>Date and Time of inspection will be notified and it will have 15 minutes +/- tolerance in the schedule time.</li>
                                    <li>Fees of AED 100 will be charged for each re schedule COC inspection request. Re scheduling will be done after the payment paid at fit out office.</li>
                                </ol>
                            </div>
                        </el-col>

                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Name of Tenant">
                                <el-input placeholder="Name of Tenant" v-model="form.name_of_tenant"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Shop/Unit No.">
                                <el-input placeholder="Shop/Unit No." v-model="form.shopunit_no"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Tower">
                                <el-input placeholder="Tower" v-model="form.tower"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="File No.">
                                <el-input placeholder="File No." v-model="form.file_no"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Tenant/Tenant's Representative:</h3>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Contact Person">
                                <el-input placeholder="Contact Person" v-model="form.t_contact_person"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Office Tel No.">
                                <el-input placeholder="Office Tel No." v-model="form.t_office_tel_no"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Title/Position">
                                <el-input placeholder="Title/Position" v-model="form.t_title_position"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Mobile No.">
                                <el-input placeholder="Mobile No." v-model="form.t_mobile_no"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Address">
                                <el-input placeholder="Address" v-model="form.t_address"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Email">
                                <el-input placeholder="Email" v-model="form.t_email"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Name of Consultant/Designer/Contractor:</h3>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Title/Position">
                                <el-input placeholder="Title/Position" v-model="form.c_title_position"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Mobile No.">
                                <el-input placeholder="Mobile No." v-model="form.c_mobile_no"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Address">
                                <el-input placeholder="Address" v-model="form.c_address"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Email">
                                <el-input placeholder="Email" v-model="form.c_email" />
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Fit Out Operation Site Representative</h3>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Contact Person">
                                <el-input placeholder="Contact Person" v-model="form.f_contact_person"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Office Tel No.">
                                <el-input placeholder="Office Tel No." v-model="form.f_office_tel_no"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Title/Position">
                                <el-input placeholder="Title/Position" v-model="form.f_title_position"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Mobile No.">
                                <el-input placeholder="Mobile No." v-model="form.f_mobile_no"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>We hereby confirm that the following HSE requirement have been complied with:</h3>

                            <table width="100%" class="drawer-table req-list-table" border="1" style="border-collapse: collapse;">
                                <tr>
                                    <th>SN</th>
                                    <th>Description</th>
                                    <th style="width: 35%;">Answer</th>
                                </tr>
                                <tr>
                                    <td class="special" rowspan="4">1</td>
                                    <td class="special"><b>Workplace Mobilization</b></td>
                                    <td class="special"></td>
                                </tr>
                                <tr>
                                    <td>a) Is Contractor Contact Details displayed on the door i.e. PO Box S Eng. No etc. </td>
                                    <td>
                                        <el-radio-group v-model="form.question_1">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>b) Are warning and mandatory instruction signs displayed (use PPE, Electric risk and First Aid) </td>
                                    <td>
                                        <el-radio-group v-model="form.question_2">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>c) Access restricted/ unauthorized entry prohibited sign displayed on the door</td>
                                    <td>
                                        <el-radio-group v-model="form.question_3">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="special" rowspan="6">2</td>
                                    <td class="special"><b>Welfare Arrangements</b></td>
                                    <td class="special"></td>
                                </tr>
                                <tr>
                                    <td>a) Is the first aid kit/material available</td>
                                    <td>
                                        <el-radio-group v-model="form.question_4">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>b) Hygienic washroom and rest area is provided </td>
                                    <td>
                                        <el-radio-group v-model="form.question_5">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>c) Cool drinking water available are workplace </td>
                                    <td>
                                        <el-radio-group v-model="form.question_6">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>d) Emergency contact detail are displayed i.e. Ambulance/Police/Fire Department</td>
                                    <td>
                                        <el-radio-group v-model="form.question_7">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>e) Rubbish skips/trash bins provision made available</td>
                                    <td>
                                        <el-radio-group v-model="form.question_8">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="special" rowspan="5">3</td>
                                    <td class="special"><b>Training</b></td>
                                    <td class="special"></td>
                                </tr>
                                <tr>
                                    <td>a) Workplace for Safety Induction Training provided to all employees</td>
                                    <td>
                                        <el-radio-group v-model="form.question_9">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>b) First Aider valid training certificate copy displayed at work place</td>
                                    <td>
                                        <el-radio-group v-model="form.question_10">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>c) Trained Fire Warden and certificate copy is available in case of hoot work performed i.e. welding/ Gas/cutting works</td>
                                    <td>
                                        <el-radio-group v-model="form.question_11">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>d)  Working at height using <el-radio label="Ladder" v-model="form.working_height">Ladder</el-radio> <el-radio label="scaffold" v-model="form.working_height">scaffold</el-radio>  (Tick Appropriate)
                                        Training certificate copy displayed at work place for erection of scaffold</td>
                                    <td>
                                        <el-radio-group v-model="form.question_12">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="special" rowspan="4">4</td>
                                    <td class="special"><b>Fire Prevention and Fire Fighting</b></td>
                                    <td class="special"></td>
                                </tr>
                                <tr>
                                    <td>a) Every 15 meter interval provided with one pair of portable fire extinguisher (DCP) and CO2) at the workplace</td>
                                    <td>
                                        <el-radio-group v-model="form.question_13">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>b) Emergency escape and assembly point locations are familiar to all </td>
                                    <td>
                                        <el-radio-group v-model="form.question_14">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>c) Emergency procedure of respective building/premises explained to all</td>
                                    <td>
                                        <el-radio-group v-model="form.question_15">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="special" rowspan="5">5</td>
                                    <td class="special"><b>Electricity</b></td>
                                    <td class="special"></td>
                                </tr>
                                <tr>
                                    <td>a) Residual Current Device (RCD)/Earth Leakage Circuit Breaker (ELCB) fitted distribution board is available.</td>
                                    <td>
                                        <el-radio-group v-model="form.question_16">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>b) Warning sign (electric shock risk) displayed on the distribution board</td>
                                    <td>
                                        <el-radio-group v-model="form.question_17">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>c) Emergency light available at work place</td>
                                    <td>
                                        <el-radio-group v-model="form.question_18">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>d) Workplace light and adequate ventilation arrangements are available</td>
                                    <td>
                                        <el-radio-group v-model="form.question_19">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="special" rowspan="8">6</td>
                                    <td class="special"><b>General </b></td>
                                    <td class="special"></td>
                                </tr>
                                <tr>
                                    <td>a) Workplace specific health and safety plan prepared and available and approved.</td>
                                    <td>
                                        <el-radio-group v-model="form.question_20">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>b) Workplace specific risk assessment and fire risk assessment available and approved.</td>
                                    <td>
                                        <el-radio-group v-model="form.question_21">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>c) Safety representative/workplace supervisor available</td>
                                    <td>
                                        <el-radio-group v-model="form.question_22">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>d) All employees are provided with work specific required PPE i.e. Safety Shoes, Hard Hat, Goggles, Dust Mask and Safety Harness</td>
                                    <td>
                                        <el-radio-group v-model="form.question_23">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>e) SDS documents are available for all chemicals used at workplace</td>
                                    <td>
                                        <el-radio-group v-model="form.question_24">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>f) Safe working at height procedure/instruction available are work i.e. use of ladder/scaffold instruction</td>
                                    <td>
                                        <el-radio-group v-model="form.question_25">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>g) PPE board is available and has sufficient PPEs for incoming visitors.</td>
                                    <td>
                                        <el-radio-group v-model="form.question_26">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="special" rowspan="5">7</td>
                                    <td class="special"><b>Common Area </b></td>
                                    <td class="special"></td>
                                </tr>
                                <tr>
                                    <td>a.) Common areas protected as per fit out manual.</td>
                                    <td>
                                        <el-radio-group v-model="form.question_27">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>b.) Land Sterling work permit displayed on the unit door.</td>
                                    <td>
                                        <el-radio-group v-model="form.question_28">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>c.) DM permit displayed on the unit door.</td>
                                    <td>
                                        <el-radio-group v-model="form.question_29">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>d.) Contractor valid trade license displayed on the unit door.</td>
                                    <td>
                                        <el-radio-group v-model="form.question_30">
                                            <el-radio v-for="option in answerOptions" :key="option" :label="option">{{ option }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>

                            </table>

                            <div class="custom-alert my-side-notes">
                                The main contractor undertaking to carry out the Fit-out renovation work in accordance with safety practices and procedures outlined in the General International Construction Safety Standards Guidelines. The main contractor is aware that they are fully liable for penalties for falling to carryout their works in accordance to the aforementioned standards and guidelines.
                            </div>

                            <div class="custom-alert my-side-notes">
                                The main contractor is also aware that in the event ofLand Sterling issuing work orders or prohibition notice, the main contractor is bounded to stop work immediately.
                            </div>

                            <div class="custom-alert-warning my-side-notes">
                                <strong><i class="el-icon-warning"></i> NOTE:</strong> NOTE: All items and/or equipment not present at the time of inspection and listed above as a NO will be the responsibility of the contractor to implement prior to the commencement of fit out work. It is not the responsibility or liability of Facilities Management to check that required changes have been implemented prior to the commencement of fit out activities. All work undertaken by the main contractor, is done so entirely at their own risk.
                            </div>


                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Main Contracotr's Authorized Person</h3>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Name">
                                <el-input placeholder="Name" v-model="form.a_contracotrs"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Title/Position">
                                <el-input placeholder="Title/Position" v-model="form.a_titleposition"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Consultant/Client's Authorized Person</h3>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Name">
                                <el-input placeholder="Name" v-model="form.cc_name"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Title/Position">
                                <el-input placeholder="Title/Position" v-model="form.cc_title_position"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Name of Inspector">
                                <el-input placeholder="Name of Inspector" v-model="form.cc_name_of_inspector"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Inspection Date">
                                <el-date-picker placeholder="Inspection Date" v-model="form.cc_inspection_date"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Additional Comments:">
                                <el-input type="textarea" placeholder="Additional Comments" v-model="form.cc_additional_comments"/>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>

                <el-button class="btn btn-cancel" @click="closeForm">Cancel</el-button>
                <el-button class="btn btn-red" :disabled="submitingRequest"  @click="submitForm">Confirm</el-button>


            </el-tab-pane>

            <el-tab-pane label="Requests List">

                <div class="req-list-item" v-for="(item,index) in list" :key="item.id">
                    <el-row>
                        <el-col :xs="24" :sm="1" :md="1" :lg="1" :xl="1">
                            <label>No</label>
                            <span>{{index+1}}</span>
                        </el-col>
                        <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
                            <label>Submission Date</label>
                            <span class="el-tag el-tag-m-primary">{{ item.day|time('ll') }}</span>
                        </el-col>
                        <el-col :xs="24" :sm="5" :md="5" :lg="5" :xl="5">
                            <label>Status</label>
                            <span class="el-tag el-tag--success" v-if="item.status === 'Approved'">Approved</span>
                            <span class="el-tag el-tag--danger" v-else-if="item.status === 'Rejected'">Rejected</span>
                            <span class="el-tag el-tag--warning" v-else>Pending</span>
                        </el-col>
                        <el-col :xs="24" :sm="7" :md="7" :lg="7" :xl="7">
                            <label>Requested At</label>
                            <span>{{ item.created_at|time('llll') }}</span>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"><hr></el-col>
                        <el-col :xs="24" :sm="18" :md="18" :lg="18" :xl="18">
                            <label>Comments</label>
                            <span>{{ item.comment }}</span>
                        </el-col>

                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                            <label>Action</label>
                            <span>
                      <a size="small" class="btn btn-primary" type="primary" href="javascript:;" @click="viewForm(item)">View</a>
                      <a size="small" class="btn btn-success" type="success" download  :href="item.download_url">Download</a>
                   </span>
                        </el-col>


                    </el-row>
                </div>
                <el-dialog class="req-popup"
                           width="70%"
                           title="Certificate of Conformity Form Details"
                           :visible.sync="detailVisible"
                           append-to-body>

                    <el-row :gutter="25">

                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                                <tr>
                                    <td>Date of Submission</td>
                                    <td>{{ rowDetail.date_of_submission }}</td>
                                </tr>
                                <tr>
                                    <td>Name of Tenant</td>
                                    <td>{{ rowDetail.name_of_tenant }}</td>
                                </tr>
                                <tr>
                                    <td>Shop/Unit No.</td>
                                    <td>{{ rowDetail.shopunit_no }}</td>
                                </tr>
                                <tr>
                                    <td>Tower</td>
                                    <td>{{ rowDetail.tower }}</td>
                                </tr>
                                <tr>
                                    <td>File No.</td>
                                    <td>{{ rowDetail.file_no }}</td>
                                </tr>
                            </table>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <table class="req-list-table" border="1" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th colspan="2"><b>Tenant/Tenant's Representative</b></th>
                                </tr>
                                <tr>
                                    <td>Contact Person</td>
                                    <td>{{ rowDetail.t_contact_person }}</td>
                                </tr>
                                <tr>
                                    <td>Office Tel No.</td>
                                    <td>{{ rowDetail.t_office_tel_no }}</td>
                                </tr>
                                <tr>
                                    <td>Title/Position</td>
                                    <td>{{ rowDetail.t_title_position }}</td>
                                </tr>
                                <tr>
                                    <td>Mobile No.</td>
                                    <td>{{ rowDetail.t_mobile_no }}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>{{ rowDetail.t_address }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{ rowDetail.t_email }}</td>
                                </tr>
                            </table>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <table class="req-list-table" border="1" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th colspan="2"><b>Name of Consultant/Designer/Contractor</b></th>
                                </tr>
                                <tr>
                                    <td>Title/Position</td>
                                    <td>{{ rowDetail.c_title_position }}</td>
                                </tr>
                                <tr>
                                    <td>Mobile No.</td>
                                    <td>{{ rowDetail.c_mobile_no }}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>{{ rowDetail.c_address }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{ rowDetail.c_email }}</td>
                                </tr>
                            </table>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <table class="req-list-table" border="1" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th colspan="2"><b>Fit Out Operation Site Representative</b></th>
                                </tr>
                                <tr>
                                    <td>Contact Person</td>
                                    <td>{{ rowDetail.f_contact_person }}</td>
                                </tr>
                                <tr>
                                    <td>Office Tel No.</td>
                                    <td>{{ rowDetail.f_office_tel_no }}</td>
                                </tr>
                                <tr>
                                    <td>Title/Position</td>
                                    <td>{{ rowDetail.f_title_position }}</td>
                                </tr>
                                <tr>
                                    <td>Mobile No.</td>
                                    <td>{{ rowDetail.f_mobile_no }}</td>
                                </tr>
                            </table>
                        </el-col>

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <span class="pop-sub-head">Main Contracotr's Authorized Person</span>
                            <table class="table-sec table-2" border="1" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th>SN</th>
                                    <th>Description</th>
                                    <th width="220px">Answer</th>
                                </tr>
                                <tr>
                                    <td class="special" rowspan="4">1</td>
                                    <td class="special"><b>Workplace Mobilization</b></td>
                                    <td class="special"></td>
                                </tr>
                                <tr>
                                    <td>a) Is Contractor Contact Details displayed on the door i.e. PO Box S Eng. No etc. </td>
                                    <td>
                                        {{ rowDetail.question_1 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>b) Are warning and mandatory instruction signs displayed (use PPE, Electric risk and First Aid) </td>
                                    <td>
                                        {{ rowDetail.question_2 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>c) Access restricted/ unauthorized entry prohibited sign displayed on the door</td>
                                    <td>
                                        {{ rowDetail.question_3 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="special" rowspan="6">2</td>
                                    <td class="special"><b>Welfare Arrangements</b></td>
                                    <td class="special"></td>
                                </tr>
                                <tr>
                                    <td>a) Is the first aid kit/material available</td>
                                    <td>
                                        {{ rowDetail.question_4 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>b) Hygienic washroom and rest area is provided </td>
                                    <td>
                                        {{ rowDetail.question_5 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>c) Cool drinking water available are workplace </td>
                                    <td>
                                        {{ rowDetail.question_6 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>d) Emergency contact detail are displayed i.e. Ambulance/Police/Fire Department</td>
                                    <td>
                                        {{ rowDetail.question_7 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>e) Rubbish skips/trash bins provision made available</td>
                                    <td>
                                        {{ rowDetail.question_8 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="special" rowspan="5">3</td>
                                    <td class="special"><b>Training</b></td>
                                    <td class="special"></td>
                                </tr>
                                <tr>
                                    <td>a) Workplace for Safety Induction Training provided to all employees</td>
                                    <td>
                                        {{ rowDetail.question_9 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>b) First Aider valid training certificate copy displayed at work place</td>
                                    <td>
                                        {{ rowDetail.question_10 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>c) Trained Fire Warden and certificate copy is available in case of hoot work performed i.e. welding/ Gas/cutting works</td>
                                    <td>
                                        {{ rowDetail.question_11 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>d)  Working at height using <el-radio label="Ladder" v-model="form.working_height">Ladder</el-radio> <el-radio label="scaffold" v-model="form.working_height">scaffold</el-radio>  (Tick Appropriate)
                                        Training certificate copy displayed at work place for erection of scaffold</td>
                                    <td>
                                        {{ rowDetail.question_12 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="special" rowspan="4">4</td>
                                    <td class="special"><b>Fire Prevention and Fire Fighting</b></td>
                                    <td class="special"></td>
                                </tr>
                                <tr>
                                    <td>a) Every 15 meter interval provided with one pair of portable fire extinguisher (DCP) and CO2) at the workplace</td>
                                    <td>
                                        {{ rowDetail.question_13 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>b) Emergency escape and assembly point locations are familiar to all </td>
                                    <td>
                                        {{ rowDetail.question_14 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>c) Emergency procedure of respective building/premises explained to all</td>
                                    <td>
                                        {{ rowDetail.question_15 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="special" rowspan="5">5</td>
                                    <td class="special"><b>Electricity</b></td>
                                    <td class="special"></td>
                                </tr>
                                <tr>
                                    <td>a) Residual Current Device (RCD)/Earth Leakage Circuit Breaker (ELCB) fitted distribution board is available.</td>
                                    <td>
                                        {{ rowDetail.question_16 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>b) Warning sign (electric shock risk) displayed on the distribution board</td>
                                    <td>
                                        {{ rowDetail.question_17 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>c) Emergency light available at work place</td>
                                    <td>
                                        {{ rowDetail.question_18 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>d) Workplace light and adequate ventilation arrangements are available</td>
                                    <td>
                                        {{ rowDetail.question_19 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="special" rowspan="8">6</td>
                                    <td class="special"><b>General </b></td>
                                    <td class="special"></td>
                                </tr>
                                <tr>
                                    <td>a) Workplace specific health and safety plan prepared and available and approved.</td>
                                    <td>
                                        {{ rowDetail.question_20 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>b) Workplace specific risk assessment and fire risk assessment available and approved.</td>
                                    <td>
                                        {{ rowDetail.question_21 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>c) Safety representative/workplace supervisor available</td>
                                    <td>
                                        {{ rowDetail.question_22 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>d) All employees are provided with work specific required PPE i.e. Safety Shoes, Hard Hat, Goggles, Dust Mask and Safety Harness</td>
                                    <td>
                                        {{ rowDetail.question_23 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>e) SDS documents are available for all chemicals used at workplace</td>
                                    <td>
                                        {{ rowDetail.question_24 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>f) Safe working at height procedure/instruction available are work i.e. use of ladder/scaffold instruction</td>
                                    <td>
                                        {{ rowDetail.question_25 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>g) PPE board is available and has sufficient PPEs for incoming visitors.</td>
                                    <td>
                                        {{ rowDetail.question_26 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="special" rowspan="5">7</td>
                                    <td class="special"><b>Common Area </b></td>
                                    <td class="special"></td>
                                </tr>
                                <tr>
                                    <td>a.) Common areas protected as per fit out manual.</td>
                                    <td>
                                        {{ rowDetail.question_27 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>b.) Land Sterling work permit displayed on the unit door.</td>
                                    <td>
                                        {{ rowDetail.question_28 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>c.) DM permit displayed on the unit door.</td>
                                    <td>
                                        {{ rowDetail.question_29 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>d.) Contractor valid trade license displayed on the unit door.</td>
                                    <td>
                                        {{ rowDetail.question_30 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        The main contractor undertaking to carry out the Fit-out renovation work in accordance with safety practices and procedures outlined in the General International Construction Safety Standards Guidelines. The main contractor is aware that they are fully liable for penalties for falling to carryout their works in accordance to the aforementioned standards and guidelines.
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        The main contractor is also aware that in the event ofLand Sterling issuing work orders or prohibition notice, the main contractor is bounded to stop work immediately.
                                        <br><br>

                                        <b>NOTE: </b> All items and/or equipment not present at the time of inspection and listed above as a NO will be the responsibility of the contractor to implement prior to the commencement of fit out work. It is not the responsibility or liability of Facilities Management to check that required changes have been implemented prior to the commencement of fit out activities. All work undertaken by the main contractor, is done so entirely at their own risk.

                                    </td>
                                </tr>
                            </table>


                            <table class="req-list-table table-sec" border="1" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <td>Name.</td>
                                    <td>{{ rowDetail.a_contracotrs }}</td>
                                </tr>
                                <tr>
                                    <td>Title/Position</td>
                                    <td>{{ rowDetail.a_titleposition }}</td>
                                </tr>
                            </table>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <table class="req-list-table" border="1" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th colspan="2"><b>Main Contracotr's Authorized Person</b></th>
                                </tr>
                                <tr>
                                    <td>Name</td>
                                    <td>{{ rowDetail.cc_name }}</td>
                                </tr>
                                <tr>
                                    <td>Title/Position</td>
                                    <td>{{ rowDetail.cc_title_position }}</td>
                                </tr>
                                <tr>
                                    <td>Additional Comments:</td>
                                    <td>{{ rowDetail.cc_additional_comments }}</td>
                                </tr>
                                <tr>
                                    <td>Name of Inspector</td>
                                    <td>{{ rowDetail.cc_name_of_inspector }}</td>
                                </tr>
                                <tr>
                                    <td>Inspection Date</td>
                                    <td>{{ rowDetail.cc_inspection_date }}</td>
                                </tr>

                            </table>

                        </el-col>

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-divider>Approval Section</el-divider>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form class="req-list-form" label-position="top" :inline="true">
                                <el-form-item label="Status" v-if="checkRole(['admin','fom manager'])">
                                    <el-select @change="updateStatus(rowDetail.id)" v-model="status" placeholder="Please select a status">
                                        <el-option label="Approved" value="Approved"/>
                                        <el-option label="Rejected" value="Rejected"/>
                                        <el-option label="Pending" value="Pending"/>
                                    </el-select>
                                </el-form-item>
                            </el-form>
                        </el-col>

                    </el-row>

                </el-dialog>
            </el-tab-pane>

        </el-tabs>

    </div>
</template>

<script>
    const answerOptions = ['Yes','No','N/A'];
    import FomFillUpFormResource from '@/api/fill-up-form';
    const fomFillUpFormResource = new FomFillUpFormResource('certificateOfConformity');
    import BackendErrors from '@/mixins/backend-errors';
    import checkRole from '@/utils/role';

    export default {
        name: "certificate-of-conformity-form",
        mixins:[BackendErrors],
        props:['task'],
        data() {
            return {
                submitingRequest:false,
                detailVisible:false,
                answerOptions,
                form: {
                    date_of_submission:'',
                    name_of_tenant:'',
                    shopunit_no:'',
                    tower:'',
                    file_no:'',
                    t_contact_person:'',
                    t_office_tel_no:'',
                    t_title_position:'',
                    t_mobile_no:'',
                    t_address:'',
                    t_email:'',
                    c_title_position:'',
                    c_mobile_no:'',
                    c_address:'',
                    c_email:'',
                    f_contact_person:'',
                    f_office_tel_no:'',
                    f_title_position:'',
                    f_mobile_no:'',
                    question_1:'',
                    question_2:'',
                    question_3:'',
                    question_4:'',
                    question_5:'',
                    question_6:'',
                    question_7:'',
                    question_8:'',
                    question_9:'',
                    question_10:'',
                    question_11:'',
                    question_12:'',
                    question_13:'',
                    question_14:'',
                    question_15:'',
                    question_16:'',
                    question_17:'',
                    question_18:'',
                    question_19:'',
                    question_20:'',
                    question_21:'',
                    question_22:'',
                    question_23:'',
                    question_24:'',
                    question_25:'',
                    question_26:'',
                    question_27:'',
                    question_28:'',
                    question_29:'',
                    question_30:'',
                    a_contracotrs:'',
                    a_titleposition:'',
                    cc_name:'',
                    cc_title_position:'',
                    cc_additional_comments:'',
                    cc_name_of_inspector:'',
                    cc_inspection_date:'',
                    task_id:this.task.id,
                },
                list:[],
                rowDetail: {
                    date_of_submission:'',
                    name_of_tenant:'',
                    shopunit_no:'',
                    tower:'',
                    file_no:'',
                    t_contact_person:'',
                    t_office_tel_no:'',
                    t_title_position:'',
                    t_mobile_no:'',
                    t_address:'',
                    t_email:'',
                    c_title_position:'',
                    c_mobile_no:'',
                    c_address:'',
                    c_email:'',
                    f_contact_person:'',
                    f_office_tel_no:'',
                    f_title_position:'',
                    f_mobile_no:'',
                    question_1:'',
                    question_2:'',
                    question_3:'',
                    question_4:'',
                    question_5:'',
                    question_6:'',
                    question_7:'',
                    question_8:'',
                    question_9:'',
                    question_10:'',
                    question_11:'',
                    question_12:'',
                    question_13:'',
                    question_14:'',
                    question_15:'',
                    question_16:'',
                    question_17:'',
                    question_18:'',
                    question_19:'',
                    question_20:'',
                    question_21:'',
                    question_22:'',
                    question_23:'',
                    question_24:'',
                    question_25:'',
                    question_26:'',
                    question_27:'',
                    question_28:'',
                    question_29:'',
                    question_30:'',
                    a_contracotrs:'',
                    a_titleposition:'',
                    cc_name:'',
                    cc_title_position:'',
                    cc_additional_comments:'',
                    cc_name_of_inspector:'',
                    cc_inspection_date:'',
                    task_id:this.task.id,
                },
                status:''
            };
        },
        created(){
            this.getList();
        },
        methods:{
            checkRole,
            addItem(){
                this.form.items.push({
                    no:'',
                    location:'',
                    defect:'',
                    description:'',
                    refphoto:'',
                    action_required:'',
                })
            },
            getList(){
                fomFillUpFormResource.listByTask(this.task.id)
                    .then(response => {
                        this.list = response.data;

                    }).catch(error => {
                })
            },
            submitForm(){
                this.submitingRequest = true;
                fomFillUpFormResource.store(this.form)
                    .then(response => {
                        this.list.push(response.data);
                        this.resetForm();
                        this.clear();
                        this.$message({
                            message: `Congrats, report submit successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch(error => {
                    this.record(error)
                }).finally(()=>{
                    this.submitingRequest = false;
                })
            },
            closeForm(){
                this.resetForm();
                this.$emit('close');
            },
            resetForm(){
                this.form = {
                    date_of_submission:'',
                    name_of_tenant:'',
                    shopunit_no:'',
                    tower:'',
                    file_no:'',
                    t_contact_person:'',
                    t_office_tel_no:'',
                    t_title_position:'',
                    t_mobile_no:'',
                    t_address:'',
                    t_email:'',
                    c_title_position:'',
                    c_mobile_no:'',
                    c_address:'',
                    c_email:'',
                    f_contact_person:'',
                    f_office_tel_no:'',
                    f_title_position:'',
                    f_mobile_no:'',
                    question_1:'',
                    question_2:'',
                    question_3:'',
                    question_4:'',
                    question_5:'',
                    question_6:'',
                    question_7:'',
                    question_8:'',
                    question_9:'',
                    question_10:'',
                    question_11:'',
                    question_12:'',
                    question_13:'',
                    question_14:'',
                    question_15:'',
                    question_16:'',
                    question_17:'',
                    question_18:'',
                    question_19:'',
                    question_20:'',
                    question_21:'',
                    question_22:'',
                    question_23:'',
                    question_24:'',
                    question_25:'',
                    question_26:'',
                    question_27:'',
                    question_28:'',
                    question_29:'',
                    question_30:'',
                    a_contracotrs:'',
                    a_titleposition:'',
                    cc_name:'',
                    cc_title_position:'',
                    cc_additional_comments:'',
                    cc_name_of_inspector:'',
                    cc_inspection_date:'',
                    task_id:this.task.id,
                };
            },
            viewForm(row){
                this.detailVisible = true;
                this.rowDetail=row;
                this.status=this.rowDetail.status;
                console.log(row);
            },
            updateStatus(id){

                this.$prompt('Please input comment', 'Comment', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                }).then(({ value }) => {
                    fomFillUpFormResource.updateStatus(id,{
                        status: this.status,
                        comment:value
                    }).then(response => {
                        this.getList();
                        this.$message({
                            message: `Congrats, status updated successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch((error) => {
                        console.log(error);
                    });
                }).catch((error) => {
                    this.status=this.rowDetail.status;
                    console.log(error);
                });

            }
        }
    }
</script>

<style scoped>
    .form-container{
        margin-bottom: 10px;
    }
    .custom-alert{
        margin-bottom: 10px;
    }

    .custom-alert-warning {
        background-color: #fdf6ec;
        color: #e6a23c;
        padding: 8px 25px;
        margin-bottom: 10px;
        border-radius: 5px;
        opacity: 1;
        transition: opacity .2s;
        word-break: normal;
    }
    table{
        word-break: normal;
    }

    .sub-con-plus , .sub-con-plus:hover , .sub-con-plus:focus , .sub-con-plus:visited {
        color: #FFF;
        background: #13ce66 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #13ce66 !important;
        margin-top: 25px;
        width: 100%;
    }

    .sub-con-del , .sub-con-del:hover , .sub-con-del:focus , .sub-con-del:visited {
        color: #FFF;
        background: #f15151 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #f15151 !important;
        margin-top: 25px;
        width: 100%;
    }

    .btn-red {
        background: #9e0d21;
    }

    .btn-red:hover, .btn-red:active , .btn-red:focus {
        background: #880a1b !important;
        color: #fff;
        outline: none;
        box-shadow: none;
    }

    .st-drwwer .btn-cancel , .st-drwwer .btn-red {
        padding: 12px 25px;
        margin-top: 0;
        border: 1px solid #9e0d21 !important;
    }
</style>
