<template>
    <div >

        <el-tabs class="st-drwwer-tabs">
            <el-tab-pane label="New Request">
                <el-form :inline="true" class="form-container">
                    <el-row :gutter="20">

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Project Manager">
                                <el-input placeholder="Project Manager" v-model="form.project_manager" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Inspection Date">
                                <el-date-picker placeholder="Inspection Date" v-model="form.inspection_date" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Report Issue Date">
                                <el-date-picker placeholder="Report Issue Date" v-model="form.report_issue_date"/>
                            </el-form-item>
                        </el-col>

                        <div v-for="(item, index) in form.items">
                            <el-col :xs="24" :sm="3" :md="3" :lg="3" :xl="3">
                                <el-form-item label="">
                                    <el-input :value="index+1" style="margin-top: 25px;" disabled/>
                                </el-form-item>
                            </el-col>

                            <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
                                <el-form-item label="Location/ Floor">
                                    <el-input placeholder="Enter Location/ Floor" v-model="item.location_floor" />
                                </el-form-item>
                            </el-col>

                            <el-col :xs="24" :sm="11" :md="11" :lg="11" :xl="11">
                                <el-form-item label="Defect/Breach">
                                    <el-input placeholder="Enter Defect/Breach" v-model="item.defect_breach"/>
                                </el-form-item>
                            </el-col>

                            <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
                                <el-form-item label="Description">
                                    <el-input placeholder="Enter Description" v-model="item.description"/>
                                </el-form-item>
                            </el-col>

                            <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
                                <el-form-item label="Action Required">
                                    <el-input placeholder="Action Required" v-model="item.action_required"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
                                <el-button class="sub-con-plus"  v-if="index === 0" @click="addItem" icon="el-icon-plus"/>
                                <el-button class="sub-con-del"  v-else icon="el-icon-delete" @click="form.items.splice(index,1)"/>
                            </el-col>
                            <br clear="all">
                        </div>

                    </el-row>
                </el-form>

                <el-button class="btn btn-cancel" @click="closeForm">Cancel</el-button>
                <el-button class="btn btn-red" :disabled="submitingRequest" @click="submitForm">Confirm</el-button>

            </el-tab-pane>

            <el-tab-pane label="Requests List">

                <div class="req-list-item" v-for="(item,index) in list" :key="item.id">
                    <el-row>
                        <el-col :xs="24" :sm="1" :md="1" :lg="1" :xl="1">
                            <label>No</label>
                            <span>{{index+1}}</span>
                        </el-col>
                        <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
                            <label>Report Issue Date</label>
                            <span class="el-tag el-tag-m-primary">{{ item.report_issue_date|time('ll') }}</span>
                        </el-col>
                        <el-col :xs="24" :sm="5" :md="5" :lg="5" :xl="5">
                            <label>Status</label>
                            <span class="el-tag el-tag--success" v-if="item.status === 'Approved'">Approved</span>
                            <span class="el-tag el-tag--danger" v-else-if="item.status === 'Rejected'">Rejected</span>
                            <span class="el-tag el-tag--warning" v-else>Pending</span>
                        </el-col>
                        <el-col :xs="24" :sm="7" :md="7" :lg="7" :xl="7">
                            <label>Requested At</label>
                            <span>{{ item.created_at|time('llll') }}</span>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"><hr></el-col>
                        <el-col :xs="24" :sm="18" :md="18" :lg="18" :xl="18">
                            <label>Comments</label>
                            <span>{{ item.comment }}</span>
                        </el-col>

                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                            <label>Action</label>
                            <span>
                      <a size="small" class="btn btn-primary" type="primary" href="javascript:;" @click="viewForm(item)">View</a>
                      <a size="small" class="btn btn-success" type="success" download  :href="item.download_url">Download</a>
                   </span>
                        </el-col>


                    </el-row>
                </div>

                <el-dialog class="req-popup"
                           width="50%"
                           title="Common Area Dilapidation Form Details"
                           :visible.sync="detailVisible"
                           append-to-body>

                    <el-row :gutter="25">
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">


                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                                <tr>
                                    <td>Project Manager</td>
                                    <td>{{ rowDetail.project_manager }}</td>
                                </tr>
                                <tr>
                                    <td>Inspection Date</td>
                                    <td>{{ rowDetail.inspection_date|time('llll') }}</td>
                                </tr>
                                <tr>
                                    <td>Report Issue Date</td>
                                    <td>{{ rowDetail.report_issue_date|time('llll') }}</td>
                                </tr>

                            </table>

                            <span class="pop-sub-head">Items</span>
                            <table class="req-list-table table-sec" border="1" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th>Location/Floor</th>
                                    <th>Defect/Breach</th>
                                    <th>Description</th>
                                    <th>Action Required</th>
                                </tr>
                                <tr v-for="item in rowDetail.items">
                                    <td>{{ item.location_floor }}</td>
                                    <td>{{ item.defect_breach }}</td>
                                    <td>{{ item.description }}</td>
                                    <td>{{ item.action_required }}</td>
                                </tr>
                            </table>

                            <el-divider>Approval Section</el-divider>
                            <el-form class="req-list-form" label-position="top" :inline="true">
                                <el-form-item label="Status" v-if="checkRole(['admin','fom manager'])">
                                    <el-select @change="updateStatus(rowDetail.id)" v-model="status" placeholder="Please select a status">
                                        <el-option label="Approved" value="Approved"/>
                                        <el-option label="Rejected" value="Rejected"/>
                                        <el-option label="Pending" value="Pending"/>
                                    </el-select>
                                </el-form-item>
                            </el-form>
                        </el-col>
                    </el-row>
                </el-dialog>

            </el-tab-pane>

        </el-tabs>



    </div>
</template>

<script>

    import FomFillUpFormResource from '@/api/fill-up-form';
    const fomFillUpFormResource = new FomFillUpFormResource('commonAreaDilapidation');
    import BackendErrors from '@/mixins/backend-errors';
    import checkRole from '@/utils/role';

    export default {
        name: "common-area-dilapidation-report",
        mixins:[BackendErrors],
        props:['task'],
        data() {
            return {
                submitingRequest:false,
                detailVisible:false,
                form:{
                    project_manager:'',
                    inspection_date:'',
                    report_issue_date:'',
                    items:[
                        {
                            location_floor:'',
                            defect_breach:'',
                            description:'',
                            action_required:''
                        }
                    ],
                    task_id:this.task.id,
                },
                list:[],
                rowDetail:{
                    project_manager:'',
                    inspection_date:'',
                    report_issue_date:'',
                    items:[
                        {
                            location_floor:'',
                            defect_breach:'',
                            description:'',
                            action_required:''
                        }
                    ],
                    task_id:this.task.id,
                },
                status:''
            };
        },
        created(){
            this.getList();
        },
        methods:{
            checkRole,
            addItem(){
                this.form.items.push({
                    location_floor:'',
                    defect_breach:'',
                    description:'',
                    action_required:''
                })
            },
            getList(){
                fomFillUpFormResource.listByTask(this.task.id)
                    .then(response => {
                        this.list = response.data;

                    }).catch(error => {
                })
            },
            submitForm(){
                this.submitingRequest = true;
                fomFillUpFormResource.store(this.form)
                    .then(response => {
                        this.list.push(response.data);
                        this.resetForm();
                        this.clear();
                        this.$message({
                            message: `Congrats, report submit successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch(error => {
                    this.record(error)
                }).finally(()=>{
                    this.submitingRequest = false;
                })
            },
            closeForm(){
                this.resetForm();
                this.$emit('close');
            },
            resetForm(){
                this.form = {
                    project_manager:'',
                    inspection_date:'',
                    report_issue_date:'',
                    items:[
                        {
                            location_floor:'',
                            defect_breach:'',
                            description:'',
                            action_required:''
                        }
                    ],
                    task_id:this.task.id,
                };
            },
            viewForm(row){
                this.detailVisible = true;
                this.rowDetail=row;
                this.status=this.rowDetail.status;
                console.log(row);
            },
            updateStatus(id){

                this.$prompt('Please input comment', 'Comment', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                }).then(({ value }) => {
                    fomFillUpFormResource.updateStatus(id,{
                        status: this.status,
                        comment:value
                    }).then(response => {
                        this.getList();
                        this.$message({
                            message: `Congrats, status updated successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch((error) => {
                        console.log(error);
                    });
                }).catch((error) => {
                    this.status=this.rowDetail.status;
                    console.log(error);
                });

            }
        }
    }
</script>

<style scoped>
    .form-container{
        margin-bottom: 10px;
    }

    .sub-con-plus , .sub-con-plus:hover , .sub-con-plus:focus , .sub-con-plus:visited {
        color: #FFF;
        background: #13ce66 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #13ce66 !important;
        margin-top: 25px;
        width: 100%;
    }

    .sub-con-del , .sub-con-del:hover , .sub-con-del:focus , .sub-con-del:visited {
        color: #FFF;
        background: #f15151 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #f15151 !important;
        margin-top: 25px;
        width: 100%;
    }

    .btn-red {
        background: #9e0d21;
    }

    .btn-red:hover, .btn-red:active , .btn-red:focus {
        background: #880a1b !important;
        color: #fff;
        outline: none;
        box-shadow: none;
    }

    .st-drwwer .btn-cancel , .st-drwwer .btn-red {
        padding: 12px 25px;
        margin-top: 0;
        border: 1px solid #9e0d21 !important;
    }
</style>
