<template>
    <div class="custom-alert my-side-notes">
        <ol>
           <li>The Applicant shall be responsible for the protection of all Common Areas and Common Elements when carrying out the Works and accessing the Building. Works shall not be permitted until the Developer is satisfied with the protection.</li>
           <li>The Applicant shall be the sole party responsible for the protection and security of the Unit and of the construction materials.</li>
           <li>The Applicant shall be liable for any loss or damage howsoever caused by the Applicant or any parties acting on its behalf, including the Contractor.</li>
           <li>
               Protection of the Common Area must be carried out as follows:
               <ul>
                   <li>Floor protection 3mm MDF sheets overlaid with 5mm <b>WHITE</b> polypropylene corrugated sheets securely fixed with tape and joints sealed.</li>
                   <li>Wall protection to be 5mm <b>WHITE</b> polypropylene corrugated sheets min 1.8m high securely fixed with tape and joints sealed.</li>
                   <li>Furnishing, fittings and fixtures to be protected with plastic dust covers and secured with tape.</li>
               </ul>
           </li>
        </ol>
    </div>
</template>

<script>
    export default {
        name: "common-area-protection-requirement"
    }
</script>

<style scoped>
    .sub-con-plus , .sub-con-plus:hover , .sub-con-plus:focus , .sub-con-plus:visited {
        color: #FFF;
        background: #13ce66 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #13ce66 !important;
        margin-top: 25px;
        width: 100%;
    }

    .sub-con-del , .sub-con-del:hover , .sub-con-del:focus , .sub-con-del:visited {
        color: #FFF;
        background: #f15151 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #f15151 !important;
        margin-top: 25px;
        width: 100%;
    }

    .btn-red {
        background: #9e0d21;
    }

    .btn-red:hover, .btn-red:active , .btn-red:focus {
        background: #880a1b !important;
        color: #fff;
        outline: none;
        box-shadow: none;
    }

    .st-drwwer .btn-cancel , .st-drwwer .btn-red {
        padding: 12px 25px;
        margin-top: 0;
        border: 1px solid #9e0d21 !important;
    }
</style>
