<template>
    <div>

        <el-tabs class="st-drwwer-tabs">
            <el-tab-pane label="Request New">
                <el-form :inline="true" class="form-container">
                    <el-row :gutter="20">
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Company Information</h3>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Company">
                                <el-input placeholder="Company" v-model="form.co_company"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Address">
                                <el-input placeholder="Address" v-model="form.co_address" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Contact Information</h3>
                        </el-col>

                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Primary Contact Name">
                                <el-input placeholder="Primary Contact Name"  v-model="form.c_primary_contact_name"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Title">
                                <el-input placeholder="Title"  v-model="form.c_title"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="City">
                                <el-input placeholder="City"  v-model="form.c_city"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Address">
                                <el-input placeholder="Address"  v-model="form.c_address"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">

                            <el-form-item label="Fax No.">
                                <el-input placeholder="Fax No."  v-model="form.c_fax_no"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Phone No.">
                                <el-input placeholder="Phone No."  v-model="form.c_phone_no"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Email">
                                <el-input placeholder="Email"  v-model="form.c_email"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Vehicle & Driver Details</h3>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Make & Model">
                                <el-input placeholder="Make & Model"  v-model="form.d_make_model"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Vehicle Height">
                                <el-input placeholder="Vehicle Height" v-model="form.d_vehicle_height" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Vehicle Registration">
                                <el-input placeholder="Vehicle Registration" v-model="form.d_vehicle_registration" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Vehicle Weight">
                                <el-input placeholder="Vehicle Weight" v-model="form.d_vehicle_weight" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Driver's Name">
                                <el-input placeholder="Driver's Name" v-model="form.d_drivers_name"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Driver's License Number">
                                <el-input placeholder="Driver's License Number" v-model="form.d_drivers_license_number"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Insurance Validity Period">
                                <el-input placeholder="Insurance Validity Period" v-model="form.d_insurance_validity_period"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="License Plate Number">
                                <el-input placeholder="License Plate Number" v-model="form.d_license_plate_number"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Vehicle & Driver Details</h3>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Delivery Date">
                                <el-date-picker placeholder="Delivery Date" v-model="form.v_delivery_date" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Unit">
                                <el-input placeholder="Unit" v-model="form.v_unit"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Description of Material (s) to be delivered" label-width="300px">
                                <el-input type="textarea" placeholder="Description of Material (s) to be delivered" v-model="form.v_description_of_material"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-button class="btn btn-cancel" @click="closeForm">Cancel</el-button>
                            <el-button class="btn btn-red" :disabled="submitingRequest"  @click="submitForm">Confirm</el-button>
                        </el-col>
                    </el-row>
                </el-form>
            </el-tab-pane>


            <el-tab-pane label="Requests List">
                <div class="req-list-item" v-for="(item,index) in list" :key="item.id">
                    <el-row>
                        <el-col :xs="24" :sm="1" :md="1" :lg="1" :xl="1">
                            <label>No</label>
                            <span>{{index+1}}</span>
                        </el-col>
                        <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">

                        </el-col>
                        <el-col :xs="24" :sm="5" :md="5" :lg="5" :xl="5">
                            <label>Status</label>
                            <span class="el-tag el-tag--success" v-if="item.status === 'Approved'">Approved</span>
                            <span class="el-tag el-tag--danger" v-else-if="item.status === 'Rejected'">Rejected</span>
                            <span class="el-tag el-tag--warning" v-else>Pending</span>
                        </el-col>
                        <el-col :xs="24" :sm="7" :md="7" :lg="7" :xl="7">
                            <label>Requested At</label>
                            <span>{{ item.created_at|time('llll') }}</span>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"><hr></el-col>
                        <el-col :xs="24" :sm="18" :md="18" :lg="18" :xl="18">
                            <label>Comments</label>
                            <span>{{ item.comment }}</span>
                        </el-col>
                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                            <label>Action</label>
                            <span>
                      <a size="small" class="btn btn-primary" type="primary" href="javascript:;" @click="viewForm(item)">View</a>
                      <a size="small" class="btn btn-success" type="success" download  :href="item.download_url">Download</a>
                   </span>
                        </el-col>
                    </el-row>
                </div>

                <el-dialog class="req-popup"
                           width="70%"
                           title="Delivery and Access Permit Form Details"
                           :visible.sync="detailVisible"
                           append-to-body>
                    <el-row :gutter="25">

                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">

                                <tr>
                                    <th colspan="2"><b>Company Information</b></th>
                                </tr>
                                <tr>
                                    <td>Company</td>
                                    <td>{{ rowDetail.co_company }}</td>
                                </tr>
                                <tr>
                                    <td>LS Permit No</td>
                                    <td>{{ rowDetail.co_ls_permit_no }}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>{{ rowDetail.co_address }}</td>
                                </tr>
                            </table>

                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">

                                <tr>
                                    <th colspan="2"><b>Contact Information</b></th>
                                </tr>
                                <tr>
                                    <td>Primary Contact Name</td>
                                    <td>{{ rowDetail.c_primary_contact_name }}</td>
                                </tr>
                                <tr>
                                    <td>Title</td>
                                    <td>{{ rowDetail.c_title }}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>{{ rowDetail.c_address }}</td>
                                </tr>
                                <tr>
                                    <td>Fax No.</td>
                                    <td>{{ rowDetail.c_fax_no }}</td>
                                </tr>
                                <tr>
                                    <td>Phone No.</td>
                                    <td>{{ rowDetail.c_phone_no }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{ rowDetail.c_email }}</td>
                                </tr>

                            </table>
                        </el-col>


                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th colspan="2"><b>Vehicle & Driver Details</b></th>
                                </tr>
                                <tr>
                                    <td>Make & Model</td>
                                    <td>{{ rowDetail.d_make_model }}</td>
                                </tr>
                                <tr>
                                    <td>Vehicle Height</td>
                                    <td>{{ rowDetail.d_vehicle_height }}</td>
                                </tr>
                                <tr>
                                    <td>Vehicle Registration</td>
                                    <td>{{ rowDetail.d_vehicle_registration }}</td>
                                </tr>
                                <tr>
                                    <td>Vehicle Weight</td>
                                    <td>{{ rowDetail.d_vehicle_weight }}</td>
                                </tr>
                                <tr>
                                    <td>Driver's Name</td>
                                    <td>{{ rowDetail.d_drivers_name }}</td>
                                </tr>
                                <tr>
                                    <td>Driver's License Number</td>
                                    <td>{{ rowDetail.d_drivers_license_number }}</td>
                                </tr>
                                <tr>
                                    <td>Insurance Validity Period</td>
                                    <td>{{ rowDetail.d_insurance_validity_period }}</td>
                                </tr>
                                <tr>
                                    <td>License Plate Number</td>
                                    <td>{{ rowDetail.d_license_plate_number }}</td>
                                </tr>
                            </table>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">



                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">

                                <tr>
                                    <th colspan="2"><b>Vehicle & Driver Details</b></th>
                                </tr>
                                <tr>
                                    <td>Delivery Date</td>
                                    <td>{{ rowDetail.v_delivery_date }}</td>
                                </tr>
                                <tr>
                                    <td>Unit</td>
                                    <td>{{ rowDetail.v_unit }}</td>
                                </tr>
                                <tr>
                                    <td>Description of Material</td>
                                    <td>{{ rowDetail.v_description_of_material }}</td>
                                </tr>
                            </table>
                        </el-col>

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-divider>Approval Section</el-divider>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form class="req-list-form" label-position="top" :inline="true">
                                <el-form-item label="Status" v-if="checkRole(['admin','fom manager'])">
                                    <el-select @change="updateStatus(rowDetail.id)" v-model="status" placeholder="Please select a status">
                                        <el-option label="Approved" value="Approved"/>
                                        <el-option label="Rejected" value="Rejected"/>
                                        <el-option label="Pending" value="Pending"/>
                                    </el-select>
                                </el-form-item>
                            </el-form>
                        </el-col>
                    </el-row>
                </el-dialog>
            </el-tab-pane>
        </el-tabs>

    </div>
</template>

<script>

    import FomFillUpFormResource from '@/api/fill-up-form';
    const fomFillUpFormResource = new FomFillUpFormResource('deliveryAccessPermit');
    import BackendErrors from '@/mixins/backend-errors';
    import checkRole from '@/utils/role';

    export default {
        name: "delivery-and-access-permit",
        mixins:[BackendErrors],
        props:['task'],
        data() {
            return {
                submitingRequest:false,
                detailVisible:false,
                form:{
                    co_company:'',
                    co_ls_permit_no:'',
                    co_address:'',
                    c_primary_contact_name:'',
                    c_title:'',
                    c_address:'',
                    c_city:'',
                    c_fax_no:'',
                    c_phone_no:'',
                    c_email:'',
                    d_make_model:'',
                    d_vehicle_height:'',
                    d_vehicle_registration:'',
                    d_vehicle_weight:'',
                    d_drivers_name:'',
                    d_drivers_license_number:'',
                    d_insurance_validity_period:'',
                    d_license_plate_number:'',
                    v_delivery_date:'',
                    v_unit:'',
                    v_description_of_material:'',
                    task_id:this.task.id,
                },
                list:[],
                rowDetail:{
                    co_company:'',
                    co_ls_permit_no:'',
                    co_address:'',
                    c_primary_contact_name:'',
                    c_title:'',
                    c_address:'',
                    c_city:'',
                    c_fax_no:'',
                    c_phone_no:'',
                    c_email:'',
                    d_make_model:'',
                    d_vehicle_height:'',
                    d_vehicle_registration:'',
                    d_vehicle_weight:'',
                    d_drivers_name:'',
                    d_drivers_license_number:'',
                    d_insurance_validity_period:'',
                    d_license_plate_number:'',
                    v_delivery_date:'',
                    v_unit:'',
                    v_description_of_material:'',
                    task_id:this.task.id,
                },
                status:''
            };
        },
        created(){
            this.getList();
        },
        methods:{
            checkRole,
            getList(){
                fomFillUpFormResource.listByTask(this.task.id)
                    .then(response => {
                        this.list = response.data;
                    }).catch(error => {
                })
            },
            submitForm(){
                this.submitingRequest = true;
                fomFillUpFormResource.store(this.form)
                    .then(response => {
                        this.list.push(response.data);
                        this.resetForm();
                        this.clear();
                        this.$message({
                            message: `Congrats, report submit successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch(error => {
                    this.record(error)
                }).finally(()=>{
                    this.submitingRequest = false;
                })
            },
            closeForm(){
                this.resetForm();
                this.$emit('close');
            },
            resetForm(){
                this.form = {
                    co_company:'',
                    co_ls_permit_no:'',
                    co_address:'',
                    c_primary_contact_name:'',
                    c_title:'',
                    c_address:'',
                    c_city:'',
                    c_fax_no:'',
                    c_phone_no:'',
                    c_email:'',
                    d_make_model:'',
                    d_vehicle_height:'',
                    d_vehicle_registration:'',
                    d_vehicle_weight:'',
                    d_drivers_name:'',
                    d_drivers_license_number:'',
                    d_insurance_validity_period:'',
                    d_license_plate_number:'',
                    v_delivery_date:'',
                    v_unit:'',
                    v_description_of_material:'',
                    task_id:this.task.id,
                };
            },
            viewForm(row){
                this.detailVisible = true;
                this.rowDetail=row;
                this.status=this.rowDetail.status;
                console.log(row);
            },
            updateStatus(id){

                this.$prompt('Please input comment', 'Comment', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                }).then(({ value }) => {
                    fomFillUpFormResource.updateStatus(id,{
                        status: this.status,
                        comment:value
                    }).then(response => {
                        this.getList();
                        this.$message({
                            message: `Congrats, status updated successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch((error) => {
                        console.log(error);
                    });
                }).catch((error) => {
                    this.status=this.rowDetail.status;
                    console.log(error);
                });

            }
        }
    }
</script>

<style scoped>
    .sub-con-plus , .sub-con-plus:hover , .sub-con-plus:focus , .sub-con-plus:visited {
        color: #FFF;
        background: #13ce66 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #13ce66 !important;
        margin-top: 25px;
        width: 100%;
    }

    .sub-con-del , .sub-con-del:hover , .sub-con-del:focus , .sub-con-del:visited {
        color: #FFF;
        background: #f15151 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #f15151 !important;
        margin-top: 25px;
        width: 100%;
    }

    .btn-red {
        background: #9e0d21;
    }

    .btn-red:hover, .btn-red:active , .btn-red:focus {
        background: #880a1b !important;
        color: #fff;
        outline: none;
        box-shadow: none;
    }

    .st-drwwer .btn-cancel , .st-drwwer .btn-red {
        padding: 12px 25px;
        margin-top: 0;
        border: 1px solid #9e0d21 !important;
    }
</style>
