<template>
    <div>


<el-tabs class="st-drwwer-tabs">
    <el-tab-pane label="Request New">
         <el-form :inline="true" class="form-container">
    <el-row :gutter="20">
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <el-form-item label="Warning Type">
                <el-radio-group v-model="form.warning_type">
                    <el-radio v-for="option in warningOptions" :label="option" :key="option">{{ option }}</el-radio>
                </el-radio-group>
            </el-form-item>
        </el-col>

            <div v-if="form.warning_type === 'Verbal Warning'">
                <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form-item label="EMPLOYEE NAME">
                    <el-input placeholder="EMPLOYEE NAME" v-model="form.employee_name"/>
                </el-form-item>
                </el-col>
<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form-item label="Designation">
                    <el-input placeholder="Designation" v-model="form.designation"/>
                </el-form-item>
                </el-col>
<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form-item label="Date of Warning">
                    <el-date-picker placeholder="Date of Warning" v-model="form.date_of_warning"/>
                </el-form-item>
                </el-col>
<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form-item label="ID Number">
                    <el-input placeholder="ID Number" v-model="form.id_number"/>
                </el-form-item>
                </el-col>
<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <h3>Ensure The Following Objectives were Achieved - Supervisor's Checklist:</h3>

                <div class="custom-alert my-side-notes" style="margin-bottom: 12px;">
                    <ol>
                        <li>The counselling was conducted in private.</li>
                        <li>The action is consistent with previous discipline practices.</li>
                        <li>The Land Sterling Site Safety Rules and Penalty System was explained to the employee.</li>
                        <li>The employee was informed that this infraction was recorded as a verbal warning.</li>
                        <li>The employee was informed why a verbal warning for this infraction was warranted</li>
                    </ol>
                </div>
                 </el-col>
<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <el-form-item label="Reason for Warning">
                    <el-input type="textarea" placeholder="Reason for Warning" v-model="form.warned_for"/>
                </el-form-item>
 </el-col>
 <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                 <el-form-item label="Specific Details Of Infraction and Counseling Comments, and Expected Performance Standards (Include what the next step will be if the employee does not correct behavior which resulted in verbal warning, i.e., written warning.)">
                <el-input type="textarea"  style="width: 100%;" v-model="form.counseling_comments"/>
                </el-form-item>
                 </el-col>
                  <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <el-form-item label="Significant Comments Provided by Employee">
                    <el-input type="textarea" v-model="form.significant_comments" />
                </el-form-item>
                 </el-col>
                  <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <el-form-item label="Supervisor's Name & Title" label-width="250px">
                    <el-input v-model="form.supervisors_name_and_title"/>
                </el-form-item>
                 </el-col>
            </div>

            <div v-else-if="form.warning_type === 'Written Warning'">

                <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form-item label="EMPLOYEE NAME">
                    <el-input placeholder="EMPLOYEE NAME" v-model="form.employee_name"/>
                </el-form-item>
                </el-col>
<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form-item label="Designation">
                    <el-input placeholder="Designation" v-model="form.designation"/>
                </el-form-item>
                </el-col>
<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form-item label="Date of Warning">
                    <el-date-picker placeholder="Date of Warning" v-model="form.date_of_warning"/>
                </el-form-item>
                </el-col>
<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form-item label="ID Number">
                    <el-input placeholder="ID Number" v-model="form.id_number"/>
                </el-form-item>
                </el-col>


<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                 <el-form-item label="THE FOLLOWING ARE BRIEF STATEMENTS OF EMPLOYEE’S ACTION(S) GIVING CAUSE TO THIS WRITTEN WARNING AND SUGGESTED ACTION(S) FOR AVOIDING ANY RECURRENCE IN THE FUTURE. WHAT IS EMPLOYEE BEING WARNED FOR?  (Give details of specific incident(s) so that employee knows what behavior needs to be corrected.)">
                <el-input type="textarea"  style="width: 100%;" v-model="form.warned_for"/>
                </el-form-item>
                 </el-col>

                 <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <el-form-item label="EMPLOYEE'S COMMENTS (employee may use attachment if necessary)">
                     <el-input type="textarea"  style="width: 100%;" v-model="form.employees_comments"/>
                </el-form-item>
                 </el-col>

            </div>

            <div v-else-if="form.warning_type === 'Final Written Warning'">

    <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form-item label="EMPLOYEE NAME">
                   <el-input placeholder="EMPLOYEE NAME" v-model="form.employee_name"/>
                </el-form-item>
                </el-col>
<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form-item label="Designation">
                     <el-date-picker type="datetime" placeholder="Violation Date Time" v-model="form.violation_date_time"/>
                </el-form-item>
                </el-col>
<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form-item label="Violation Date Time">
                    <el-date-picker placeholder="Date of Warning" v-model="form.date_of_warning"/>
                </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                 <el-form-item label="Warning No.">
                    <el-input placeholder="Warning No." v-model="form.warning_no"/>
                </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                 <el-form-item label="Company">
                    <el-input placeholder="Company" v-model="form.company"/>
                </el-form-item>
                </el-col>

                <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                  <el-form-item label="Location/Floor/Unit Number">
                    <el-input placeholder="Location/Floor/Unit Number" v-model="form.location"/>
                </el-form-item>
                </el-col>
               <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                  <el-form-item label="Date of Warning">
                    <el-date-picker placeholder="Date of Warning" v-model="form.date_of_warning" />
                </el-form-item>
                </el-col>
 <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
<div class="custom-alert my-side-notes" style="margin-bottom: 15px;">
                <h3>THE FOLLOWING ARE BRIEF STATEMENTS OF EMPLOYEE’S ACTION(S) GIVING CAUSE TO THIS FINAL WRITTEN WARNING AND SUGGESTED ACTION(S) FOR AVOIDING ANY RECURRENCE IN THE FUTURE THAT MAY RESULT TO REMOVAL FROM PROJECT SITE.</h3>

                <ol>
                    <li>Unathorised access to workplace through reception without submitting EID to security.</li>
                    <li>Labour found using passengers lift going to L-11, 15 and 26.</li>
                </ol>
</div> </el-col>
 <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                  <el-form-item label="WHAT POLICY/PROCEDURE OR OTHER CONDUCT RULE HAS BEEN VIOLATED?">
                    <el-input type="textarea"  style="width: 100%;" v-model="form.violated"/>
                </el-form-item>
                </el-col>
  <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                  <el-form-item label="IF CONDUCT IS REPEATED OR OTHER DISCIPLINARY PROBLEMS DEVELOP, WHAT ADDITIONAL ACTION WILL LIKELY RESULT?  (Be specific, e.g. further disciplinary action, removal)">
                   <el-input type="textarea"  style="width: 100%;" v-model="form.additional_action"/>
                </el-form-item>
</el-col>
                  <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                  <el-form-item label="RESTATE, FOR THE EMPLOYEE’S BENEFIT, THE EXPECTED PERFORMANCE STANDARDS WHICH MUST BE MET IN ORDER TO CORRECT THE PROBLEM.">
                   <el-input type="textarea"  style="width: 100%;" v-model="form.restate"/>
                </el-form-item>
</el-col>
 <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <el-form-item label="HAS EMPLOYEE BEEN WARNED ABOUT THIS ACTION BEFORE?" label-width="450px">
                    <el-radio-group v-model="form.warned_before">
                        <el-radio label="Yes" />
                        <el-radio label="No" />
                    </el-radio-group>
                </el-form-item>
</el-col>
 <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <el-form-item label="How?" v-if="form.warned_before === 'Yes'">
                    <el-radio-group v-model="form.warned_before_type">
                        <el-radio label="WRITTEN" />
                        <el-radio label="VERBAL" />
                    </el-radio-group>
                </el-form-item>
                </el-col>
 <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <el-form-item label="BY WHOM? (Name and Title)">
                    <el-input placeholder="BY WHOM? (Name and Title)" v-model="form.warned_before_by_whom"/>
                </el-form-item>
  </el-col>

   <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <el-form-item label="EMPLOYEE'S COMMENTS (employee may use attachment if necessary)">
                    <el-input type="textarea"  style="width: 100%;" v-model="form.employees_comments"/>
                </el-form-item>
  </el-col>

            </div>

            <div v-else-if="form.warning_type === 'Removal Form'">


    <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form-item label="EMPLOYEE NAME">
                   <el-input placeholder="EMPLOYEE NAME" v-model="form.employee_name"/>
                </el-form-item>
                </el-col>
<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form-item label="Designation">
                     <el-date-picker type="datetime" placeholder="Violation Date Time" v-model="form.violation_date_time"/>
                </el-form-item>
                </el-col>
<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form-item label="Violation Date Time">
                    <el-date-picker placeholder="Date of Warning" v-model="form.date_of_warning"/>
                </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                 <el-form-item label="Warning No.">
                    <el-input placeholder="Warning No." v-model="form.warning_no"/>
                </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                 <el-form-item label="Company">
                    <el-input placeholder="Company" v-model="form.company"/>
                </el-form-item>
                </el-col>

                <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                  <el-form-item label="Location/Floor/Unit Number">
                    <el-input placeholder="Location/Floor/Unit Number" v-model="form.location"/>
                </el-form-item>
                </el-col>
              <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                  <el-form-item label="Date of Warning">
                    <el-date-picker placeholder="Date of Warning" v-model="form.date_of_warning" />
                </el-form-item>
                </el-col>

  <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form-item label="EMPLOYEE NAME">
                    <el-input placeholder="EMPLOYEE NAME" v-model="form.employee_name"/>
                </el-form-item>
                 </el-col>
                   <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form-item label="Designation">
                    <el-input placeholder="Designation" v-model="form.designation"/>
                </el-form-item>
                 </el-col>
                   <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form-item label="Date of Warning">
                    <el-date-picker placeholder="Date of Warning" v-model="form.date_of_warning"/>
                </el-form-item>
                 </el-col>
                   <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form-item label="Company">
                    <el-input placeholder="Company" v-model="form.company"/>
                </el-form-item>
                 </el-col>
                   <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                <el-form-item label="Floor/Unit Number">
                    <el-input placeholder="Floor/Unit Number" v-model="form.location"/>
                </el-form-item>
                 </el-col>
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <el-form-item label="ID Number">
                    <el-input placeholder="ID Number" v-model="form.id_number"/>
                </el-form-item>
 </el-col>
                   <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">

                <h3>THE FOLLOWING ARE BRIEF STATEMENTS OF EMPLOYEE’S ACTION(S) GIVING CAUSE TO HIS REMOVAL FROM PROJECT SITE.</h3>
                <el-form-item label="WHAT IS EMPLOYEE BEING REMOVED FOR? (Give details of specific incident(s) so that employee knows what behavior needs to be corrected.)">

                <el-input type="textarea"  style="width: 100%;" v-model="form.removed_for"/>
                </el-form-item>
 </el-col>

<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">

                 <el-form-item label=" WHAT POLICY/PROCEDURE OR OTHER CONDUCT RULE HAS BEEN VIOLATED?">
                <el-input type="textarea"  style="width: 100%;" v-model="form.violated"/>
                 </el-form-item>
                 </el-col>

<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">

                 <el-form-item label="IF CONDUCT IS REPEATED OR OTHER DISCIPLINARY PROBLEMS DEVELOP, WHAT ADDITIONAL ACTION WILL LIKELY RESULT?  (Removal)">
                <el-input type="textarea"  style="width: 100%;" v-model="form.additional_action"/>
                 </el-form-item>
                 </el-col>
                 <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                     <el-form-item label="RESTATE, FOR THE EMPLOYEE’S BENEFIT, THE EXPECTED PERFORMANCE STANDARDS WHICH MUST BE MET IN ORDER TO CORRECT THE PROBLEM.">
                <el-input type="textarea"  style="width: 100%;" v-model="form.restate"/>
                     </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <el-form-item label="HAS EMPLOYEE BEEN WARNED ABOUT THIS ACTION BEFORE?">
                    <el-radio-group v-model="form.warned_before">
                        <el-radio label="Yes" />
                        <el-radio label="No" />
                    </el-radio-group>
                </el-form-item>
                </el-col>
                 <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <el-form-item label="How?" v-if="form.warned_before === 'Yes'">
                    <el-radio-group v-model="form.warned_before_type">
                        <el-radio label="WRITTEN" />
                        <el-radio label="VERBAL" />
                    </el-radio-group>
                </el-form-item>
                </el-col>
                 <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <el-form-item label="BY WHOM? (Name and Title)" label-width="350px">
                    <el-input placeholder="BY WHOM? (Name and Title)" v-model="form.warned_before_by_whom"/>
                </el-form-item>
                </el-col>
                 <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <el-form-item label="Date of Warning">
                    <el-date-picker placeholder="Date of Warning" v-model="form.date_of_warning"/>
                </el-form-item>
                </el-col>
                 <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <el-form-item label="SUPERVISOR'S NAME AND TITLE?">
                    <el-input placeholder="SUPERVISOR'S NAME AND TITLE?" v-model="form.supervisors_name_and_title"/>
                </el-form-item>
                 </el-col>
                  <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <p>
                    EMPLOYEE'S COMMENTS (employee may use attachment if necessary)
                </p>
                <el-input type="textarea"  style="width: 100%;" v-model="form.employees_comments"/>
</el-col>
            </div>


    </el-row>
         </el-form>

        <el-button class="btn btn-cancel" @click="closeForm">Cancel</el-button>
        <el-button class="btn btn-red" :disabled="submitingRequest"  @click="submitForm">Confirm</el-button>


    </el-tab-pane>


<el-tab-pane label="Requests List">

        <el-table
                :data="list"
                style="width: 100%">
            <el-table-column
                    prop="id"
                    width="50px"
                    label="No">
                <template slot-scope="scope">
                    {{ scope.$index+1 }}
                </template>
            </el-table-column>
            <el-table-column
                    width="150px"
                    label="Warning Type">
                <template slot-scope="scope">
                    {{ scope.row.warning_type }}
                </template>
            </el-table-column>
            <el-table-column
                    width="150px"
                    label="ID Number">
                <template slot-scope="scope">
                    {{ scope.row.id_number }}
                </template>
            </el-table-column>
            <el-table-column
                    label="Status"
                    width="150px">
                <template slot-scope="scope">
                    <span v-if="scope.row.status === 'Approved'"><el-tag size="mini" type="success">Approved</el-tag></span>
                    <span v-else-if="scope.row.status === 'Rejected'"><el-tag size="mini" type="danger">Rejected</el-tag></span>
                    <span v-else><el-tag size="mini" type="warning">Pending</el-tag></span>
                </template>
            </el-table-column>
            <el-table-column
                    label="Comment"
                    prop="comment"
                    width="150">
            </el-table-column>
            <el-table-column
                    label="Operations">
                <template slot-scope="scope">
                    <a :href="scope.row.download_url" class="el-button el-button--default el-button--mini" download>Download</a>
                    <el-button size="mini"  @click.native.prevent="viewForm(scope.row)">View</el-button>
                </template>
            </el-table-column>

        </el-table>



        <el-dialog class="req-popup"
                width="50%"
                title="Disciplinary Action Issued Form Details"
                :visible.sync="detailVisible"
                append-to-body>

 <el-row :gutter="25">
           <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <el-form class="req-list-form" label-position="top" :inline="true">
              <el-form-item label="Status" v-if="checkRole(['admin','fom manager'])">
                <el-select @change="updateStatus(rowDetail.id)" v-model="status" placeholder="Please select a status">
                    <el-option label="Approved" value="Approved"/>
                    <el-option label="Rejected" value="Rejected"/>
                    <el-option label="Pending" value="Pending"/>
                </el-select>
            </el-form-item>
            </el-form>

            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                <tr>
                    <th>Name</th>
                    <th width="200px">Value</th>
                </tr>
                <tr>
                    <td>Warning Type</td>
                    <td>{{ rowDetail.warning_type }}</td>
                </tr>
                <tr>
                    <td>EMPLOYEE NAME</td>
                    <td>{{ rowDetail.employee_name }}</td>
                </tr>
                <tr>
                    <td>Designation</td>
                    <td>{{ rowDetail.designation }}</td>
                </tr>
                <tr>
                    <td>Date of Warning</td>
                    <td>{{ rowDetail.date_of_warning }}</td>
                </tr>
                <tr>
                    <td>ID Number</td>
                    <td>{{ rowDetail.id_number }}</td>
                </tr>
                <tr>
                    <td>REASON FOR WARNING</td>
                    <td>{{ rowDetail.warned_for }}</td>
                </tr>
                <tr>
                    <td>COUNSELING COMMENTS</td>
                    <td>{{ rowDetail.counseling_comments }}</td>
                </tr>
                <tr>
                    <td>EMPLOYEE'S COMMENTS</td>
                    <td>{{ rowDetail.employees_comments }}</td>
                </tr>
                <tr>
                    <td>Violation Date Time</td>
                    <td>{{ rowDetail.violation_date_time }}</td>
                </tr>
                <tr>
                    <td>Warning No.</td>
                    <td>{{ rowDetail.warning_no }}</td>
                </tr>
                <tr>
                    <td>Company</td>
                    <td>{{ rowDetail.company }}</td>
                </tr>
                <tr>
                    <td>Location/Floor/Unit Number</td>
                    <td>{{ rowDetail.location }}</td>
                </tr>
                <tr>
                    <td>COUNSELING COMMENTS</td>
                    <td>{{ rowDetail.counseling_comments }}</td>
                </tr>
                <tr>
                    <td>WHAT POLICY/PROCEDURE OR OTHER CONDUCT RULE HAS BEEN VIOLATED?</td>
                    <td>{{ rowDetail.violated }}</td>
                </tr>
                <tr>
                    <td>IF CONDUCT IS REPEATED OR OTHER DISCIPLINARY PROBLEMS DEVELOP, WHAT ADDITIONAL ACTION WILL LIKELY RESULT?  (Be specific, e.g. further disciplinary action, removal)</td>
                    <td>{{ rowDetail.additional_action }}</td>
                </tr>
                <tr>
                    <td>RESTATE, FOR THE EMPLOYEE’S BENEFIT, THE EXPECTED PERFORMANCE STANDARDS WHICH MUST BE MET IN ORDER TO CORRECT THE PROBLEM.</td>
                    <td>{{ rowDetail.restate }}</td>
                </tr>
                <tr>
                    <td>HAS EMPLOYEE BEEN WARNED ABOUT THIS ACTION BEFORE?</td>
                    <td>{{ rowDetail.warned_before }}</td>
                </tr>
                <tr>
                    <td>How?</td>
                    <td>{{ rowDetail.warned_before_type }}</td>
                </tr>
                <tr>
                    <td>BY WHOM? (Name and Title)</td>
                    <td>{{ rowDetail.warned_before_by_whom }}</td>
                </tr>
                <tr>
                    <td>WHAT IS EMPLOYEE BEING REMOVED FOR?</td>
                    <td>{{ rowDetail.removed_for }}</td>
                </tr>

            </table>


           </el-col>
 </el-row>
        </el-dialog>

</el-tab-pane>
</el-tabs>
    </div>
</template>

<script>

    const warningOptions = ['Verbal Warning','Written Warning','Final Written Warning','Removal Form'];

    import FomFillUpFormResource from '@/api/fill-up-form';
    const fomFillUpFormResource = new FomFillUpFormResource('disciplinaryActionIssued');
    import BackendErrors from '@/mixins/backend-errors';
    import checkRole from '@/utils/role';

    export default {
        name: "disciplinary-action-issued",
        mixins:[BackendErrors],
        props:['task'],
        data() {
            return {
                warningOptions,
                form:{
                    warning_type:'Verbal Warning',
                    employee_name:'',
                    designation:'',
                    date_of_warning:'',
                    id_number:'',
                    significant_comments:'',
                    supervisors_name_and_title:'',
                    warned_for:'',
                    employees_comments:'',
                    violation_date_time:'',
                    warning_no:'',
                    company:'',
                    location:'',
                    counseling_comments:'',
                    violated:'',
                    additional_action:'',
                    restate:'',
                    warned_before:'',
                    warned_before_type:'',
                    warned_before_by_whom:'',
                    removed_for:'',
                    task_id:this.task.id
                },
                submitingRequest:false,
                detailVisible:false,
                list:[],
                rowDetail:{
                    warning_type:'Verbal Warning',
                    employee_name:'',
                    designation:'',
                    date_of_warning:'',
                    id_number:'',
                    significant_comments:'',
                    supervisors_name_and_title:'',
                    warned_for:'',
                    employees_comments:'',
                    violation_date_time:'',
                    warning_no:'',
                    company:'',
                    location:'',
                    counseling_comments:'',
                    violated:'',
                    additional_action:'',
                    restate:'',
                    warned_before:'',
                    warned_before_type:'',
                    warned_before_by_whom:'',
                    removed_for:'',
                    task_id:this.task.id
                },
                status:''
            };
        },
        mounted(){
            this.getList();
        },
        methods:{
            checkRole,
            getList(){
                fomFillUpFormResource.listByTask(this.task.id)
                    .then(response => {
                        this.list = response.data;
                    }).catch(error => {
                })
            },
            submitForm(){
                this.submitingRequest = true;
                fomFillUpFormResource.store(this.form)
                    .then(response => {
                        this.list.push(response.data);
                        this.resetForm();
                        this.clear();
                        this.$message({
                            message: `Congrats, report submit successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch(error => {
                    this.record(error)
                }).finally(()=>{
                    this.submitingRequest = false;
                })
            },
            closeForm(){
                this.resetForm();
                this.$emit('close');
            },
            resetForm(){
                this.form = {
                    warning_type:'Verbal Warning',
                    employee_name:'',
                    designation:'',
                    date_of_warning:'',
                    id_number:'',
                    significant_comments:'',
                    supervisors_name_and_title:'',
                    warned_for:'',
                    employees_comments:'',
                    violation_date_time:'',
                    warning_no:'',
                    company:'',
                    location:'',
                    counseling_comments:'',
                    violated:'',
                    additional_action:'',
                    restate:'',
                    warned_before:'',
                    warned_before_type:'',
                    warned_before_by_whom:'',
                    removed_for:'',
                    task_id:this.task.id
                };
            },
            viewForm(row){
                this.detailVisible = true;
                this.rowDetail=row;
                this.status=this.rowDetail.status;
                console.log(row);
            },
            updateStatus(id){

                this.$prompt('Please input comment', 'Comment', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                }).then(({ value }) => {
                    fomFillUpFormResource.updateStatus(id,{
                        status: this.status,
                        comment:value
                    }).then(response => {
                        this.getList();
                        this.$message({
                            message: `Congrats, status updated successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch((error) => {
                        console.log(error);
                    });
                }).catch((error) => {
                    this.status=this.rowDetail.status;
                    console.log(error);
                });

            }
        }
    }

</script>

<style scoped>
    .sub-con-plus , .sub-con-plus:hover , .sub-con-plus:focus , .sub-con-plus:visited {
        color: #FFF;
        background: #13ce66 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #13ce66 !important;
        margin-top: 25px;
        width: 100%;
    }

    .sub-con-del , .sub-con-del:hover , .sub-con-del:focus , .sub-con-del:visited {
        color: #FFF;
        background: #f15151 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #f15151 !important;
        margin-top: 25px;
        width: 100%;
    }

    .btn-red {
        background: #9e0d21;
    }

    .btn-red:hover, .btn-red:active , .btn-red:focus {
        background: #880a1b !important;
        color: #fff;
        outline: none;
        box-shadow: none;
    }

    .st-drwwer .btn-cancel , .st-drwwer .btn-red {
        padding: 12px 25px;
        margin-top: 0;
        border: 1px solid #9e0d21 !important;
    }
</style>
