<template>
    <div>

        <el-tabs class="st-drwwer-tabs">
            <el-tab-pane label="Request New">
                <el-form :inline="true" class="form-container">
                    <el-row :gutter="20">
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Date of Exit">
                                <el-date-picker type="datetime" placeholder="Date of Exit" v-model="form.b_date_of_exit"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Company Information</h3>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Company">
                                <el-input placeholder="Company" v-model="form.co_company"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Address">
                                <el-input placeholder="Address" v-model="form.co_address"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Contact Information</h3>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Primary Contact Name">
                                <el-input placeholder="Primary Contact Name" v-model="form.c_primary_contact_name"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Title">
                                <el-input placeholder="Title" v-model="form.c_title"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Address">
                                <el-input placeholder="Address" v-model="form.c_address"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="City">
                                <el-input placeholder="City" v-model="form.c_city"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Contact Number">
                                <el-input placeholder="Contact Number" v-model="form.c_contact_number"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Email">
                                <el-input placeholder="Email" v-model="form.c_email"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Material or Equipment Information</h3>
                        </el-col>

                        <div v-for="(meterial, index) in form.materials">
                            <el-col :xs="24" :sm="2" :md="2" :lg="2" :xl="2">
                                <el-form-item label="No.">
                                    <el-input placeholder="No." :value="index+1" disabled/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="7" :md="7" :lg="7" :xl="7">
                                <el-form-item label="Meterial Details">
                                    <el-input placeholder="Description" v-model="meterial.desc"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                                <el-form-item label="Quantity">
                                    <el-input placeholder="Quantity" v-model="meterial.quantity"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                                <el-form-item label="Remarks">
                                    <el-input placeholder="Remarks" v-model="meterial.remarks"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="3" :md="3" :lg="3" :xl="3">
                                <el-button class="sub-con-plus" v-if="index === 0" @click="addMaterial" icon="el-icon-plus"/>
                                <el-button class="sub-con-del" v-else icon="el-icon-delete" @click="form.materials.splice(index,1)"/>
                            </el-col>
                            <br clear="all">
                        </div>



                    </el-row>
                </el-form>

                <el-button class="btn btn-cancel" @click="closeForm">Cancel</el-button>
                <el-button class="btn btn-red" :disabled="submitingRequest"  @click="submitForm">Confirm</el-button>
            </el-tab-pane>


            <el-tab-pane label="Requests List">

                <div class="req-list-item" v-for="(item,index) in list" :key="item.id">
                    <el-row>
                        <el-col :xs="24" :sm="1" :md="1" :lg="1" :xl="1">
                            <label>No</label>
                            <span>{{index+1}}</span>
                        </el-col>
                        <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">

                        </el-col>
                        <el-col :xs="24" :sm="5" :md="5" :lg="5" :xl="5">
                            <label>Status</label>
                            <span class="el-tag el-tag--success" v-if="item.status === 'Approved'">Approved</span>
                            <span class="el-tag el-tag--danger" v-else-if="item.status === 'Rejected'">Rejected</span>
                            <span class="el-tag el-tag--warning" v-else>Pending</span>
                        </el-col>
                        <el-col :xs="24" :sm="7" :md="7" :lg="7" :xl="7">
                            <label>Requested At</label>
                            <span>{{ item.created_at|time('llll') }}</span>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"><hr></el-col>
                        <el-col :xs="24" :sm="18" :md="18" :lg="18" :xl="18">
                            <label>Comments</label>
                            <span>{{ item.comment }}</span>
                        </el-col>

                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                            <label>Action</label>
                            <span>
                      <a size="small" class="btn btn-primary" type="primary" href="javascript:;" @click="viewForm(item)">View</a>
                      <a size="small" class="btn btn-success" type="success" download  :href="item.download_url">Download</a>
                   </span>
                        </el-col>


                    </el-row>
                </div>

                <el-dialog class="req-popup"
                           width="50%"
                           title="Exit Pass for Material or Equipment Form Details"
                           :visible.sync="detailVisible"
                           append-to-body>

                    <el-row :gutter="25">
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">

                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                                <tr>
                                    <td>Date of Exit</td>
                                    <td>{{ rowDetail.b_date_of_exit }}</td>
                                </tr>
                            </table>
                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr style="margin-top: 15px;">
                                    <th colspan="2"><b>Company Information</b></th>
                                </tr>
                                <tr>
                                    <td>Company</td>
                                    <td>{{ rowDetail.co_company }}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>{{ rowDetail.co_address }}</td>
                                </tr>
                            </table>
                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th colspan="2"><b>Contact Information</b></th>
                                </tr>
                                <tr>
                                    <td>Primary Contact Name</td>
                                    <td>{{ rowDetail.c_primary_contact_name }}</td>
                                </tr>
                                <tr>
                                    <td>Title</td>
                                    <td>{{ rowDetail.c_title }}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>{{ rowDetail.c_address }}</td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td>{{ rowDetail.c_city }}</td>
                                </tr>
                                <tr>
                                    <td>Contact Number</td>
                                    <td>{{ rowDetail.c_contact_number }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{ rowDetail.c_email }}</td>
                                </tr>


                            </table>

                            <span class="pop-sub-head">Material or Equipment Information</span>
                            <table class="req-list-table table-sec" border="1" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th>No.</th>
                                    <th>Description of Material or Equipment</th>
                                    <th>Quantity</th>
                                    <th>Remarks</th>
                                </tr>
                                <tr v-for="(meterial, index) in rowDetail.materials">
                                    <td>{{ index+1 }}</td>
                                    <td>{{ meterial.desc }}</td>
                                    <td>{{ meterial.quantity }}</td>
                                    <td>{{ meterial.remarks }}</td>
                                </tr>
                            </table>

                            <el-divider>Approval Section</el-divider>
                            <el-form class="req-list-form" label-position="top" :inline="true">
                                <el-form-item label="Status" v-if="checkRole(['admin','fom manager'])">
                                    <el-select @change="updateStatus(rowDetail.id)" v-model="status" placeholder="Please select a status">
                                        <el-option label="Approved" value="Approved"/>
                                        <el-option label="Rejected" value="Rejected"/>
                                        <el-option label="Pending" value="Pending"/>
                                    </el-select>
                                </el-form-item>
                            </el-form>

                        </el-col>
                    </el-row>
                </el-dialog>

            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>
    import FomFillUpFormResource from '@/api/fill-up-form';
    const fomFillUpFormResource = new FomFillUpFormResource('exitPassPermit');
    import BackendErrors from '@/mixins/backend-errors';
    import checkRole from '@/utils/role';

    export default {
        name: "exit-pass-permit",
        mixins:[BackendErrors],
        props:['task'],
        data() {
            return {
                submitingRequest:false,
                detailVisible:false,
                form:{
                    b_date_of_exit:'',
                    co_company:'',
                    co_address:'',
                    c_primary_contact_name:'',
                    c_title:'',
                    c_address:'',
                    c_city:'',
                    c_contact_number:'',
                    c_email:'',
                    materials:[
                        {
                            name:'',
                            desc:'',
                            quantity:'',
                            remarks:'',
                        }
                    ],
                    task_id:this.task.id,
                },
                list:[],
                rowDetail:{
                    b_date_of_exit:'',
                    co_company:'',
                    co_address:'',
                    c_primary_contact_name:'',
                    c_title:'',
                    c_address:'',
                    c_city:'',
                    c_contact_number:'',
                    c_email:'',
                    materials:[
                        {
                            name:'',
                            desc:'',
                            quantity:'',
                            remarks:'',
                        }
                    ],
                    task_id:this.task.id,
                },
                status:''
            }
        },
        created(){
            this.getList();
        },
        methods:{
            checkRole,
            addMaterial(){
                this.form.materials.push({
                    name:'',
                    desc:'',
                    quantity:'',
                    remarks:'',
                })
            },
            getList(){
                fomFillUpFormResource.listByTask(this.task.id)
                    .then(response => {
                        this.list = response.data;
                    }).catch(error => {
                })
            },
            submitForm(){
                this.submitingRequest = true;
                fomFillUpFormResource.store(this.form)
                    .then(response => {
                        this.list.push(response.data);
                        this.resetForm();
                        this.clear();
                        this.$message({
                            message: `Congrats, report submit successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch(error => {
                    this.record(error)
                }).finally(()=>{
                    this.submitingRequest = false;
                })
            },
            closeForm(){
                this.resetForm();
                this.$emit('close');
            },
            resetForm(){
                this.form = {
                    b_date_of_exit:'',
                    co_company:'',
                    co_address:'',
                    c_primary_contact_name:'',
                    c_title:'',
                    c_address:'',
                    c_city:'',
                    c_contact_number:'',
                    c_email:'',
                    materials:[
                        {
                            name:'',
                            desc:'',
                            quantity:'',
                            remarks:'',
                        }
                    ],
                    task_id:this.task.id,
                };
            },
            viewForm(row){
                this.detailVisible = true;
                this.rowDetail=row;
                this.status=this.rowDetail.status;
                console.log(row);
            },
            updateStatus(id){

                this.$prompt('Please input comment', 'Comment', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                }).then(({ value }) => {
                    fomFillUpFormResource.updateStatus(id,{
                        status: this.status,
                        comment:value
                    }).then(response => {
                        this.getList();
                        this.$message({
                            message: `Congrats, status updated successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch((error) => {
                        console.log(error);
                    });
                }).catch((error) => {
                    this.status=this.rowDetail.status;
                    console.log(error);
                });

            }
        }
    }
</script>

<style scoped>
    .custom-alert{
        background-color: #f4f4f5;
        color: #909399;
        padding: 8px 25px;
        margin-top: 20px;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        opacity: 1;
        display: flex;
        align-items: center;
        transition: opacity .2s;
        word-break: normal;
    }
    .form-container{
        margin-bottom: 10px;
    }
    .custom-alert-warning{
        background-color: #fdf6ec;
        color: #e6a23c;
        padding: 8px 25px;
        margin-top: 10px;
        border-radius: 4px;
        opacity: 1;
        transition: opacity .2s;
        word-break: normal;
    }

    .sub-con-plus , .sub-con-plus:hover , .sub-con-plus:focus , .sub-con-plus:visited {
        color: #FFF;
        background: #13ce66 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #13ce66 !important;
        margin-top: 25px;
        width: 100%;
    }

    .sub-con-del , .sub-con-del:hover , .sub-con-del:focus , .sub-con-del:visited {
        color: #FFF;
        background: #f15151 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #f15151 !important;
        margin-top: 25px;
        width: 100%;
    }

    .btn-red {
        background: #9e0d21;
    }

    .btn-red:hover, .btn-red:active , .btn-red:focus {
        background: #880a1b !important;
        color: #fff;
        outline: none;
        box-shadow: none;
    }

    .st-drwwer .btn-cancel , .st-drwwer .btn-red {
        padding: 12px 25px;
        margin-top: 0;
        border: 1px solid #9e0d21 !important;
    }
</style>
