<template>
    <div >

<el-tabs class="st-drwwer-tabs">
    <el-tab-pane label="Request New">
         <el-form :inline="true" class="form-container">
    <el-row :gutter="20">
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <el-form-item label="Company">
                <el-input placeholder="Company" v-model="form.company"/>
            </el-form-item>
        </el-col>
        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <el-form-item label="Date">
                <el-date-picker placeholder="Date" v-model="form.date"/>
            </el-form-item>
        </el-col>
        <el-col :xs="24" :sm="16" :md="16" :lg="16" :xl="16">
            <el-form-item label="Time" style="width: 100%;">
                <el-time-picker
                        is-range
                        v-model="form.time"
                        start-placeholder="Start time"
                        end-placeholder="End time">
                </el-time-picker>
            </el-form-item>
            </el-col>
        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <el-form-item label="Location of Work:">
                <el-input placeholder="Location of Work:" v-model="form.location_of_work"/>
            </el-form-item>
                    </el-col>
        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <el-form-item label="Description of Work:">
                <el-input placeholder="Description of Work:" v-model="form.description_of_work"/>
            </el-form-item>
                   </el-col>
        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <el-form-item label="Equipment Needed:">
                <el-input placeholder="Equipment Needed:" v-model="form.equipment_needed"/>
            </el-form-item>
                   </el-col>
         <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
            <el-form-item label="Supervisor Name">
                <el-input placeholder="Supervisor Name" v-model="form.supervisor_name"/>
            </el-form-item>
             </el-col>
         <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
            <el-form-item label="Supervisor Contact Number">
                <el-input placeholder="Supervisor Contact Number" v-model="form.supervisor_contact_number"/>
            </el-form-item>
             </el-col>
         <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
            <el-form-item label="Safety Representative Name">
                <el-input placeholder="Safety Representative Name" v-model="form.safety_name"/>
            </el-form-item>
             </el-col>
         <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
            <el-form-item label="Safety Representative Contact Number">
                <el-input placeholder="Safety Representative Contact Number" v-model="form.safety_contact_number"/>
            </el-form-item>
 </el-col>
 <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
<div class="custom-alert my-side-notes">
            <h5>Declaration & Request By: </h5>
            <p style="margin: 0;">
                We hereby declare that all the safety precautions will be taken prior to start work and the above Supervisor & Safety Representative will closely monitor the activity.
            </p>
</div>
 </el-col>



    </el-row>
         </el-form>
          <el-button class="btn btn-cancel" @click="closeForm">Cancel</el-button>
        <el-button class="btn btn-red" :disabled="submitingRequest"  @click="submitForm">Confirm</el-button>
    </el-tab-pane>

<el-tab-pane label="Requests List">
        <el-divider >Requests List</el-divider>
        <el-table
                :data="list"
                style="width: 100%">
            <el-table-column
                    prop="id"
                    width="50px"
                    label="No">
                <template slot-scope="scope">
                    {{ scope.$index+1 }}
                </template>
            </el-table-column>
            <el-table-column
                    width="200px"
                    label="Requested At">
                <template slot-scope="scope">
                    {{ scope.row.created_at|time('ll') }}
                </template>
            </el-table-column>
            <el-table-column
                    label="Status"
                    width="150">
                <template slot-scope="scope">
                    <span v-if="scope.row.status === 'Approved'"><el-tag size="mini" type="success">Approved</el-tag></span>
                    <span v-else-if="scope.row.status === 'Rejected'"><el-tag size="mini" type="danger">Rejected</el-tag></span>
                    <span v-else><el-tag size="mini" type="warning">Pending</el-tag></span>
                </template>
            </el-table-column>
            <el-table-column
                    label="Comment"
                    prop="comment"
                    width="150">
            </el-table-column>
            <el-table-column
                    label="Operations">
                <template slot-scope="scope">
                    <a :href="scope.row.download_url" class="el-button el-button--default el-button--mini" download>Download</a>
                    <el-button size="mini"  @click.native.prevent="viewForm(scope.row)">View</el-button>
                </template>
            </el-table-column>

        </el-table>


        <el-dialog class="req-popup"
                width="50%"
                title="Extended Hours & Friday Work Permit Form Details"
                :visible.sync="detailVisible"
                append-to-body>
 <el-row :gutter="25">
           <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <el-form class="req-list-form" label-position="top" :inline="true">
                <el-form-item label="Status" v-if="checkRole(['admin','fom manager'])">
                <el-select @change="updateStatus(rowDetail.id)" v-model="status" placeholder="Please select a status">
                    <el-option label="Approved" value="Approved"/>
                    <el-option label="Rejected" value="Rejected"/>
                    <el-option label="Pending" value="Pending"/>
                </el-select>
            </el-form-item>
            </el-form>
           </el-col>
  <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">

              <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Company</td>
                    <td>{{ rowDetail.company }}</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>{{ rowDetail.date }}</td>
                </tr>
                <tr>
                    <td>Time (Start)</td>
                    <td>{{ rowDetail.time }}</td>
                </tr>
                <tr>
                    <td>Time (End)</td>
                    <td>{{ rowDetail.time_end }}</td>
                </tr>
                <tr>
                    <td>Location of Work</td>
                    <td>{{ rowDetail.location_of_work }}</td>
                </tr>
                <tr>
                    <td>Description of Work</td>
                    <td>{{ rowDetail.description_of_work }}</td>
                </tr>
                <tr>
                    <td>Equipment Needed</td>
                    <td>{{ rowDetail.equipment_needed }}</td>
                </tr>
                <tr>
                    <td>Supervisor Name</td>
                    <td>{{ rowDetail.supervisor_name }}</td>
                </tr>
                <tr>
                    <td>Supervisor Contact Number</td>
                    <td>{{ rowDetail.supervisor_contact_number }}</td>
                </tr>
                <tr>
                    <td>Safety Representative Name</td>
                    <td>{{ rowDetail.safety_name }}</td>
                </tr>
                <tr>
                    <td>Safety Representative Contact Number</td>
                    <td>{{ rowDetail.safety_contact_number }}</td>
                </tr>
            </table>
  </el-col>
 </el-row>
        </el-dialog>
</el-tab-pane>
</el-tabs>
    </div>
</template>

<script>
    import FomFillUpFormResource from '@/api/fill-up-form';
    const fomFillUpFormResource = new FomFillUpFormResource('extendedHoursPermit');
    import BackendErrors from '@/mixins/backend-errors';
    import checkRole from '@/utils/role';

    export default {
        name: "complete-extended-hours-work-permit",
        mixins:[BackendErrors],
        props:['task'],
        data() {
            return {
                form:{
                    company:'',
                    date:'',
                    time:'',
                    location_of_work:'',
                    description_of_work:'',
                    equipment_needed:'',
                    supervisor_name:'',
                    supervisor_contact_number:'',
                    safety_name:'',
                    safety_contact_number:'',
                    task_id:this.task.id
                },
                submitingRequest:false,
                detailVisible:false,
                list:[],
                rowDetail:{
                    company:'',
                    date:'',
                    time:'',
                    location_of_work:'',
                    description_of_work:'',
                    equipment_needed:'',
                    supervisor_name:'',
                    supervisor_contact_number:'',
                    safety_name:'',
                    safety_contact_number:'',
                    task_id:this.task.id
                },
                status:''
            }
        },
        created(){
            this.getList();
        },
        methods:{
            checkRole,
            getList(){
                fomFillUpFormResource.listByTask(this.task.id)
                    .then(response => {
                        this.list = response.data;
                    }).catch(error => {
                })
            },
            submitForm(){
                this.submitingRequest = true;
                fomFillUpFormResource.store(this.form)
                    .then(response => {
                        this.list.push(response.data);
                        this.resetForm();
                        this.clear();
                        this.$message({
                            message: `Congrats, report submit successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch(error => {
                    this.record(error)
                }).finally(()=>{
                    this.submitingRequest = false;
                })
            },
            closeForm(){
                this.resetForm();
                this.$emit('close');
            },
            resetForm(){
                this.form = {
                    company:'',
                    date:'',
                    time:'',
                    location_of_work:'',
                    description_of_work:'',
                    equipment_needed:'',
                    supervisor_name:'',
                    supervisor_contact_number:'',
                    safety_name:'',
                    safety_contact_number:'',
                    task_id:this.task.id
                };
            },
            viewForm(row){
                this.detailVisible = true;
                this.rowDetail=row;
                this.status=this.rowDetail.status;
                console.log(row);
            },
            updateStatus(id){

                this.$prompt('Please input comment', 'Comment', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                }).then(({ value }) => {
                    fomFillUpFormResource.updateStatus(id,{
                        status: this.status,
                        comment:value
                    }).then(response => {
                        this.getList();
                        this.$message({
                            message: `Congrats, status updated successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch((error) => {
                        console.log(error);
                    });
                }).catch((error) => {
                    this.status=this.rowDetail.status;
                    console.log(error);
                });

            }
        }
    }
</script>

<style scoped>
    .sub-con-plus , .sub-con-plus:hover , .sub-con-plus:focus , .sub-con-plus:visited {
        color: #FFF;
        background: #13ce66 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #13ce66 !important;
        margin-top: 25px;
        width: 100%;
    }

    .sub-con-del , .sub-con-del:hover , .sub-con-del:focus , .sub-con-del:visited {
        color: #FFF;
        background: #f15151 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #f15151 !important;
        margin-top: 25px;
        width: 100%;
    }

    .btn-red {
        background: #9e0d21;
    }

    .btn-red:hover, .btn-red:active , .btn-red:focus {
        background: #880a1b !important;
        color: #fff;
        outline: none;
        box-shadow: none;
    }

    .st-drwwer .btn-cancel , .st-drwwer .btn-red {
        padding: 12px 25px;
        margin-top: 0;
        border: 1px solid #9e0d21 !important;
    }
</style>
