<template>
    <div>
        <el-button type="primary" style="margin-top: 0;" size="mini" @click="dialogVisible = true"><i class="el-icon-document-add"></i> Send Request</el-button>
        <el-drawer class="st-drwwer"
                :title="title"
                :visible.sync="dialogVisible"
                size="50%">
            <component v-if="task" :is="task.setting.form_type" :task="task" @close="dialogVisible = false"/>
        </el-drawer>


    </div>
</template>

<script>
    import PermitToWorkForm from "./permit-to-work-form";
    import CommonAreaDilapidationReport from "./common-area-dilapidation-report";
    import CommonAreaProtectionRequirement from "./common-area-protection-requirement";
    import AttendanceForm from "./attendance-form";
    import ComplianceInspection from "./compliance-inspection";
    import CertificateOfConformityForm from "./certificate-of-conformity-form";
    import DeliveryAndAccessPermit from "./delivery-and-access-permit";
    import ExtendedHoursPermit from "./extended-hours-permit";
    import MaterialDeliveryPermit from "./material-delivery-permit";
    import AccessWorkPermitForm from "./access-work-permit-form";
    import HotWorkPermit from "./hot-work-permit";
    import DisciplinaryActionIssued from "./disciplinary-action-issued";
    import ExitPassPermit from "./exit-pass-permit";
    import FirstFixInspectionChecklist from "./first-fix-inspection-checklist";
    import HSInductionIdCardForm from "./h-s-induction-id-card-form";
    import IncidentNotification from "./incident-notification";
    import MepServicesWitnessing from "./mep-services-witnessing";
    import HseBreachReport from "./hse-breach-report";
    import VehicleParkingRegistrationAndPermit from "./vehicle-parking-registration-and-permit";
    import WasteDisposalPermit from "./waste-disposal-permit";

    export default {
        components: {
            WasteDisposalPermit,
            VehicleParkingRegistrationAndPermit,
            HseBreachReport,
            MepServicesWitnessing,
            IncidentNotification,
            HSInductionIdCardForm,
            FirstFixInspectionChecklist,
            ExitPassPermit,
            DisciplinaryActionIssued,
            HotWorkPermit,
            AccessWorkPermitForm,
            MaterialDeliveryPermit,
            ExtendedHoursPermit,
            DeliveryAndAccessPermit,
            CertificateOfConformityForm,
            ComplianceInspection,
            AttendanceForm,
            CommonAreaProtectionRequirement,
            CommonAreaDilapidationReport,
            PermitToWorkForm
        },
        name: "fill-up-form",
        data() {
            return {
                dialogVisible: false,
                title:'No Title',
                width:'60%',
            };
        },
        props:['task'],
        mounted(){

            if (this.task.setting.form_type === 'permit-to-work-form'){
                this.title = 'Permit to Work Form';
                this.width = '90%';
            }else if (this.task.setting.form_type === 'h-s-induction-id-card-form'){
                this.title = 'H&S Induction/I.D. Card Form';
                this.width = '80%';
            }else if (this.task.setting.form_type === 'attendance-form'){
                this.title = 'Attendance Form';
                this.width = '80%';
            }else if (this.task.setting.form_type === 'common-area-dilapidation-report'){
                this.title = 'Common Area Dilapidation Report';
                this.width = '80%';
            }else if (this.task.setting.form_type === 'certificate-of-conformity-form'){
                this.title = 'Certificate of Conformity';
                this.width = '70%';
            }else if (this.task.setting.form_type === 'exit-pass-permit'){
                this.title = 'Exit Pass for Material or Equipment';
                this.width = '70%';
            }else if (this.task.setting.form_type === 'delivery-and-access-permit'){
                this.title = 'Delivery and Access Permit';
                this.width = '70%';
            }else if (this.task.setting.form_type === 'waste-disposal-permit'){
                this.title = 'Waste Disposal/Recycling Form';
                this.width = '70%';
            }else if (this.task.setting.form_type === 'common-area-protection-requirement'){
                this.title = 'Common Area Protection Specification';
                this.width = '60%';
            }else if (this.task.setting.form_type === 'material-delivery-permit'){
                this.title = 'Delivery and Access Permit';
                this.width = '70%';
            }else if (this.task.setting.form_type === 'hot-work-permit'){
                this.title = 'Hot Work Permit';
                this.width = '70%';
            }else if (this.task.setting.form_type === 'compliance-inspection'){
                this.title = 'HSE Weekly Inspection';
                this.width = '70%';
            }else if (this.task.setting.form_type === 'hse-breach-report'){
                this.title = 'HSE Requirements Breach Report';
                this.width = '70%';
            }else if (this.task.setting.form_type === 'disciplinary-action-issued'){
                this.title = 'Disciplinary Action Issued';
                this.width = '70%';
            }else if (this.task.setting.form_type === 'incident-notification'){
                this.title = 'Incident Notification';
                this.width = '70%';
            }else if (this.task.setting.form_type === 'mep-services-witnessing'){
                this.title = 'MEP Services Permit';
                this.width = '70%';
            }else if (this.task.setting.form_type === 'access-work-permit'){
                this.title = 'Access Work Permit';
                this.width = '70%';
            }else if (this.task.setting.form_type === 'extended-hours-permit'){
                this.title = 'Extended Hours & Friday Work Permit';
                this.width = '60%';
            }else if (this.task.setting.form_type === 'first-fix-inspection-checklist'){
                this.title = 'First Fix Inspection for Fit-out/Renovation Works';
                this.width = '70%';
            }else if (this.task.setting.form_type === 'vehicle-parking-registration-and-permit'){
                this.title = 'Fit-out Vehicle Parking Register';
                this.width = '70%';
            }else if (this.task.setting.form_type === 'snag-work-permit'){
                this.title = 'Fit-out Vehicle Parking Register';
                this.width = '70%';
            }else if (this.task.setting.form_type === 'access-work-permit-form'){
                this.title = 'Access work permit form';
                this.width = '70%';
            }

        },
        methods: {
            handleClose(done) {
                /*this.$confirm('Are you sure to close this dialog?')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {});*/
            }
        }
    }
</script>

<style scoped>

</style>
