<template>
    <div>
<el-tabs class="st-drwwer-tabs">
    <el-tab-pane label="Request New">
         <el-form :inline="true" class="form-container">
    <el-row :gutter="20">
<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <div class="custom-alert my-side-notes">The following is to be used as a guide by the team to perform the fit out weekly site inspection.  Observations should be noted on the attached observation sheet. </div>
</el-col>
<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
            <el-form-item label="Name of Tenant">
                <el-input placeholder="Name of Tenant" v-model="form.t_name_of_tenant"/>
            </el-form-item>
            </el-col>
<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
            <el-form-item label="Shop/Unit No">
                <el-input placeholder="Shop/Unit No" v-model="form.t_shop_unit_no"/>
            </el-form-item>
            </el-col>
<el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <el-form-item label="Doc. Ref No.">
                <el-input placeholder="Doc. Ref No." v-model="form.t_doc_ref_no"/>
            </el-form-item>
                        </el-col>
<el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <el-form-item label="File No.">
                <el-input placeholder="File No." v-model="form.t_file_no"/>
            </el-form-item>
                        </el-col>
<el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <el-form-item label="Unit :">
                <el-input placeholder="Unit :" v-model="form.t_unit"/>
            </el-form-item>
 </el-col>

<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <h3>Name of Consultant/Designer/Contractor:</h3>
</el-col>
<el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <el-form-item label="Contact Person">
                <el-input placeholder="Contact Person" v-model="form.c_contact_person"/>
            </el-form-item>
            </el-col>
<el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <el-form-item label="Office Tel No">
                <el-input placeholder="Office Tel No" v-model="form.c_office_tel_no"/>
            </el-form-item>
            </el-col>
<el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <el-form-item label="Title/Position">
                <el-input placeholder="Title/Position" v-model="form.c_title_position"/>
            </el-form-item>
            </el-col>
<el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <el-form-item label="Mobile No">
                <el-input placeholder="Mobile No" v-model="form.c_mobile_no"/>
            </el-form-item>
            </el-col>
<el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <el-form-item label="Address">
                <el-input placeholder="Address" v-model="form.c_address"/>
            </el-form-item>
            </el-col>
<el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
            <el-form-item label="Email">
                <el-input placeholder="Email" v-model="form.c_email"/>
            </el-form-item>
            </el-col>

<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <h3>Fit Out Operation Site Representative</h3>
              </el-col>
              <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
            <el-form-item label="Contact Person">
                <el-input placeholder="Contact Person" v-model="form.f_contact_person"/>
            </el-form-item>
             </el-col>
              <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
            <el-form-item label="Office Tel No">
                <el-input placeholder="Office Tel No" v-model="form.f_office_tel_no"/>
            </el-form-item>
             </el-col>
              <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
            <el-form-item label="Title/Position">
                <el-input placeholder="Title/Position" v-model="form.f_title_position"/>
            </el-form-item>
             </el-col>
              <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
            <el-form-item label="Mobile No">
                <el-input placeholder="Mobile No" v-model="form.f_mobile_no"/>
            </el-form-item>
             </el-col>
              <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">



            <table border="1" class="req-list-table" style="border-collapse: collapse;">
                <tr>
                    <th width="30px">SN</th>
                    <th>Description</th>
                    <th width="40px">Yes</th>
                    <th width="40px">No</th>
                    <th width="40px">N/A</th>
                    <th>Remarks</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td><b>First Fix Inspection</b></td>
                    <td><el-radio v-model="form.question_1" label="Yes"/></td>
                    <td><el-radio v-model="form.question_1" label="No"/></td>
                    <td><el-radio v-model="form.question_1" label="N/A"/></td>
                    <td><el-input v-model="form.question_1_remarks"/></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Bulkhead and shadow gap installation as per approved drawing</td>
                    <td><el-radio v-model="form.question_2" label="Yes"/></td>
                    <td><el-radio v-model="form.question_2" label="No"/></td>
                    <td><el-radio v-model="form.question_2" label="N/A"/></td>
                    <td><el-input v-model="form.question_2_remarks"/></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>CHW (Chilled Water) Pipe Pressure Testing at 16 bar - 24 hours and certificate including equipment calibration certificate</td>
                    <td><el-radio v-model="form.question_3" label="Yes"/></td>
                    <td><el-radio v-model="form.question_3" label="No"/></td>
                    <td><el-radio v-model="form.question_3" label="N/A"/></td>
                    <td><el-input v-model="form.question_3_remarks"/></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>CHW Chemical Flushing and Certificate including equipment calibration certificate</td>
                    <td><el-radio v-model="form.question_4" label="Yes"/></td>
                    <td><el-radio v-model="form.question_4" label="No"/></td>
                    <td><el-radio v-model="form.question_4" label="N/A"/></td>
                    <td><el-input v-model="form.question_4_remarks"/></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Base Built Chill Water Line Flow Rate (L/S) Testing Before CHW Valve Connection- Submit Undertaking Letter If Comply</td>
                    <td><el-radio v-model="form.question_5" label="Yes"/></td>
                    <td><el-radio v-model="form.question_5" label="No"/></td>
                    <td><el-radio v-model="form.question_5" label="N/A"/></td>
                    <td><el-input v-model="form.question_5_remarks"/></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>SPR/Fire fighting Pipe line installations as per approved DCD & DCCA/DM drawings</td>
                    <td><el-radio v-model="form.question_6" label="Yes"/></td>
                    <td><el-radio v-model="form.question_6" label="No"/></td>
                    <td><el-radio v-model="form.question_6" label="N/A"/></td>
                    <td><el-input v-model="form.question_6_remarks"/></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>SPR/Fire Fighting Pipe work pressure testing at 16 bar - 24 hours and certificate</td>
                    <td><el-radio v-model="form.question_7" label="Yes"/></td>
                    <td><el-radio v-model="form.question_7" label="No"/></td>
                    <td><el-radio v-model="form.question_7" label="N/A"/></td>
                    <td><el-input v-model="form.question_7_remarks"/></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Is SPR/Fire Fighting Pipe are colored (Red)</td>
                    <td><el-radio v-model="form.question_8" label="Yes"/></td>
                    <td><el-radio v-model="form.question_8" label="No"/></td>
                    <td><el-radio v-model="form.question_8" label="N/A"/></td>
                    <td><el-input v-model="form.question_8_remarks"/></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Building Management to check if there is any damages in base built FA interface loop</td>
                    <td><el-radio v-model="form.question_9" label="Yes"/></td>
                    <td><el-radio v-model="form.question_9" label="No"/></td>
                    <td><el-radio v-model="form.question_9" label="N/A"/></td>
                    <td><el-input v-model="form.question_9_remarks"/></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Ceiling partition as per approved DCD & DCCA/DM drawings</td>
                    <td><el-radio v-model="form.question_10" label="Yes"/></td>
                    <td><el-radio v-model="form.question_10" label="No"/></td>
                    <td><el-radio v-model="form.question_10" label="N/A"/></td>
                    <td><el-input v-model="form.question_10_remarks"/></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Fire alarm installation as per approved DCD & DCCA/DM drawings</td>
                    <td><el-radio v-model="form.question_11" label="Yes"/></td>
                    <td><el-radio v-model="form.question_11" label="No"/></td>
                    <td><el-radio v-model="form.question_11" label="N/A"/></td>
                    <td><el-input v-model="form.question_11_remarks"/></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Water supply pressure testing at 10 bar - 24 hours</td>
                    <td><el-radio v-model="form.question_12" label="Yes"/></td>
                    <td><el-radio v-model="form.question_12" label="No"/></td>
                    <td><el-radio v-model="form.question_12" label="N/A"/></td>
                    <td><el-input v-model="form.question_12_remarks"/></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Drainage pipes gravity and flow testing.</td>
                    <td><el-radio v-model="form.question_13" label="Yes"/></td>
                    <td><el-radio v-model="form.question_13" label="No"/></td>
                    <td><el-radio v-model="form.question_13" label="N/A"/></td>
                    <td><el-input v-model="form.question_13_remarks"/></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>LPG Pressure Testing by DCD approved LPG Contractor (If required)</td>
                    <td><el-radio v-model="form.question_14" label="Yes"/></td>
                    <td><el-radio v-model="form.question_14" label="No"/></td>
                    <td><el-radio v-model="form.question_14" label="N/A"/></td>
                    <td><el-input v-model="form.question_14_remarks"/></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>FCU power provided</td>
                    <td><el-radio v-model="form.question_15" label="Yes"/></td>
                    <td><el-radio v-model="form.question_15" label="No"/></td>
                    <td><el-radio v-model="form.question_15" label="N/A"/></td>
                    <td><el-input v-model="form.question_15_remarks"/></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>FCU drainage installed and connected to CDP</td>
                    <td><el-radio v-model="form.question_16" label="Yes"/></td>
                    <td><el-radio v-model="form.question_16" label="No"/></td>
                    <td><el-radio v-model="form.question_16" label="N/A"/></td>
                    <td><el-input v-model="form.question_16_remarks"/></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>FCU locations match approved drawings</td>
                    <td><el-radio v-model="form.question_17" label="Yes"/></td>
                    <td><el-radio v-model="form.question_17" label="No"/></td>
                    <td><el-radio v-model="form.question_17" label="N/A"/></td>
                    <td><el-input v-model="form.question_17_remarks"/></td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Ceiling power installed as per DEWA approval (if any)</td>
                    <td><el-radio v-model="form.question_18" label="Yes"/></td>
                    <td><el-radio v-model="form.question_18" label="No"/></td>
                    <td><el-radio v-model="form.question_18" label="N/A"/></td>
                    <td><el-input v-model="form.question_18_remarks"/></td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Sprinklers and cables must not intersect through ducting.</td>
                    <td><el-radio v-model="form.question_19" label="Yes"/></td>
                    <td><el-radio v-model="form.question_19" label="No"/></td>
                    <td><el-radio v-model="form.question_19" label="N/A"/></td>
                    <td><el-input v-model="form.question_19_remarks"/></td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>No proposed services penetrating the common area walls/party walls.</td>
                    <td><el-radio v-model="form.question_20" label="Yes"/></td>
                    <td><el-radio v-model="form.question_20" label="No"/></td>
                    <td><el-radio v-model="form.question_20" label="N/A"/></td>
                    <td><el-input v-model="form.question_20_remarks"/></td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Is there any mechanical fixing to existing window system or/and drilling on wall</td>
                    <td><el-radio v-model="form.question_21" label="Yes"/></td>
                    <td><el-radio v-model="form.question_21" label="No"/></td>
                    <td><el-radio v-model="form.question_21" label="N/A"/></td>
                    <td><el-input v-model="form.question_21_remarks"/></td>
                </tr>
            </table>

          </el-col>


    </el-row>
         </el-form>

                 
  <el-button class="btn btn-cancel" @click="closeForm">Cancel</el-button>
        <el-button class="btn btn-red" :disabled="submitingRequest"  @click="submitForm">Confirm</el-button>
    </el-tab-pane>


<el-tab-pane label="Requests List">

        <el-table
                :data="list"
                style="width: 100%">
            <el-table-column
                    prop="id"
                    width="50px"
                    label="No">
                <template slot-scope="scope">
                    {{ scope.$index+1 }}
                </template>
            </el-table-column>

            <el-table-column
                    label="Status"
                    width="150">
                <template slot-scope="scope">
                    <span v-if="scope.row.status === 'Approved'"><el-tag size="mini" type="success">Approved</el-tag></span>
                    <span v-else-if="scope.row.status === 'Rejected'"><el-tag size="mini" type="danger">Rejected</el-tag></span>
                    <span v-else><el-tag size="mini" type="warning">Pending</el-tag></span>
                </template>
            </el-table-column>
            <el-table-column
                    label="Comment"
                    prop="comment"
                    width="150">
            </el-table-column>
            <el-table-column
                    width="200px"
                    label="Submit At">
                <template slot-scope="scope">
                    {{ scope.row.created_at|time('llll') }}
                </template>
            </el-table-column>
            <el-table-column
                    width="200px"
                    label="Operations">
                <template slot-scope="scope">
                    <a :href="scope.row.download_url" class="el-button el-button--default el-button--mini" download>Download</a>
                    <el-button size="mini"  @click.native.prevent="viewForm(scope.row)">View</el-button>
                </template>
            </el-table-column>

        </el-table>





         <el-dialog class="req-popup"
                width="60%"
                title="First Fix Inspection for Fit-out/Renovation Form"
                :visible.sync="detailVisible"
                append-to-body>

            

            <el-row :gutter="25">
           <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <el-form class="req-list-form" label-position="top" :inline="true">
             <el-form-item label="Status" v-if="checkRole(['admin','fom manager'])">
                <el-select @change="updateStatus(rowDetail.id)" v-model="status" placeholder="Please select a status">
                    <el-option label="Approved" value="Approved"/>
                    <el-option label="Rejected" value="Rejected"/>
                    <el-option label="Pending" value="Pending"/>
                </el-select>
            </el-form-item>
            </el-form>
           </el-col>
            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Name of Tenant</td>
                    <td>{{ rowDetail.t_name_of_tenant }}</td>
                </tr>
                <tr>
                    <td>Shop/Unit No</td>
                    <td>{{ rowDetail.t_shop_unit_no }}</td>
                </tr>
                <tr>
                    <td>File No.</td>
                    <td>{{ rowDetail.t_file_no }}</td>
                </tr>
                <tr>
                    <td>Unit</td>
                    <td>{{ rowDetail.t_unit }}</td>
                </tr>
               
            </table>
            </el-col>
             <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                 <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                <tr>
                    <th colspan="2"><b>Name of Consultant/Designer/Contractor</b></th>
                </tr>
                <tr>
                    <td>Contact Person</td>
                    <td>{{ rowDetail.c_contact_person }}</td>
                </tr>
                <tr>
                    <td>Office Tel No</td>
                    <td>{{ rowDetail.c_office_tel_no }}</td>
                </tr>
                <tr>
                    <td>Title/Position</td>
                    <td>{{ rowDetail.c_title_position }}</td>
                </tr>
                <tr>
                    <td>Mobile No</td>
                    <td>{{ rowDetail.c_mobile_no }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{ rowDetail.c_address }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ rowDetail.c_email }}</td>
                </tr>
                 </table>
             </el-col>
               <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                  <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                <tr>
                    <th colspan="2"><b>Fit Out Operation Site Representative</b></th>
                </tr>
                <tr>
                    <td>Contact Person</td>
                    <td>{{ rowDetail.f_contact_person }}</td>
                </tr>
                <tr>
                    <td>Office Tel No</td>
                    <td>{{ rowDetail.f_office_tel_no }}</td>
                </tr>
                <tr>
                    <td>Title/Position</td>
                    <td>{{ rowDetail.f_title_position }}</td>
                </tr>
                <tr>
                    <td>Mobile No</td>
                    <td>{{ rowDetail.f_mobile_no }}</td>
                </tr>
                  </table>
               </el-col>
                 <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                            <tr>
                                <th width="30px">SN</th>
                                <th>Description</th>
                                <th width="40px">Answer</th>
                                <th>Remarks</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>First Fix Inspection</td>
                                <td>{{ rowDetail.question_1 }}</td>
                                <td>{{ rowDetail.question_1_remarks }}</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Bulkhead and shadow gap installation as per approved drawing</td>
                                <td>{{ rowDetail.question_2 }}</td>
                                <td>{{ rowDetail.question_2_remarks }}</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>CHW (Chilled Water) Pipe Pressure Testing at 16 bar - 24 hours and certificate including equipment calibration certificate</td>
                                <td>{{ rowDetail.question_3 }}</td>
                                <td>{{ rowDetail.question_3_remarks }}</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>CHW Chemical Flushing and Certificate including equipment calibration certificate</td>
                                <td>{{ rowDetail.question_4 }}</td>
                                <td>{{ rowDetail.question_4_remarks }}</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Base Built Chill Water Line Flow Rate (L/S) Testing Before CHW Valve Connection- Submit Undertaking Letter If Comply</td>
                                <td>{{ rowDetail.question_5 }}</td>
                                <td>{{ rowDetail.question_5_remarks }}</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>SPR/Fire fighting Pipe line installations as per approved DCD & DCCA/DM drawings</td>
                                <td>{{ rowDetail.question_6 }}</td>
                                <td>{{ rowDetail.question_6_remarks }}</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>SPR/Fire Fighting Pipe work pressure testing at 16 bar - 24 hours and certificate</td>
                                <td>{{ rowDetail.question_7 }}</td>
                                <td>{{ rowDetail.question_7_remarks }}</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Is SPR/Fire Fighting Pipe are colored (Red)</td>
                                <td>{{ rowDetail.question_8 }}</td>
                                <td>{{ rowDetail.question_8_remarks }}</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Building Management to check if there is any damages in base built FA interface loop</td>
                                <td>{{ rowDetail.question_9 }}</td>
                                <td>{{ rowDetail.question_9_remarks }}</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Ceiling partition as per approved DCD & DCCA/DM drawings</td>
                                <td>{{ rowDetail.question_10 }}</td>
                                <td>{{ rowDetail.question_10_remarks }}</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Fire alarm installation as per approved DCD & DCCA/DM drawings</td>
                                <td>{{ rowDetail.question_11 }}</td>
                                <td>{{ rowDetail.question_11_remarks }}</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Water supply pressure testing at 10 bar - 24 hours</td>
                                <td>{{ rowDetail.question_12 }}</td>
                                <td>{{ rowDetail.question_12_remarks }}</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>Drainage pipes gravity and flow testing.</td>
                                <td>{{ rowDetail.question_13 }}</td>
                                <td>{{ rowDetail.question_13_remarks }}</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>LPG Pressure Testing by DCD approved LPG Contractor (If required)</td>
                                <td>{{ rowDetail.question_14 }}</td>
                                <td>{{ rowDetail.question_14_remarks }}</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>FCU power provided</td>
                                <td>{{ rowDetail.question_15 }}</td>
                                <td>{{ rowDetail.question_15_remarks }}</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>FCU drainage installed and connected to CDP</td>
                                <td>{{ rowDetail.question_16 }}</td>
                                <td>{{ rowDetail.question_16_remarks }}</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>FCU locations match approved drawings</td>
                                <td>{{ rowDetail.question_17 }}</td>
                                <td>{{ rowDetail.question_17_remarks }}</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>Ceiling power installed as per DEWA approval (if any)</td>
                                <td>{{ rowDetail.question_18 }}</td>
                                <td>{{ rowDetail.question_18_remarks }}</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>Sprinklers and cables must not intersect through ducting.</td>
                                <td>{{ rowDetail.question_19 }}</td>
                                <td>{{ rowDetail.question_19_remarks }}</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>No proposed services penetrating the common area walls/party walls.</td>
                                <td>{{ rowDetail.question_20 }}</td>
                                <td>{{ rowDetail.question_20_remarks }}</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>Is there any mechanical fixing to existing window system or/and drilling on wall</td>
                                <td>{{ rowDetail.question_21 }}</td>
                                <td>{{ rowDetail.question_21_remarks }}</td>
                            </tr>
                        </table>
                  
           </el-col>
            </el-row>
           
           
        </el-dialog>
        </el-tab-pane>
</el-tabs>
    </div>
</template>

<script>
    const requestOptions = ['New', 'Renewal', 'Replacement'];
    import FomFillUpFormResource from '@/api/fill-up-form';
    const fomFillUpFormResource = new FomFillUpFormResource('firstFixInspection');
    import BackendErrors from '@/mixins/backend-errors';
    import checkRole from '@/utils/role';

    export default {
        name: "first-fix-inspection-checklist",
        mixins:[BackendErrors],
        props:['task'],
        data() {
            return {
                requestOptions,
                form:{
                    t_name_of_tenant:'',
                    t_shop_unit_no:'',
                    t_doc_ref_no:'',
                    t_file_no:'',
                    t_unit:'',
                    c_contact_person:'',
                    c_office_tel_no:'',
                    c_title_position:'',
                    c_mobile_no:'',
                    c_address:'',
                    c_email:'',
                    f_contact_person:'',
                    f_office_tel_no:'',
                    f_title_position:'',
                    f_mobile_no:'',
                    question_1:'',
                    question_1_remarks:'',
                    question_2:'',
                    question_2_remarks:'',
                    question_3:'',
                    question_3_remarks:'',
                    question_4:'',
                    question_4_remarks:'',
                    question_5:'',
                    question_5_remarks:'',
                    question_6:'',
                    question_6_remarks:'',
                    question_7:'',
                    question_7_remarks:'',
                    question_8:'',
                    question_8_remarks:'',
                    question_9:'',
                    question_9_remarks:'',
                    question_10:'',
                    question_10_remarks:'',
                    question_11:'',
                    question_11_remarks:'',
                    question_12:'',
                    question_12_remarks:'',
                    question_13:'',
                    question_13_remarks:'',
                    question_14:'',
                    question_14_remarks:'',
                    question_15:'',
                    question_15_remarks:'',
                    question_16:'',
                    question_16_remarks:'',
                    question_17:'',
                    question_17_remarks:'',
                    question_18:'',
                    question_18_remarks:'',
                    question_19:'',
                    question_19_remarks:'',
                    question_20:'',
                    question_20_remarks:'',
                    question_21:'',
                    question_21_remarks:'',
                    task_id:this.task.id,
                },
                submitingRequest:false,
                detailVisible:false,
                list:[],
                rowDetail:{
                    t_name_of_tenant:'',
                    t_shop_unit_no:'',
                    t_doc_ref_no:'',
                    t_file_no:'',
                    t_unit:'',
                    c_contact_person:'',
                    c_office_tel_no:'',
                    c_title_position:'',
                    c_mobile_no:'',
                    c_address:'',
                    c_email:'',
                    f_contact_person:'',
                    f_office_tel_no:'',
                    f_title_position:'',
                    f_mobile_no:'',
                    question_1:'',
                    question_1_remarks:'',
                    question_2:'',
                    question_2_remarks:'',
                    question_3:'',
                    question_3_remarks:'',
                    question_4:'',
                    question_4_remarks:'',
                    question_5:'',
                    question_5_remarks:'',
                    question_6:'',
                    question_6_remarks:'',
                    question_7:'',
                    question_7_remarks:'',
                    question_8:'',
                    question_8_remarks:'',
                    question_9:'',
                    question_9_remarks:'',
                    question_10:'',
                    question_10_remarks:'',
                    question_11:'',
                    question_11_remarks:'',
                    question_12:'',
                    question_12_remarks:'',
                    question_13:'',
                    question_13_remarks:'',
                    question_14:'',
                    question_14_remarks:'',
                    question_15:'',
                    question_15_remarks:'',
                    question_16:'',
                    question_16_remarks:'',
                    question_17:'',
                    question_17_remarks:'',
                    question_18:'',
                    question_18_remarks:'',
                    question_19:'',
                    question_19_remarks:'',
                    question_20:'',
                    question_20_remarks:'',
                    question_21:'',
                    question_21_remarks:'',
                    task_id:this.task.id,
                },
                status:''
            }
        },
        created(){
            this.getList();
        },
        methods:{
            checkRole,
            addCard(){
                this.form.cards.push({
                    name:'',
                    emirates_id:'',
                    nationality:'',
                    job_title:'',
                    cost:''
                })
            },
            getList(){
                fomFillUpFormResource.listByTask(this.task.id)
                    .then(response => {
                        this.list = response.data;

                    }).catch(error => {
                })
            },
            submitForm(){
                this.submitingRequest = true;
                fomFillUpFormResource.store(this.form)
                    .then(response => {
                        this.list.push(response.data);
                        this.resetForm();
                        this.clear()
                        this.$message({
                            message: `Congrats, request submit successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch(error => {
                    this.record(error)
                }).finally(()=>{
                    this.submitingRequest = false;
                })
            },
            closeForm(){
                this.resetForm();
                this.$emit('close');
            },
            resetForm(){
                this.form = {
                    t_name_of_tenant:'',
                    t_shop_unit_no:'',
                    t_doc_ref_no:'',
                    t_file_no:'',
                    t_unit:'',
                    c_contact_person:'',
                    c_office_tel_no:'',
                    c_title_position:'',
                    c_mobile_no:'',
                    c_address:'',
                    c_email:'',
                    f_contact_person:'',
                    f_office_tel_no:'',
                    f_title_position:'',
                    f_mobile_no:'',
                    question_1:'',
                    question_1_remarks:'',
                    question_2:'',
                    question_2_remarks:'',
                    question_3:'',
                    question_3_remarks:'',
                    question_4:'',
                    question_4_remarks:'',
                    question_5:'',
                    question_5_remarks:'',
                    question_6:'',
                    question_6_remarks:'',
                    question_7:'',
                    question_7_remarks:'',
                    question_8:'',
                    question_8_remarks:'',
                    question_9:'',
                    question_9_remarks:'',
                    question_10:'',
                    question_10_remarks:'',
                    question_11:'',
                    question_11_remarks:'',
                    question_12:'',
                    question_12_remarks:'',
                    question_13:'',
                    question_13_remarks:'',
                    question_14:'',
                    question_14_remarks:'',
                    question_15:'',
                    question_15_remarks:'',
                    question_16:'',
                    question_16_remarks:'',
                    question_17:'',
                    question_17_remarks:'',
                    question_18:'',
                    question_18_remarks:'',
                    question_19:'',
                    question_19_remarks:'',
                    question_20:'',
                    question_20_remarks:'',
                    question_21:'',
                    question_21_remarks:'',
                    task_id:this.task.id,
                };
            },
            viewForm(row){
                this.detailVisible = true;
                this.rowDetail=row;
                this.status=this.rowDetail.status;
                console.log(row);
            },
            updateStatus(id){

                this.$prompt('Please input comment', 'Comment', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                }).then(({ value }) => {
                    fomFillUpFormResource.updateStatus(id,{
                        status: this.status,
                        comment:value
                    }).then(response => {
                        this.getList();
                        this.$message({
                            message: `Congrats, status updated successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch((error) => {
                        console.log(error);
                    });
                }).catch((error) => {
                    this.status=this.rowDetail.status;
                    console.log(error);
                });

            }
        },
    }
</script>

<style scoped>

.my-side-notes {
    margin-bottom: 15px;
}

</style>