<template>
    <div >

        <el-tabs class="st-drwwer-tabs">
            <el-tab-pane label="Request New">
                <el-form :inline="true" class="form-container">
                    <el-row :gutter="20">
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Request for:">
                                <el-radio-group v-model="form.request">
                                    <el-radio v-for="option in requestOptions" :label="option" :key="option">{{option}}</el-radio>
                                </el-radio-group>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Contractor Contact Number">
                                <el-input placeholder="Contact Number" v-model="form.contractor_contact_number"/>
                            </el-form-item>
                        </el-col>
                        <div v-for="(card, index) in form.cards">
                            <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                                <el-form-item label="Name">
                                    <el-input v-model="card.name" placeholder="Enter Name"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                                <el-form-item label="Emirates ID">
                                    <el-input v-model="card.emirates_id" placeholder="Enter Emirates ID"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                                <el-form-item label="Nationality">
                                    <el-input v-model="card.nationality" placeholder="Enter Nationality"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
                                <el-form-item label="Job Title">
                                    <el-input v-model="card.job_title" placeholder="Enter Job Title"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
                                <el-form-item label="Cost">
                                    <el-input v-model="card.cost" placeholder="Enter Cost"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
                                <el-button class="sub-con-plus"  v-if="index === 0" @click="addCard" icon="el-icon-plus"/>
                                <el-button class="sub-con-del" v-else icon="el-icon-delete" @click="form.cards.splice(index,1)"/>
                            </el-col>
                            <br clear="all">
                        </div>

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <div class="custom-alert my-side-notes">
                                <h5>Requirements</h5>
                                <ol>
                                    <li>Company Trade License.</li>
                                    <li>Company Workmen's Compensation.</li>
                                    <li>LS will take photograph of each worker for ID card.</li>
                                    <li>Emirates ID/Passport Copy with Visa Stamp.</li>
                                    <li>No Objection Certificate (NOC).</li>
                                    <li>Method Statement and Risk Assessment</li>
                                    <li>Heath and Safety Management Plan (HASMP- for Fit Out Only)</li>
                                </ol>
                            </div>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <div class="custom-alert-warning my-side-notes">
                                <strong><i class="el-icon-warning"></i> NOTE:</strong> All requirements must be  completed and submitted minimum of 48 hours prior to induction.
                            </div>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <div class="custom-alert my-side-notes">
                                <h5>Instructions</h5>
                                <ol>
                                    <li>Information in the request must be accurate.</li>
                                    <li>ID card cost is AED 25 for each person and AED 25 upon renewal/replacement.</li>
                                    <li>Validity of this ID is only for one month from the date issued and needs to be renewed thereafter.</li>
                                    <li>In the event of ID loss or damage immediately report to HSE department.</li>
                                    <li>By no means should employees assign or hand in their ID's to other staff except in case of ID verification by Health, Safety and Security Officers.</li>
                                    <li>Observing and complying by safety and security regulations is mandatory at all times.</li>
                                </ol>
                            </div>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <div class="custom-alert-warning my-side-notes">
                                <i class="el-icon-warning"></i> INDUCTION SCHEDULE IS ONLY EVERY WEDNESDAYS AND SUNDAYS BETWEEN 8-12 AM.
                            </div>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">

                            <el-checkbox> I, the undersigned, have read and fully understood the above conditions for obtaining Land Sterling ID card and agree to all terms.</el-checkbox>

                        </el-col>
                    </el-row>
                </el-form>

                <el-button class="btn btn-cancel" @click="closeForm">Cancel</el-button>
                <el-button class="btn btn-red" :disabled="submitingRequest"  @click="submitForm">Confirm</el-button>
            </el-tab-pane>

            <el-tab-pane label="Requests List">

                <div class="req-list-item" v-for="(item,index) in list" :key="item.id">
                    <el-row>
                        <el-col :xs="24" :sm="1" :md="1" :lg="1" :xl="1">
                            <label>No</label>
                            <span>{{index+1}}</span>
                        </el-col>
                        <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
                            <label>Request For</label>
                            <span class="el-tag el-tag-m-primary">{{ item.request }}</span>
                        </el-col>
                        <el-col :xs="24" :sm="5" :md="5" :lg="5" :xl="5">
                            <label>Status</label>
                            <span class="el-tag el-tag--success" v-if="item.status === 'Approved'">Approved</span>
                            <span class="el-tag el-tag--danger" v-else-if="item.status === 'Rejected'">Rejected</span>
                            <span class="el-tag el-tag--warning" v-else>Pending</span>
                        </el-col>
                        <el-col :xs="24" :sm="7" :md="7" :lg="7" :xl="7">
                            <label>Requested At</label>
                            <span>{{ item.created_at|time('llll') }}</span>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"><hr></el-col>
                        <el-col :xs="24" :sm="18" :md="18" :lg="18" :xl="18">
                            <label>Comments</label>
                            <span>{{ item.comment }}</span>
                        </el-col>

                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                            <label>Action</label>
                            <span>
                      <a size="small" class="btn btn-primary" type="primary" href="javascript:;" @click="viewForm(item)">View</a>
                      <a size="small" class="btn btn-success" type="success" download  :href="item.download_url">Download</a>
                   </span>
                        </el-col>


                    </el-row>
                </div>

                <el-dialog class="req-popup"
                           width="50%"
                           title="H&S Induction/I.D. Card Form"
                           :visible.sync="detailVisible"
                           append-to-body>

                    <el-row :gutter="25">

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">

                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                                <tr>
                                    <td>Contractor Contact Number</td>
                                    <td>{{ rowDetail.contractor_contact_number }}</td>
                                </tr>
                            </table>

                            <span class="pop-sub-head">Contractors</span>

                            <table class="req-list-table table-sec" border="1" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th>NAME</th>
                                    <th>EMIRATES ID</th>
                                    <th>NATIONALITY</th>
                                    <th>JOB TITLE</th>
                                    <th>COST</th>
                                </tr>
                                <tr v-for="card in rowDetail.cards">
                                    <td>{{ card.name }}</td>
                                    <td>{{ card.emirates_id }}</td>
                                    <td>{{ card.nationality }}</td>
                                    <td>{{ card.job_title }}</td>
                                    <td>{{ card.cost }}</td>
                                </tr>
                            </table>

                            <el-divider>Approval Section</el-divider>

                            <el-form class="req-list-form" label-position="top" :inline="true">
                                <el-form-item label="Status" v-if="checkRole(['admin','fom manager'])">
                                    <el-select @change="updateStatus(rowDetail.id)" v-model="status" placeholder="Please select a status">
                                        <el-option label="Approved" value="Approved"/>
                                        <el-option label="Rejected" value="Rejected"/>
                                        <el-option label="Pending" value="Pending"/>
                                    </el-select>
                                </el-form-item>
                            </el-form>

                        </el-col>

                    </el-row>

                </el-dialog>

            </el-tab-pane>
        </el-tabs>

    </div>
</template>

<script>

    const requestOptions = ['New', 'Renewal', 'Replacement'];
    import FomFillUpFormResource from '@/api/fill-up-form';
    const fomFillUpFormResource = new FomFillUpFormResource('IDCardForm');
    import BackendErrors from '@/mixins/backend-errors';
    import checkRole from '@/utils/role';

    export default {
        name: "h-s-induction-id-card-form",
        mixins:[BackendErrors],
        props:['task'],
        data() {
            return {
                requestOptions,
                submitingRequest:false,
                detailVisible:false,
                list:[],
                rowDetail:{
                    request:'',
                    contractor_contact_number:'',
                    cards:[
                        {
                            name:'',
                            emirates_id:'',
                            nationality:'',
                            job_title:'',
                            cost:''
                        }
                    ],
                    status:'',
                    comment:''
                },
                form:{
                    request:'',
                    contractor_contact_number:'',
                    cards:[
                        {
                            name:'',
                            emirates_id:'',
                            nationality:'',
                            job_title:'',
                            cost:''
                        }
                    ],
                    task_id:this.task.id
                },
                status:''
            };
        },
        created(){
            this.getList();
        },
        methods:{
            checkRole,
            addCard(){
                this.form.cards.push({
                    name:'',
                    emirates_id:'',
                    nationality:'',
                    job_title:'',
                    cost:''
                })
            },
            getList(){
                fomFillUpFormResource.listByTask(this.task.id)
                    .then(response => {
                        this.list = response.data;

                    }).catch(error => {
                })
            },
            submitForm(){
                this.submitingRequest = true;
                fomFillUpFormResource.store(this.form)
                    .then(response => {
                        this.list.push(response.data);
                        this.resetForm();
                        this.clear()
                        this.$message({
                            message: `Congrats, request submit successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch(error => {
                    this.record(error)
                }).finally(()=>{
                    this.submitingRequest = false;
                })
            },
            closeForm(){
                this.resetForm();
                this.$emit('close');
            },
            resetForm(){
                this.form = {
                    request:'',
                    cards:[
                        {
                            name:'',
                            emirates_id:'',
                            nationality:'',
                            job_title:'',
                            cost:''
                        }
                    ],
                    task_id:this.task.id,
                };
            },
            viewForm(row){
                this.detailVisible = true;
                this.rowDetail=row;
                this.status=this.rowDetail.status;
                console.log(row);
            },
            updateStatus(id){

                this.$prompt('Please input comment', 'Comment', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                }).then(({ value }) => {
                    fomFillUpFormResource.updateStatus(id,{
                        status: this.status,
                        comment:value
                    }).then(response => {
                        this.getList();
                        this.$message({
                            message: `Congrats, status updated successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch((error) => {
                        console.log(error);
                    });
                }).catch((error) => {
                    this.status=this.rowDetail.status;
                    console.log(error);
                });

            }
        },

    }
</script>

<style scoped>
    .custom-alert{
        background-color: #f4f4f5;
        color: #909399;
        padding: 8px 25px;
        margin-bottom: 15px;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        opacity: 1;
        display: flex;
        align-items: center;
        transition: opacity .2s;
        word-break: normal;
    }
    .form-container{
        margin-bottom: 10px;
    }
    .custom-alert-warning{
        background-color: #fdf6ec;
        color: #e6a23c;
        padding: 8px 25px;
        margin-bottom: 15px;
        border-radius: 4px;
        opacity: 1;
        transition: opacity .2s;
        word-break: normal;
    }

    .sub-con-plus , .sub-con-plus:hover , .sub-con-plus:focus , .sub-con-plus:visited {
        color: #FFF;
        background: #13ce66 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #13ce66 !important;
        margin-top: 25px;
        width: 100%;
    }

    .sub-con-del , .sub-con-del:hover , .sub-con-del:focus , .sub-con-del:visited {
        color: #FFF;
        background: #f15151 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #f15151 !important;
        margin-top: 25px;
        width: 100%;
    }

    .btn-red {
        background: #9e0d21;
    }

    .btn-red:hover, .btn-red:active , .btn-red:focus {
        background: #880a1b !important;
        color: #fff;
        outline: none;
        box-shadow: none;
    }

    .st-drwwer .btn-cancel , .st-drwwer .btn-red {
        padding: 12px 25px;
        margin-top: 0;
        border: 1px solid #9e0d21 !important;
    }
</style>
