<template>
    <div>

        <el-tabs class="st-drwwer-tabs">
            <el-tab-pane label="Request New">
                <el-form :inline="true" class="form-container">
                    <el-row :gutter="20">

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Disposal Method">
                                <el-checkbox-group v-model="form.disposalmetods">
                                    <el-checkbox v-for="hotWork in hotWorksOptions" :label="hotWork" :key="hotWork">{{ hotWork }}</el-checkbox>
                                </el-checkbox-group>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Section 1: Details of the Permit Receiver</h3>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Company Name">
                                <el-input placeholder="Company Name" v-model="form.company_name"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Project">
                                <el-input placeholder="Project" v-model="form.project"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Location (s)">
                                <el-input placeholder="Location (s)" v-model="form.location"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Permit Receiver">
                                <el-input placeholder="Permit Receiver" v-model="form.permit_receiver"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Contact Mobile Number">
                                <el-input placeholder="Contact Mobile Number" v-model="form.contact_mobile_number"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Permit Holder (Supervisor)">
                                <el-input placeholder="Permit Holder (Supervisor)" v-model="form.permit_holder"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Name of Operative">
                                <el-input placeholder="Name of Operative" v-model="form.name_of_operative"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Employee Number">
                                <el-input placeholder="Employee Number" v-model="form.employee_number"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="16" :md="16" :lg="16" :xl="16">
                            <el-form-item label="Date and Time">
                                <el-date-picker
                                    type="datetimerange"
                                    start-placeholder="Start date"
                                    v-model="form.date_and_time"
                                    end-placeholder="End date">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Section 2: Permit Validations</h3>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Date and Time">
                                <el-date-picker
                                    type="datetimerange"
                                    start-placeholder="Start date"
                                    v-model="form.s2_date_and_time"
                                    end-placeholder="End date">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Section 3: PRE-REQUISITE (Work may be stpped if one of the following is not completed with).</h3>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <table class="req-list-table table-2" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th colspan="2">Question</th>
                                    <th style="width: 35%;">Answer</th>
                                </tr>
                                <tr>
                                    <td>A</td>
                                    <td>Flammable materials removed from location</td>
                                    <td>
                                        <el-radio-group v-model="form.q1">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>b</td>
                                    <td>Welding terminals terminated.</td>
                                    <td>
                                        <el-radio-group v-model="form.q2">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>C</td>
                                    <td>Adequate earthing.</td>
                                    <td>
                                        <el-radio-group v-model="form.q3">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>D</td>
                                    <td>Area of work-clean and dry.</td>
                                    <td>
                                        <el-radio-group v-model="form.q4">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>E</td>
                                    <td> Appropriate fire extinguisher provided.</td>
                                    <td>
                                        <el-radio-group v-model="form.q5">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>F</td>
                                    <td>Operatives trained in using fire extinguisher</td>
                                    <td>
                                        <el-radio-group v-model="form.q6">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>G</td>
                                    <td>Fire Blankets (non-flammable) provided.</td>
                                    <td>
                                        <el-radio-group v-model="form.q7">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>H</td>
                                    <td>Fire watch deployed.</td>
                                    <td>
                                        <el-radio-group v-model="form.q8">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>I</td>
                                    <td>Area barricaded.</td>
                                    <td>
                                        <el-radio-group v-model="form.q9">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>J</td>
                                    <td>Appropriate PPE provided.</td>
                                    <td>
                                        <el-radio-group v-model="form.q10">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>K</td>
                                    <td>Appropriate working platform.</td>
                                    <td>
                                        <el-radio-group v-model="form.q11">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>L</td>
                                    <td>Safety/warning signs in place.</td>
                                    <td>
                                        <el-radio-group v-model="form.q12">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>M</td>
                                    <td>Adequate ventilation.</td>
                                    <td>
                                        <el-radio-group v-model="form.q13">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>N</td>
                                    <td>Condition of the welding cables.</td>
                                    <td>
                                        <el-radio-group v-model="form.q14">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>O</td>
                                    <td>Adequate illumination.</td>
                                    <td>
                                        <el-radio-group v-model="form.q15">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>P</td>
                                    <td>Flash back arrestors - gas cylinders at least 3 meters away from workplace.</td>
                                    <td>
                                        <el-radio-group v-model="form.q16">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Q</td>
                                    <td>Cylinders kept in trolley and secured.</td>
                                    <td>
                                        <el-radio-group v-model="form.q17">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>R</td>
                                    <td>Regulators in good condition.</td>
                                    <td>
                                        <el-radio-group v-model="form.q18">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>S</td>
                                    <td>Gas test required.</td>
                                    <td>
                                        <el-radio-group v-model="form.q19">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>T</td>
                                    <td>Isolation of equipment required.</td>
                                    <td>
                                        <el-radio-group v-model="form.q20">
                                            <el-radio v-for="answer in answersOptions" :key="answer"  :label="answer">{{ answer }}</el-radio>
                                        </el-radio-group>
                                    </td>
                                </tr>
                            </table>
                        </el-col>
                    </el-row>
                </el-form>

                <el-button class="btn btn-cancel" @click="closeForm">Cancel</el-button>
                <el-button class="btn btn-red" :disabled="submitingRequest"  @click="submitForm">Confirm</el-button>


            </el-tab-pane>


            <el-tab-pane label="Requests List">

                <div class="req-list-item" v-for="(item,index) in list" :key="item.id">
                    <el-row>
                        <el-col :xs="24" :sm="1" :md="1" :lg="1" :xl="1">
                            <label>No</label>
                            <span>{{index+1}}</span>
                        </el-col>
                        <el-col :xs="24" :sm="5" :md="5" :lg="5" :xl="5">
                            <label>Status</label>
                            <span class="el-tag el-tag--success" v-if="item.status === 'Approved'">Approved</span>
                            <span class="el-tag el-tag--danger" v-else-if="item.status === 'Rejected'">Rejected</span>
                            <span class="el-tag el-tag--warning" v-else>Pending</span>
                        </el-col>
                        <el-col :xs="24" :sm="7" :md="7" :lg="7" :xl="7">
                            <label>Requested At</label>
                            <span>{{ item.created_at|time('llll') }}</span>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"><hr></el-col>
                        <el-col :xs="24" :sm="18" :md="18" :lg="18" :xl="18">
                            <label>Comments</label>
                            <span>{{ item.comment }}</span>
                        </el-col>

                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                            <label>Action</label>
                            <span>
                      <a size="small" class="btn btn-primary" type="primary" href="javascript:;" @click="viewForm(item)">View</a>
                      <a size="small" class="btn btn-success" type="success" download  :href="item.download_url">Download</a>
                   </span>
                        </el-col>


                    </el-row>
                </div>


                <el-dialog class="req-popup"
                           width="50%"
                           title="Hot Work Permit Form Details"
                           :visible.sync="detailVisible"
                           append-to-body>
                    <el-row :gutter="25">

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">

                            <el-form class="req-list-form" label-position="top" :inline="true">
                                <el-form-item label="Status" v-if="checkRole(['admin','fom manager'])">
                                    <el-select @change="updateStatus(rowDetail.id)" v-model="status" placeholder="Please select a status">
                                        <el-option label="Approved" value="Approved"/>
                                        <el-option label="Rejected" value="Rejected"/>
                                        <el-option label="Pending" value="Pending"/>
                                    </el-select>
                                </el-form-item>
                            </el-form>

                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">

                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                                <tr>
                                    <td colspan="2"><b>DETAILS OF THE PERMIT RECEIVER</b></td>
                                </tr>
                                <tr>
                                    <td>Company Name</td>
                                    <td>{{ rowDetail.company_name }}</td>
                                </tr>
                                <tr>
                                    <td>Disposal Method</td>
                                    <td><span v-for="method in rowDetail.disposalmetods">{{ method }}, </span></td>
                                </tr>
                                <tr>
                                    <td>Location(s)</td>
                                    <td>{{ rowDetail.location }}</td>
                                </tr>
                                <tr>
                                    <td>Permit Receiver</td>
                                    <td>{{ rowDetail.permit_receiver }}</td>
                                </tr>
                                <tr>
                                    <td>Contact Mobile Number</td>
                                    <td>{{ rowDetail.contact_mobile_number }}</td>
                                </tr>
                                <tr>
                                    <td>Permit Holder (Supervisor)</td>
                                    <td>{{ rowDetail.permit_holder }}</td>
                                </tr>
                                <tr>
                                    <td>Name of Operative</td>
                                    <td>{{ rowDetail.name_of_operative }}</td>
                                </tr>
                                <tr>
                                    <td>Employee Number</td>
                                    <td>{{ rowDetail.employee_number }}</td>
                                </tr>
                                <tr>
                                    <td>Date and Time (Start)</td>
                                    <td>{{ rowDetail.date_and_time }}</td>
                                </tr>
                                <tr>
                                    <td>Date and Time (End)</td>
                                    <td>{{ rowDetail.date_and_time_end }}</td>
                                </tr>
                            </table>
                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th colspan="2"><b>PERMIT VALIDATIONS</b></th>
                                </tr>
                                <tr>
                                    <td>Date and Time (Start)</td>
                                    <td>{{ rowDetail.s2_date_and_time }}</td>
                                </tr>
                                <tr>
                                    <td>Date and Time (End)</td>
                                    <td>{{ rowDetail.s2_date_and_time_end }}</td>
                                </tr>
                            </table>
                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th colspan="3"><b>PRE-REQUISITE </b></th>
                                </tr>
                                <tr>
                                    <td>A</td>
                                    <td>Flammable materials removed from location</td>
                                    <td>{{ rowDetail.q1 }}</td>
                                </tr>
                                <tr>
                                    <td>B</td>
                                    <td>Welding terminals terminated.</td>
                                    <td>{{ rowDetail.q2 }}</td>
                                </tr>
                                <tr>
                                    <td>C</td>
                                    <td>Adequate earthing.</td>
                                    <td>{{ rowDetail.q3 }}</td>
                                </tr>
                                <tr>
                                    <td>D</td>
                                    <td>Area of work-clean and dry.</td>
                                    <td>{{ rowDetail.q4 }}</td>
                                </tr>
                                <tr>
                                    <td>E</td>
                                    <td>Appropriate fire extinguisher provided.</td>
                                    <td>{{ rowDetail.q5 }}</td>
                                </tr>
                                <tr>
                                    <td>F</td>
                                    <td>Operatives trained in using fire extinguisher</td>
                                    <td>{{ rowDetail.q6 }}</td>
                                </tr>
                                <tr>
                                    <td>G</td>
                                    <td>Fire Blankets (non-flammable) provided.</td>
                                    <td>{{ rowDetail.q7 }}</td>
                                </tr>
                                <tr>
                                    <td>H</td>
                                    <td>Fire watch deployed.</td>
                                    <td>{{ rowDetail.q8 }}</td>
                                </tr>
                                <tr>
                                    <td>I</td>
                                    <td>Area barricaded.</td>
                                    <td>{{ rowDetail.q9 }}</td>
                                </tr>
                                <tr>
                                    <td>J</td>
                                    <td>Appropriate PPE provided.</td>
                                    <td>{{ rowDetail.q10 }}</td>
                                </tr>
                                <tr>
                                    <td>K</td>
                                    <td>Appropriate working platform.</td>
                                    <td>{{ rowDetail.q11 }}</td>
                                </tr>
                                <tr>
                                    <td>L</td>
                                    <td>Safety/warning signs in place.</td>
                                    <td>{{ rowDetail.q12 }}</td>
                                </tr>
                                <tr>
                                    <td>M</td>
                                    <td>Adequate ventilation.</td>
                                    <td>{{ rowDetail.q13 }}</td>
                                </tr>
                                <tr>
                                    <td>N</td>
                                    <td>Condition of the welding cables.</td>
                                    <td>{{ rowDetail.q14 }}</td>
                                </tr>
                                <tr>
                                    <td>O</td>
                                    <td>Adequate illumination.</td>
                                    <td>{{ rowDetail.q15 }}</td>
                                </tr>
                                <tr>
                                    <td>P</td>
                                    <td>Flash back arrestors - gas cylinders at least 3 meters away from workplace.</td>
                                    <td>{{ rowDetail.q16 }}</td>
                                </tr>
                                <tr>
                                    <td>Q</td>
                                    <td>Cylinders kept in trolley and secured.</td>
                                    <td>{{ rowDetail.q17 }}</td>
                                </tr>
                                <tr>
                                    <td>R</td>
                                    <td>Regulators in good condition.</td>
                                    <td>{{ rowDetail.q18 }}</td>
                                </tr>
                                <tr>
                                    <td>S</td>
                                    <td>Gas test required.</td>
                                    <td>{{ rowDetail.q19 }}</td>
                                </tr>
                                <tr>
                                    <td>T</td>
                                    <td>Isolation of equipment required.</td>
                                    <td>{{ rowDetail.q20 }}</td>
                                </tr>

                            </table>

                        </el-col>
                    </el-row>

                </el-dialog>

            </el-tab-pane>
        </el-tabs>

    </div>
</template>

<script>
    const answersOptions = ['Yes', 'No', 'N/A'];
    const hotWorksOptions = ['Welding', 'Gas Cutting', 'Brazing', 'Grinding', 'Other'];
    import FomFillUpFormResource from '@/api/fill-up-form';
    const fomFillUpFormResource = new FomFillUpFormResource('hotWorkPermit');
    import BackendErrors from '@/mixins/backend-errors';
    import checkRole from '@/utils/role';

    export default {
        name: "complete-the-hot-work-permit",
        mixins:[BackendErrors],
        props:['task'],
        data() {
            return {
                hotWorksOptions,
                answersOptions,
                form:{
                    disposalmetods:[],
                    company_name:'',
                    location:'',
                    permit_receiver:'',
                    contact_mobile_number:'',
                    permit_holder:'',
                    name_of_operative:'',
                    employee_number:'',
                    date_and_time:'',
                    s2_date_and_time:'',
                    q1:'',
                    q2:'',
                    q3:'',
                    q4:'',
                    q5:'',
                    q6:'',
                    q7:'',
                    q8:'',
                    q9:'',
                    q10:'',
                    q11:'',
                    q12:'',
                    q13:'',
                    q14:'',
                    q15:'',
                    q16:'',
                    q17:'',
                    q18:'',
                    q19:'',
                    q20:'',
                    task_id:this.task.id
                },
                submitingRequest:false,
                detailVisible:false,
                list:[],
                rowDetail:{

                    disposalmetods:[],
                    company_name:'',
                    project:'',
                    location:'',
                    permit_receiver:'',
                    contact_mobile_number:'',
                    permit_holder:'',
                    name_of_operative:'',
                    employee_number:'',
                    s2_date_and_time:'',
                    q1:'',
                    q2:'',
                    q3:'',
                    q4:'',
                    q5:'',
                    q6:'',
                    q7:'',
                    q8:'',
                    q9:'',
                    q10:'',
                    q11:'',
                    q12:'',
                    q13:'',
                    q14:'',
                    q15:'',
                    q16:'',
                    q17:'',
                    q18:'',
                    q19:'',
                    q20:'',
                    task_id:this.task.id
                },
                status:''
            }
        },
        created(){
            this.getList();
        },
        methods:{
            checkRole,
            getList(){
                fomFillUpFormResource.listByTask(this.task.id)
                    .then(response => {
                        this.list = response.data;
                    }).catch(error => {
                })
            },
            submitForm(){
                this.submitingRequest = true;
                fomFillUpFormResource.store(this.form)
                    .then(response => {
                        this.list.push(response.data);
                        this.resetForm();
                        this.clear();
                        this.$message({
                            message: `Congrats, report submit successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch(error => {
                    this.record(error)
                }).finally(()=>{
                    this.submitingRequest = false;
                })
            },
            closeForm(){
                this.resetForm();
                this.$emit('close');
            },
            resetForm(){
                this.form = {

                    disposalmetods:[],
                    company_name:'',
                    project:'',
                    location:'',
                    permit_receiver:'',
                    contact_mobile_number:'',
                    permit_holder:'',
                    name_of_operative:'',
                    employee_number:'',
                    s2_date_and_time:'',
                    q1:'',
                    q2:'',
                    q3:'',
                    q4:'',
                    q5:'',
                    q6:'',
                    q7:'',
                    q8:'',
                    q9:'',
                    q10:'',
                    q11:'',
                    q12:'',
                    q13:'',
                    q14:'',
                    q15:'',
                    q16:'',
                    q17:'',
                    q18:'',
                    q19:'',
                    q20:'',
                    task_id:this.task.id
                };
            },
            viewForm(row){
                this.detailVisible = true;
                this.rowDetail=row;
                this.status=this.rowDetail.status;
                console.log(row);
            },
            updateStatus(id){

                this.$prompt('Please input comment', 'Comment', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                }).then(({ value }) => {
                    fomFillUpFormResource.updateStatus(id,{
                        status: this.status,
                        comment:value
                    }).then(response => {
                        this.getList();
                        this.$message({
                            message: `Congrats, status updated successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch((error) => {
                        console.log(error);
                    });
                }).catch((error) => {
                    this.status=this.rowDetail.status;
                    console.log(error);
                });

            }
        }
    }
</script>

<style scoped>

    .st-drwwer .req-list-table {
        margin-top: 4px;
    }

    .sub-con-plus , .sub-con-plus:hover , .sub-con-plus:focus , .sub-con-plus:visited {
        color: #FFF;
        background: #13ce66 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #13ce66 !important;
        margin-top: 25px;
        width: 100%;
    }

    .sub-con-del , .sub-con-del:hover , .sub-con-del:focus , .sub-con-del:visited {
        color: #FFF;
        background: #f15151 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #f15151 !important;
        margin-top: 25px;
        width: 100%;
    }

    .btn-red {
        background: #9e0d21;
    }

    .btn-red:hover, .btn-red:active , .btn-red:focus {
        background: #880a1b !important;
        color: #fff;
        outline: none;
        box-shadow: none;
    }

    .st-drwwer .btn-cancel , .st-drwwer .btn-red {
        padding: 12px 25px;
        margin-top: 0;
        border: 1px solid #9e0d21 !important;
    }
</style>
