<template>
    <div>

        <el-tabs class="st-drwwer-tabs">
            <el-tab-pane label="Request New">
                <el-form :inline="true" class="form-container">
                    <el-row :gutter="20">
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Contractor Name">
                                <el-input placeholder="Contractor Name" v-model="form.contractor_name"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Date">
                                <el-date-picker placeholder="Date" v-model="form.date"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Initiated by">
                                <el-input placeholder="Initiated by" v-model="form.initiated_by"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="LS Project Manager">
                                <el-input placeholder="LS Project Manager" v-model="form.ls_project_manager"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Document Reference">
                                <el-input placeholder="Document Reference" v-model="form.document_reference"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Description of Fit-out Requirements Breach</h3>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Requirement:">
                                <el-input type="textarea" placeholder="Requirement:" v-model="form.requirement"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Observation:">
                                <el-input type="textarea" placeholder="Observation:" v-model="form.observation"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="DISPOSITION:">
                                <el-checkbox-group v-model="form.dispositions">
                                    <el-checkbox v-for="disposition in dispositionOptions" :key="disposition" :label="disposition"/>
                                </el-checkbox-group>
                            </el-form-item>
                        </el-col>

                    </el-row>
                </el-form>
                <el-button class="btn btn-cancel" @click="closeForm">Cancel</el-button>
                <el-button class="btn btn-red" :disabled="submitingRequest"  @click="submitForm">Confirm</el-button>
            </el-tab-pane>

            <el-tab-pane label="Requests List">



                <el-table
                    :data="list"
                    style="width: 100%">
                    <el-table-column
                        prop="id"
                        width="50px"
                        label="No">
                        <template slot-scope="scope">
                            {{ scope.$index+1 }}
                        </template>
                    </el-table-column>
                    <el-table-column
                        width="200px"
                        label="Requested At">
                        <template slot-scope="scope">
                            {{ scope.row.created_at|time('ll') }}
                        </template>
                    </el-table-column>
                    <el-table-column
                        label="Status"
                        width="150">
                        <template slot-scope="scope">
                            <span v-if="scope.row.status === 'Approved'"><el-tag size="mini" type="success">Approved</el-tag></span>
                            <span v-else-if="scope.row.status === 'Rejected'"><el-tag size="mini" type="danger">Rejected</el-tag></span>
                            <span v-else><el-tag size="mini" type="warning">Pending</el-tag></span>
                        </template>
                    </el-table-column>
                    <el-table-column
                        label="Comment"
                        prop="comment"
                        width="150">
                    </el-table-column>
                    <el-table-column
                        label="Operations">
                        <template slot-scope="scope">
                            <a :href="scope.row.download_url" class="el-button el-button--default el-button--mini" download>Download</a>
                            <el-button size="mini"  @click.native.prevent="viewForm(scope.row)">View</el-button>
                        </template>
                    </el-table-column>

                </el-table>

                <el-dialog class="req-popup"
                           width="50%"
                           title="HSE Requirements Breach Report Form Details"
                           :visible.sync="detailVisible"
                           append-to-body>


                    <el-row :gutter="25">
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form class="req-list-form" label-position="top" :inline="true">
                                <el-form-item label="Status" v-if="checkRole(['admin','fom manager'])">
                                    <el-select @change="updateStatus(rowDetail.id)" v-model="status" placeholder="Please select a status">
                                        <el-option label="Approved" value="Approved"/>
                                        <el-option label="Rejected" value="Rejected"/>
                                        <el-option label="Pending" value="Pending"/>
                                    </el-select>
                                </el-form-item>
                            </el-form>

                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>

                                <tr>
                                    <td>Contractor Name</td>
                                    <td>{{ rowDetail.contractor_name }}</td>
                                </tr>
                                <tr>
                                    <td>Date</td>
                                    <td>{{ rowDetail.date }}</td>
                                </tr>
                                <tr>
                                    <td>Initiated by</td>
                                    <td>{{ rowDetail.initiated_by }}</td>
                                </tr>
                                <tr>
                                    <td>LS Project Manager</td>
                                    <td>{{ rowDetail.ls_project_manager }}</td>
                                </tr>
                                <tr>
                                    <td>Document Reference</td>
                                    <td>{{ rowDetail.document_reference }}</td>
                                </tr>
                                <tr>
                                    <td>Requirement</td>
                                    <td>{{ rowDetail.requirement }}</td>
                                </tr>
                                <tr>
                                    <td>Observation</td>
                                    <td>{{ rowDetail.observation }}</td>
                                </tr>
                                <tr>
                                    <td>Disposition</td>
                                    <td><span v-for="disposition in rowDetail.dispositions">{{ disposition }}, </span></td>
                                </tr>
                            </table>

                        </el-col>
                    </el-row>

                </el-dialog>

            </el-tab-pane>

        </el-tabs>
    </div>
</template>

<script>
    const dispositionOptions = ['Remedy Urgently', 'Full Stop Work', 'Stop Use of Equipment', 'Partial Stop Work', 'Penalties AED 1000 (amount)'];
    import FomFillUpFormResource from '@/api/fill-up-form';
    const fomFillUpFormResource = new FomFillUpFormResource('hseBreachReport');
    import BackendErrors from '@/mixins/backend-errors';
    import checkRole from '@/utils/role';

    export default {
        name: "hse-breach-report",
        mixins:[BackendErrors],
        props:['task'],
        data() {
            return {
                dispositionOptions,
                form:{
                    contractor_name:'',
                    date:'',
                    initiated_by:'',
                    ls_project_manager:'',
                    document_reference:'',
                    requirement:'',
                    observation:'',
                    dispositions:[],
                    task_id:this.task.id
                },
                submitingRequest:false,
                detailVisible:false,
                list:[],
                rowDetail:{
                    contractor_name:'',
                    date:'',
                    initiated_by:'',
                    ls_project_manager:'',
                    document_reference:'',
                    requirement:'',
                    observation:'',
                    dispositions:[],
                    task_id:this.task.id
                },
                status:''
            }
        },
        created(){
            this.getList();
        },
        methods:{
            checkRole,
            getList(){
                fomFillUpFormResource.listByTask(this.task.id)
                    .then(response => {
                        this.list = response.data;
                    }).catch(error => {
                })
            },
            submitForm(){
                this.submitingRequest = true;
                fomFillUpFormResource.store(this.form)
                    .then(response => {
                        this.list.push(response.data);
                        this.resetForm();
                        this.clear();
                        this.$message({
                            message: `Congrats, report submit successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch(error => {
                    this.record(error)
                }).finally(()=>{
                    this.submitingRequest = false;
                })
            },
            closeForm(){
                this.resetForm();
                this.$emit('close');
            },
            resetForm(){
                this.form = {
                    contractor_name:'',
                    date:'',
                    initiated_by:'',
                    ls_project_manager:'',
                    document_reference:'',
                    requirement:'',
                    observation:'',
                    dispositions:[],
                    task_id:this.task.id
                };
            },
            viewForm(row){
                this.detailVisible = true;
                this.rowDetail=row;
                this.status=this.rowDetail.status;
                console.log(row);
            },
            updateStatus(id){

                this.$prompt('Please input comment', 'Comment', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                }).then(({ value }) => {
                    fomFillUpFormResource.updateStatus(id,{
                        status: this.status,
                        comment:value
                    }).then(response => {
                        this.getList();
                        this.$message({
                            message: `Congrats, status updated successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch((error) => {
                        console.log(error);
                    });
                }).catch((error) => {
                    this.status=this.rowDetail.status;
                    console.log(error);
                });

            }
        }

    }
</script>

<style scoped>
    .form-container {
        margin-bottom: 10px;
    }

    .sub-con-plus , .sub-con-plus:hover , .sub-con-plus:focus , .sub-con-plus:visited {
        color: #FFF;
        background: #13ce66 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #13ce66 !important;
        margin-top: 25px;
        width: 100%;
    }

    .sub-con-del , .sub-con-del:hover , .sub-con-del:focus , .sub-con-del:visited {
        color: #FFF;
        background: #f15151 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #f15151 !important;
        margin-top: 25px;
        width: 100%;
    }

    .btn-red {
        background: #9e0d21;
    }

    .btn-red:hover, .btn-red:active , .btn-red:focus {
        background: #880a1b !important;
        color: #fff;
        outline: none;
        box-shadow: none;
    }

    .st-drwwer .btn-cancel , .st-drwwer .btn-red {
        padding: 12px 25px;
        margin-top: 0;
        border: 1px solid #9e0d21 !important;
    }
</style>
