<template>
    <div>
        <el-tabs class="st-drwwer-tabs">
            <el-tab-pane label="Request New">
                <el-form :inline="true" class="form-container">
                    <el-row :gutter="20">
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Is this work Related?">
                                <el-radio-group v-model="form.related">
                                    <el-radio label="Yes"/>
                                    <el-radio label="No"/>
                                </el-radio-group>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="If not, why?">
                                <el-input placeholder="If not, why?" v-model="form.if_not_why"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Is this an Incident or a near miss?">
                                <el-radio-group v-model="form.near_miss">
                                    <el-radio label="Incident"/>
                                    <el-radio label="Near Miss"/>
                                    <el-radio label="Monitored Event"/>
                                </el-radio-group>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="What was Affected?">
                                <el-input placeholder="What was Affected?" v-model="form.affected"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Is this an Incident or a near miss">
                                <el-checkbox-group v-model="form.near_misses">
                                    <el-checkbox label="People"/>
                                    <el-checkbox label="Asset / Production"/>
                                    <el-checkbox label="Vehicle Damage"/>
                                    <el-checkbox label="Environment"/>
                                    <el-checkbox label="Reputation"/>
                                </el-checkbox-group>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Date of Occurrence">
                                <el-date-picker type="datetime" v-model="form.date_of_occurrence"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="INCIDENT / ACCIDENT DESCRIPTION: (Describe the events that resulted in the incident/injury. Describe what and how it happened. Use separate paper if necessary)">
                                <el-input type="textarea"  style="width: 100%;" v-model="form.accident_description"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Action">
                                <el-input type="textarea"  style="width: 100%;" v-model="form.action"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Reporting Party Details">
                                <el-input type="textarea"  style="width: 100%;" v-model="form.reporting_party_details"/>
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Immediate Notification to EMAAR / Facility Management / Security">
                                <el-radio v-model="form.notification_to_company" label="Required"/>
                                <el-radio v-model="form.notification_to_company" label="Actioned"/>
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Notifiable to Government Authorities/Agencies? Specify:" style="margin-bottom: 0;
    line-height: 10px !important;">
                                <el-radio v-model="form.government_authorities" label="Required"/>
                                <el-radio v-model="form.government_authorities" label="Actioned"/>
                            </el-form-item>
                        </el-col>

                    </el-row>
                </el-form>


                <el-button class="btn btn-cancel" @click="closeForm">Cancel</el-button>
                <el-button class="btn btn-red" :disabled="submitingRequest"  @click="submitForm">Confirm</el-button>

            </el-tab-pane>



            <el-tab-pane label="Requests List">


                <el-table
                    :data="list"
                    style="width: 100%">
                    <el-table-column
                        prop="id"
                        width="50px"
                        label="No">
                        <template slot-scope="scope">
                            {{ scope.$index+1 }}
                        </template>
                    </el-table-column>
                    <el-table-column
                        width="200px"
                        label="Data of Occurrence">
                        <template slot-scope="scope">
                            {{ scope.row.date_of_occurrence|time('llll') }}
                        </template>
                    </el-table-column>
                    <el-table-column
                        label="Status"
                        width="150px">
                        <template slot-scope="scope">
                            <span v-if="scope.row.status === 'Approved'"><el-tag size="mini" type="success">Approved</el-tag></span>
                            <span v-else-if="scope.row.status === 'Rejected'"><el-tag size="mini" type="danger">Rejected</el-tag></span>
                            <span v-else><el-tag size="mini" type="warning">Pending</el-tag></span>
                        </template>
                    </el-table-column>
                    <el-table-column
                        label="Comment"
                        prop="comment"
                        width="150">
                    </el-table-column>
                    <el-table-column
                        label="Operations">
                        <template slot-scope="scope">
                            <a :href="scope.row.download_url" class="el-button el-button--default el-button--mini" download>Download</a>
                            <el-button size="mini"  @click.native.prevent="viewForm(scope.row)">View</el-button>
                        </template>
                    </el-table-column>

                </el-table>





                <el-dialog class="req-popup"
                           width="50%"
                           title="Incident Notification Form Details"
                           :visible.sync="detailVisible"
                           append-to-body>


                    <el-row :gutter="25">
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form class="req-list-form" label-position="top" :inline="true">
                                <el-form-item label="Status" v-if="checkRole(['admin','fom manager'])">
                                    <el-select @change="updateStatus(rowDetail.id)" v-model="status" placeholder="Please select a status">
                                        <el-option label="Approved" value="Approved"/>
                                        <el-option label="Rejected" value="Rejected"/>
                                        <el-option label="Pending" value="Pending"/>
                                    </el-select>
                                </el-form-item>
                            </el-form>

                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th>Name</th>
                                    <th width="200px">Value</th>
                                </tr>
                                <tr>
                                    <td>IS THIS WORK RELATED?</td>
                                    <td>{{ rowDetail.related }}</td>
                                </tr>
                                <tr>
                                    <td>If not, why?</td>
                                    <td>{{ rowDetail.if_not_why }}</td>
                                </tr>
                                <tr>
                                    <td>IS THIS AN INCIDENT OR A NEAR MISS?</td>
                                    <td>{{ rowDetail.near_miss }}</td>
                                </tr>
                                <tr>
                                    <td>WHAT WAS AFFECTED?</td>
                                    <td>{{ rowDetail.affected }}</td>
                                </tr>
                                <tr>
                                    <td>IS THIS AN INCIDENT OR A NEAR MISS?</td>
                                    <td>{{ rowDetail.near_misses }}</td>
                                </tr>
                                <tr>
                                    <td>DATE OF OCCURRENCE</td>
                                    <td>{{ rowDetail.date_of_occurrence }}</td>
                                </tr>
                                <tr>
                                    <td>INCIDENT / ACCIDENT DESCRIPTION</td>
                                    <td>{{ rowDetail.accident_description }}</td>
                                </tr>
                                <tr>
                                    <td>ACTION</td>
                                    <td>{{ rowDetail.action }}</td>
                                </tr>
                                <tr>
                                    <td>REPORTING PARTY DETAILS</td>
                                    <td>{{ rowDetail.reporting_party_details }}</td>
                                </tr>
                                <tr>
                                    <td>Immediate Notification to EMAAR / Facility Management / Security </td>
                                    <td>{{ rowDetail.reporting_party_details }}</td>
                                </tr>
                                <tr>
                                    <td>Notifiable to Government Authorities/Agencies? Specify</td>
                                    <td>{{ rowDetail.government_authorities }}</td>
                                </tr>
                            </table>

                        </el-col>
                    </el-row>
                </el-dialog>



            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>

    const warningOptions = ['Verbal Warning','Written Warning','Final Written Warning','Removal Form'];
    import FomFillUpFormResource from '@/api/fill-up-form';
    const fomFillUpFormResource = new FomFillUpFormResource('incidentNotification');
    import BackendErrors from '@/mixins/backend-errors';
    import checkRole from '@/utils/role';

    export default {
        name: "incident-notification",
        mixins:[BackendErrors],
        props:['task'],
        data() {
            return {
                warningOptions,
                form:{
                    related:'',
                    if_not_why:'',
                    near_miss:'',
                    affected:'',
                    near_misses:[],
                    date_of_occurrence:'',
                    accident_description:'',
                    action:'',
                    reporting_party_details:'',
                    notification_to_company:'',
                    government_authorities:'',
                    task_id:this.task.id
                },
                submitingRequest:false,
                detailVisible:false,
                list:[],
                rowDetail:{
                    related:'',
                    if_not_why:'',
                    near_miss:'',
                    affected:'',
                    near_misses:[],
                    date_of_occurrence:'',
                    accident_description:'',
                    action:'',
                    reporting_party_details:'',
                    notification_to_company:'',
                    government_authorities:'',
                    task_id:this.task.id
                },
                status:''
            };
        },
        created(){
            this.getList();
        },
        methods:{
            checkRole,
            getList(){
                fomFillUpFormResource.listByTask(this.task.id)
                    .then(response => {
                        this.list = response.data;
                    }).catch(error => {
                })
            },
            submitForm(){
                this.submitingRequest = true;
                fomFillUpFormResource.store(this.form)
                    .then(response => {
                        this.list.push(response.data);
                        this.resetForm();
                        this.clear();
                        this.$message({
                            message: `Congrats, report submit successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch(error => {
                    this.record(error)
                }).finally(()=>{
                    this.submitingRequest = false;
                })
            },
            closeForm(){
                this.resetForm();
                this.$emit('close');
            },
            resetForm(){
                this.form = {
                    related:'',
                    if_not_why:'',
                    near_miss:'',
                    affected:'',
                    near_misses:[],
                    date_of_occurrence:'',
                    accident_description:'',
                    action:'',
                    reporting_party_details:'',
                    notification_to_company:'',
                    government_authorities:'',
                    task_id:this.task.id
                };
            },
            viewForm(row){
                this.detailVisible = true;
                this.rowDetail=row;
                this.status=this.rowDetail.status;
                console.log(row);
            },
            updateStatus(id){

                this.$prompt('Please input comment', 'Comment', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                }).then(({ value }) => {
                    fomFillUpFormResource.updateStatus(id,{
                        status: this.status,
                        comment:value
                    }).then(response => {
                        this.getList();
                        this.$message({
                            message: `Congrats, status updated successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch((error) => {
                        console.log(error);
                    });
                }).catch((error) => {
                    this.status=this.rowDetail.status;
                    console.log(error);
                });

            }
        }
    }
</script>

<style scoped>
    .sub-con-plus , .sub-con-plus:hover , .sub-con-plus:focus , .sub-con-plus:visited {
        color: #FFF;
        background: #13ce66 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #13ce66 !important;
        margin-top: 25px;
        width: 100%;
    }

    .sub-con-del , .sub-con-del:hover , .sub-con-del:focus , .sub-con-del:visited {
        color: #FFF;
        background: #f15151 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #f15151 !important;
        margin-top: 25px;
        width: 100%;
    }

    .btn-red {
        background: #9e0d21;
    }

    .btn-red:hover, .btn-red:active , .btn-red:focus {
        background: #880a1b !important;
        color: #fff;
        outline: none;
        box-shadow: none;
    }

    .st-drwwer .btn-cancel , .st-drwwer .btn-red {
        padding: 12px 25px;
        margin-top: 0;
        border: 1px solid #9e0d21 !important;
    }
</style>
