<template>
    <div>

        <el-tabs class="st-drwwer-tabs">
            <el-tab-pane label="Request New">
                <el-form :inline="true" class="form-container">
                    <el-row :gutter="20">
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Company">
                                <el-input placeholder="Company" v-model="form.company"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Address">
                                <el-input placeholder="Address" v-model="form.address"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Contact Information</h3>
                        </el-col>

                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Primary Contact Name">
                                <el-input placeholder="Primary Contact Name"  v-model="form.c_primary_contact_name"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Title">
                                <el-input placeholder="Title"  v-model="form.c_title"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="City">
                                <el-input placeholder="City"  v-model="form.c_city"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Address">
                                <el-input placeholder="Address"  v-model="form.c_address"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">

                            <el-form-item label="Fax No.">
                                <el-input placeholder="Fax No."  v-model="form.c_fax_no"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Phone No.">
                                <el-input placeholder="Phone No."  v-model="form.c_phone_no"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Email">
                                <el-input placeholder="Email"  v-model="form.c_email"/>
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Vehicle & Driver Details</h3>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Make & Model">
                                <el-input placeholder="Make & Model" v-model="form.v_make_model"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Vehicle Height">
                                <el-input placeholder="Vehicle Height" v-model="form.v_vehicle_height" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Vehicle Registration">
                                <el-input placeholder="Vehicle Registration" v-model="form.v_vehicle_registration" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Vehicle Weight">
                                <el-input placeholder="Vehicle Weight" v-model="form.v_vehicle_weight" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Driver's Name">
                                <el-input placeholder="Driver's Name" v-model="form.v_drivers_name"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Driver's License Number">
                                <el-input placeholder="Driver's License Number" v-model="form.v_drivers_license_number"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Insurance Validity Period">
                                <el-input placeholder="Insurance Validity Period" v-model="form.v_insurance_validity_period"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="License Plate Number">
                                <el-input placeholder="License Plate Number" v-model="form.v_license_plate_number"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Delivery Date">
                                <el-date-picker placeholder="Delivery Date" v-model="form.v_delivery_date"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Unit">
                                <el-input placeholder="Unit" v-model="form.v_unit"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Description of Material (s) to be delivered">
                                <el-input type="textarea" placeholder="Description of Material (s) to be delivered" v-model="form.v_description_of_material"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Delivery Day (s)">
                                <el-checkbox-group v-model="form.v_delivery_days">
                                    <el-checkbox v-for="diliveryDay in diliveryDaysOptions" :label="diliveryDay" :key="diliveryDay"/>
                                </el-checkbox-group>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <div class="custom-alert my-side-notes">
                                <h5>Guidelines & Procedures</h5>
                                <ol>
                                    <li>Send email notification to Land Sterling at <a href="mailto:asghar.a@landsterling.com">asghar.a@landsterling.com</a> at least 48 hours prior to intended delivery. </li>
                                    <li>Personnel involved in delivery needs to proceed with Security in charge at ground floor and present the approved delivery permit, submit his EID and be issued temporary access card. Access card needs to be returned upon exiting to guard-on-duty. </li>
                                    <li> Vehicle has to park at ground floor for offloading of materials and needs to be transported straight to respective units. Vehicle parking is  limited only to 60 minutes.</li>
                                    <li><b>Lift Access</b> is limited to following timings : 07:00 pm-06:30 am.   Maximum weight for each lift is 2,000 kg.</li>
                                    <li>Person in charge with the delivery needs to provide mandatory minimum Personal Protective Equipment such as Hard hat, Safety Shoes, safety vest, safety glasses and gloves.</li>
                                    <li>The approval of material delivery permit which containing COSHH chemical (cement, paint, thinner, petrochemicals etc.) will require the safety data sheet (SDS)</li>
                                    <li>No material delivery permit will be issued on Friday.</li>
                                    <li>Failure to follow the designated lift timing will result to forfeiture of slot and will be given last priority for the day if one is available.</li>
                                </ol>
                            </div>
                            <div class="custom-alert my-side-notes">
                                Any delivery or access without a signed permit or adhering to the above guidelines will be refused access and sent away.
                            </div>
                        </el-col>

                    </el-row>
                </el-form>

                <el-button class="btn btn-cancel" @click="closeForm">Cancel</el-button>
                <el-button class="btn btn-red" :disabled="submitingRequest"  @click="submitForm">Confirm</el-button>
            </el-tab-pane>

            <el-tab-pane label="Requests List">

                <div class="req-list-item" v-for="(item,index) in list" :key="item.id">
                    <el-row>
                        <el-col :xs="24" :sm="1" :md="1" :lg="1" :xl="1">
                            <label>No</label>
                            <span>{{index+1}}</span>
                        </el-col>
                        <el-col :xs="24" :sm="5" :md="5" :lg="5" :xl="5">
                            <label>Status</label>
                            <span class="el-tag el-tag--success" v-if="item.status === 'Approved'">Approved</span>
                            <span class="el-tag el-tag--danger" v-else-if="item.status === 'Rejected'">Rejected</span>
                            <span class="el-tag el-tag--warning" v-else>Pending</span>
                        </el-col>
                        <el-col :xs="24" :sm="7" :md="7" :lg="7" :xl="7">
                            <label>Requested At</label>
                            <span>{{ item.created_at|time('llll') }}</span>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"><hr></el-col>
                        <el-col :xs="24" :sm="18" :md="18" :lg="18" :xl="18">
                            <label>Comments</label>
                            <span>{{ item.comment }}</span>
                        </el-col>

                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                            <label>Action</label>
                            <span>
                      <a size="small" class="btn btn-primary" type="primary" href="javascript:;" @click="viewForm(item)">View</a>
                      <a size="small" class="btn btn-success" type="success" download  :href="item.download_url">Download</a>
                   </span>
                        </el-col>


                    </el-row>
                </div>

                <el-dialog class="req-popup"
                           width="70%"
                           title="Delivery and Access Permit Form Details"
                           :visible.sync="detailVisible"
                           append-to-body>

                    <el-row :gutter="25">
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form class="req-list-form" label-position="top" :inline="true">
                                <el-form-item label="Status" v-if="checkRole(['admin','fom manager'])">
                                    <el-select @change="updateStatus(rowDetail.id)" v-model="status" placeholder="Please select a status">
                                        <el-option label="Approved" value="Approved"/>
                                        <el-option label="Rejected" value="Rejected"/>
                                        <el-option label="Pending" value="Pending"/>
                                    </el-select>
                                </el-form-item>
                            </el-form>
                        </el-col>


                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>

                                <tr>
                                    <td>Company</td>
                                    <td>{{ rowDetail.company }}</td>
                                </tr>
                                <tr>
                                    <td>LS Permit No.</td>
                                    <td>{{ rowDetail.ls_permit_no }}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>{{ rowDetail.address }}</td>
                                </tr>
                                <tr>
                                    <th colspan="2"><b>COMPANY INFORMATION</b></th>
                                </tr>
                                <tr>
                                    <td>Primary Contact Name</td>
                                    <td>{{ rowDetail.c_primary_contact_name }}</td>
                                </tr>
                                <tr>
                                    <td>Title</td>
                                    <td>{{ rowDetail.c_title }}</td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td>{{ rowDetail.c_city }}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>{{ rowDetail.c_address }}</td>
                                </tr>
                                <tr>
                                    <td>Fax No.</td>
                                    <td>{{ rowDetail.c_fax_no }}</td>
                                </tr>
                                <tr>
                                    <td>Phone No.</td>
                                    <td>{{ rowDetail.c_phone_no }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{ rowDetail.c_email }}</td>
                                </tr>
                            </table>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th colspan="2"><b>Vehicle & Driver Details</b></th>
                                </tr>
                                <tr>
                                    <td>Make & Model</td>
                                    <td>{{ rowDetail.v_make_model }}</td>
                                </tr>
                                <tr>
                                    <td>Vehicle Height</td>
                                    <td>{{ rowDetail.v_vehicle_height }}</td>
                                </tr>
                                <tr>
                                    <td>Vehicle Weight</td>
                                    <td>{{ rowDetail.v_vehicle_weight }}</td>
                                </tr>
                                <tr>
                                    <td>Driver's Name</td>
                                    <td>{{ rowDetail.v_drivers_name }}</td>
                                </tr>
                                <tr>
                                    <td>Driver's License Number</td>
                                    <td>{{ rowDetail.v_drivers_license_number }}</td>
                                </tr>
                                <tr>
                                    <td>Insurance Validity Period</td>
                                    <td>{{ rowDetail.v_insurance_validity_period }}</td>
                                </tr>
                                <tr>
                                    <td>License Plate Number</td>
                                    <td>{{ rowDetail.v_license_plate_number }}</td>
                                </tr>
                                <tr>
                                    <td>Delivery Date</td>
                                    <td>{{ rowDetail.v_delivery_date }}</td>
                                </tr>
                                <tr>
                                    <td>Unit</td>
                                    <td>{{ rowDetail.v_unit }}</td>
                                </tr>
                                <tr>
                                    <td>Description of Material (s)</td>
                                    <td>{{ rowDetail.v_description_of_material }}</td>
                                </tr>
                                <tr>
                                    <td>Delivery Day (s)</td>
                                    <td><span v-for="day in rowDetail.v_delivery_days">{{ day }}, </span></td>
                                </tr>
                            </table>

                        </el-col>

                    </el-row>
                </el-dialog>

            </el-tab-pane>
        </el-tabs>

    </div>
</template>

<script>
    import FomFillUpFormResource from '@/api/fill-up-form';
    const fomFillUpFormResource = new FomFillUpFormResource('materialDeliveryPermit');
    import BackendErrors from '@/mixins/backend-errors';
    const diliveryDaysOptions = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
    import checkRole from '@/utils/role';

    export default {
        name: "material-delivery-permit",
        mixins:[BackendErrors],
        props:['task'],
        data() {
            return {
                diliveryDaysOptions,
                form:{
                    company:'',
                    ls_permit_no:'',
                    address:'',
                    c_primary_contact_name:'',
                    c_title:'',
                    c_city:'',
                    c_address:'',
                    c_fax_no:'',
                    c_phone_no:'',
                    c_email:'',
                    v_make_model:'',
                    v_vehicle_height:'',
                    v_vehicle_registration:'',
                    v_vehicle_weight:'',
                    v_drivers_name:'',
                    v_drivers_license_number:'',
                    v_insurance_validity_period:'',
                    v_license_plate_number:'',
                    v_delivery_date:'',
                    v_unit:'',
                    v_description_of_material:'',
                    v_delivery_days:[],
                    task_id:this.task.id
                },
                submitingRequest:false,
                detailVisible:false,
                list:[],
                rowDetail:{
                    company:'',
                    ls_permit_no:'',
                    address:'',
                    c_primary_contact_name:'',
                    c_title:'',
                    c_city:'',
                    c_address:'',
                    c_fax_no:'',
                    c_phone_no:'',
                    c_email:'',
                    v_make_model:'',
                    v_vehicle_height:'',
                    v_vehicle_registration:'',
                    v_vehicle_weight:'',
                    v_drivers_name:'',
                    v_drivers_license_number:'',
                    v_insurance_validity_period:'',
                    v_license_plate_number:'',
                    v_delivery_date:'',
                    v_unit:'',
                    v_description_of_material:'',
                    v_delivery_days:[],
                    task_id:this.task.id
                },
                status:''
            }
        },
        created(){
            this.getList();
        },
        methods:{
            checkRole,
            getList(){
                fomFillUpFormResource.listByTask(this.task.id)
                    .then(response => {
                        this.list = response.data;
                    }).catch(error => {
                })
            },
            submitForm(){
                this.submitingRequest = true;
                fomFillUpFormResource.store(this.form)
                    .then(response => {
                        this.list.push(response.data);
                        this.resetForm();
                        this.clear();
                        this.$message({
                            message: `Congrats, report submit successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch(error => {
                    this.record(error)
                }).finally(()=>{
                    this.submitingRequest = false;
                })
            },
            closeForm(){
                this.resetForm();
                this.$emit('close');
            },
            resetForm(){
                this.form = {
                    company:'',
                    ls_permit_no:'',
                    address:'',
                    c_primary_contact_name:'',
                    c_title:'',
                    c_city:'',
                    c_address:'',
                    c_fax_no:'',
                    c_phone_no:'',
                    c_email:'',
                    v_make_model:'',
                    v_vehicle_height:'',
                    v_vehicle_registration:'',
                    v_vehicle_weight:'',
                    v_drivers_name:'',
                    v_drivers_license_number:'',
                    v_insurance_validity_period:'',
                    v_license_plate_number:'',
                    v_delivery_date:'',
                    v_unit:'',
                    v_description_of_material:'',
                    v_delivery_days:[],
                    task_id:this.task.id
                };
            },
            viewForm(row){
                this.detailVisible = true;
                this.rowDetail=row;
                this.status=this.rowDetail.status;
                console.log(row);
            },
            updateStatus(id){

                this.$prompt('Please input comment', 'Comment', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                }).then(({ value }) => {
                    fomFillUpFormResource.updateStatus(id,{
                        status: this.status,
                        comment:value
                    }).then(response => {
                        this.getList();
                        this.$message({
                            message: `Congrats, status updated successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch((error) => {
                        console.log(error);
                    });
                }).catch((error) => {
                    this.status=this.rowDetail.status;
                    console.log(error);
                });

            }
        }
    }
</script>

<style scoped>
    .sub-con-plus , .sub-con-plus:hover , .sub-con-plus:focus , .sub-con-plus:visited {
        color: #FFF;
        background: #13ce66 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #13ce66 !important;
        margin-top: 25px;
        width: 100%;
    }

    .sub-con-del , .sub-con-del:hover , .sub-con-del:focus , .sub-con-del:visited {
        color: #FFF;
        background: #f15151 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #f15151 !important;
        margin-top: 25px;
        width: 100%;
    }

    .btn-red {
        background: #9e0d21;
    }

    .btn-red:hover, .btn-red:active , .btn-red:focus {
        background: #880a1b !important;
        color: #fff;
        outline: none;
        box-shadow: none;
    }

    .st-drwwer .btn-cancel , .st-drwwer .btn-red {
        padding: 12px 25px;
        margin-top: 0;
        border: 1px solid #9e0d21 !important;
    }
</style>
