<template>
    <div>


        <el-tabs class="st-drwwer-tabs">
            <el-tab-pane label="Request New">
                <el-form :inline="true" class="form-container">
                    <el-row :gutter="20">
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <div class="custom-alert my-side-notes">
                                Please fill the necessary details and submit to Land Sterling at least 24 hours in advance for requested inspection date.
                            </div>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Section 1 - Tenancy Location and Details</h3>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Tower and Unit Number:">
                                <el-input placeholder="Tower and Unit Number:" v-model="form.location_and_details"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Contractor Name">
                                <el-input placeholder="Contractor Name" v-model="form.contractor_name"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Contractor Contact No.">
                                <el-input placeholder="Contractor Contact No." v-model="form.contractor_contact_no"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Site Supervisor Name">
                                <el-input placeholder="Site Supervisor Name" v-model="form.site_supervisor_name"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Site Supervisor Contact No.">
                                <el-input placeholder="Site Supervisor Contact No." v-model="form.site_supervisor_contact_no"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Section 2 - Work Permit Validity</h3>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Issuance Date">
                                <el-date-picker placeholder="Issuance Date" v-model="form.issuance_date"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Validity Date">
                                <el-date-picker placeholder="Validity Date" v-model="form.validity_date"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Section 3- Inspection and Witnessing Request</h3>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item class="my-check">
                                <el-checkbox v-model="form.witnessing_request_1">Water proofing as per approved water-proofing membrane details and onsite testing.</el-checkbox>

                                <el-checkbox v-model="form.witnessing_request_2">Drainage pipes gravity and flow testing.</el-checkbox>

                                <el-checkbox v-model="form.witnessing_request_3">Water supply pressure testing at 6 bar - 24 hours</el-checkbox>

                                <el-checkbox v-model="form.witnessing_request_4">CHW (Chilled Water) Pipe Pressure Testing at 12 bar - 24 hours</el-checkbox>

                                <el-checkbox v-model="form.witnessing_request_5">CHW Chemical Flushing</el-checkbox>

                                <el-checkbox v-model="form.witnessing_request_6">SPR/Fire Fighting Pipe work pressure testing at 12 bar - 24 hours</el-checkbox>

                                <el-checkbox v-model="form.witnessing_request_7">LPG Pressure Testing by DCD approved LPG Contractor</el-checkbox>

                                <el-checkbox v-model="form.witnessing_request_8">Base Built Chill Water Line Flow Rate (L/S) Testing Before CHW Valve Connection- Submit Undertaking Letter If Comply</el-checkbox>

                                <el-checkbox v-model="form.witnessing_request_9">Ceiling Closure</el-checkbox>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <div class="custom-alert-warning my-side-notes">
                                <b><i data-v-7d3b9b7a="" class="el-icon-warning"></i> NOTE:</b> All testing and commissioning to be carried out by Third Party Inspector or building nominated contractor as required.
                            </div>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Section 4 - Request for Connection, Opening, and Closing to Building Systems</h3>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item class="my-check">
                                <el-checkbox v-model="form.building_systems_request_1">Chilled Water Valve Connection </el-checkbox>
                                <el-checkbox v-model="form.building_systems_request_2">Chilled Water Valve Opening</el-checkbox>
                                <el-checkbox v-model="form.building_systems_request_3">Chilled Water Valve Closing</el-checkbox>
                                <el-checkbox v-model="form.building_systems_request_4">Domestic Water Valve Connection</el-checkbox>
                                <el-checkbox v-model="form.building_systems_request_5">Domestic Water Valve Opening</el-checkbox>
                                <el-checkbox v-model="form.building_systems_request_6">Domestic Water Valve Closing</el-checkbox>
                                <el-checkbox v-model="form.building_systems_request_7">Zone Control Valve (ZCV) Connection -DCD approval and approved pressure test certificate to attach.</el-checkbox>
                                <el-checkbox v-model="form.building_systems_request_8">Zone Control Valve (ZCV) Opening -DCD approval and approved pressure test certificate to attach.</el-checkbox>
                                <el-checkbox v-model="form.building_systems_request_9">Zone Control Valve (ZCV) Closing -DCD approval and approved pressure test certificate to attach.</el-checkbox>
                                <el-checkbox v-model="form.building_systems_request_10">Kitchen Extract Hood and Ecology Testing and Commissioning</el-checkbox>
                                <el-checkbox v-model="form.building_systems_request_11">Fire Alarm Interface and Commissioning by building nominated contractor</el-checkbox>
                                <el-checkbox v-model="form.building_systems_request_12">Drainage connection.</el-checkbox>
                                <el-checkbox v-model="form.building_systems_request_13">DEWA meter installation.</el-checkbox>
                                <el-checkbox v-model="form.building_systems_request_14">Water meter installation.</el-checkbox>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <div class="custom-alert-warning my-side-notes">
                                <b><i data-v-7d3b9b7a="" class="el-icon-warning"></i> NOTE:</b> Connection to be carried out by a certified contractor and not before completion of section 3.
                            </div>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Section 5 - Site Observation and Status</h3>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="BM/LS Comments:">
                                <el-input type="textarea" style="width: 100%;" v-model="form.bm_ls_comments"/>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>

                <el-button class="btn btn-cancel" @click="closeForm">Cancel</el-button>
                <el-button class="btn btn-red" :disabled="submitingRequest"  @click="submitForm">Confirm</el-button>

            </el-tab-pane>



            <el-tab-pane label="Requests List">
                <el-table
                    :data="list"
                    style="width: 100%">
                    <el-table-column
                        prop="id"
                        width="50px"
                        label="No">
                        <template slot-scope="scope">
                            {{ scope.$index+1 }}
                        </template>
                    </el-table-column>
                    <el-table-column
                        width="200px"
                        label="Submit At">
                        <template slot-scope="scope">
                            {{ scope.row.created_at|time('llll') }}
                        </template>
                    </el-table-column>
                    <el-table-column
                        label="Status"
                        width="150px">
                        <template slot-scope="scope">
                            <span v-if="scope.row.status === 'Approved'"><el-tag size="mini" type="success">Approved</el-tag></span>
                            <span v-else-if="scope.row.status === 'Rejected'"><el-tag size="mini" type="danger">Rejected</el-tag></span>
                            <span v-else><el-tag size="mini" type="warning">Pending</el-tag></span>
                        </template>
                    </el-table-column>
                    <el-table-column
                        label="Comment"
                        prop="comment"
                        width="150">
                    </el-table-column>
                    <el-table-column
                        label="Operations">
                        <template slot-scope="scope">
                            <a :href="scope.row.download_url" class="el-button el-button--default el-button--mini" download>Download</a>
                            <el-button size="mini"  @click.native.prevent="viewForm(scope.row)">View</el-button>
                        </template>
                    </el-table-column>

                </el-table>


                <el-dialog class="req-popup"
                           width="50%"
                           title="MEP Services Permit Form Details"
                           :visible.sync="detailVisible"
                           append-to-body>

                    <el-row :gutter="25">
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form class="req-list-form" label-position="top" :inline="true">
                                <el-form-item label="Status" v-if="checkRole(['admin','fom manager'])">
                                    <el-select @change="updateStatus(rowDetail.id)" v-model="status" placeholder="Please select a status">
                                        <el-option label="Approved" value="Approved"/>
                                        <el-option label="Rejected" value="Rejected"/>
                                        <el-option label="Pending" value="Pending"/>
                                    </el-select>
                                </el-form-item>
                            </el-form>

                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th>Name</th>
                                    <th width="200px">Value</th>
                                </tr>
                                <tr>
                                    <td>Tower and Unit Number</td>
                                    <td>{{ rowDetail.location_and_details }}</td>
                                </tr>
                                <tr>
                                    <td>Contractor Name</td>
                                    <td>{{ rowDetail.contractor_name }}</td>
                                </tr>
                                <tr>
                                    <td>Contractor Contact No</td>
                                    <td>{{ rowDetail.contractor_contact_no }}</td>
                                </tr>
                                <tr>
                                    <td>Site Supervisor Name</td>
                                    <td>{{ rowDetail.site_supervisor_name }}</td>
                                </tr>
                                <tr>
                                    <td>Site Supervisor Contact No.</td>
                                    <td>{{ rowDetail.site_supervisor_contact_no }}</td>
                                </tr>
                                <tr>
                                    <td>Issuance Date</td>
                                    <td>{{ rowDetail.issuance_date }}</td>
                                </tr>
                                <tr>
                                    <td>Validity Date</td>
                                    <td>{{ rowDetail.validity_date }}</td>
                                </tr>
                            </table>
                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">

                                <tr>
                                    <th colspan="2" >Section 3- Inspection and Witnessing Request</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <ol class="my-ol">
                                            <li v-if="rowDetail.witnessing_request_1">Water proofing as per approved water-proofing membrane details and onsite testing.</li>
                                            <li v-if="rowDetail.witnessing_request_2">Drainage pipes gravity and flow testing.</li>
                                            <li v-if="rowDetail.witnessing_request_3">Water supply pressure testing at 6 bar - 24 hours</li>
                                            <li v-if="rowDetail.witnessing_request_4">CHW (Chilled Water) Pipe Pressure Testing at 12 bar - 24 hours</li>
                                            <li v-if="rowDetail.witnessing_request_5">CHW Chemical Flushing</li>
                                            <li v-if="rowDetail.witnessing_request_6">SPR/Fire Fighting Pipe work pressure testing at 12 bar - 24 hours</li>
                                            <li v-if="rowDetail.witnessing_request_7">LPG Pressure Testing by DCD approved LPG Contractor</li>
                                            <li v-if="rowDetail.witnessing_request_8">Base Built Chill Water Line Flow Rate (L/S) Testing Before CHW Valve Connection- Submit Undertaking Letter If Comply</li>
                                            <li v-if="rowDetail.witnessing_request_9">Ceiling Closure</li>
                                        </ol>
                                    </td>
                                </tr>
                            </table>
                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th colspan="2" >Section 4 - Request for Connection, Opening, and Closing to Building Systems</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <ol class="my-ol">
                                            <li v-if="rowDetail.building_systems_request_1">Chilled Water Valve Connection.</li>
                                            <li v-if="rowDetail.building_systems_request_2">Chilled Water Valve Opening.</li>
                                            <li v-if="rowDetail.building_systems_request_3">Chilled Water Valve Closing.</li>
                                            <li v-if="rowDetail.building_systems_request_4">Domestic Water Valve Connection.</li>
                                            <li v-if="rowDetail.building_systems_request_5">Domestic Water Valve Opening.</li>
                                            <li v-if="rowDetail.building_systems_request_6">Domestic Water Valve Closing.</li>
                                            <li v-if="rowDetail.building_systems_request_7">Zone Control Valve (ZCV) Connection -DCD approval and approved pressure test certificate to attach.</li>
                                            <li v-if="rowDetail.building_systems_request_8">Zone Control Valve (ZCV) Opening -DCD approval and approved pressure test certificate to attach.</li>
                                            <li v-if="rowDetail.building_systems_request_9">Zone Control Valve (ZCV) Closing -DCD approval and approved pressure test certificate to attach.</li>
                                            <li v-if="rowDetail.building_systems_request_10">Kitchen Extract Hood and Ecology Testing and Commissioning.</li>
                                            <li v-if="rowDetail.building_systems_request_11">Fire Alarm Interface and Commissioning by building nominated contractor.</li>
                                            <li v-if="rowDetail.building_systems_request_12">Drainage connection.</li>
                                            <li v-if="rowDetail.building_systems_request_13">DEWA meter installation.</li>
                                            <li v-if="rowDetail.building_systems_request_14">Water meter installation.</li>
                                        </ol>
                                    </td>
                                </tr>
                            </table>
                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th colspan="2" >Section 5 - Site Observation and Status</th>
                                </tr>
                                <tr>
                                    <td>BM/LS Comments:</td>
                                    <td>{{ form.bm_ls_comments }}</td>
                                </tr>

                            </table>
                        </el-col>
                    </el-row>
                </el-dialog>



            </el-tab-pane>
        </el-tabs>

    </div>
</template>

<script>
    import FomFillUpFormResource from '@/api/fill-up-form';
    const fomFillUpFormResource = new FomFillUpFormResource('mepServicesPermit');
    import BackendErrors from '@/mixins/backend-errors';
    import checkRole from '@/utils/role';

    export default {
        name: "request-for-mep-services-witnessing",
        mixins:[BackendErrors],
        props:['task'],
        data() {
            return {
                form:{
                    location_and_details:'',
                    contractor_name:'',
                    contractor_contact_no:'',
                    site_supervisor_name:'',
                    site_supervisor_contact_no:'',
                    issuance_date:'',
                    validity_date:'',
                    witnessing_request_1:'',
                    witnessing_request_2:'',
                    witnessing_request_3:'',
                    witnessing_request_4:'',
                    witnessing_request_5:'',
                    witnessing_request_6:'',
                    witnessing_request_7:'',
                    witnessing_request_8:'',
                    witnessing_request_9:'',
                    building_systems_request_1:'',
                    building_systems_request_2:'',
                    building_systems_request_3:'',
                    building_systems_request_4:'',
                    building_systems_request_5:'',
                    building_systems_request_6:'',
                    building_systems_request_7:'',
                    building_systems_request_8:'',
                    building_systems_request_9:'',
                    building_systems_request_10:'',
                    building_systems_request_11:'',
                    building_systems_request_12:'',
                    building_systems_request_13:'',
                    building_systems_request_14:'',
                    bm_ls_comments:'',
                    task_id:this.task.id,
                },
                submitingRequest:false,
                detailVisible:false,
                list:[],
                rowDetail:{
                    location_and_details:'',
                    contractor_name:'',
                    contractor_contact_no:'',
                    site_supervisor_name:'',
                    site_supervisor_contact_no:'',
                    issuance_date:'',
                    validity_date:'',
                    witnessing_request_1:'',
                    witnessing_request_2:'',
                    witnessing_request_3:'',
                    witnessing_request_4:'',
                    witnessing_request_5:'',
                    witnessing_request_6:'',
                    witnessing_request_7:'',
                    witnessing_request_8:'',
                    witnessing_request_9:'',
                    building_systems_request_1:'',
                    building_systems_request_2:'',
                    building_systems_request_3:'',
                    building_systems_request_4:'',
                    building_systems_request_5:'',
                    building_systems_request_6:'',
                    building_systems_request_7:'',
                    building_systems_request_8:'',
                    building_systems_request_9:'',
                    building_systems_request_10:'',
                    building_systems_request_11:'',
                    building_systems_request_12:'',
                    building_systems_request_13:'',
                    building_systems_request_14:'',
                    bm_ls_comments:'',
                    task_id:this.task.id,
                },
                status:''
            };
        },
        created(){
            this.getList();
        },
        methods:{
            checkRole,
            getList(){
                fomFillUpFormResource.listByTask(this.task.id)
                    .then(response => {
                        this.list = response.data;
                    }).catch(error => {
                })
            },
            submitForm(){
                this.submitingRequest = true;
                fomFillUpFormResource.store(this.form)
                    .then(response => {
                        this.list.push(response.data);
                        this.resetForm();
                        this.clear();
                        this.$message({
                            message: `Congrats, report submit successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch(error => {
                    this.record(error)
                }).finally(()=>{
                    this.submitingRequest = false;
                })
            },
            closeForm(){
                this.resetForm();
                this.$emit('close');
            },
            resetForm(){
                this.form = {
                    related:'',
                    if_not_why:'',
                    near_miss:'',
                    affected:'',
                    near_misses:[],
                    date_of_occurrence:'',
                    accident_description:'',
                    action:'',
                    reporting_party_details:'',
                    notification_to_company:'',
                    government_authorities:'',
                    task_id:this.task.id
                };
            },
            viewForm(row){
                this.detailVisible = true;
                this.rowDetail=row;
                this.status=this.rowDetail.status;
                console.log(row);
            },
            updateStatus(id){

                this.$prompt('Please input comment', 'Comment', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                }).then(({ value }) => {
                    fomFillUpFormResource.updateStatus(id,{
                        status: this.status,
                        comment:value
                    }).then(response => {
                        this.getList();
                        this.$message({
                            message: `Congrats, status updated successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch((error) => {
                        console.log(error);
                    });
                }).catch((error) => {
                    this.status=this.rowDetail.status;
                    console.log(error);
                });

            }
        }
    }
</script>

<style scoped>
    .st-drwwer .form-container {
        margin-bottom: 10px;
    }
    .custom-alert-warning {
        background-color: #fdf6ec;
        color: #e6a23c;
        padding: 8px 25px;
        margin-bottom: 15px;
        border-radius: 4px;
        opacity: 1;
        transition: opacity .2s;
        word-break: normal;
    }
    .my-ol {
        padding: 0px 15px 0;
        margin: 0;
    }
    .sub-con-plus , .sub-con-plus:hover , .sub-con-plus:focus , .sub-con-plus:visited {
        color: #FFF;
        background: #13ce66 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #13ce66 !important;
        margin-top: 25px;
        width: 100%;
    }

    .sub-con-del , .sub-con-del:hover , .sub-con-del:focus , .sub-con-del:visited {
        color: #FFF;
        background: #f15151 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #f15151 !important;
        margin-top: 25px;
        width: 100%;
    }

    .btn-red {
        background: #9e0d21;
    }

    .btn-red:hover, .btn-red:active , .btn-red:focus {
        background: #880a1b !important;
        color: #fff;
        outline: none;
        box-shadow: none;
    }

    .st-drwwer .btn-cancel , .st-drwwer .btn-red {
        padding: 12px 25px;
        margin-top: 0;
        border: 1px solid #9e0d21 !important;
    }

</style>
