<template>
    <div>

        <el-tabs class="st-drwwer-tabs">
            <el-tab-pane label="Request A Work Permit">
                <el-form :inline="true" class="form-container">
                    <!--<el-form-item label="Work Permit Number" :error="get('work_permit_number')">
                        <el-input placeholder="Work Permit Number" v-model="form.work_permit_number"/>
                    </el-form-item>-->

                    <el-row :gutter="20">
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Company Name" :error="get('company_name')">
                                <el-input placeholder="Company Name" v-model="form.company_name"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Site Supervisor Name" :error="get('site_supervisor_name')">
                                <el-input placeholder="Site Supervisor Name" v-model="form.site_supervisor_name"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Site Supervisor Contact Number" :error="get('site_supervisor_contact_number')">
                                <el-input placeholder="Site Supervisor Contact Number"  v-model="form.site_supervisor_contact_number"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Approval for:"  :error="get('approvals')">
                                <el-checkbox-group v-model="form.approvals">
                                    <el-checkbox v-for="option in approvalOptions" :label="option" :key="option">{{option}}</el-checkbox>
                                </el-checkbox-group>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Type of Application"  :error="get('type_of_application')">
                                <el-input placeholder="Type of Application" v-model="form.type_of_application"/>
                            </el-form-item>
                        </el-col>

                        <div v-for="(subContractor, index) in form.sub_contractors">
                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                <el-form-item label="Subcontractor">
                                    <el-input placeholder="Sub Contractor" v-model="subContractor.contractor"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="9" :md="9" :lg="9" :xl="9">
                                <el-form-item label="Number of Workers">
                                    <el-input-number placeholder="100" v-model="subContractor.no_of_workers"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="3" :md="3" :lg="3" :xl="3">
                                <el-button class="sub-con-plus" v-if="index === 0" icon="el-icon-plus" @click="addSubContractor"/>
                                <el-button class="sub-con-del" v-else icon="el-icon-delete" @click="form.sub_contractors.splice(index,1)"/>
                            </el-col>
                        </div>

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Approval for:"  :error="get('design_approvals')">
                                <el-checkbox-group v-model="form.design_approvals">
                                    <el-checkbox v-for="option in design_approvalsOptions" :label="option" :key="option">{{option}}</el-checkbox>
                                </el-checkbox-group>
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <div class="custom-alert my-side-notes">
                                <ol>
                                    <li>This Permit is deemed to be cancelled on any safety or other violations at site and the contractor will be fully liable for the rectification/cost implication of any damages/ interruptions caused due to the same to carry on the works.</li>
                                    <li>If the approved  fit-out works at site requires specic EHS tasks such as Entry to Confined Space, Hot Works, Spray Painting, Lifting, Working at Heights and Isolation of Services, relevant PTWs are to be submitted for approval.</li>
                                    <li>The renewal of the permit after its expiry is subject to the evaluation of the work status by the Projects Coordinator - Fit Out Process only.</li>
                                    <li>All noisy works at the premises MUST be carried out after normal office hours.</li>
                                    <li>Copy of valid permits shall be displayed on the door of the unit together with the copy of DM NOC.</li>
                                    <li>Full set of stamped approved drawings to be kept in good condition within premises always.</li>
                                    <li>Code of Conduct for Contractors must be followed always.</li>
                                </ol>
                            </div>
                        </el-col>
                    </el-row>
                </el-form>

                <el-button class="btn btn-cancel" @click="closeForm">Cancel</el-button>

                <el-button class="btn btn-red" :disabled="submitingRequest"  @click="submitForm">Confirm</el-button>

            </el-tab-pane>

            <el-tab-pane label="Requests List">

                <div class="req-list-item" v-for="(item,index) in list" :key="item.id">
                    <el-row>
                        <el-col :xs="24" :sm="1" :md="1" :lg="1" :xl="1">
                            <label>No</label>
                            <span>{{index+1}}</span>
                        </el-col>


                        <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
                            <label>Approval For</label>
                            <span class="el-tag el-tag-m-primary" v-for="approval in item.approvals">{{ approval }}</span>
                        </el-col>
                        <el-col :xs="24" :sm="5" :md="5" :lg="5" :xl="5">
                            <label>Status</label>
                            <span class="el-tag el-tag--success" v-if="item.status === 'Approved'">Approved</span>
                            <span class="el-tag el-tag--danger" v-else-if="item.status === 'Rejected'">Rejected</span>
                            <span class="el-tag el-tag--warning" v-else>Pending</span>
                        </el-col>
                        <el-col :xs="24" :sm="7" :md="7" :lg="7" :xl="7">
                            <label>Requested At</label>
                            <span>{{ item.created_at|time('llll') }}</span>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"><hr></el-col>
                        <el-col :xs="24" :sm="18" :md="18" :lg="18" :xl="18">
                            <label>Comments</label>
                            <span>{{ item.comment }}</span>
                        </el-col>

                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                            <label>Action</label>
                            <span>
                      <a size="small" class="btn btn-primary" type="primary" href="javascript:;" @click="viewForm(item)">View</a>
                      <a size="small" class="btn btn-success" type="success" download  :href="item.download_url">Download</a>
                   </span>
                        </el-col>


                    </el-row>
                </div>
                <!--

                                <div class="req-list-item">
                                    <el-row>
                                        <el-col :xs="24" :sm="1" :md="1" :lg="1" :xl="1">
                                            <label>No</label>
                                            <span>1</span>
                                        </el-col>


                                        <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
                                            <label>Approval For</label>
                                            <span class="el-tag el-tag-m-primary">Site Mobilisation & Delivery Permit</span>
                                        </el-col>
                                        <el-col :xs="24" :sm="5" :md="5" :lg="5" :xl="5">
                                            <label>Status</label>
                                            <span class="el-tag el-tag&#45;&#45;warning">Pending</span>
                                        </el-col>
                                        <el-col :xs="24" :sm="7" :md="7" :lg="7" :xl="7">
                                            <label>Requested At</label>
                                            <span>Sun, Nov 24, 2019 6:09 PM</span>
                                        </el-col>
                                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"><hr></el-col>
                                        <el-col :xs="24" :sm="18" :md="18" :lg="18" :xl="18">
                                            <label>Comments</label>
                                            <span>This is my Comments..</span>
                                        </el-col>

                                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                                            <label>Action</label>
                                            <span>
                                      <a size="small" class="btn btn-primary" type="primary">View</a>
                                      <a size="small" class="btn btn-success" type="success">Download</a>
                                   </span>
                                        </el-col>


                                    </el-row>

                                </div>
                -->

                <!--   <el-table
                       :data="list"
                       style="width: 100%">
                       <el-table-column
                           prop="id"
                           width="50px"
                           label="No">
                           <template slot-scope="scope">
                               {{ scope.$index+1 }}
                           </template>
                       </el-table-column>

                       <el-table-column
                           label="Approval For">
                           <template slot-scope="scope">
                               <span v-for="approval in scope.row.approvals"><el-tag size="mini">{{ approval }}</el-tag></span>
                           </template>
                       </el-table-column>
                       <el-table-column
                           label="Status"
                           width="150">
                           <template slot-scope="scope">
                               <span v-if="scope.row.status === 'Approved'"><el-tag size="mini" type="success">Approved</el-tag></span>
                               <span v-else-if="scope.row.status === 'Rejected'"><el-tag size="mini" type="danger">Rejected</el-tag></span>
                               <span v-else><el-tag size="mini" type="warning">Pending</el-tag></span>
                           </template>
                       </el-table-column>
                       <el-table-column
                           label="Comment"
                           prop="comment"
                           width="150">
                       </el-table-column>
                       <el-table-column
                           width="200px"
                           label="Requested At">
                           <template slot-scope="scope">
                               {{ scope.row.created_at|time('llll') }}
                           </template>
                       </el-table-column>
                       <el-table-column
                           label="Operations">
                           <template slot-scope="scope">
                               <a :href="scope.row.download_url" class="el-button el-button&#45;&#45;default el-button&#45;&#45;mini" download>Download</a>
                               <el-button size="mini"  @click.native.prevent="viewForm(scope.row)">View</el-button>
                           </template>
                       </el-table-column>

                   </el-table>
   -->

                <el-dialog class="req-popup"
                           width="70%"
                           title="Permit to Work Form Details"
                           :visible.sync="detailVisible"
                           append-to-body>

                    <el-row :gutter="25">
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form class="req-list-form" label-position="top" :inline="true" v-if="checkRole(['admin','fom manager'])">

                                <el-form-item label="Electricity Comment"  :error="get('electricity_comment')">
                                    <el-input type="textarea" placeholder="Electricity Comment" v-model="electricity_comment"/>
                                </el-form-item>
                                <el-form-item label="Insurance Comment"  :error="get('insurance_comment')">
                                    <el-input type="textarea" v-model="insurance_comment" placeholder="Insurance Comment"/>
                                </el-form-item>
                                <el-form-item label="Noisy & Non- Noisy Works Comment"  :error="get('noisy_non_noisy_works_comment')">
                                    <el-input type="textarea" v-model="noisy_non_noisy_works_comment"/>
                                </el-form-item>
                                <el-form-item label="Work Permit Validity"  :error="get('work_permit_validity')">
                                    <el-date-picker
                                        v-model="work_permit_validity"
                                        type="daterange"
                                        start-placeholder="Start Date"
                                        end-placeholder="End Date">
                                    </el-date-picker>
                                </el-form-item>

                                <el-divider>Approval Section</el-divider>

                                <el-form-item label="Status">
                                    <el-select v-model="status" placeholder="Please select a status">
                                        <el-option label="Approved" value="Approved"/>
                                        <el-option label="Rejected" value="Rejected"/>
                                        <el-option label="Pending" value="Pending"/>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="Comment"  :error="get('comment')">
                                    <el-input type="textarea" placeholder="Comment" v-model="comment"/>
                                </el-form-item>
                            </el-form>
                            <div v-if="checkRole(['admin','fom manager'])">
                                <el-button class="btn btn-cancel" @click="detailVisible = false">Cancel</el-button>
                                <el-button class="btn btn-red" :disabled="submitingRequest"  @click="submitAdminForm">Confirm</el-button>
                            </div>

                        </el-col>

                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                                <tr>
                                    <td>Work Permit Number</td>
                                    <td>{{ rowDetail.work_permit_number }}</td>
                                </tr>
                                <tr>
                                    <td>Company Name</td>
                                    <td>{{ rowDetail.company_name }}</td>
                                </tr>
                                <tr>
                                    <td>Site Supervisor name</td>
                                    <td>{{ rowDetail.site_supervisor_name }}</td>
                                </tr>
                                <tr>
                                    <td>Site Supervisor Contact Number</td>
                                    <td>{{ rowDetail.site_supervisor_contact_number }}</td>
                                </tr>
                                <tr>
                                    <td>Approval for</td>
                                    <td><span v-for="app in rowDetail.approvals" :key="app">{{ app }}, </span></td>
                                </tr>
                                <tr>
                                    <td>Start Date</td>
                                    <td>{{ rowDetail.start_date }}</td>
                                </tr>
                                <tr>
                                    <td>End Date</td>
                                    <td>{{ rowDetail.end_date }}</td>
                                </tr>
                                <tr>
                                    <td>Approval for</td>
                                    <td><span v-for="name in rowDetail.design_approvals">{{ name }}, </span></td>
                                </tr>
                                <tr>
                                    <td>Electricity Comment</td>
                                    <td>{{ rowDetail.electricity_comment }}</td>
                                </tr>
                                <tr>
                                    <td>Insurance Comment</td>
                                    <td>{{ rowDetail.insurance_comment }}</td>
                                </tr>
                                <tr>
                                    <td>Noisy & Non- Noisy Works Comment</td>
                                    <td>{{ rowDetail.noisy_non_noisy_works_comment }}</td>
                                </tr>

                            </table>


                            <span class="pop-sub-head">Contractors</span>

                            <table class="req-list-table table-sec" border="1" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th>Name</th>
                                    <th>No of Workers</th>
                                </tr>
                                <tr v-for="sub_contractor in rowDetail.sub_contractors">
                                    <td>{{ sub_contractor.contractor }}</td>
                                    <td>{{ sub_contractor.no_of_workers }}</td>
                                </tr>
                            </table>


                        </el-col>
                    </el-row>

                </el-dialog>

            </el-tab-pane>
        </el-tabs>


    </div>
</template>

<script>
    const approvalOptions = ['Site Mobilisation & Delivery Permit', 'Minor Works', 'Major Works'];
    const design_approvalsOptions = ['LS', 'Developer', 'DM', 'DCD', 'Others'];

    import FomFillUpFormResource from '@/api/fill-up-form';
    const fomFillUpFormResource = new FomFillUpFormResource('permitToWorkForm');
    import BackendErrors from '@/mixins/backend-errors';
    import checkRole from '@/utils/role';

    export default {
        name: "permit-to-work-form",
        mixins:[BackendErrors],
        props:['task'],
        data() {
            return {
                submitingRequest:false,
                detailVisible:false,
                approvalOptions,
                design_approvalsOptions,
                form:{
                    sub_contractors:[
                        {
                            contractor:'',
                            no_of_workers:'',
                        }
                    ],
                    approvals:[],
                    work_permit_number:'',
                    company_name:'',
                    site_supervisor_name:'',
                    site_supervisor_contact_number:'',
                    work_permit_validity:[],
                    type_of_application:'',
                    design_approvals:[],
                    electricity_comment:'',
                    noisy_non_noisy_works_comment:'',
                    insurance_comment:'',
                    task_id:this.task.id,
                },
                list:[],
                rowDetail:{
                    sub_contractors:[
                        {
                            contractor:'',
                            no_of_workers:'',
                        }
                    ],
                    approvals:[],
                    work_permit_number:'',
                    company_name:'',
                    site_supervisor_name:'',
                    site_supervisor_contact_number:'',
                    start_date:'',
                    end_date:'',
                    type_of_application:'',
                    design_approvals:[],
                    electricity_comment:'',
                    noisy_non_noisy_works_comment:'',
                    insurance_comment:'',
                    task_id:this.task.id,
                },
                status:'',
                comment:'',
                electricity_comment:'',
                insurance_comment:'',
                noisy_non_noisy_works_comment:'',
                work_permit_validity:'',
            };
        },
        created(){
            this.getList();
        },
        methods: {
            checkRole,
            addSubContractor(){
                this.form.sub_contractors.push({
                    subContractor:'',
                    no_of_workers:'',
                })
            },
            getList(){
                fomFillUpFormResource.listByTask(this.task.id)
                    .then(response => {
                        this.list = response.data;

                    }).catch(error => {
                })
            },
            submitForm(){
                this.submitingRequest = true;
                fomFillUpFormResource.store(this.form)
                    .then(response => {
                        this.list.push(response.data);
                        this.resetForm();
                        this.clear()
                        this.$message({
                            message: `Congrats, request submit successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch(error => {
                    this.record(error)
                }).finally(()=>{
                    this.submitingRequest = false;
                })
            },
            submitAdminForm(){
                this.submitingRequest = true;

                fomFillUpFormResource.updateStatus(this.rowDetail.id,{
                    status: this.status,
                    comment: this.comment,
                    electricity_comment: this.electricity_comment,
                    insurance_comment: this.insurance_comment,
                    noisy_non_noisy_works_comment: this.noisy_non_noisy_works_comment,
                    start_date: this.work_permit_validity[0],
                    end_date: this.work_permit_validity[1],
                }).then(response => {
                    this.getList();
                    this.$message({
                        message: `Congrats, request submit successfully.`,
                        type: 'success' ,
                        duration: 5 * 1000,
                    });
                    this.submitingRequest = false;
                }).catch((error) => {
                    console.log(error);
                });
            },
            closeForm(){
                this.resetForm();
                this.$emit('close');
            },
            resetForm(){
                this.form = {
                    sub_contractors:[
                        {
                            contractor:'',
                            no_of_workers:'',
                        }
                    ],
                    approvals:[],
                    work_permit_number:'',
                    company_name:'',
                    site_supervisor_name:'',
                    site_supervisor_contact_number:'',
                    work_permit_validity:[],
                    type_of_application:'',
                    design_approvals:[],
                    electricity_comment:'',
                    noisy_non_noisy_works_comment:'',
                    insurance_comment:'',
                    task_id:this.task.id,
                };
            },
            viewForm(row){
                this.detailVisible = true;
                this.rowDetail=row;
                this.comment='';
                this.status=this.rowDetail.status;
                this.electricity_comment=this.rowDetail.electricity_comment;
                this.insurance_comment=this.rowDetail.insurance_comment;
                this.noisy_non_noisy_works_comment=this.rowDetail.noisy_non_noisy_works_comment;
                this.work_permit_validity = [this.rowDetail.start_date,this.rowDetail.end_date];
            }
        }
    }
</script>

<style scoped>
    .custom-alert{
        background-color: #f4f4f5;
        color: #909399;
        padding: 8px 25px;
        margin: 0;
        border-radius: 4px;
        opacity: 1;
        transition: opacity .2s;
        word-break: normal;
    }
    .form-container{
        margin-bottom: 50px;
    }

    .sub-con-plus , .sub-con-plus:hover , .sub-con-plus:focus , .sub-con-plus:visited {
        color: #FFF;
        background: #13ce66 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #13ce66 !important;
        margin-top: 25px;
        width: 100%;
    }

    .sub-con-del , .sub-con-del:hover , .sub-con-del:focus , .sub-con-del:visited {
        color: #FFF;
        background: #f15151 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #f15151 !important;
        margin-top: 25px;
        width: 100%;
    }

    .btn-red {
        background: #9e0d21;
    }

    .btn-red:hover, .btn-red:active , .btn-red:focus {
        background: #880a1b !important;
        color: #fff;
        outline: none;
        box-shadow: none;
    }

    .st-drwwer .btn-cancel , .st-drwwer .btn-red {
        padding: 12px 25px;
        margin-top: 0;
        border: 1px solid #9e0d21 !important;
    }
</style>
