<template>
    <div>

        <el-tabs class="st-drwwer-tabs">
            <el-tab-pane label="Request New">
                <el-form :inline="true" class="form-container">
                    <el-row :gutter="20">

                        <div class="custom-alert my-side-notes">The following is to be used as a guide by the team to perform the fit out weekly site inspection.  Observations should be noted on the attached observation sheet. </div>

                        <div v-for="(vehicle,index) in form.vehicles">

                            <el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
                                <el-form-item label="S No.">  {{ index+1 }}
                                </el-form-item>
                            </el-col>

                            <el-col :xs="24" :sm="11" :md="11" :lg="11" :xl="11">
                                <el-form-item label="Name">
                                    <el-input v-model="vehicle.name" />
                                </el-form-item>
                            </el-col>

                            <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
                                <el-form-item label="Contact No.">
                                    <el-input v-model="vehicle.contact_no"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                                <el-form-item label="Contractor /Sub-contractor">
                                    <el-input v-model="vehicle.contractor"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                                <el-form-item label="Parking Space No.">
                                    <el-input v-model="vehicle.parking_space_no"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                                <el-form-item label="Vehicle Registration No.">
                                    <el-input v-model="vehicle.vehicle_registration_no"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                                <el-form-item label="Emirates of Registration">
                                    <el-input v-model="vehicle.emirates_of_registration"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                                <el-form-item label="Vehicle Brand and model">
                                    <el-input v-model="vehicle.vehicle_brand_and_model"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                                <el-form-item label="Unit No.">
                                    <el-input v-model="vehicle.unit_no"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
                                <el-form-item label="Validity">
                                    <el-input v-model="vehicle.validity"/>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
                                <el-form-item label="Parking Floor">
                                    <el-input v-model="vehicle.parking_floor"/>
                                </el-form-item>
                            </el-col>

                            <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
                                <el-button class="sub-con-plus"  v-if="index === 0" @click="addVehicle" icon="el-icon-plus"/>
                                <el-button class="sub-con-del" v-else icon="el-icon-delete" @click="form.vehicles.splice(index,1)"/>
                            </el-col>

                            <br clear="all">
                        </div>

                    </el-row>
                </el-form>

                <el-button class="btn btn-cancel" @click="closeForm">Cancel</el-button>
                <el-button class="btn btn-red" :disabled="submitingRequest"  @click="submitForm">Confirm</el-button>

            </el-tab-pane>



            <el-tab-pane label="Requests List">
                <el-table
                    :data="list"
                    style="width: 100%">
                    <el-table-column
                        prop="id"
                        width="50px"
                        label="No">
                        <template slot-scope="scope">
                            {{ scope.$index+1 }}
                        </template>
                    </el-table-column>

                    <el-table-column
                        label="Status"
                        width="150">
                        <template slot-scope="scope">
                            <span v-if="scope.row.status === 'Approved'"><el-tag size="mini" type="success">Approved</el-tag></span>
                            <span v-else-if="scope.row.status === 'Rejected'"><el-tag size="mini" type="danger">Rejected</el-tag></span>
                            <span v-else><el-tag size="mini" type="warning">Pending</el-tag></span>
                        </template>
                    </el-table-column>
                    <el-table-column
                        label="Comment"
                        prop="comment"
                        width="150">
                    </el-table-column>
                    <el-table-column
                        width="200px"
                        label="Submit At">
                        <template slot-scope="scope">
                            {{ scope.row.created_at|time('llll') }}
                        </template>
                    </el-table-column>
                    <el-table-column
                        width="200px"
                        label="Operations">
                        <template slot-scope="scope">
                            <a :href="scope.row.download_url" class="el-button el-button--default el-button--mini" download>Download</a>
                            <el-button size="mini"  @click.native.prevent="viewForm(scope.row)">View</el-button>
                        </template>
                    </el-table-column>

                </el-table>


                <el-dialog class="req-popup"
                           width="50%"
                           title="Vehicle Parking Register Form"
                           :visible.sync="detailVisible"
                           append-to-body>

                    <el-row :gutter="25">
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form class="req-list-form" label-position="top" :inline="true">
                                <el-form-item label="Status" v-if="checkRole(['admin','fom manager'])">
                                    <el-select @change="updateStatus(rowDetail.id)" v-model="status" placeholder="Please select a status">
                                        <el-option label="Approved" value="Approved"/>
                                        <el-option label="Rejected" value="Rejected"/>
                                        <el-option label="Pending" value="Pending"/>
                                    </el-select>
                                </el-form-item>
                            </el-form>

                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>








                                </tr>
                                <div v-for="(vehicle,index) in rowDetail.vehicles">
                                    <tr>
                                        <td>S N0.</td>
                                        <td>{{ index+1 }}</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>{{ vehicle.name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Contact No.</td><td>{{ vehicle.contact_no }}</td>
                                    </tr>
                                    <tr>
                                        <td>"Contractor /Sub-contractor"</td><td>{{ vehicle.contractor }}</td>
                                    </tr>
                                    <tr>
                                        <td>Parking Space No.</td><td>{{ vehicle.parking_space_no }}</td>
                                    </tr>
                                    <tr>
                                        <td>Vehicle Registration No.</td><td>{{ vehicle.vehicle_registration_no }}</td>
                                    </tr>
                                    <tr>
                                        <td>"Emirates of Registration"</td> <td>{{ vehicle.emirates_of_registration }}</td>
                                    </tr>
                                    <tr>
                                        <td>Vehicle Brand and model</td><td>{{ vehicle.vehicle_brand_and_model }}</td>
                                    </tr>
                                    <tr>
                                        <td>Unit No.</td><td>{{ vehicle.unit_no }}</td>
                                    </tr>
                                    <tr>
                                        <td>Validity</td>
                                        <td>{{ vehicle.validity }}</td>
                                    </tr>
                                    <tr>
                                        <td>Parking Floor</td> <td>{{ vehicle.parking_floor }}</td>
                                    </tr>

                                </div>
                            </table>

                        </el-col>
                    </el-row>


                </el-dialog>


            </el-tab-pane>
        </el-tabs>

    </div>

</template>

<script>
    import FomFillUpFormResource from '@/api/fill-up-form';
    const fomFillUpFormResource = new FomFillUpFormResource('vehicleParkingRegister');
    import BackendErrors from '@/mixins/backend-errors';
    import checkRole from '@/utils/role';

    export default {
        name: "vehicle-parking-registration-and-permit",
        mixins:[BackendErrors],
        props:['task'],
        data() {
            return {
                form:{
                    vehicles:[
                        {
                            name:'',
                            contact_no:'',
                            contractor:'',
                            parking_space_no:'',
                            vehicle_registration_no:'',
                            emirates_of_registration:'',
                            vehicle_brand_and_model:'',
                            unit_no:'',
                            validity:'',
                            parking_floor:'',
                        }
                    ],
                    task_id:this.task.id,
                },
                submitingRequest:false,
                detailVisible:false,
                list:[],
                rowDetail:{
                    vehicles:[
                        {
                            name:'',
                            contact_no:'',
                            contractor:'',
                            parking_space_no:'',
                            vehicle_registration_no:'',
                            emirates_of_registration:'',
                            vehicle_brand_and_model:'',
                            unit_no:'',
                            validity:'',
                            parking_floor:'',
                        }
                    ],
                    task_id:this.task.id,
                },
                status:''
            }
        },
        created(){
            this.getList();
        },
        methods:{
            checkRole,
            addVehicle(){
                this.form.vehicles.push({
                    name:'',
                    contact_no:'',
                    contractor:'',
                    parking_space_no:'',
                    vehicle_registration_no:'',
                    emirates_of_registration:'',
                    vehicle_brand_and_model:'',
                    unit_no:'',
                    validity:'',
                    parking_floor:'',
                })
            },
            getList(){
                fomFillUpFormResource.listByTask(this.task.id)
                    .then(response => {
                        this.list = response.data;

                    }).catch(error => {
                })
            },
            submitForm(){
                this.submitingRequest = true;
                fomFillUpFormResource.store(this.form)
                    .then(response => {
                        this.list.push(response.data);
                        this.resetForm();
                        this.clear()
                        this.$message({
                            message: `Congrats, request submit successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch(error => {
                    this.record(error)
                }).finally(()=>{
                    this.submitingRequest = false;
                })
            },
            closeForm(){
                this.resetForm();
                this.$emit('close');
            },
            resetForm(){
                this.form = {
                    t_name_of_tenant:'',
                    t_shop_unit_no:'',
                    t_doc_ref_no:'',
                    t_file_no:'',
                    t_unit:'',
                    c_contact_person:'',
                    c_office_tel_no:'',
                    c_title_position:'',
                    c_mobile_no:'',
                    c_address:'',
                    c_email:'',
                    f_contact_person:'',
                    f_office_tel_no:'',
                    f_title_position:'',
                    f_mobile_no:'',
                    question_1:'',
                    question_1_remarks:'',
                    question_2:'',
                    question_2_remarks:'',
                    question_3:'',
                    question_3_remarks:'',
                    question_4:'',
                    question_4_remarks:'',
                    question_5:'',
                    question_5_remarks:'',
                    question_6:'',
                    question_6_remarks:'',
                    question_7:'',
                    question_7_remarks:'',
                    question_8:'',
                    question_8_remarks:'',
                    question_9:'',
                    question_9_remarks:'',
                    question_10:'',
                    question_10_remarks:'',
                    question_11:'',
                    question_11_remarks:'',
                    question_12:'',
                    question_12_remarks:'',
                    question_13:'',
                    question_13_remarks:'',
                    question_14:'',
                    question_14_remarks:'',
                    question_15:'',
                    question_15_remarks:'',
                    question_16:'',
                    question_16_remarks:'',
                    question_17:'',
                    question_17_remarks:'',
                    question_18:'',
                    question_18_remarks:'',
                    question_19:'',
                    question_19_remarks:'',
                    question_20:'',
                    question_20_remarks:'',
                    question_21:'',
                    question_21_remarks:'',
                    task_id:this.task.id,
                };
            },
            viewForm(row){
                this.detailVisible = true;
                this.rowDetail=row;
                this.status=this.rowDetail.status;
                console.log(row);
            },
            updateStatus(id){

                this.$prompt('Please input comment', 'Comment', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                }).then(({ value }) => {
                    fomFillUpFormResource.updateStatus(id,{
                        status: this.status,
                        comment:value
                    }).then(response => {
                        this.getList();
                        this.$message({
                            message: `Congrats, status updated successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch((error) => {
                        console.log(error);
                    });
                }).catch((error) => {
                    this.status=this.rowDetail.status;
                    console.log(error);
                });

            }
        }
    }
</script>

<style scoped>
    .sub-con-plus , .sub-con-plus:hover , .sub-con-plus:focus , .sub-con-plus:visited {
        color: #FFF;
        background: #13ce66 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #13ce66 !important;
        margin-top: 25px;
        width: 100%;
    }

    .sub-con-del , .sub-con-del:hover , .sub-con-del:focus , .sub-con-del:visited {
        color: #FFF;
        background: #f15151 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #f15151 !important;
        margin-top: 25px;
        width: 100%;
    }

    .btn-red {
        background: #9e0d21;
    }

    .btn-red:hover, .btn-red:active , .btn-red:focus {
        background: #880a1b !important;
        color: #fff;
        outline: none;
        box-shadow: none;
    }

    .st-drwwer .btn-cancel , .st-drwwer .btn-red {
        padding: 12px 25px;
        margin-top: 0;
        border: 1px solid #9e0d21 !important;
    }
</style>
