<template>
    <div >
        <el-tabs class="st-drwwer-tabs">
            <el-tab-pane label="Request New">
                <el-form :inline="true" class="form-container">
                    <el-row :gutter="20">

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Date and Time">
                                <el-date-picker type="datetime" placeholder="Date and Time" v-model="form.date_and_time"/>
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Company Information</h3>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Company">
                                <el-input placeholder="Company" v-model="form.co_company"/>
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Address">
                                <el-input placeholder="Address" v-model="form.co_address"/>
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Contact Information</h3>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Primary Contact Name">
                                <el-input placeholder="Primary Contact Name" v-model="form.c_primary_contact_name"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Title">
                                <el-input placeholder="Title" v-model="form.c_title"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Address">
                                <el-input placeholder="Address" v-model="form.c_address"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="City">
                                <el-input placeholder="City" v-model="form.c_city"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Contact Number">
                                <el-input placeholder="Contact Number" v-model="form.c_contact_number"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Email">
                                <el-input placeholder="Email" v-model="form.c_email"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <h3>Describe Waste/Recycling</h3>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Generated From">
                                <el-input placeholder="Generated From" v-model="form.w_generated_from"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="By Whom">
                                <el-input placeholder="By Whom" v-model="form.w_by_whom"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Describe Material">
                                <el-input type="textarea" placeholder="Describe Material" v-model="form.w_describe_material"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Quantity: (kg, l, m³ )">
                                <el-input placeholder="Quantity: (kg, l, m³ )" v-model="form.w_quantity"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="How is it stored?  e.g. bags, drums, etc." label-width="280px">
                                <el-input placeholder="How is it stored?  e.g. bags, drums, etc." v-model="form.w_how_stored"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Disposal Method">
                                <el-radio-group v-model="form.w_disposal_method">
                                    <el-radio v-for="method in disposalmetodsOptions" :label="method" :key="method">{{ method }}</el-radio>
                                </el-radio-group>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Disposal Location: Provide Disposal Site Name - Landfill Name/Person Name and Location" label-width="650px">
                                <el-input  v-model="form.w_disposal_location" type="textarea" placeholder="Disposal Location: Provide Disposal Site Name - Landfill Name/Person Name and Location"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item label="Comments (If any)">
                                <el-input type="textarea" placeholder="Comments (If any)"  v-model="form.w_comments"/>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <div class="custom-alert my-side-notes">
                                <ol>
                                    <li>Each pass is valid for one time exit and valid for one day only.</li>
                                    <li>Hard copy must be presented to Security in charge.</li>
                                    <li>Permit must be signed and stamped by site supervisor as no objection to exit these material from building.</li>
                                    <li>Main contractor take full responsibility of any risk of causing damage on the building properties and its consequence (payment and/or rectification of its full value).</li>
                                </ol>
                            </div>
                        </el-col>
                    </el-row>
                </el-form>

                <el-button class="btn btn-cancel" @click="closeForm">Cancel</el-button>
                <el-button class="btn btn-red" :disabled="submitingRequest"  @click="submitForm">Confirm</el-button>

            </el-tab-pane>

            <el-tab-pane label="Requests List">

                <div class="req-list-item" v-for="(item,index) in list" :key="item.id">
                    <el-row>
                        <el-col :xs="24" :sm="1" :md="1" :lg="1" :xl="1">
                            <label>No</label>
                            <span>{{index+1}}</span>
                        </el-col>
                        <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">

                        </el-col>
                        <el-col :xs="24" :sm="5" :md="5" :lg="5" :xl="5">
                            <label>Status</label>
                            <span class="el-tag el-tag--success" v-if="item.status === 'Approved'">Approved</span>
                            <span class="el-tag el-tag--danger" v-else-if="item.status === 'Rejected'">Rejected</span>
                            <span class="el-tag el-tag--warning" v-else>Pending</span>
                        </el-col>
                        <el-col :xs="24" :sm="7" :md="7" :lg="7" :xl="7">
                            <label>Requested At</label>
                            <span>{{ item.created_at|time('llll') }}</span>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"><hr></el-col>
                        <el-col :xs="24" :sm="18" :md="18" :lg="18" :xl="18">
                            <label>Comments</label>
                            <span>{{ item.comment }}</span>
                        </el-col>

                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                            <label>Action</label>
                            <span>
                      <a size="small" class="btn btn-primary" type="primary" href="javascript:;" @click="viewForm(item)">View</a>
                      <a size="small" class="btn btn-success" type="success" download  :href="item.download_url">Download</a>
                   </span>
                        </el-col>


                    </el-row>
                </div>

                <el-dialog class="req-popup"
                           width="50%"
                           title="Waste Disposal/Recycling Form Form Details"
                           :visible.sync="detailVisible"
                           append-to-body>




                    <el-row :gutter="25">
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">

                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                                <tr>
                                    <td>Date and Time</td>
                                    <td>{{ rowDetail.date_and_time }}</td>
                                </tr>
                                <tr>
                                    <td>Permit No</td>
                                    <td>{{ rowDetail.permit_no }}</td>
                                </tr>
                                <tr>
                                    <td>Company</td>
                                    <td>{{ rowDetail.co_company }}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>{{ rowDetail.co_address }}</td>
                                </tr>
                                <tr>
                                    <td>Primary Contact Name</td>
                                    <td>{{ rowDetail.c_primary_contact_name }}</td>
                                </tr>
                                <tr>
                                    <td>Title</td>
                                    <td>{{ rowDetail.c_title }}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>{{ rowDetail.c_address }}</td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td>{{ rowDetail.c_city }}</td>
                                </tr>
                                <tr>
                                    <td>Contact Number</td>
                                    <td>{{ rowDetail.c_contact_number }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{ rowDetail.c_email }}</td>
                                </tr>
                            </table>

                            <table class="req-list-table" style="border-collapse: collapse;" width="100%">
                                <tr>
                                    <th colspan="2"><b>DESCRIBE WASTE/RECYCLING</b></th>
                                </tr>
                                <tr>
                                    <td>Generated From</td>
                                    <td>{{ rowDetail.w_generated_from }}</td>
                                </tr>
                                <tr>
                                    <td>By Whom</td>
                                    <td>{{ rowDetail.w_by_whom }}</td>
                                </tr>
                                <tr>
                                    <td>Describe Material</td>
                                    <td>{{ rowDetail.w_describe_material }}</td>
                                </tr>
                                <tr>
                                    <td>Quantity: (kg, l, m³ )</td>
                                    <td>{{ rowDetail.w_quantity }}</td>
                                </tr>
                                <tr>
                                    <td>How is it stored?</td>
                                    <td>{{ rowDetail.w_how_stored }}</td>
                                </tr>
                                <tr>
                                    <td>Disposal Method</td>
                                    <td>{{ rowDetail.w_disposal_method }}</td>
                                </tr>
                                <tr>
                                    <td>Disposal Location</td>
                                    <td>{{ rowDetail.w_disposal_location }}</td>
                                </tr>
                                <tr>
                                    <td>Comments</td>
                                    <td>{{ rowDetail.w_comments }}</td>
                                </tr>

                            </table>
                            <el-divider>Approval Section</el-divider>

                            <el-form class="req-list-form" label-position="top" :inline="true">
                                <el-form-item label="Status" v-if="checkRole(['admin','fom manager'])">
                                    <el-select @change="updateStatus(rowDetail.id)" v-model="status" placeholder="Please select a status">
                                        <el-option label="Approved" value="Approved"/>
                                        <el-option label="Rejected" value="Rejected"/>
                                        <el-option label="Pending" value="Pending"/>
                                    </el-select>
                                </el-form-item>
                            </el-form>

                        </el-col>
                    </el-row>
                </el-dialog>

            </el-tab-pane>
        </el-tabs>

    </div>
</template>

<script>

    import FomFillUpFormResource from '@/api/fill-up-form';
    const fomFillUpFormResource = new FomFillUpFormResource('wasteDisposalPermit');
    import BackendErrors from '@/mixins/backend-errors';

    const disposalmetodsOptions = ['Disposed As Waste', 'Recycled', 'Re-Used'];
    import checkRole from '@/utils/role';

    export default {
        name: "waste-disposal-permit",
        mixins:[BackendErrors],
        props:['task'],
        data() {
            return {
                submitingRequest:false,
                detailVisible:false,
                disposalmetodsOptions,
                form:{
                    date_and_time:'',
                    permit_no:'',
                    co_company:'',
                    co_address:'',
                    c_primary_contact_name:'',
                    c_title:'',
                    c_address:'',
                    c_city:'',
                    c_contact_number:'',
                    c_email:'',
                    w_generated_from:'',
                    w_by_whom:'',
                    w_describe_material:'',
                    w_quantity:'',
                    w_how_stored:'',
                    w_disposal_method:'',
                    w_disposal_location:'',
                    w_comments:'',
                    task_id:this.task.id
                },
                list:[],
                rowDetail:{
                    date_and_time:'',
                    permit_no:'',
                    co_company:'',
                    co_address:'',
                    c_primary_contact_name:'',
                    c_title:'',
                    c_address:'',
                    c_city:'',
                    c_contact_number:'',
                    c_email:'',
                    w_generated_from:'',
                    w_by_whom:'',
                    w_describe_material:'',
                    w_quantity:'',
                    w_how_stored:'',
                    w_disposal_method:'',
                    w_disposal_location:'',
                    w_comments:'',
                    task_id:this.task.id
                },
                status:''
            }
        },
        created(){
            this.getList();
        },
        methods:{
            checkRole,
            getList(){
                fomFillUpFormResource.listByTask(this.task.id)
                    .then(response => {
                        this.list = response.data;
                    }).catch(error => {
                })
            },
            submitForm(){
                this.submitingRequest = true;
                fomFillUpFormResource.store(this.form)
                    .then(response => {
                        this.list.push(response.data);
                        this.resetForm();
                        this.clear();
                        this.$message({
                            message: `Congrats, report submit successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch(error => {
                    this.record(error)
                }).finally(()=>{
                    this.submitingRequest = false;
                })
            },
            closeForm(){
                this.resetForm();
                this.$emit('close');
            },
            resetForm(){
                this.form = {
                    date_and_time:'',
                    permit_no:'',
                    co_company:'',
                    co_address:'',
                    c_primary_contact_name:'',
                    c_title:'',
                    c_address:'',
                    c_city:'',
                    c_contact_number:'',
                    c_email:'',
                    w_generated_from:'',
                    w_by_whom:'',
                    w_describe_material:'',
                    w_quantity:'',
                    w_how_stored:'',
                    w_disposal_method:'',
                    w_disposal_location:'',
                    w_comments:'',
                    task_id:this.task.id
                };
            },
            viewForm(row){
                this.detailVisible = true;
                this.rowDetail=row;
                this.status=this.rowDetail.status;
                console.log(row);
            },
            updateStatus(id){

                this.$prompt('Please input comment', 'Comment', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                }).then(({ value }) => {
                    fomFillUpFormResource.updateStatus(id,{
                        status: this.status,
                        comment:value
                    }).then(response => {
                        this.getList();
                        this.$message({
                            message: `Congrats, status updated successfully.`,
                            type: 'success' ,
                            duration: 5 * 1000,
                        });
                    }).catch((error) => {
                        console.log(error);
                    });
                }).catch((error) => {
                    this.status=this.rowDetail.status;
                    console.log(error);
                });

            }
        }
    }
</script>

<style scoped>
    .custom-alert{
        background-color: #f4f4f5;
        color: #909399;
        padding: 8px 25px;

        border-radius: 4px;
        position: relative;
        overflow: hidden;
        opacity: 1;
        display: flex;
        align-items: center;
        transition: opacity .2s;
        word-break: normal;
    }

    .sub-con-plus , .sub-con-plus:hover , .sub-con-plus:focus , .sub-con-plus:visited {
        color: #FFF;
        background: #13ce66 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #13ce66 !important;
        margin-top: 25px;
        width: 100%;
    }

    .sub-con-del , .sub-con-del:hover , .sub-con-del:focus , .sub-con-del:visited {
        color: #FFF;
        background: #f15151 !important;
        padding: 10px 10px;
        font-size: 13px !important;
        letter-spacing: .5px !important;
        font-weight: normal !important;
        border-color: #f15151 !important;
        margin-top: 25px;
        width: 100%;
    }

    .btn-red {
        background: #9e0d21;
    }

    .btn-red:hover, .btn-red:active , .btn-red:focus {
        background: #880a1b !important;
        color: #fff;
        outline: none;
        box-shadow: none;
    }

    .st-drwwer .btn-cancel , .st-drwwer .btn-red {
        padding: 12px 25px;
        margin-top: 0;
        border: 1px solid #9e0d21 !important;
    }
</style>
