<template>
    <div class="app-container">
        <div class="filter-container">
            <el-input v-model="query.keyword" clearable @clear="handleFilter" :placeholder="$t('table.keyword')" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
            <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter" style="max-width: 150px">
                {{ $t('table.search') }}
            </el-button>
            <el-button class="filter-item" style="margin-left: 10px;max-width: 150px" type="primary" icon="el-icon-plus" @click="handleCreate">
                {{ $t('table.add') }}
            </el-button>

        </div>

        <el-table v-loading="loading" :data="list" border fit highlight-current-row style="width: 100%">
            <el-table-column align="center" label="ID" width="80">
                <template slot-scope="scope">
                    <span>{{ scope.row.index }}</span>
                </template>
            </el-table-column>
            <el-table-column align="center" label="Full Name">
                <template slot-scope="scope">
                    <span>{{ scope.row.fullname }}</span>
                </template>
            </el-table-column>
            <!--<el-table-column align="center" label="Last Name">
                <template slot-scope="scope">
                    <span>{{ scope.row.lastname }}</span>
                </template>
            </el-table-column>-->
            <!--<el-table-column align="center" label="Email">
                <template slot-scope="scope">
                    <span>{{ scope.row.email }}</span>
                </template>
            </el-table-column>
            <el-table-column align="center" label="Area">
                <template slot-scope="scope">
                    <span>{{ scope.row.area.name }}</span>
                </template>
            </el-table-column>
            <el-table-column align="center" label="Type">
                <template slot-scope="scope">
                    <span>{{ scope.row.type.title }}</span>
                </template>
            </el-table-column>-->
            <el-table-column align="center" label="Actions" width="100">
                <template slot-scope="scope">
                    <el-button type="primary" size="small" icon="el-icon-edit" @click="handleEdit(scope.row);">
                        Edit
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.limit" @pagination="getList" />

        <el-dialog :title="'Create new client'" :visible.sync="dialogFormVisible" width="700px">
            <div class="form-container" v-loading="clientCreating">

                <el-form ref="userForm" :model="newClient" label-position="left" label-width="150px">

                    <el-form-item label="Full name" :error="get('fullname')">
                        <el-input v-model="newClient.fullname" />
                    </el-form-item>

                </el-form>

                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">
                        {{ $t('table.cancel') }}
                    </el-button>
                    <el-button type="primary" @click="createClient()">
                        {{ $t('table.confirm') }}
                    </el-button>
                </div>
            </div>
        </el-dialog>


        <el-dialog :title="'Edit client'" :visible.sync="dialogEditFormVisible"  width="700px">
            <div class="form-container" v-loading="clientEditing">
                <el-form :model="editClient" label-position="left" label-width="150px">
                    <!--<el-form-item label="Type" :error="get('client_type')">
                        <el-select v-model="editClient.client_type" class="filter-item" placeholder="Please select type">
                            <el-option v-for="item in typeList" :key="item.id"  :label="item.title" :value="item.id" />
                        </el-select>
                    </el-form-item>-->

                    <!--<el-form-item label="Select Area" :error="get('area')">
                        <el-select v-model="editClient.area" placeholder="Select Area" filterable style="width: 100%;">
                            <el-option-group
                                v-for="country in countryList"
                                :key="country.id"
                                :label="country.name">
                                <el-option
                                    v-for="area in country.areas"
                                    :key="area.id"
                                    :label="area.name"
                                    :value="area.id">
                                    <span style="float: left">{{ area.name }}</span>
                                    <span style="float: right; color: #8492a6; font-size: 13px">{{ area.province.name }}</span>
                                </el-option>
                            </el-option-group>
                        </el-select>
                    </el-form-item>-->

                    <el-form-item label="Full Name" :error="get('fullname')">
                        <el-input v-model="editClient.fullname" />
                    </el-form-item>
                    <!--<el-form-item label="Last Name" :error="get('lastname')">
                        <el-input v-model="editClient.lastname" />
                    </el-form-item>
                    <el-form-item :label="$t('user.email')" :error="get('email')">
                        <el-input v-model="editClient.email" />
                    </el-form-item>
                    <el-form-item :label="$t('user.password')" :error="get('password')">
                        <el-input v-model="editClient.password" show-password />
                    </el-form-item>
                    <el-form-item :label="$t('user.confirmPassword')" :error="get('password_confirmation')">
                        <el-input v-model="editClient.password_confirmation" show-password />
                    </el-form-item>-->
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogEditFormVisible = false">
                        {{ $t('table.cancel') }}
                    </el-button>
                    <el-button type="primary" @click="editResource()">
                        {{ $t('table.confirm') }}
                    </el-button>
                </div>
            </div>
        </el-dialog>

    </div>
</template>

<script>
    import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
    import ClientResource from '@/api/resource';
//    import CountryResource from '@/api/country';
    import BackendErrors from '@/mixins/backend-errors';
    import waves from '@/directive/waves'; // Waves directive
    import permission from '@/directive/permission'; // Waves directive

    const clientResource = new ClientResource('clients');
//    const countryResource = new CountryResource();

    export default {
        name: 'ClientList',
        components: { Pagination },
        directives: { waves, permission },
        mixins:[BackendErrors],
        data() {
            return {
                list: null,
                total: 0,
                loading: true,
                query: {
                    page: 1,
                    limit: 10,
                    keyword: '',
                },
                currentUserId: 0,
                clientCreating:false,
                clientEditing:false,
                currentUser: {
                    name: '',
                    permissions: [],
                    rolePermissions: [],
                },
                dialogFormVisible:false,
                dialogEditFormVisible:false,
                newClient:{},
                editClient:{},
            };
        },
        created() {
            this.getList();
        },
        methods: {
            createClient() {
                this.clientCreating = true;
                clientResource
                    .store(this.newClient)
                    .then(response => {
                        this.$message({
                            message: 'New client has been created successfully.',
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.resetNewClient();
                        this.dialogFormVisible = false;
                        this.getList();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.clientCreating = false;
                    });
            },
            editResource() {
                this.clientEditing = true;
                clientResource
                    .update(this.editClient.id,this.editClient)
                    .then(response => {
                        this.$message({
                            message: 'Client has been updated successfully.',
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.dialogEditFormVisible = false;
                        this.clear();
                        this.getList();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.clientEditing = false;
                    });
            },
            handleCreate() {
                this.resetNewClient();
                this.dialogFormVisible = true;
            },
            handleEdit(row) {
                this.resetEditClient(row);
                this.dialogEditFormVisible = true;
            },
            resetNewClient() {
                this.newClient = {
                    fullname:'',
                };
            },
            resetEditClient(row) {
                this.editClient = {
                    id:row.id,
                    fullname:row.fullname,
                };
            },

            async getList() {
                const { limit, page } = this.query;
                this.loading = true;
                const { data, meta } = await clientResource.list(this.query);
                this.list = data;
                this.list.forEach((element, index) => {
                    element['index'] = (page - 1) * limit + index + 1;
                });
                this.total = meta.total;
                this.loading = false;
            },
            handleFilter() {
                this.query.page = 1;
                this.getList();
            },
        }
    };
</script>

<style lang="scss" scoped>
    .edit-input {
        padding-right: 100px;
    }
    .cancel-btn {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .dialog-footer {
        text-align: left;
        padding-top: 0;
        margin-left: 150px;
    }
    .app-container {
        flex: 1;
        justify-content: space-between;
        font-size: 14px;
        padding-right: 8px;
        .block {
            float: left;
            min-width: 250px;
        }
        .clear-left {
            clear: left;
        }
    }
</style>
