<template>
    <div class="app-container">

        <div class="page-head">
            <div class="container-fluid no-gutters" style="padding: 0;">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="buttons" style="text-align: left;">
                            <div class="filter-container">
                                <el-input v-model="query.keyword" clearable @clear="handleFilter" :placeholder="$t('table.keyword')" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
                                <el-button class="btn-blue btn" size="small" type="primary" icon="el-icon-search" @click="handleFilter" style="max-width: 150px;">
                                    {{ $t('table.search') }}
                                </el-button>
                                <el-button class="btn-red btn" style="margin-left: 10px;" type="primary" icon="el-icon-plus" @click="handleCreate">
                                    Create New
                                </el-button>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-5">

                        <h1 style="text-align: right;">Property Valuation Assignments</h1>
                        <div class="breadcurm" style="float: right;">
                            <el-breadcrumb separator="/">
                                <el-breadcrumb-item>Property Valuation</el-breadcrumb-item>
                                <el-breadcrumb-item :to="{ path: '/' }">Dashboard</el-breadcrumb-item>
                            </el-breadcrumb>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <el-table :cell-style="ColumnStyle" v-loading="loading" :data="list" class="pro-val-table" border fit highlight-current-row style="width: 100%">

            <el-table-column align="center" label="No" width="60">
                <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" :content="`${scope.row.id}`" >
                        <div @click="dialogStatusFormVisible = true">{{ scope.row.index }}</div>
                    </el-tooltip>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Title" width="250">
                <template slot-scope="scope">
                    <span>{{ scope.row.title }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Reference" >
                <template slot-scope="scope">
                    <span>{{ scope.row.ref_no }} ({{ scope.row.properties_count }})</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Due Date">
                <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" :content="scope.row.due_date_data.tooltip">
                        <el-tag :type="scope.row.due_date_data.type">{{ scope.row.due_date_data.text }}</el-tag>
                    </el-tooltip>
                </template>
            </el-table-column>

            <!--<el-table-column label="Status">
                <template slot-scope="{row}">
                    <template v-if="row.edit">
                        <el-select @change="statusChanged(row)" v-model="row.new_status" class="filter-item" placeholder="Please select type">
                            <el-option v-for="item in row.service.statuses" :key="item.id"  :label="item.title" :value="item.id" />
                        </el-select>
                    </template>
                    <span v-else @click="row.edit = true">
                        <el-tag effect="dark" :style="{'background-color':row.status.color}">{{ row.status.title }}</el-tag>
                        </span>
                </template>
            </el-table-column>-->

            <el-table-column label="Status">
                <template slot-scope="{row}">
                    <template v-if="row.edit">
                        <el-select @change="statusChanged(row)" v-model="row.new_status" class="filter-item" placeholder="Please Select Type">
                            <el-option label="New" value="New"/>
                            <el-option label="Assigned" value="Assigned"/>
                            <el-option label="Completed" value="Completed"/>
                            <el-option label="Finalized" value="Finalized"/>
                            <el-option label="Approved" value="Approved"/>
                        </el-select>
                    </template>
                    <span v-else @click="row.edit = true;row.new_status=row.status">
                       <el-tag effect="dark" :style="{'background-color':row.status_color}">{{ row.status }}</el-tag>
                    </span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Manager" >
                <template slot-scope="scope">
                    <span>{{ scope.row.manager.fullname }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Portfolio" >
                <template slot-scope="scope">
                    <span>{{ scope.row.is_portfolio ? 'Yes': 'No' }} </span>
                </template>
            </el-table-column>

            <!--<el-table-column align="center" label="Client">
                <template slot-scope="scope">
                    <span >{{ scope.row.contact.client.firstname }} {{ scope.row.contact.client.lastname }}</span>
                </template>
            </el-table-column>-->

            <!--<el-table-column align="center" label="Service">
                <template slot-scope="scope">
                    <span >{{ scope.row.service.title }}</span>
                </template>
            </el-table-column>-->

            <el-table-column align="center" label="Actions" width="150">
                <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" content="Edit Assignment">
                        <el-button type="primary" size="small" icon="el-icon-edit" @click="handleEdit(scope.row)"/>
                    </el-tooltip>
                    <el-tooltip class="item" effect="dark" content="View Properties">
                        <el-button type="success" size="small" icon="el-icon-view" @click="handleProperties(scope.row)"/>
                    </el-tooltip>
                </template>
            </el-table-column>
        </el-table>

        <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.limit" @pagination="getList" />

        <el-dialog :title="'Create New Assignment'" :visible.sync="dialogFormVisible" class="val-inc-popup valuation-lists" >
            <div class="form-container" v-loading="assignmentCreating">

                <el-form ref="userForm" :model="newAssignment" label-position="left">
                    <span slot="label"><!--<i class="el-icon-date"></i>--> Basic Details</span>

                    <el-row :gutter="20" align="top">
                        <el-col :xs="24" :sm="9" :md="9" :lg="9" :xl="9">
                            <el-form-item label="Title" :error="get('title')">
                                <el-input v-model="newAssignment.title" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                            <el-form-item label="Due Date" :error="get('due_date')">
                                <el-date-picker
                                        style="width:100%;"
                                        v-model="newAssignment.due_date"
                                        type="date"
                                        :picker-options="pickerOptions"
                                        value-format="yyyy-MM-dd"
                                        placeholder="Pick a Date">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="9" :md="9" :lg="9" :xl="9">
                            <select-resource
                                    v-model="newAssignment.manager"
                                    label="Valuation Manager"
                                    :error="get('manager')"
                                    resource-name="users"
                                    display="fullname"/>
                        </el-col>
                        <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10" style="margin-top: -1px;">
                            <!--<select-resource
                                    v-model="newAssignment.client_contact"
                                    :error="get('client_contact')"
                                    label="Client Contact"
                                    resource-name="client-contact-users"
                                    display="fullname"/>-->
                            <select-or-create-user
                                    v-model="newAssignment.client_contact"
                                    :error="get('client_contact')"
                                    label="Client Contact"
                                    resource-name="client-contact-users"
                                    display="fullname"
                                    :allow-create="true"
                                    create-title="Add new Client Contact"
                                    :default-roles="[10]"
                            />
                        </el-col>
                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                            <el-form-item label="Client Ref #" :error="get('client_ref')">
                                <el-input v-model="newAssignment.client_ref" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Report Language" :error="get('report_lang')">
                                <el-radio v-model="newAssignment.report_lang" label="en">English</el-radio>
                                <el-radio v-model="newAssignment.report_lang" label="ar">Arabic</el-radio>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Instruction Date" :error="get('instruction_date')">
                                <el-date-picker
                                        style="width:100%;"
                                        v-model="newAssignment.instruction_date"
                                        type="date"
                                        :picker-options="pickerOptions"
                                        value-format="yyyy-MM-dd"
                                        placeholder="Pick a Date">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Portfolio Report" :error="get('is_portfolio')">
                                <el-radio v-model="newAssignment.is_portfolio" :label="1">Yes</el-radio>
                                <el-radio v-model="newAssignment.is_portfolio" :label="0">No</el-radio>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <div v-if="newAssignment.is_portfolio" style="margin-bottom: 20px;">
                                <el-collapse class="val-pop-colapse">
                                    <el-collapse-item name="0" title="Portfolio Details">
                                        <el-row :gutter="20">
                                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                                <template slot="title">
                                                    <i class="header-icon el-icon-info" style="color: red;" v-show="hasAny(['hide_valuation','template_type','report_title','applicant_name'])"></i> &nbsp; Portfolio Details
                                                </template>
                                            </el-col>
                                            <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                                                <el-form-item label="Hide Valuation" :error="get('hide_valuation')">
                                                    <el-radio v-model="newAssignment.hide_valuation" :label="1">Yes</el-radio>
                                                    <el-radio v-model="newAssignment.hide_valuation" :label="0">No</el-radio>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="16" :md="16" :lg="16" :xl="16">
                                                <el-form-item label="Template type" :error="get('template_type')">
                                                    <el-radio v-model="newAssignment.template_type" label="normal">Normal</el-radio>
                                                    <el-radio v-model="newAssignment.template_type" label="minimal">Minimal</el-radio>
                                                    <el-radio v-model="newAssignment.template_type" label="multipage">Multi Page</el-radio>
                                                </el-form-item>

                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Report Title" :error="get('report_title')">
                                                    <el-input v-model="newAssignment.report_title" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Applicant Name" :error="get('applicant_name')">
                                                    <el-input v-model="newAssignment.applicant_name" />
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                    </el-collapse-item>
                                    <el-collapse-item name="1" title="Executive Summary">
                                        <el-row :gutter="20">
                                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                                <template slot="title">
                                                    <i class="header-icon el-icon-info" style="color: red;" v-show="hasAny(['introduction','brief_description','address','tenure_status','valuation_date','final_notes'])"/> &nbsp; Executive Summary
                                                </template>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Introduction" :error="get('introduction')">
                                                    <el-input autosize type="textarea" v-model="newAssignment.introduction" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Property (Brief Description)" :error="get('brief_description')">
                                                    <el-input autosize type="textarea" v-model="newAssignment.brief_description" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Address" :error="get('address')">
                                                    <el-input autosize type="textarea" v-model="newAssignment.address" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Tenure Status" :error="get('tenure_status')">
                                                    <el-input autosize type="textarea" v-model="newAssignment.tenure_status" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                                <el-form-item label="Valuation Date" :error="get('valuation_date')">
                                                    <el-date-picker
                                                            style="width:100%;"
                                                            v-model="newAssignment.valuation_date"
                                                            type="date"
                                                            placeholder="Pick a Date">
                                                    </el-date-picker>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                                <el-form-item label="Notes on Final Market Value" :error="get('final_notes')">
                                                    <el-input autosize type="textarea" v-model="newAssignment.final_notes" />
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                    </el-collapse-item>
                                    <el-collapse-item title="Introduction Page" name="2">
                                        <el-row :gutter="20">
                                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                                <template slot="title">
                                                    <i class="header-icon el-icon-info" style="color: red;" v-show="hasAny(['instruction','purpose','methodology','valuation_basis'])"/> &nbsp; Introduction Page
                                                </template>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Instruction" :error="get('instruction')">
                                                    <el-input autosize type="textarea" v-model="newAssignment.instruction" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Purpose of valuation" :error="get('purpose')">
                                                    <el-input autosize type="textarea" v-model="newAssignment.purpose" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Valuation Methodology" :error="get('methodology')">
                                                    <el-input autosize type="textarea" v-model="newAssignment.methodology" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Basis of valuation" :error="get('valuation_basis')">
                                                    <el-input autosize type="textarea" v-model="newAssignment.valuation_basis" />
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                    </el-collapse-item>
                                    <el-collapse-item title="Valuation Page" name="3">
                                        <el-row :gutter="20">
                                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                                <template slot="title">
                                                    <i class="header-icon el-icon-info" style="color: red;" v-show="hasAny(['forced_sale','is_page_signature','valuation_approach','valuation_calculation_summary','principal_risks'])"/> &nbsp; Valuation Page
                                                </template>
                                            </el-col>
                                            <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                                                <el-form-item label="Enable Forced sale" :error="get('forced_sale')">
                                                    <el-radio v-model="newAssignment.forced_sale" :label="1">Yes</el-radio>
                                                    <el-radio v-model="newAssignment.forced_sale" :label="0">No</el-radio>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="16" :md="16" :lg="16" :xl="16">
                                                <el-form-item label="Signature on every page" :error="get('is_page_signature')">
                                                    <el-radio v-model="newAssignment.is_page_signature" :label="1">Yes</el-radio>
                                                    <el-radio v-model="newAssignment.is_page_signature" :label="0">No</el-radio>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Valuation Approach" :error="get('valuation_approach')">
                                                    <el-input autosize type="textarea" v-model="newAssignment.valuation_approach" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Valuation Cal. Summary" :error="get('valuation_calculation_summary')">
                                                    <el-input autosize type="textarea" v-model="newAssignment.valuation_calculation_summary" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                                <el-form-item label="Principal Risks" :error="get('principal_risks')">
                                                    <el-input autosize type="textarea" v-model="newAssignment.principal_risks" />
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                    </el-collapse-item>
                                    <el-collapse-item title="Appendices" name="4">
                                        <template slot="title">
                                            <i class="header-icon el-icon-info" style="color: red;" v-show="hasAny(['general_market_commentary','general_market_commentary_2','special_assumptions_appendices_b'])"/> &nbsp; Appendices
                                        </template>

                                        <el-form-item label="General Market Commentary" :error="get('general_market_commentary')">
                                            <el-input autosize type="textarea" v-model="newAssignment.valuation_approach" />
                                        </el-form-item>
                                        <el-form-item label="General Market Commentary 2" :error="get('general_market_commentary_2')">
                                            <el-input autosize type="textarea" v-model="newAssignment.general_market_commentary_2" />
                                        </el-form-item>
                                        <el-form-item label="Special Assumptions (Appendices B)" :error="get('special_assumptions_appendices_b')">
                                            <el-input autosize type="textarea" v-model="newAssignment.special_assumptions_appendices_b" />
                                        </el-form-item>

                                    </el-collapse-item>
                                </el-collapse>
                            </div>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-button @click="dialogFormVisible = false">
                                {{ $t('table.cancel') }}
                            </el-button>
                            <el-button type="primary" @click="createAssignment()">
                                {{ $t('table.confirm') }}
                            </el-button>
                        </el-col>
                    </el-row>

                </el-form>


            </div>
        </el-dialog>

        <el-dialog :title="`Edit Assignment [${editAssignment.ref_no}]`" class="val-inc-popup valuation-lists" :visible.sync="dialogEditFormVisible">

            <div class="form-container" v-loading="assignmentEditing">
                <el-form :model="editAssignment" label-position="left">
                    <el-row :gutter="20" align="top">
                        <el-col :xs="24" :sm="9" :md="9" :lg="9" :xl="9">
                            <el-form-item label="Title" :error="get('title')">
                                <el-input v-model="editAssignment.title" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                            <el-form-item label="Due Date" :error="get('due_date')">
                                <el-date-picker
                                        style="width:100%;"
                                        v-model="editAssignment.due_date"
                                        type="date"
                                        :picker-options="pickerOptions"
                                        value-format="yyyy-MM-dd"
                                        placeholder="Pick a Date">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="9" :md="9" :lg="9" :xl="9">
                            <select-resource
                                    v-model="editAssignment.manager"
                                    label="Valuation Manager"
                                    :error="get('manager')"
                                    resource-name="users"
                                    display="fullname"/>
                        </el-col>
                        <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10" style="margin-top:-1px;">
                            <select-or-create-user
                                    v-model="editAssignment.client_contact"
                                    :error="get('client_contact')"
                                    label="Client Contact"
                                    resource-name="client-contact-users"
                                    display="fullname"
                                    :allow-create="true"
                                    create-title="Add new Client Contact"
                                    :default-roles="[10]"
                            />
                        </el-col>
                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                            <el-form-item label="Client Ref #" :error="get('client_ref')">
                                <el-input v-model="editAssignment.client_ref" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Report Language" :error="get('report_lang')">
                                <el-radio v-model="editAssignment.report_lang" label="en">English</el-radio>
                                <el-radio v-model="editAssignment.report_lang" label="ar">Arabic</el-radio>
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Instruction Date" :error="get('instruction_date')">
                                <el-date-picker
                                        style="width:100%;"
                                        v-model="editAssignment.instruction_date"
                                        type="date"
                                        :picker-options="pickerOptions"
                                        value-format="yyyy-MM-dd"
                                        placeholder="Pick a Date">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Portfolio Report" :error="get('is_portfolio')">
                                <el-radio v-model="editAssignment.is_portfolio" :label="1">Yes</el-radio>
                                <el-radio v-model="editAssignment.is_portfolio" :label="0">No</el-radio>
                            </el-form-item>
                        </el-col>


                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <div v-if="editAssignment.is_portfolio" style="margin-bottom: 20px;">
                                <el-collapse class="val-pop-colapse">
                                    <el-collapse-item name="0" title="Portfolio Details">
                                        <el-row :gutter="20">
                                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                                <template slot="title">
                                                    <i class="header-icon el-icon-info" style="color: red;" v-show="hasAny(['hide_valuation','template_type','report_title','applicant_name'])"></i> &nbsp; Portfolio Details
                                                </template>
                                            </el-col>
                                            <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                                                <el-form-item label="Hide Valuation" :error="get('hide_valuation')">
                                                    <el-radio v-model="editAssignment.hide_valuation" :label="1">Yes</el-radio>
                                                    <el-radio v-model="editAssignment.hide_valuation" :label="0">No</el-radio>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="16" :md="16" :lg="16" :xl="16">
                                                <el-form-item label="Template type" :error="get('template_type')">
                                                    <el-radio v-model="editAssignment.template_type" label="normal">Normal</el-radio>
                                                    <el-radio v-model="editAssignment.template_type" label="minimal">Minimal</el-radio>
                                                    <el-radio v-model="editAssignment.template_type" label="multipage">Multi Page</el-radio>
                                                </el-form-item>

                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Report Title" :error="get('report_title')">
                                                    <el-input v-model="editAssignment.report_title" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Applicant Name" :error="get('applicant_name')">
                                                    <el-input v-model="editAssignment.applicant_name" />
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                    </el-collapse-item>
                                    <el-collapse-item name="1" title="Executive Summary">
                                        <el-row :gutter="20">
                                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                                <template slot="title">
                                                    <i class="header-icon el-icon-info" style="color: red;" v-show="hasAny(['introduction','brief_description','address','tenure_status','valuation_date','final_notes'])"/> &nbsp; Executive Summary
                                                </template>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Introduction" :error="get('introduction')">
                                                    <el-input autosize type="textarea" v-model="editAssignment.introduction" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Property (Brief Description)" :error="get('brief_description')">
                                                    <el-input autosize type="textarea" v-model="editAssignment.brief_description" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Address" :error="get('address')">
                                                    <el-input autosize type="textarea" v-model="editAssignment.address" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Tenure Status" :error="get('tenure_status')">
                                                    <el-input autosize type="textarea" v-model="editAssignment.tenure_status" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                                <el-form-item label="Valuation Date" :error="get('valuation_date')">
                                                    <el-date-picker
                                                            style="width:100%;"
                                                            v-model="editAssignment.valuation_date"
                                                            type="date"
                                                            placeholder="Pick a Date">
                                                    </el-date-picker>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                                <el-form-item label="Notes on Final Market Value" :error="get('final_notes')">
                                                    <el-input autosize type="textarea" v-model="editAssignment.final_notes" />
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                    </el-collapse-item>
                                    <el-collapse-item title="Introduction Page" name="2">
                                        <el-row :gutter="20">
                                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                                <template slot="title">
                                                    <i class="header-icon el-icon-info" style="color: red;" v-show="hasAny(['instruction','purpose','methodology','valuation_basis'])"/> &nbsp; Introduction Page
                                                </template>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Instruction" :error="get('instruction')">
                                                    <el-input autosize type="textarea" v-model="editAssignment.instruction" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Purpose of valuation" :error="get('purpose')">
                                                    <el-input autosize type="textarea" v-model="editAssignment.purpose" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Valuation Methodology" :error="get('methodology')">
                                                    <el-input autosize type="textarea" v-model="editAssignment.methodology" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Basis of valuation" :error="get('valuation_basis')">
                                                    <el-input autosize type="textarea" v-model="editAssignment.valuation_basis" />
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                    </el-collapse-item>
                                    <el-collapse-item title="Valuation Page" name="3">
                                        <el-row :gutter="20">
                                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                                <template slot="title">
                                                    <i class="header-icon el-icon-info" style="color: red;" v-show="hasAny(['forced_sale','is_page_signature','valuation_approach','valuation_calculation_summary','principal_risks'])"/> &nbsp; Valuation Page
                                                </template>
                                            </el-col>
                                            <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                                                <el-form-item label="Enable Forced sale" :error="get('forced_sale')">
                                                    <el-radio v-model="editAssignment.forced_sale" :label="1">Yes</el-radio>
                                                    <el-radio v-model="editAssignment.forced_sale" :label="0">No</el-radio>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="16" :md="16" :lg="16" :xl="16">
                                                <el-form-item label="Signature on every page" :error="get('is_page_signature')">
                                                    <el-radio v-model="editAssignment.is_page_signature" :label="1">Yes</el-radio>
                                                    <el-radio v-model="editAssignment.is_page_signature" :label="0">No</el-radio>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Valuation Approach" :error="get('valuation_approach')">
                                                    <el-input autosize type="textarea" v-model="editAssignment.valuation_approach" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                                                <el-form-item label="Valuation Cal. Summary" :error="get('valuation_calculation_summary')">
                                                    <el-input autosize type="textarea" v-model="editAssignment.valuation_calculation_summary" />
                                                </el-form-item>
                                            </el-col>
                                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                                                <el-form-item label="Principal Risks" :error="get('principal_risks')">
                                                    <el-input autosize type="textarea" v-model="editAssignment.principal_risks" />
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                    </el-collapse-item>
                                    <el-collapse-item title="Appendices" name="4">
                                        <template slot="title">
                                            <i class="header-icon el-icon-info" style="color: red;" v-show="hasAny(['general_market_commentary','general_market_commentary_2','special_assumptions_appendices_b'])"/> &nbsp; Appendices
                                        </template>

                                        <el-form-item label="General Market Commentary" :error="get('general_market_commentary')">
                                            <el-input autosize type="textarea" v-model="editAssignment.general_market_commentary" />
                                        </el-form-item>
                                        <el-form-item label="General Market Commentary 2" :error="get('general_market_commentary_2')">
                                            <el-input autosize type="textarea" v-model="editAssignment.general_market_commentary_2" />
                                        </el-form-item>
                                        <el-form-item label="Special Assumptions (Appendices B)" :error="get('special_assumptions_appendices_b')">
                                            <el-input autosize type="textarea" v-model="editAssignment.special_assumptions_appendices_b" />
                                        </el-form-item>

                                    </el-collapse-item>
                                </el-collapse>
                            </div>
                        </el-col>
                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-button @click="dialogEditFormVisible = false">
                                {{ $t('table.cancel') }}
                            </el-button>
                            <el-button type="primary" @click="editResource()">
                                {{ $t('table.confirm') }}
                            </el-button>
                        </el-col>
                    </el-row>
                </el-form>


            </div>

        </el-dialog>

    </div>
</template>

<script>
    import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
    import SelectResource from '@/components/SelectResource'; // Secondary package based on el-pagination
    import SelectOrCreateUser from '@/components/SelectOrCreateUser'; // Secondary package based on el-pagination
    import UserResource from '@/api/user';
    import ServiceResource from '@/api/service';
    import ClientResource from '@/api/client';
    // import AssignmentResource from '@/api/assignment';
    import Resource from '@/api/resource';
    import CountryResource from '@/api/country';
    import BackendErrors from '@/mixins/backend-errors';
    import waves from '@/directive/waves'; // Waves directive
    import permission from '@/directive/permission'; // Waves directive

    import moment from 'moment';

    // const assignmentResource = new AssignmentResource();
    const userResource = new UserResource();
    const clientResource = new ClientResource();
    const serviceResource = new ServiceResource();
    const countryResource = new CountryResource();
    const assignmentResource = new Resource('assignments');

    export default {
        name: 'AssignmentList',
        components: { Pagination, SelectResource, SelectOrCreateUser },
        directives: { waves, permission },
        mixins:[BackendErrors],
        data() {
            return {
                list: null,
                activeTab: 'info',
                activeSubTab: 'summary',
                total: 0,
                loading: true,
                query: {
                    page: 1,
                    limit: 10,
                    service: 2,
                    keyword: '',
                },
                currentUserId: 0,
                assignmentCreating:false,
                assignmentEditing:false,
                currentUser: {
                    name: '',
                    permissions: [],
                    rolePermissions: [],
                },
                dialogFormVisible:false,
                dialogEditFormVisible:false,
                dialogStatusFormVisible:false,
                newAssignment:{},
                editAssignment:{},
                pickerOptions: {
                    shortcuts: [{
                        text: 'Today',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    }, {
                        text: 'Tomorrow',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '2 days',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + ((3600 * 1000 * 24) * 2));
                            picker.$emit('pick', date);
                        }
                    },  {
                        text: '3 days',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + ((3600 * 1000 * 24) * 3));
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: 'A week after',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + ((3600 * 1000 * 24) * 7));
                            picker.$emit('pick', date);
                        }
                    },
                    ]
                }
            };
        },
        created() {
            this.getList();
            // this.getUserList();
            // this.getClientList();
            // this.getTypeList();
            // this.getServiceList();
        },
        methods: {
            ColumnStyle({row, column, rowIndex, columnIndex}){
                /*if((columnIndex == 0)){
                    return {
                        "backgroundColor":row.status.color,
                        'color':'white'
                    };
                }*/
            },
            createAssignment() {
                this.assignmentCreating = true;
                this.newAssignment.due_date = moment(this.newAssignment.due_date).format();
                assignmentResource
                    .store(this.newAssignment)
                    .then(response => {
                        this.$message({
                            message: `New assignment ${this.newAssignment.title} has been created successfully.`,
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.resetNewAssignment();
                        this.dialogFormVisible = false;
                        this.getList();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.assignmentCreating = false;
                    });
            },
            editResource() {
                this.assignmentEditing = true;
                assignmentResource
                    .update(this.editAssignment.id,this.editAssignment)
                    .then(response => {
                        this.$message({
                            message: `Assignment (${this.editAssignment.title}) has been updated successfully.`,
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.dialogEditFormVisible = false;
                        this.clear();
                        this.getList();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.assignmentEditing = false;
                    });
            },
            handleCreate() {
                this.resetNewAssignment();
                this.clear();
                this.dialogFormVisible = true;
            },
            statusChanged(row) {
                assignmentResource
                    .updateStatus(row.id,{status:row.new_status})
                    .then(response => {
                        this.getList();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                    });
            },
            statusChanged(row) {

                assignmentResource
                    .updateAttribute(row.id,{
                        status:row.new_status,
                    })
                    .then(response => {
                        this.getList();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })



            },
            handleEdit(row) {
                console.log('Edit Assignment');
                this.resetEditAssignment(row);
                this.dialogEditFormVisible = true;
            },
            handleProperties(row) {
                this.$router.push({name:'PropertyValuationPropertyList',params:{id:row.id}})
            },
            resetNewAssignment() {
                this.newAssignment = {
                    title : 'Residential Valuation Report',
                    manager : '',
                    due_date : '',
                    instruction_date : '',
                    service : 2,
                    client_ref : '',
                    report_lang : 'en',
                    client_contact : '',
                    client : '',
                    ref_no : '',
                    is_portfolio:0,
                    hide_valuation:1,
                    template_type:'normal',
                    report_title:'',
                    applicant_name:'',
                    introduction:'',
                    brief_description:'',
                    address:'',
                    purpose:'',
                    tenure_status:'',
                    valuation_date:'',
                    valuation_date_new:'',
                    final_notes:'',
                    instruction:'',
                    methodology:'',
                    valuation_basis:'',
                    forced_sale:0,
                    is_page_signature:0,
                    valuation_approach:'',
                    valuation_calculation_summary:'',
                    principal_risks:'',
                    general_market_commentary:'',
                    special_assumptions_appendices_b:'',
                    general_market_commentary_2:'',
                };
            },
            resetEditAssignment(row) {
                this.clear();
                this.editAssignment = {
                    id : row.id,
                    title : row.title,
                    manager : row.manager_id,
                    due_date : row.due_date,
                    instruction_date : row.instruction_date,
                    service : row.service_id,
                    client_ref : row.client_ref,
                    report_lang : row.report_lang,
                    client_contact : row.client_contact_id,
                    client : row.client_id,
                    ref_no : row.ref_no,
                    is_portfolio : row.is_portfolio,
                    hide_valuation : row.portfolio? row.portfolio.hide_valuation ?? 1 : 1,
                    template_type : row.portfolio? row.portfolio.template_type ?? 'normal' : 'normal',
                    report_title : row.portfolio? row.portfolio.report_title ?? '':'',
                    applicant_name : row.portfolio? row.portfolio.applicant_name ?? '':'',
                    introduction : row.portfolio? row.portfolio.introduction ?? '':'',
                    brief_description : row.portfolio? row.portfolio.brief_description ?? '':'',
                    address : row.portfolio? row.portfolio.address ?? '':'',
                    purpose : row.portfolio? row.portfolio.purpose ?? '':'',
                    tenure_status : row.portfolio? row.portfolio.tenure_status ?? '':'',
                    valuation_date : row.portfolio? row.portfolio.valuation_date ?? '':'',
                    final_notes : row.portfolio? row.portfolio.final_notes ?? '':'',
                    instruction : row.portfolio? row.portfolio.instruction ?? '':'',
                    methodology : row.portfolio? row.portfolio.methodology ?? '':'',
                    valuation_basis : row.portfolio? row.portfolio.valuation_basis ?? '':'',
                    forced_sale : row.portfolio? row.portfolio.forced_sale ?? '':'',
                    is_page_signature : row.portfolio? row.portfolio.is_page_signature ?? 0:0,
                    valuation_approach : row.portfolio? row.portfolio.valuation_approach ?? '':'',
                    valuation_calculation_summary : row.portfolio? row.portfolio.valuation_calculation_summary ?? '':'',
                    principal_risks : row.portfolio? row.portfolio.principal_risks ?? '':'',
                    general_market_commentary : row.portfolio? row.portfolio.general_market_commentary ?? '':'',
                    special_assumptions_appendices_b : row.portfolio? row.portfolio.special_assumptions_appendices_b ?? '':'',
                    general_market_commentary_2 : row.portfolio? row.portfolio.general_market_commentary_2 ?? '':'',
                };
            },
            async getList() {
                const { limit, page } = this.query;
                this.loading = true;
                const { data, meta } = await assignmentResource.list(this.query);
                this.list = data;
                this.list.forEach((element, index) => {
                    element['index'] = (page - 1) * limit + index + 1;
                });
                this.list = this.list.map(v => {
                    this.$set(v, 'edit', false); // https://vuejs.org/v2/guide/reactivity.html
                    this.$set(v, 'new_status', v.status_id);
                    return v
                })
                this.total = meta.total;
                this.loading = false;
            },
            async getTypeList() {
                const { data } = await clientResource.typeList();
                this.typeList = data;
            },
            async getServiceList() {
                const { data } = await serviceResource.listAll();
                this.serviceList = data;
            },
            async getUserList() {
                const { data } = await userResource.listAll();
                this.userList = data;
            },
            async getClientList() {
                const { data } = await clientResource.listAll();
                this.clientList = data;
            },
            async getCountryList() {
                const { data } = await countryResource.listAll();
                this.countryList = data;
            },
            handleFilter() {
                this.query.page = 1;
                this.getList();
            }
        }
    };

</script>

<style lang="scss" scoped>

    .edit-input {
        padding-right: 100px;
    }
    .cancel-btn {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .dialog-footer {
        text-align: left;
        padding-top: 0;
        margin-left: 150px;
    }
    .app-container {
        flex: 1;
        justify-content: space-between;
        font-size: 14px;
        padding-right: 8px;
        .block {
            float: left;
            min-width: 250px;
        }
        .clear-left {
            clear: left;
        }
    }
    .mt-60{
        margin-top: 60px;
    }

</style>
