<template>
    <div class="app-container">

        <div class="page-head">
            <div class="container-fluid no-gutters" style="padding: 0;">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="buttons" style="text-align: left;">
                            <div class="filter-container">
                                <el-input v-model="query.keyword" clearable @clear="handleFilter" :placeholder="$t('table.keyword')" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
                                <el-button v-waves class="btn-blue btn" type="primary" icon="el-icon-search" @click="handleFilter" style="max-width: 150px;">
                                    {{ $t('table.search') }}
                                </el-button>
                                <el-button class="btn-red btn" style="margin-left: 10px;max-width: 150px;" type="primary" icon="el-icon-plus" @click="handleCreate">
                                    Create New
                                </el-button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <h1 style="text-align: right;">Valuation Properties List</h1>
                        <div class="breadcurm" style="float: right;">
                            <el-breadcrumb separator="/">
                                <el-breadcrumb-item :to="{ path: '/' }">Dashboard</el-breadcrumb-item>
                                <el-breadcrumb-item :to="{ path: '/' }">Property Valuation</el-breadcrumb-item>
                                <el-breadcrumb-item>Valuation Properties List </el-breadcrumb-item>
                            </el-breadcrumb>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <el-table v-loading="loading" :data="list" class="pro-val-table" border fit highlight-current-row style="width: 100%">
            <el-table-column align="center" label="ID" width="70">
                <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" :content="`${scope.row.id}`" >
                        <span>{{ scope.row.index }}</span>
                    </el-tooltip>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Ref No.">
                <template slot-scope="scope">
                    <span>{{ scope.row.ref_number }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Name">
                <template slot-scope="scope">
                    <span>{{ scope.row.name }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Property Number" width="130">
                <template slot-scope="scope">
                    <span>{{ scope.row.property_number }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Community">
                <template slot-scope="scope">
                    <span v-if="scope.row.community">{{ scope.row.community.name }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Inspection Type" width="130">
                <template slot-scope="scope">
                    <span>{{ scope.row.type.title }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Inspector">
                <template slot-scope="scope">
                    <span v-if="scope.row.inspector">{{ scope.row.inspector.fullname }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Valuer">
                <template slot-scope="scope">
                    <span v-if="scope.row.valuer">{{ scope.row.valuer.fullname }}</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Template">
                <template slot-scope="scope">
                    <span>{{ scope.row.template.title }}</span>
                </template>
            </el-table-column>

            <!--<el-table-column align="center" label="Valuer" v-if="assignment.service_id === 2">
                <template slot-scope="scope">
                    <span v-if="scope.row.valuer">{{ `${scope.row.valuer.firstname} ${scope.row.valuer.lastname}` }}</span>
                </template>
            </el-table-column>-->

            <el-table-column align="center" label="Actions" width="150">
                <template slot-scope="{row}">
                    <el-tooltip class="item" effect="dark" content="Edit Property">
                        <el-button type="info" size="small" icon="el-icon-edit" @click="handleEdit(row)"/>
                    </el-tooltip>
                    <el-tooltip class="item" effect="dark" content="Inspection">
                        <el-button type="primary" size="small" icon="el-icon-s-order" @click="handleValuation(row)"/>
                    </el-tooltip>

                    <!--<el-tooltip v-show="assignment.service.code === 'BS'" class="item" effect="dark" :content="`Defects (${row.defects_count})`">
                        <el-button type="primary" size="small" icon="el-icon-wind-power" @click="handleDefects(row)"/>
                    </el-tooltip>-->

                </template>
            </el-table-column>

        </el-table>

        <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.limit" @pagination="getList" />

        <el-dialog :title="`Edit Property [${editProperty.name}]`" :visible.sync="dialogEditFormVisible" class="val-inc-popup valuation-lists" width="1050px">
            <div class="form-container" v-loading="propertyEditing">
                <el-form :model="editProperty">

                    <el-row  :gutter="20">
                        <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
                            <select-resource
                                    v-model="editProperty.template"
                                    :error="get('template')"
                                    label="Template"
                                    resource-name="property-valuations-templates"
                                    display="title"/>
                        </el-col>

                        <el-col :xs="24" :sm="7" :md="7" :lg="7" :xl="7">
                            <select-resource
                                    v-model="editProperty.inspection_type"
                                    label="Inspection Type"
                                    :error="get('inspector')"
                                    :options="{service:2}"
                                    resource-name="inspection-types"
                                    display="title"/>
                        </el-col>
                        <el-col :xs="24" :sm="7" :md="7" :lg="7" :xl="7">
                            <select-resource
                                    v-model="editProperty.property_type"
                                    label="Property Type"
                                    :error="get('property_type')"
                                    resource-name="properties-types"
                                    display="title"/>
                        </el-col>
                        <!--<el-col :xs="24" :sm="5" :md="5" :lg="5" :xl="5">
                            <el-form-item label="Instruction Date" :error="get('instruction_date')">
                                <el-date-picker
                                    style="width:100%;"
                                    v-model="editProperty.instruction_date"
                                    type="date"
                                    placeholder="Pick a Date"
                                    :picker-options="datePickerOptions">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>-->
                        <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
                            <select-resource style="margin-bottom: -2px;"
                                             v-model="editProperty.area"
                                             :error="get('area')"
                                             label="Community"
                                             resource-name="areas"
                                             display="display"/>
                        </el-col>
                        <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
                            <el-form-item label="Plot Number" :error="get('plot_number')">
                                <el-input v-model="editProperty.plot_number" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
                            <el-form-item label="Property Number" :error="get('property_number')">
                                <el-input v-model="editProperty.property_number" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                            <el-form-item label="Name" :error="get('name')">
                                <el-input v-model="editProperty.name" />
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                            <el-form-item label="Area" :error="get('area_num') || get('area_unit')">
                                <el-input v-model="editProperty.area_num" class="input-with-select" style="margin-top: 5px;">
                                    <el-select v-model="editProperty.area_unit" slot="prepend" placeholder="Unit" class="unit__prepend">
                                        <el-option label="sqft" value="SQ ft"/>
                                        <el-option label="sqm" value="SD m"/>
                                    </el-select>
                                </el-input>
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                            <el-form-item label="BUA" :error="get('bua') || get('bua_unit')" dir="rtl">
                                <el-input v-model="editProperty.bua" class="input-with-select" style="margin-top: 5px;">
                                    <el-select v-model="editProperty.bua_unit" slot="prepend" placeholder="Unit" class="unit__prepend">
                                        <el-option label="sqft" value="SQ ft"/>
                                        <el-option label="sqm" value="SD m"/>
                                    </el-select>
                                </el-input>
                            </el-form-item>
                        </el-col>


                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"> <hr style="margin: 14px 0px 22px;">  </el-col>

                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <select-resource style="margin-top: -1px;"
                                             v-model="editProperty.valuer"
                                             label="Valuer"
                                             :error="get('valuer')"
                                             resource-name="users"
                                             display="fullname"/>
                        </el-col>


                        <!--<el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Inspection Date Time" :error="get('inspection_datetime')">
                                <el-date-picker
                                        style="width:100%;"
                                        v-model="editProperty.inspection_datetime"
                                        type="datetime"
                                        placeholder="Pick a Date"
                                        :picker-options="datePickerOptions">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>-->

                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8" style="margin-top: -1px;">
                            <select-resource
                                    v-model="editProperty.inspector"
                                    label="Inspector"
                                    :error="get('inspector')"
                                    resource-name="users"
                                    display="fullname"/>
                        </el-col>

                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Current Owner" :error="get('current_owner')">
                                <el-input v-model="editProperty.current_owner" />
                            </el-form-item>
                        </el-col>





                        <!--<el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8" style="margin-top: -1px;">
                            <select-or-create-user
                                    v-model="editProperty.client_contact"
                                    :error="get('client_contact')"
                                    label="Client Contact"
                                    resource-name="client-contact-users"
                                    display="fullname"
                                    :allow-create="true"
                                    create-title="Add new Client Contact"
                                    :default-roles="[10]"
                            />
                        </el-col>-->

                        <!--<el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Client Contact Phone" :error="get('client_contact_phone')">
                                <el-input v-model="editProperty.client_contact_phone" />
                            </el-form-item>
                        </el-col>-->

                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Applicant Name" :error="get('applicant_name')">
                                <el-input v-model="editProperty.applicant_name" />
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <hr style="margin: 14px 0px 22px;">
                        </el-col>

                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Inspection Date Time:">
                                <el-date-picker
                                        type="datetime"
                                        format="yyyy-MM-dd HH:mm"
                                        placeholder="Pick a date"
                                        v-model="editProperty.inspection_datetime"
                                        style="width: 100%;"
                                        :picker-options="pickerOptions"
                                />
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Inspection Contact Person" :error="get('contact_person')">
                                <el-input v-model="editProperty.client_contact_person" />
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Inspection Contact Phone" :error="get('client_contact_phone')">
                                <el-input v-model="editProperty.client_contact_phone" />
                            </el-form-item>
                        </el-col>


                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <hr style="margin: 14px 0px 22px;">
                        </el-col>


                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-button @click="dialogEditFormVisible = false">
                                {{ $t('table.cancel') }}
                            </el-button>
                            <el-button type="primary" @click="editResource()">
                                {{ $t('table.confirm') }}
                            </el-button>
                        </el-col>

                    </el-row>

                </el-form>


            </div>
        </el-dialog>

        <el-dialog title="Add New Property" :visible.sync="dialogFormVisible" class="val-inc-popup valuation-lists" width="1050px">
            <div class="form-container" v-loading="propertyCreating">

                <el-form :model="newProperty">

                    <el-row  :gutter="20">

                        <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
                            <select-resource
                                    v-model="newProperty.template"
                                    :error="get('template')"
                                    label="Template"
                                    resource-name="property-valuations-templates"
                                    display="title"/>
                        </el-col>
                        <el-col :xs="24" :sm="7" :md="7" :lg="7" :xl="7">
                            <select-resource
                                    v-model="newProperty.inspection_type"
                                    label="Inspection Type"
                                    :error="get('inspector')"
                                    :options="{service:2}"
                                    resource-name="inspection-types"
                                    display="title"/>
                        </el-col>
                        <el-col :xs="24" :sm="7" :md="7" :lg="7" :xl="7">
                            <select-resource
                                    v-model="newProperty.property_type"
                                    label="Property Type"
                                    :error="get('property_type')"
                                    resource-name="properties-types"
                                    display="title"/>
                        </el-col>

                        <!-- <el-col :xs="24" :sm="5" :md="5" :lg="5" :xl="5">
                             <el-form-item label="Instruction Date" :error="get('instruction_date')">
                                 <el-date-picker
                                     style="width:100%;"
                                     v-model="newProperty.instruction_date"
                                     type="date"
                                     placeholder="Pick a Date"
                                     :picker-options="datePickerOptions">
                                 </el-date-picker>
                             </el-form-item>
                         </el-col>         -->

                        <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
                            <select-resource style="margin-bottom: -2px;"
                                             v-model="newProperty.area"
                                             :error="get('area')"
                                             label="Community"
                                             resource-name="areas"
                                             display="display"/>
                        </el-col>
                        <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
                            <el-form-item label="Plot Number" :error="get('plot_number')">
                                <el-input v-model="newProperty.plot_number" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4">
                            <el-form-item label="Property Number" :error="get('property_number')">
                                <el-input v-model="newProperty.property_number" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                            <el-form-item label="Name" :error="get('name')">
                                <el-input v-model="newProperty.name" />
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                            <el-form-item label="Area" :error="get('area_num') || get('area_unit')">
                                <el-input v-model="newProperty.area_num" class="input-with-select" style="margin-top: 5px;">
                                    <el-select v-model="newProperty.area_unit" slot="prepend" placeholder="Unit" class="unit__prepend">
                                        <el-option label="sqft" value="SQ ft"/>
                                        <el-option label="sqm" value="SD m"/>
                                    </el-select>
                                </el-input>
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="6">
                            <el-form-item label="BUA" :error="get('bua') || get('bua_unit')">
                                <el-input v-model="newProperty.bua" class="input-with-select" style="margin-top: 5px;">
                                    <el-select v-model="newProperty.bua_unit" slot="prepend" placeholder="Unit" class="unit__prepend">
                                        <el-option label="sqft" value="SQ ft"/>
                                        <el-option label="sqm" value="SD m"/>
                                    </el-select>
                                </el-input>
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"> <hr style="margin: 14px 0px 22px;">  </el-col>

                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <select-resource style="margin-top: -1px;"
                                             v-model="newProperty.valuer"
                                             label="Valuer"
                                             :error="get('valuer')"
                                             resource-name="users"
                                             display="fullname"/>
                        </el-col>

                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8" style="margin-top: -1px;">
                            <select-resource
                                    v-model="newProperty.inspector"
                                    label="Inspector"
                                    :error="get('inspector')"
                                    resource-name="users"
                                    display="fullname"/>
                        </el-col>

                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Current Owner" :error="get('current_owner')">
                                <el-input v-model="newProperty.current_owner" />
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Applicant Name" :error="get('applicant_name')">
                                <el-input v-model="newProperty.applicant_name" />
                            </el-form-item>
                        </el-col>


                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <hr style="margin: 14px 0px 22px;">
                        </el-col>

                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Inspection Date Time:">
                                <el-date-picker
                                        type="datetime"
                                        format="yyyy-MM-dd HH:mm"
                                        placeholder="Pick a date"
                                        v-model="newProperty.inspection_datetime"
                                        style="width: 100%;"
                                        :picker-options="pickerOptions"
                                />
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Inspection Contact Person" :error="get('contact_person')">
                                <el-input v-model="newProperty.client_contact_person" />
                            </el-form-item>
                        </el-col>

                        <el-col :xs="24" :sm="8" :md="8" :lg="8" :xl="8">
                            <el-form-item label="Inspection Contact Phone" :error="get('client_contact_phone')">
                                <el-input v-model="newProperty.client_contact_phone" />
                            </el-form-item>
                        </el-col>


                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <hr style="margin: 14px 0px 22px;">
                        </el-col>



                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-button @click="dialogFormVisible = false">
                                {{ $t('table.cancel') }}
                            </el-button>
                            <el-button type="primary" @click="createProperty()">
                                {{ $t('table.confirm') }}
                            </el-button>
                        </el-col>

                    </el-row>

                </el-form>

            </div>
        </el-dialog>

    </div>


</template>

<script>
    import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
    import BackendErrors from '@/mixins/backend-errors';
    import SelectResource from '@/components/SelectResource'; // Secondary package based on el-pagination
    import SelectOrCreateUser from '@/components/SelectOrCreateUser'; // Secondary package based on el-pagination
    import DatePickerOptions from '@/mixins/date-picker-options';
    import waves from '@/directive/waves'; // Waves directive
    import permission from '@/directive/permission'; // Waves directive

    import AssignmentResource from '@/api/assignment'
    import CountryResource from '@/api/country'
    import UserResource from '@/api/user'
    import PropertyTypesResource from '@/api/property-types'
    // import PropertyResource from '@/api/property'
    import Resource from '@/api/resource'


    const countryResource = new CountryResource();
    const assignmentResource = new AssignmentResource();
    const userResource = new UserResource();
    const propertyTypesResource = new PropertyTypesResource();
    const propertyResource = new Resource('properties');

    export default {
        name: 'AssignmentDetail',
        components: { Pagination, SelectResource, SelectOrCreateUser },
        directives: { waves, permission },
        mixins:[BackendErrors, DatePickerOptions],
        data() {
            return {
                list: null,
                templateList: null,
                countryList: null,
                propertyTypeList: null,
                inspectionTypeList: null,
                userList: [],
                assignment: {
                    service:{
                        code:'VAL'
                    }
                },
                total: 0,
                tempRoute:{},
                newProperty:{},
                query: {
                    page: 1,
                    assignment_id: null,
                    limit: 10,
                    keyword: '',
                },
                dialogEditFormVisible:false,
                dialogFormVisible:false,
                editProperty:{},
                propertyEditing:false,
                propertyCreating:false,
                pickerOptions: {
                    shortcuts: [{
                        text: 'Today',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    }, {
                        text: 'Tomorrow',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '2 days',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + ((3600 * 1000 * 24) * 2));
                            picker.$emit('pick', date);
                        }
                    },  {
                        text: '3 days',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + ((3600 * 1000 * 24) * 3));
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: 'A week after',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + ((3600 * 1000 * 24) * 7));
                            picker.$emit('pick', date);
                        }
                    },
                    ]
                }
            };
        },
        created() {
            this.tempRoute = Object.assign({}, this.$route);
            this.query.assignment_id = this.$route.params.id;
            this.getList();
            // this.getAssignment();
            // this.getTemplateList();
            // this.getCountryList();
            // this.getPropertyTypeList();
            // this.getInspectionTypeList();
            // this.getUserList();
        },
        methods: {
            createProperty() {
                this.propertyCreating = true;
                propertyResource
                    .store(this.newProperty)
                    .then(response => {
                        this.$message({
                            message: `New property ${this.newProperty.name} has been created successfully.`,
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.resetNewProperty();
                        this.dialogFormVisible = false;
                        this.handleFilter();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.propertyCreating = false;
                    });
            },
            handleCreate() {
                this.resetNewProperty();
                this.clear();
                this.dialogFormVisible = true;
            },
            resetNewProperty() {
                this.newProperty = {
                    template : '',
                    area : '',
                    valuer : '',
                    name : '',
                    plot_number : '',
                    property_number : '',
                    inspection_type : '',
                    property_type : '',
                    assignment : this.query.assignment_id,
                    inspector : '',
                    client_contact_phone : '',
                    client_contact_person : '',
//                    instruction_date : '',
                    current_owner : '',
                    applicant_name : '',
                    bua : '',
                    bua_unit : '',
                    area_num : '',
                    area_unit : '',
                    client_contact : '',
                    inspection_datetime : ''
                };
            },
            editResource() {
                this.propertyEditing = true;
                propertyResource
                    .update(this.editProperty.id,this.editProperty)
                    .then(response => {
                        this.$message({
                            message: `Property (${this.editProperty.name}) has been updated successfully.`,
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.dialogEditFormVisible = false;
                        this.clear();
                        this.handleFilter();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.propertyEditing = false;
                    });
            },
            async getPropertyTypeList() {
                const { data } = await propertyTypesResource.listAll();
                this.propertyTypeList = data;
            },
            async getInspectionTypeList() {
                const { data } = await assignmentResource.inspectionTypeList(this.query.assignment_id);
                this.inspectionTypeList = data;
            },
            async getTemplateList() {
                const { data } = await assignmentResource.resourceListAll(this.query.assignment_id,'templates');
                this.templateList = data;
            },
            async getCountryList() {
                const { data } = await countryResource.listAll();
                this.countryList = data;
            },
            async getUserList() {
                const { data } = await userResource.listAll();
                this.userList = data;
            },
            handleEdit(row) {
                this.resetEditProperty(row);
                this.dialogEditFormVisible = true;
            },
            resetEditProperty(row) {
                this.editProperty = {
                    id : row.id,
                    template: row.template_id,
                    area: row.area_id,
                    valuer: row.valuer_id,
                    name: row.name,
                    plot_number: row.plot_number,
                    property_number: row.property_number,
                    inspection_type: row.inspection_type_id,
                    property_type: row.property_type_id,
                    assignment: row.assignment_id,
                    inspector: row.inspector_id,
//                    instruction_date: row.instruction_date,
                    current_owner: row.current_owner,
                    applicant_name: row.applicant_name,
                    client_contact_phone: row.client_contact_phone,
                    client_contact_person: row.client_contact_person,
                    bua: row.bua,
                    bua_unit: row.bua_unit,
                    area_num: row.area_num,
                    area_unit: row.area_unit,
                    client_contact: row.client_contact_id,
                    inspection_datetime: row.inspection_datetime,
                };
            },
            handleValuation(row){
                this.$router.push({name:'PropertyValuationPropertyValuation',params:{id:row.id}})
            },
            handleDefects(row){
                this.$router.push({name:'BuildingSurveyDefectList',params:{id:row.id}})
            },
            handleReports(row){
                this.$router.push({name:'propertyReports',params:{id:row.id}})
            },
            handleFilter() {
                this.query.page = 1;
                this.getList();
            },
            async getList() {
                const { limit, page } = this.query;
                this.loading = true;
                const { data, meta } = await propertyResource.list(this.query);
                this.list = data;
                this.list.forEach((element, index) => {
                    element['index'] = (page - 1) * limit + index + 1;
                });
                this.total = meta.total;
                this.loading = false;
            },
            async getAssignment() {
                const { data } = await assignmentResource.get(this.$route.params.id);
                this.assignment = data;
                this.setTagsViewTitle();
            },
            setTagsViewTitle() {
                const title ='Properties '; // Should move to i18n
                const route = Object.assign({}, this.tempRoute, {
                    title: `${title} - [${this.assignment.ref_no}]`,
                });
                this.$store.dispatch('tagsView/updateVisitedView', route);
            }
        }
    };
</script>

<style lang="scss" scoped>
    .edit-input {
        padding-right: 100px;
    }
    .cancel-btn {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .dialog-footer {
        text-align: left;
        padding-top: 0;
        margin-left: 407px;
    }
    .app-container {
        flex: 1;
        justify-content: space-between;
        font-size: 14px;
        padding-right: 8px;
        .block {
            float: left;
            min-width: 250px;
        }
        .clear-left {
            clear: left;
        }
    }
    .unit__prepend{
        width: 100px;
    }
    /*.el-input-group__prepend, .el-input.el-input--medium.el-input--suffix{
        width: 100px !important;
    }*/

    /*.el-select .el-input {
        width: 110px;
    }
    .input-with-select .el-input-group__prepend {
        background-color: #fff;
    }*/
</style>
