<template>
    <el-collapse-item title="Map" name="2">
        <el-card>
            <el-row :gutter="10">
                <el-col :span="12">
                    <google-maps/>

                    <el-row :gutter="10" style="margin-top: 10px;">
                        <el-col :span="4">
                            <el-input size="mini" placeholder="Lat"/>
                        </el-col>
                        <el-col :span="4">
                            <el-input size="mini" placeholder="Lng"/>
                        </el-col>
                        <el-col :span="16">
                            <el-button-group>
                                <el-button type="primary" icon="el-icon-brush" size="mini">Clear Markers</el-button>
                                <el-button type="primary" icon="el-icon-brush" size="mini">Clear Polygons</el-button>
                                <!--                                                <el-button type="primary" icon="el-icon-map-location" size="mini">Add Map</el-button>-->
                            </el-button-group>
                        </el-col>
                    </el-row>
                </el-col>
                <el-col :span="12">
                    <!--<el-image  v-if="place" :src="item[0].getUrl()" v-for="item in place.photos"></el-image>-->
                </el-col>
            </el-row>
        </el-card>
    </el-collapse-item>
    <el-collapse-item title="Photos" name="3">

        <div style="border: 1px solid red;">
            <p>Upload PDFs & JPGs ==> JPGs and Display JPGs</p>
            <el-upload
                class="upload-demo"
                :headers="{Authorization:auth_token}"
                :data="{resource:'valuation-photos','resource_id':1}"
                multiple
                action="api/images"
                :file-list="fileList">
                <el-button size="small" type="primary">Click to upload</el-button>
                <div slot="tip" class="el-upload__tip">jpg/png files with a size less than 500kb</div>
            </el-upload>
        </div>

        <br>
        <br>

        <el-checkbox v-model="form.water_marked_images">Include water marked images</el-checkbox>
        <el-radio v-model="form.include_photos" label="12">Include 12 photos</el-radio>
        <el-radio v-model="form.include_photos" label="all">Include all photos</el-radio>
        <el-input placeholder="Title for Photos Page (Optional)" v-model="form.photos_page_title"/>
    </el-collapse-item>
    <el-collapse-item title="Valuation" name="4">
        <el-row :gutter="10">
            <el-col :span="8">
                <el-form-item label="Valuation Date:">
                    <el-date-picker
                        type="date"
                        placeholder="Pick a date"
                        v-model="form.date1"
                        style="width: 100%;"
                    />
                </el-form-item>
                <!--<el-form-item label="Interest to be Valued">
                    <el-select
                        v-model="new_yard_covering"
                        multiple
                        filterable
                        style="width: 100%;"
                        allow-create
                        default-first-option
                        placeholder="Choose options"
                    >
                        <el-option
                            v-for="item in yard_covering"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                        />
                    </el-select>
                </el-form-item>-->
            </el-col>
            <el-col :span="8">
                <el-form-item label="Purpose:">
                    <el-select
                        v-model="new_structures"
                        multiple
                        filterable
                        style="width: 100%;"
                        allow-create
                        default-first-option
                        placeholder="Choose option"
                    >
                        <el-option label="Internal" value="Internal"/>
                        <el-option label="Purchase" value="Purchase"/>
                        <el-option label="Taxation" value="Taxation"/>
                        <el-option label="Legal" value="Legal"/>
                        <el-option label="Internal Auditing" value="Internal Auditing"/>
                        <el-option label="Mortgage Lending" value="Mortgage Lending"/>
                        <el-option label="Immigration" value="Immigration"/>
                        <el-option label="Financial" value="Financial"/>
                        <el-option label="Insurance" value="Insurance"/>
                        <el-option label="Auditing" value="Auditing"/>
                        <el-option label="Sales" value="Sales"/>
                        <el-option label="Others" value="Others"/>
                        <el-option label="Legal/Inheritance" value="Legal/Inheritance"/>
                        <el-option label="Auditing/Financial Reporting" value="Auditing/Financial Reporting"/>
                        <el-option label="Property Tax" value="Property Tax"/>
                    </el-select>
                </el-form-item>
                <el-form-item label="Basis:">
                    <el-select v-model="new_cladding" multiple filterable allow-create placeholder="Choose option">
                        <el-option label="Fail Value" value="Fail Value"/>
                        <el-option label="Market value" value="Market value"/>
                        <el-option label="Investment Value" value="Investment Value"/>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item label="Tenure Status:">
                    <el-select v-model="new_windows" multiple filterable allow-create placeholder="Choose option">
                        <el-option label="Vacant" value="Vacant"/>
                        <el-option label="Owner Occupied" value="Owner Occupied"/>
                        <el-option label="Rented" value="Rented"/>
                        <el-option label="Unknown" value="Unknown"/>
                        <el-option label="N/A" value="N/A"/>
                    </el-select>
                </el-form-item>
                <el-form-item label="Developer:">
                    <el-input v-model="form.name"/>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item label="Add Calculation methods:" label-width="300px">
                    <el-checkbox-group v-model="checkedMethods">
                        <el-checkbox
                            v-for="item in methods"
                            :label="item.label"
                            :key="item.value"
                        >{{item.label}}</el-checkbox>
                    </el-checkbox-group>
                </el-form-item>
            </el-col>
        </el-row>
    </el-collapse-item>
    <transition name="fade" :duration="1000">
        <el-collapse-item title="Comparison Method" name="5">
            <!-- <el-collapse-item
            v-show="checkedMethods.includes('Comparison Method')"
            title="Comparison Method"
            name="5"
            >-->
            <el-row>
                <el-col :span="24">
                    <el-button-group>
                        <el-button
                            icon="el-icon-plus"
                            size="mini"
                            @click="handleCreateComparable"
                        >Add New Comparable</el-button>
                        <el-button
                            icon="el-icon-search"
                            size="mini"
                            @click="handleInsertComparable"
                        >Insert Comparable</el-button>
                    </el-button-group>
                </el-col>
                <el-col :span="24">
                    <el-table :data="comparablesData" style="width: 100%">
                        <el-table-column prop="date" label="Date" width="150">
                            <template slot-scope="{row}">
                                <el-date-picker
                                    type="date"
                                    size="mini"
                                    placeholder="Pick a date"
                                    v-model="row.date"
                                    style="width: 100%;"
                                />
                            </template>
                        </el-table-column>
                        <el-table-column prop="type" label="Type" width="120">
                            <template slot-scope="{row}">
                                <el-input size="mini" v-model="row.type" style="width: 100%;"/>
                            </template>
                        </el-table-column>
                        <el-table-column prop="tx_type" label="Transaction Type" width="120">
                            <template slot-scope="{row}">
                                <el-input size="mini" v-model="row.tx_type" style="width: 100%;"/>
                            </template>
                        </el-table-column>
                        <el-table-column prop="area" label="Area" width="120">
                            <template slot-scope="{row}">
                                <el-input size="mini" v-model="row.area" style="width: 100%;"/>
                            </template>
                        </el-table-column>
                        <el-table-column prop="area_rate" label="Rate/Land Area" width="120"/>
                        <el-table-column prop="bua" label="BUA" width="120">
                            <template slot-scope="{row}">
                                <el-input size="mini" v-model="row.bua" style="width: 100%;"/>
                            </template>
                        </el-table-column>
                        <el-table-column prop="bua_rate" label="Rate/BUA" width="120"/>
                        <el-table-column prop="market_value" label="Market Value" width="120">
                            <template slot-scope="{row}">
                                <el-input
                                    size="mini"
                                    v-model.lazy="row.market_value"
                                    v-v-money="money"
                                    style="width: 100%;"
                                />
                            </template>
                        </el-table-column>
                        <el-table-column prop="tx_details" label="Transaction Details">
                            <template slot-scope="{row}">
                                <el-input size="mini" v-model="row.tx_details" style="width: 100%;"/>
                            </template>
                        </el-table-column>
                        <el-table-column label="Action">
                            <template slot-scope="scope">
                                <el-button
                                    type="danger"
                                    size="mini"
                                    circle
                                    @click="removeComparable(scope)"
                                >
                                    <i class="el-icon-delete"></i>
                                </el-button>
                                <el-button
                                    type="primary"
                                    size="mini"
                                    circle
                                    @click="handleEditComparable(scope)"
                                >
                                    <i class="el-icon-edit"></i>
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-col>
            </el-row>
            <el-row :gutter="10" style="margin-top: 20px">
                <el-col :span="6">
                    <el-checkbox v-model="use_decimal_for_rate_area">
                        <strong>Use decimal for Rate / Area</strong>
                    </el-checkbox>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="Area for calculation">
                        <el-select v-model="form.area_for_calculation" placeholder="Choose option">
                            <el-option label="BUA" value="bua"/>
                            <el-option label="Land Area" value="land-area"/>
                            <el-option label="Other" value="other"/>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-collapse-item>
    </transition>
    <transition name="fade" :duration="1000">
        <el-collapse-item title="Cost Method" name="6">
            <el-button-group>
                <el-button icon="el-icon-plus" size="mini" @click="handleAddCostMethod">Add Row</el-button>
                <el-button
                    icon="el-icon-plus"
                    size="mini"
                    @click="additionalRow = !additionalRow"
                >Add Additional Row</el-button>
            </el-button-group>

            <el-form>
                <table border="1">
                    <tr>
                        <th>Description</th>
                        <th>Area/Length</th>
                        <th>Rate/Area (AED/SqFt)</th>
                        <th>Age (Years)</th>
                        <th>Life Expectancy</th>
                        <th>% of Depreciation</th>
                        <th>Total Cost (AED)</th>
                        <th>Apply Profit</th>
                        <th>Action</th>
                    </tr>
                    <tr v-for="(method,index) in costMethods" :key="index">
                        <td>
                            <el-input v-model="method.desc" />
                        </td>
                        <td>
                            <el-input v-model="method.area_length" />
                        </td>
                        <td>
                            <el-input v-model="method.rate_area" />
                        </td>
                        <td>
                            <el-input v-model="method.age" />
                        </td>
                        <td>
                            <el-input v-model="method.life_expectancy" />
                        </td>
                        <td>
                            <el-input v-model="method.persentage_of_depreciation" />
                        </td>
                        <td>{{ method.area_length * method.rate_area }}</td>
                        <td>
                            <el-checkbox v-model="method.apply" />
                        </td>
                        <td>
                            <el-button
                                size="mini"
                                type="danger"
                                icon="el-icon-delete"
                                @click="costMethods.splice(index,1)"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <el-input disabled :value="'Depreciation'" />
                        </td>
                        <td colspan="5"></td>
                        <td>
                            <el-input :value="10" />
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr v-if="additionalRow">
                        <td colspan="6">
                            <el-input style="width:100%;" />
                        </td>
                        <td>
                            <el-input :value="10" />
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="6">Total Cost / Fair Value</td>
                        <td>(AED) 6,927</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </el-form>
        </el-collapse-item>
    </transition>
    <transition name="fade" :duration="1000">
        <!-- <el-collapse-item
          v-show="checkedMethods.includes('Cost Method (Under Construction)')"
          title="Cost Method (Under Construction)"
          name="7"
        >-->
        <el-collapse-item title="Cost Method (Under Construction)" name="7">
            <el-button-group>
                <el-button
                    icon="el-icon-plus"
                    size="mini"
                    @click="handleAddCostMethodUC"
                >Add Cost Method</el-button>
                <el-button
                    icon="el-icon-plus"
                    size="mini"
                    @click="handleAddCostMethodUCPC"
                >Add Permanent cost</el-button>
            </el-button-group>
            <table border="1">
                <tr>
                    <th>Description</th>
                    <th>Area/Length</th>
                    <th>% of Completion</th>
                    <th>Rate/Area (AED/SqFt)</th>
                    <th>Cost - As is (AED)</th>
                    <th>Cost - As Completed)</th>
                    <th>Apply Profit</th>
                    <th>Action</th>
                </tr>
                <tr v-for="(method,index) in costMethodsUC" :key="index">
                    <td>
                        <el-input v-model="method.desc" />
                    </td>
                    <td>
                        <el-input-number v-model="method.area_length" />
                    </td>
                    <td>
                        <el-input-number v-model="method.completion" />
                    </td>
                    <td>
                        <el-input-number v-model="method.rate_area" />
                    </td>
                    <td>
                        <el-input-number v-model="method.cost_is_as" />
                    </td>
                    <td>
                        <el-input-number v-model="method.cost_is_completed" />
                    </td>
                    <td>
                        <el-checkbox v-model="method.apply" />
                    </td>
                    <td>
                        <el-button
                            size="mini"
                            type="danger"
                            icon="el-icon-delete"
                            @click="costMethodsUC.splice(index,1)"
                        />
                    </td>
                </tr>
                <tr>
                    <th>Permanent costs</th>
                    <th colspan="6">Cost %</th>
                    <th></th>
                </tr>
                <tr v-for="(method,index) in costMethodsUCPC" :key="index + 50">
                    <td>
                        <el-input v-model="method.desc" />
                    </td>
                    <td>
                        <el-input-number v-model="method.area_length" />
                    </td>
                    <td>
                        <el-input-number v-model="method.completion" />
                    </td>
                    <td></td>
                    <td>
                        <el-input-number v-model="method.cost_is_as" />
                    </td>
                    <td>
                        <el-input-number v-model="method.cost_is_completed" />
                    </td>
                    <td>
                        <el-checkbox v-model="method.apply" />
                    </td>
                    <td>
                        <el-button
                            size="mini"
                            type="danger"
                            icon="el-icon-delete"
                            @click="costMethodsUCPC.splice(index,1)"
                        />
                    </td>
                </tr>
                <tr>
                    <td>Developers Profit</td>
                    <td colspan="3"></td>
                    <td>
                        <el-input />
                    </td>
                    <td>
                        <el-input />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="4">Total Cost (AED)</td>
                    <td>
                        <el-input />
                    </td>
                    <td>
                        <el-input />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </el-collapse-item>
    </transition>
    <transition name="fade" :duration="1000">
        <!-- <el-collapse-item
          v-show="checkedMethods.includes('Income Method')"
          title="Income Method"
          name="8"
        >-->
        <el-collapse-item title="Income Method" name="8">
            <el-button-group>
                <el-button
                    icon="el-icon-plus"
                    size="mini"
                    @click="handleAddIncomeBreakdown"
                >Add Income Breakdown</el-button>
                <el-button
                    icon="el-icon-plus"
                    size="mini"
                    @click="handleAddCostBreakdown"
                >Add Cost Breakdown</el-button>
            </el-button-group>
            <table border="1">
                <tr>
                    <td colspan="7">Income Breakdown</td>
                </tr>
                <tr>
                    <th>Floor/Units</th>
                    <th>Type</th>
                    <th>No. of Units</th>
                    <th>Area (SqFt)</th>
                    <th>Rent/Unit</th>
                    <th>Total Rent</th>
                    <th>Action</th>
                </tr>
                <tr v-for="(Income,index) in IncomeBreakdown" :key="index">
                    <td>
                        <el-input v-model="Income.floor_units" />
                    </td>
                    <td>
                        <el-input v-model="Income.type" />
                    </td>
                    <td>
                        <el-input v-model="Income.no_of_units" />
                    </td>
                    <td>
                        <el-input v-model="Income.area" />
                    </td>
                    <td>
                        <el-input v-model="Income.rent_unit" />
                    </td>
                    <td>
                        <el-input v-model="Income.total_rent" />
                    </td>
                    <td>
                        <el-button
                            size="mini"
                            type="danger"
                            icon="el-icon-delete"
                            @click="IncomeBreakdown.splice(index,1)"
                        />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Grand Total</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7">Cost Breakdown</td>
                </tr>
                <tr>
                    <td colspan="7">
                        <table border="1" width="100%">
                            <tr>
                                <th>Operational Costs</th>
                                <th>Deduction (%)</th>
                                <th>Total Deduction (AED)</th>
                                <th>Action</th>
                            </tr>
                            <tr v-for="(Cost,index) in CostBreakdown" :key="index">
                                <td>
                                    <el-input v-model="Cost.operational_costs" />
                                </td>
                                <td>
                                    <el-input v-model="Cost.deduction" />
                                </td>
                                <td>
                                    <el-input v-model="Cost.total_deduction" />
                                </td>
                                <td>
                                    <el-button
                                        size="mini"
                                        type="danger"
                                        icon="el-icon-delete"
                                        @click="CostBreakdown.splice(index,1)"
                                    />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Net Income (AED)</td>
                                <td>
                                    <el-input />
                                </td>
                            </tr>
                            <tr>
                                <td>Capitalisation Rate</td>
                                <td>
                                    <el-input />
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <div>
                <b>Market Value:</b> (AED) 0
            </div>
        </el-collapse-item>
    </transition>
    <el-collapse-item title="Inspection" name="9">
        <el-form-item label="Round by (Eg: 0,1,2 etc)" label-width="300px">
            <el-input-number v-model="form.round_by"/>
        </el-form-item>
        <el-form-item label="Primary Market Value" label-width="300px">
            <el-select v-model="form.primary_market_value" placeholder="please select your zone">
                <el-option value="Comparison Method"/>
                <el-option value="Cost Method"/>
                <el-option value="Cost Method (Under Construction)"/>
                <el-option value="Income Method"/>
            </el-select>
        </el-form-item>
        <el-form-item label="Primary Market Value" label-width="300px">
            <el-select v-model="form.primary_market_value" placeholder="please select your zone">
                <el-option value="Comparison Method"/>
                <el-option value="Cost Method"/>
                <el-option value="Cost Method (Under Construction)"/>
                <el-option value="Income Method"/>
            </el-select>
        </el-form-item>
        <el-form-item label="Forced sale value (%)" label-width="300px">
            <el-input-number v-model="form.forced_sale_value"/>
        </el-form-item>
        <el-form-item label="Use 'Forced sale' instead of 'SA*' (Special Assumptions)" label-width="300px">
            <el-switch v-model="form.fs_insted_sa"/>
        </el-form-item>
        <el-form-item label="Valuation Rationale 1" label-width="300px">
            <el-input type="textarea" v-model="form.valuation_rationale_1"/>
        </el-form-item>
        <el-form-item label="Market Research" label-width="300px">
            <el-input type="textarea" v-model="form.market_research"/>
        </el-form-item>
    </el-collapse-item>
    <el-collapse-item title="Appendices" name="10">
        <el-upload
            action="https://jsonplaceholder.typicode.com/posts/"
            list-type="picture-card"
            multiple
            :on-preview="handlePictureCardPreview"
            :on-remove="handleRemove"
        >
            <i class="el-icon-plus"></i>
        </el-upload>
    </el-collapse-item>
    <el-collapse-item title="Reports" name="11">
        <table border="1">
            <tr>
                <th>Filename</th>
                <th>Date</th>
                <th>By</th>
                <th>Comment</th>
            </tr>
            <tr>
                <td>sample_file_name_final.pdf</td>
                <td>26th Sep 2019 12:20</td>
                <td>Land Sterling</td>
                <td>generated fo xyz customer</td>
            </tr>
        </table>
    </el-collapse-item>
    <el-collapse-item title="Comments" name="12">
        <el-timeline style="padding-left: 200px;">
            <el-timeline-item
                v-for="(activity, index) in activities"
                :key="index"
                :timestamp="activity.timestamp"
            >{{activity.content}}</el-timeline-item>
        </el-timeline>
        <el-form-item label-width="200px" label="Comment:" style="max-width: 700px;">
            <el-input placeholder="Write a comment...">
                <el-button slot="append" icon="el-icon-plus"/>
            </el-input>
        </el-form-item>
    </el-collapse-item>
    <el-collapse-item title="Attach Documents" name="13">
        <el-upload
            class="upload-demo"
            drag
            action="https://jsonplaceholder.typicode.com/posts/"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :file-list="fileList"
            multiple
        >
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">
                Drop file here or
                <em>click to upload</em>
            </div>
            <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
        </el-upload>
    </el-collapse-item>

    <el-dialog title="Create new Comparable" :visible.sync="dialogComparableVisible">
        <div class="form-container" v-loading="comparableCreating">
            <el-form ref="userForm" :model="newComparable" label-position="left" label-width="250px">
                <span slot="label">Basic Details</span>
                <el-form-item label="Date">
                    <el-date-picker type="date" placeholder="Pick a date" v-model="newComparable.date"/>
                </el-form-item>
                <el-form-item label="Transaction Type">
                    <el-select placeholder="please select type" v-model="newComparable.transation_type">
                        <el-option value="Asking"/>
                        <el-option value="Sale"/>
                        <el-option value="For Sale"/>
                        <el-option value="For Rent"/>
                        <el-option value="Sold"/>
                        <el-option value="Rented"/>
                        <el-option value="Under Offer"/>
                    </el-select>
                </el-form-item>
                <el-form-item label="BUA (SqFt)">
                    <el-input-number v-model="newComparable.bua"/>
                </el-form-item>
                <el-form-item label="Rate/BUA">
                    <el-input-number v-model="newComparable.rate_bua"/>
                </el-form-item>
                <el-form-item label="Land Area (SqFt)">
                    <el-input-number v-model="newComparable.land_area"/>
                </el-form-item>
                <el-form-item label="Rate/ Land Area">
                    <el-input-number v-model="newComparable.rate_land_area"/>
                </el-form-item>
                <el-form-item label="Price">
                    <el-input-number v-model="newComparable.price"/>
                </el-form-item>
                <el-form-item label="Details (Appear in report)">
                    <el-input type="textarea" v-model="newComparable.details"/>
                </el-form-item>
                <el-form-item label="Property Type">
                    <el-select placeholder="please select type" v-model="newComparable.property_type">
                        <el-option value="Appartment"/>
                        <el-option value="Villa"/>
                        <el-option value="land"/>
                        <el-option value="Compound"/>
                        <el-option value="Tower"/>
                        <el-option value="Warehouse"/>
                        <el-option value="Mall - Shopping Center"/>
                        <el-option value="Building"/>
                        <el-option value="Office Units"/>
                    </el-select>
                </el-form-item>
                <el-form-item label="Property Use">
                    <el-select placeholder="please select type" v-model="newComparable.property_use">
                        <el-option value="Residential"/>
                        <el-option value="Commercial"/>
                        <el-option value="Mixed Use"/>
                        <el-option value="Residential/Commercial"/>
                        <el-option value="Investment"/>
                        <el-option value="Agricultural"/>
                        <el-option value="Industrial"/>
                        <el-option value="Office"/>
                        <el-option value="Educational"/>
                    </el-select>
                </el-form-item>
                <el-form-item label="Coordinates">
                    <el-input v-model="newComparable.coordinates"/>
                </el-form-item>
                <el-form-item label="Source Details">
                    <el-input v-model="newComparable.source_details"/>
                </el-form-item>
                <el-form-item label="Source links">
                    <el-input v-model="newComparable.source_links"/>
                </el-form-item>
                <el-form-item label="Community/Location">
                    <el-input v-model="newComparable.community"/>
                </el-form-item>
            </el-form>

            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogComparableVisible = false">{{ $t('table.cancel') }}</el-button>
                <el-button type="primary" @click="createComparable()">{{ $t('table.confirm') }}</el-button>
            </div>
        </div>
    </el-dialog>

    <el-dialog title="Edit Comparable" :visible.sync="dialogEditComparableVisible">
        <div class="form-container" v-loading="comparableEditing">
            <el-form ref="userForm" :model="editComparable" label-position="left" label-width="250px">
                <span slot="label">Basic Details</span>
                <span slot="label">Basic Details</span>
                <el-form-item label="Date">
                    <el-date-picker type="date" placeholder="Pick a date" v-model="newComparable.date"/>
                </el-form-item>
                <el-form-item label="Transaction Type">
                    <el-select placeholder="please select type" v-model="newComparable.transation_type">
                        <el-option value="Asking"/>
                        <el-option value="Sale"/>
                        <el-option value="For Sale"/>
                        <el-option value="For Rent"/>
                        <el-option value="Sold"/>
                        <el-option value="Rented"/>
                        <el-option value="Under Offer"/>
                    </el-select>
                </el-form-item>
                <el-form-item label="BUA (SqFt)">
                    <el-input-number v-model="newComparable.bua"/>
                </el-form-item>
                <el-form-item label="Rate/BUA">
                    <el-input-number v-model="newComparable.rate_bua"/>
                </el-form-item>
                <el-form-item label="Land Area (SqFt)">
                    <el-input-number v-model="newComparable.land_area"/>
                </el-form-item>
                <el-form-item label="Rate/ Land Area">
                    <el-input-number v-model="newComparable.rate_land_area"/>
                </el-form-item>
                <el-form-item label="Price">
                    <el-input-number v-model="newComparable.price"/>
                </el-form-item>
                <el-form-item label="Details (Appear in report)">
                    <el-input type="textarea" v-model="newComparable.details"/>
                </el-form-item>
                <el-form-item label="Property Type">
                    <el-select placeholder="please select type" v-model="newComparable.property_type">
                        <el-option value="Appartment"/>
                        <el-option value="Villa"/>
                        <el-option value="land"/>
                        <el-option value="Compound"/>
                        <el-option value="Tower"/>
                        <el-option value="Warehouse"/>
                        <el-option value="Mall - Shopping Center"/>
                        <el-option value="Building"/>
                        <el-option value="Office Units"/>
                    </el-select>
                </el-form-item>
                <el-form-item label="Property Use">
                    <el-select placeholder="please select type" v-model="newComparable.property_use">
                        <el-option value="Residential"/>
                        <el-option value="Commercial"/>
                        <el-option value="Mixed Use"/>
                        <el-option value="Residential/Commercial"/>
                        <el-option value="Investment"/>
                        <el-option value="Agricultural"/>
                        <el-option value="Industrial"/>
                        <el-option value="Office"/>
                        <el-option value="Educational"/>
                    </el-select>
                </el-form-item>
                <el-form-item label="Coordinates">
                    <el-input v-model="newComparable.coordinates"/>
                </el-form-item>
                <el-form-item label="Source Details">
                    <el-input v-model="newComparable.source_details"/>
                </el-form-item>
                <el-form-item label="Source links">
                    <el-input v-model="newComparable.source_links"/>
                </el-form-item>
                <el-form-item label="Community/Location">
                    <el-input v-model="newComparable.community"/>
                </el-form-item>
            </el-form>

            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogEditComparableVisible = false">{{ $t('table.cancel') }}</el-button>
                <el-button type="primary" @click="handEditComparable()">{{ $t('table.confirm') }}</el-button>
                <el-button type="primary" @click="handEditComparable()">Save as New</el-button>
            </div>
        </div>
    </el-dialog>

    <el-drawer title="Insert Comparable's" :visible.sync="drawerComparableVisible" size="70%">
        <div class="filter-container">
            <el-input
                v-model="ComparableTableQuery.title"
                :placeholder="$t('table.title')"
                style="width: 200px;"
                class="filter-item"
            />
            <el-select
                v-model="ComparableTableQuery.importance"
                :placeholder="$t('table.importance')"
                clearable
                style="width: 90px"
                class="filter-item"
            >
                <el-option value="Option 1" />
                <el-option value="Option 2" />
                <el-option value="Option 3" />
            </el-select>
            <el-select
                v-model="ComparableTableQuery.type"
                :placeholder="$t('table.type')"
                clearable
                class="filter-item"
                style="width: 130px"
            >
                <el-option value="Option 1" />
                <el-option value="Option 2" />
                <el-option value="Option 3" />
            </el-select>
            <el-select v-model="ComparableTableQuery.sort" style="width: 140px" class="filter-item">
                <el-option value="Option 1" />
                <el-option value="Option 2" />
                <el-option value="Option 3" />
            </el-select>
            <el-button
                v-waves
                class="filter-item"
                type="primary"
                icon="el-icon-search"
            >{{ $t('table.search') }}</el-button>
        </div>

        <el-table
            ref="multipleTable"
            :data="ComparableTableData"
            style="width: 100%"
            @selection-change="handleSelectionChange"
        >
            <el-table-column type="selection" width="55"/>
            <el-table-column label="ID" width="120">
                <template slot-scope="scope">{{ scope.row.date }}123</template>
            </el-table-column>
            <el-table-column label="Transaction date">
                <template slot-scope="scope">{{ scope.row.date }}08-07-2019</template>
            </el-table-column>
            <el-table-column label="Transaction Type">
                <template slot-scope="scope">{{ scope.row.date }}Sale</template>
            </el-table-column>
            <el-table-column label="Property Type">
                <template slot-scope="scope">{{ scope.row.date }}Townhouse</template>
            </el-table-column>
            <el-table-column label="District">
                <template slot-scope="scope">{{ scope.row.date }}0</template>
            </el-table-column>
            <el-table-column label="Emirate">
                <template slot-scope="scope">{{ scope.row.date }}Dubai</template>
            </el-table-column>
            <el-table-column label="Price (AED)">
                <template slot-scope="scope">{{ scope.row.date }}2091200</template>
            </el-table-column>
            <el-table-column label="BUA (SqFt)">
                <template slot-scope="scope">{{ scope.row.date }}3889</template>
            </el-table-column>
            <el-table-column label="Price / BUA">
                <template slot-scope="scope">{{ scope.row.date }}537.72</template>
            </el-table-column>
            <el-table-column label="Land Area(SqFt)">
                <template slot-scope="scope">{{ scope.row.date }}0</template>
            </el-table-column>
            <el-table-column label="Price / Land Area">
                <template slot-scope="scope">{{ scope.row.date }}0</template>
            </el-table-column>
            <el-table-column label="Created At">
                <template slot-scope="scope">{{ scope.row.date }}2019-11-20 12:04:16</template>
            </el-table-column>
        </el-table>

        <br />
        <el-pagination background layout="prev, pager, next" :total="1000"/>
    </el-drawer>
</template>

<script>
  export default {
    name: 'temp',

      property:{},

      fileList: [],

      list: null,
      assignment: {
          service: {
              code: 'VAL',
          },
      },
      activeName: '1',
      total: 0,
      tempRoute: {},
      query: {
          page: 1,
          assignment_id: 1,
          limit: 10,
          keyword: '',
      },
      form: {
          name: '',
          region: '',
          date1: '',
          date2: '',
          delivery: false,
          type: [],
          resource: '',
          desc: '',
          radio: '',
          area_for_calculation: 'bua',
          construction_type: '',
          additional_features: '',
          main_services: '',
          source_of_the_information: '',
          extent_of_investigation: '',
          previous_involvement_declaration: '',
          surveyor_declaration: '',
          micro_location: '',
          access_surroundings: '',
          water_marked_images: false,
          include_photos: '',
          photos_page_title: '',
          round_by: '',
          primary_market_value: '',
          forced_sale_value: '',
          fs_insted_sa: '',
          valuation_rationale_1: '',
          market_research: '',
      },
      ComparableMultipleSelection: [],
      ComparableTableData: [
          {
              date: '',
          },
          {
              date: '',
          },
          {
              date: '',
          },
          {
              date: '',
          },
          {
              date: '',
          },
          {
              date: '',
          },
          {
              date: '',
          },
      ],
      ComparableTableQuery: {
          page: 1,
          limit: 20,
          importance: undefined,
          title: undefined,
          type: undefined,
          sort: '+id',
      },
      additionalRow: false,
      costMethods: [
          {
              desc: 'Land Cost',
              area_length: 123.0,
              rate_area: 23.0,
              age: undefined,
              life_expectancy: undefined,
              persentage_of_depreciation: '',
              apply: true,
          },
          {
              desc: 'Construction Cost',
              area_length: 123.0,
              rate_area: 23.0,
              age: undefined,
              life_expectancy: undefined,
              persentage_of_depreciation: '',
              apply: true,
          },
      ],
      costMethodsUCPC: [
          {
              desc: '',
              area_length: 0,
              completion: 0,
              cost_is_as: undefined,
              cost_is_completed: undefined,
              apply: true,
          },
      ],
      costMethodsUC: [
          {
              desc: 'Land',
              area_length: 0,
              completion: 0,
              rate_area: undefined,
              cost_is_as: undefined,
              cost_is_completed: undefined,
              apply: true,
          },
          {
              desc: 'Construction Cost',
              area_length: 0,
              completion: 0,
              rate_area: undefined,
              cost_is_as: undefined,
              cost_is_completed: undefined,
              apply: true,
          },
      ],
      IncomeBreakdown: [
          {
              floor_units: '',
              type: '',
              no_of_units: '',
              area: '',
              rent_unit: '',
              total_rent: '',
          },
      ],
      CostBreakdown: [
          {
              operational_costs: '',
              deduction: '',
              total_deduction: '',
          },
      ],
      dialogImageUrl: '',
      dialogVisible: false,
      disabled: false,
      new_boundary_walls: [],
      new_yard_covering: [],
      new_structures: [],
      new_cladding: [],
      new_windows: [],
      new_doors: [],
      new_facilities: [],
      new_finishing: [],
      new_air_conditioning: [],
      new_views: [],
      checkedSurroundings: [],
      methods: [
          {
              value: 1,
              label: 'Comparison Method',
          },
          {
              value: 2,
              label: 'Cost Method',
          },
          {
              value: 3,
              label: 'Cost Method (Under Construction)',
          },
          {
              value: 4,
              label: 'Income Method',
          },
      ],
      checkedMethods: [],
      specification: '',
      activeValuation: 0,
      comparablesData: [
          {
              date: '2016-05-5',
              type: 'Apartment',
              tx_type: 'Asking',
              area: 0,
              area_rate: 0,
              bua: 538,
              bua_rate: 1171,
              market_value: 630000,
              tx_details: 'Azizi Aliyah, Studio Apt, Mid floor, Community View',
          },
          {
              date: '2016-05-8',
              type: 'Apartment',
              tx_type: 'Asking',
              area: 0,
              area_rate: 0,
              bua: 538,
              bua_rate: 1171,
              market_value: 630000,
              tx_details: 'Azizi Aliyah, Studio Apt, Mid floor, Community View',
          },
          {
              date: '2016-05-6',
              type: 'Apartment',
              tx_type: 'Asking',
              area: 0,
              area_rate: 0,
              bua: 538,
              bua_rate: 1171,
              market_value: 630000,
              tx_details: 'Azizi Aliyah, Studio Apt, Mid floor, Community View',
          },
          {
              date: '2016-05-8',
              type: 'Apartment',
              tx_type: 'Asking',
              area: 0,
              area_rate: 0,
              bua: 538,
              bua_rate: 1171,
              market_value: 630000,
              tx_details: 'Azizi Aliyah, Studio Apt, Mid floor, Community View',
          },
      ],
      money: {
          decimal: '.',
          thousands: ',',
          prefix: '',
          suffix: '',
          precision: 0,
          masked: false,
      },
      use_decimal_for_rate_area: false,
      dialogComparableVisible: false,
      dialogEditComparableVisible: false,
      drawerComparableVisible: false,
      comparableCreating: false,
      comparableEditing: false,
      newComparable: {},
      editComparable: {},
      activities: [
          {
              content:
                  'The report is send to manager for verification by Navtej Jhagra',
              timestamp: '2018-04-15',
          },
          {
              content: 'Final report has been generated.',
              timestamp: '2018-04-13',
          },
          {
              content: 'The report is send to manager for verification.',
              timestamp: '2018-04-11',
          },
      ],





      async getPropertyValuation(){
          const { data } = await propertyValuationResource.get(this.$route.params.id);
          this.property = data;
          this.inspection = data.inspection;
      },
      toggleSelection(rows) {
          if (rows) {
              rows.forEach(row => {
                  this.$refs.multipleTable.toggleRowSelection(row);
              });
          } else {
              this.$refs.multipleTable.clearSelection();
          }
      },
      handleSelectionChange(val) {
          this.ComparableMultipleSelection = val;
      },
      handleAddCostBreakdown() {
          this.CostBreakdown.push({
              operational_costs: '',
              deduction: '',
              total_deduction: '',
          });
      },
      handleAddIncomeBreakdown() {
          this.IncomeBreakdown.push({
              floor_units: '',
              type: '',
              no_of_units: '',
              area: '',
              rent_unit: '',
              total_rent: '',
          });
      },
      handleAddCostMethodUCPC() {
          this.costMethodsUCPC.push({
              desc: '',
              area_length: 0,
              completion: 0,
              cost_is_as: undefined,
              cost_is_completed: undefined,
              apply: true,
          });
      },
      handleAddCostMethodUC() {
          this.costMethodsUC.push({
              desc: '',
              area_length: 0,
              completion: 0,
              rate_area: undefined,
              cost_is_as: undefined,
              cost_is_completed: undefined,
              apply: true,
          });
      },
      handleAddCostMethod() {
          this.costMethods.push({
              desc: '',
              area_length: 0,
              rate_area: 0,
              age: undefined,
              life_expectancy: undefined,
              persentage_of_depreciation: '',
              apply: true,
          });
      },
      handlePictureCardPreview(file) {
          this.dialogImageUrl = file.url;
          this.dialogVisible = true;
      },
      handleDownload(file) {
          console.log(file);
      },
      handleSuccessUpload(response, file, fileList) {
          this.fileList.push(file);
          console.log(response, file, fileList);
      },
      handlePreview() {
          console.log('handlePreview');
      },
      removeComparable(scope) {
          this.comparablesData.splice(scope.$index, 1);
      },
      handleEditComparable(scope) {
          this.dialogEditComparableVisible = true;
          console.log('dialogEditComparableVisible');
      },
      createComparable(scope) {
          console.log('create Comparable');
          this.$message({
              message: `New Comparable has been created successfully.`,
              type: 'success',
              duration: 5 * 1000,
          });
          this.dialogComparableVisible = false;
      },
      handEditComparable(scope) {
          console.log('hand Edit Comparable');
          this.$message({
              message: `Comparable has been updated successfully.`,
              type: 'success',
              duration: 5 * 1000,
          });
          this.dialogEditComparableVisible = false;
      },
      handleCreateComparable() {
          this.dialogComparableVisible = true;
          console.log('handleCreateComparable');
      },
      handleInsertComparable() {
          this.drawerComparableVisible = true;
          console.log('drawerComparableVisible');
      },
      handleClick() {
          alert('button click');
      },
      nextValuation() {
          if (++this.activeValuation > 7) this.activeValuation = 0;
      },
      previousValuation() {
          if (--this.activeValuation > 7) this.activeValuation = 0;
      },
      setValuation(val) {
          this.activeValuation = val;
      },


      handleValuation(row) {
          this.$router.push({ name: 'propertyValuation', params: { id: row.id } });
      },
      handleDefects(row) {
          this.$router.push({ name: 'propertyDefects', params: { id: row.id } });
      },
      handleReports(row) {
          this.$router.push({ name: 'propertyReports', params: { id: row.id } });
      },
      async getList() {
          const { limit, page } = this.query;
          this.loading = true;
          const { data, meta } = await assignmentResource.propertiesList(
              this.query
          );
          this.list = data;
          this.list.forEach((element, index) => {
              element['index'] = (page - 1) * limit + index + 1;
          });
          this.total = meta.total;
          this.loading = false;
      },
      async getAssignment() {
          const { data } = await assignmentResource.get(this.$route.params.id);
          this.assignment = data;
      },
      setTagsViewTitle() {
          const title = 'Property Valuation'; // Should move to i18n
          const route = Object.assign({}, this.tempRoute, {
              title: `${title} - [${this.$route.params.id}]`,
          });
          this.$store.dispatch('tagsView/updateVisitedView', route);
      },
      handleChange(val) {},
      handleRemove(file, fileList) {
          console.log(file, fileList);
      },
  };
</script>

<style scoped>

</style>
