<template>
  <!--<el-scrollbar wrap-class="scrollbar-wrapper">
    <el-menu
            :show-timeout="200"
            :default-active="$route.path"
            :collapse="isCollapse"
            mode="vertical"
            background-color="#304156"
            text-color="#bfcbd9"
            active-text-color="#409EFF">
      <sidebar-item v-for="route in routes" :key="route.path" :item="route" :base-path="route.path"/>
    </el-menu>
  </el-scrollbar>-->
    <div class="side-content-wrap">
        <div class="sidebar-left rtl-ps-none" :class="{'open':closeMenu}">
            <ul class="navigation-left">
                <sidebar-item v-for="route in permission_routes" :key="route.path" :item="route" :base-path="route.path"/>
            </ul>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import SidebarItem from './SidebarItem';
    import UserCard from "@/views/clients/components/UserCard";
    import variables from '@/styles/variables.scss'
    import Item from './Item'

    export default {
        components: {
            UserCard,
            SidebarItem,Item },
        props: {
            closeMenu: {
                default: true,
                type: Boolean
            }
        },
        data() {
            // To fix https://github.com/PanJiaChen/vue-admin-template/issues/237
            // TODO: refactor with render function
            this.onlyOneChild = null
            return {
                showSubMenu: false
            }
        },
        computed: {
            ...mapGetters([
                'sidebar',
                'permission_routes',
            ]),
            routes() {
                return this.$store.state.permission.routes;
            },
            isCollapse() {
                return !this.sidebar.opened;
            },
        },
        methods:{
            hasOneShowingChild(children = [], parent) {
                const showingChildren = children.filter(item => {
                    if (item.hidden) {
                        return false
                    } else {
                        // Temp set(will be used if only has one showing child)
                        this.onlyOneChild = item
                        return true
                    }
                })

                // When there is only one child router, the child router is displayed by default
                if (showingChildren.length === 1) {
                    return true
                }

                // Show parent if there are no child router to display
                if (showingChildren.length === 0) {
                    this.onlyOneChild = {...parent, path: '', noShowingChildren: true}
                    return true
                }

                return false
            },
        }
    };
</script>

<style scoped>
    .navigation-left {
        overflow-x: scroll;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #dee2e6;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #dee2e6;
    }
</style>
