<template>
    <!-- <div v-if="!item.hidden&&item.children" class="menu-wrapper">

       <template v-if="hasOneShowingChild(item.children,item) && (!onlyOneChild.children||onlyOneChild.noShowingChildren)&&!item.alwaysShow">
         <app-link :to="resolvePath(onlyOneChild.path)">
           <el-menu-item :index="resolvePath(onlyOneChild.path)" :class="{'submenu-title-noDropdown':!isNest}">
             <item v-if="onlyOneChild.meta" :icon="onlyOneChild.meta.icon||item.meta.icon" :title="generateTitle(onlyOneChild.meta.title)" />
           </el-menu-item>
         </app-link>
       </template>

       <el-submenu v-else :index="resolvePath(item.path)">
         <template slot="title">
           <item v-if="item.meta" :icon="item.meta.icon" :title="generateTitle(item.meta.title)" />
         </template>

         <template v-for="child in visibleChildren">
           <sidebar-item
             v-if="child.children&&child.children.length>0"
             :is-nest="true"
             :item="child"
             :key="child.path"
             :base-path="resolvePath(child.path)"
             class="nest-menu" />
           <app-link v-else :to="resolvePath(child.path)" :key="child.name">
             <el-menu-item :index="resolvePath(child.path)">
               <item v-if="child.meta" :icon="child.meta.icon" :title="generateTitle(child.meta.title)" />
             </el-menu-item>
           </app-link>
         </template>
       </el-submenu>

     </div>-->
    <li class="nav-item" v-if="!item.hidden">
        <template
            v-if="hasOneShowingChild(item.children,item) && (!onlyOneChild.children||onlyOneChild.noShowingChildren) && !item.alwaysShow">
            <app-link class="nav-item-hold" v-if="onlyOneChild.meta"
                      :to="resolvePath(onlyOneChild.path)">
                <!-- <i class="nav-icon i-Bar-Chart"></i> -->
               <svg-icon :icon-class="onlyOneChild.meta.icon"/>
                <span class="nav-text">{{onlyOneChild.meta.title}}</span>
            </app-link>
            <div class="triangle"></div>
        </template>
        <template v-else>
<!--            {{ item }}-->
            <!--<app-link class="nav-item-hold" v-if="item.path"
                      :to="resolvePath(item.path)">

            </app-link>-->
            <a href="javascript:;" class="nav-item-hold">
                <!-- <i class="nav-icon i-Bar-Chart"></i> -->
                <svg-icon :icon-class="item.meta.icon"/>
                <span class="nav-text" >{{item.meta.title}}</span>
            </a>
            <div class="triangle"></div>
            <div class="sidebar-left-secondary rtl-ps-none ps">
                <ul class="sub-menu childNav">
                    <li v-for="(child,index) in item.children" :key="index" v-if="!child.hidden" class="nav-item">
                        <app-link v-if="child.meta"
                                :to="resolvePath(child.path)">
                           <!-- <svg-icon :icon-class="child.meta.icon"/> -->
                            <span class="item-name" >{{child.meta.title}}</span>
                        </app-link>
                    </li>
                </ul>
            </div>


        </template>
    </li>
</template>

<script>
    import path from 'path';
    import { isExternal } from '@/utils/validate';
    import Item from './Item';
    import AppLink from './Link';
    import { generateTitle } from '@/utils/i18n';

    export default {
        name: 'SidebarItem',
        components: { Item, AppLink },
        props: {
            // route object
            item: {
                type: Object,
                required: true,
            },
            isNest: {
                type: Boolean,
                default: false,
            },
            basePath: {
                type: String,
                default: '',
            },
        },
        data() {
            return {
                onlyOneChild: null,
                showSubMenu: false
            };
        },
        computed: {
            visibleChildren() {
                return this.item.children.filter(item => !item.hidden);
            },
        },
        methods: {
            hasOneShowingChild(children, parent) {
                const showingChildren = children.filter(item => {
                    if (item.hidden) {
                        return false;
                    } else {
                        // Temp set(will be used if only has one showing child)
                        this.onlyOneChild = item;
                        return true;
                    }
                });

                // When there is only one child router, the child router is displayed by default
                if (showingChildren.length === 1) {
                    return true;
                }

                // Show parent if there are no child router to display
                if (showingChildren.length === 0) {
                    this.onlyOneChild = { ... parent, path: '', noShowingChildren: true };
                    return true;
                }

                return false;
            },
            resolvePath(routePath) {
                if (this.isExternalLink(routePath)) {
                    return routePath;
                }
                return path.resolve(this.basePath, routePath);
            },
            isExternalLink(routePath) {
                return isExternal(routePath);
            },
            generateTitle,
        },
    };
</script>
<style scoped>
    .active {
        color: #b0132b !important;
    }

    .svg-icon {
        font-size: 30px;
    }
</style>
