<template>
  <div style="display: inline-block;">
    <el-dialog
            title="Discussion Board"
            :visible.sync="dialogCommentVisible"
            width="50%">
      <div v-loading="dialogCommentLoading">

        <el-timeline>
          <el-timeline-item
                  v-for="(comment, index) in comments"
                  :key="index"
                  :timestamp="comment.created_at">
            <b>{{ comment.commenter.firstname }} {{ comment.commenter.lastname }}:</b> {{ comment.comment }}
            <!--<i class="el-icon-delete delete-comment" @click="handleCommentDelete(comment.id)"></i>-->
          </el-timeline-item>
        </el-timeline>

        <el-form-item label-width="65px" :error="get('comment')">
          <el-input placeholder="Write a comment..." v-model="comment">
            <el-button slot="append" icon="el-icon-plus" :disabled="storingComment" :loading="storingComment" @click="handleCommentCreate"/>
          </el-input>
        </el-form-item>
      </div>

    </el-dialog>
    <el-tooltip v-if="comments.length" class="item" effect="dark" :content="comments[comments.length-1].comment" placement="top-start">
      <el-badge is-dot>
        <el-button v-shortkey="['ctrl','d']" size="mini" @shortkey.native="handleComment"  @click="handleComment" type="primary">Discussion Board</el-button>
      </el-badge>
    </el-tooltip>
    <el-button v-else v-shortkey="['ctrl','d']" size="mini" @shortkey.native="handleComment"  @click="handleComment" type="primary">Discussion Board</el-button>

  </div>
</template>

<script>
    import BackendErrors from '@/mixins/backend-errors';
    import CommentResource from '@/api/comments'
    const commentResource = new CommentResource();

    export default {
        name: 'CommentBoard',
        mixins:[BackendErrors],
        props: ['commentableId','commentableType'],
        data() {
            return {
                dialogCommentVisible:false,
                dialogCommentLoading:false,
                storingComment:false,
                comments: [],
                comment:'',
            }
        },
        mounted(){
            this.getComments();
        },
        methods: {
            handleComment(){
                this.dialogCommentVisible = true;
                if (!this.comments.length){
                    this.dialogCommentLoading = true;
                    this.getComments()
                        .then(response => {
                        })
                        .finally(()=>{
                            this.dialogCommentLoading = false;
                        });
                }
            },
            handleCommentCreate(){
                this.storingComment = true;
                commentResource.store({
                    comment: this.comment,
                    commentable_type: this.commentableType,
                    commentable_id: this.commentableId,
                }).then(response => {
                    // console.log(response);
                    this.comment = ''
                    this.clear();
                }).catch(error => {
                    this.record(error);
                    console.log(error);
                }).finally(()=>{
                    this.storingComment = false;
                    this.getComments()
                });
            },
            handleCommentDelete(id){
                commentResource.destroy(id)
                    .then(response => {
                        // console.log(response);
                    }).catch(error => {
                }).finally(()=>{
                    this.getComments()
                });
            },
            async getComments(){
                await commentResource.getByProject(this.commentableId)
                    .then(response => {
                        this.comments = response.comments;
                    });
            }
        },
    };
</script>

<style rel="stylesheet/scss" lang="scss" scoped>

  .delete-comment{
    float: right;
    color: red;
    cursor: pointer;
  }
</style>
