<template>
    <span>
        <el-tooltip class="item" effect="dark" :content="text" placement="top">
            <i :class="icon" :style="{color: color}"></i>
        </el-tooltip>
    </span>
</template>

<script>
    import checkRole from '@/utils/role';

    export default {
        name: "arrow",
        props:['upWord'],
        data(){
            return {
                roles:['admin','fom manager'],
                reverse:true,
            }
        },
        created(){
            this.reverse = checkRole(this.roles);
        },
        computed:{
            text(){
                if (this.reverse){
                    return (this.upWord) ? 'Incoming':'Out Going';
                }

                return (!this.upWord) ? 'Incoming':'Out Going';
            },
            icon(){

                if (this.reverse){
                    return (this.upWord) ? 'el-icon-bottom':'el-icon-top';
                }

                return (!this.upWord) ? 'el-icon-bottom':'el-icon-top';
            },
            color(){
                if (this.reverse){
                    return (this.upWord) ? 'green':'red';
                }

                return (!this.upWord) ? 'green':'red';
            }
        },
        methods:{
            checkRole,
        }
    }
</script>

<style scoped>

</style>