<template>
    <el-col :span="1">
        <el-tooltip class="item" effect="dark" :content="text" placement="top">
            <i :class="icon"></i>
        </el-tooltip>
    </el-col>
</template>

<script>
    export default {
        name: "bell",
        props:['value'],
        computed:{
            icon(){
                return this.value ? 'el-icon-message-solid':'el-icon-bell';
            },
            text(){
                return this.value ? 'Users are Notified!':'Users not Notified!';

            }
        }
    }
</script>

<style scoped>

</style>