<template>
    <div>
        <div>
            <el-input
                    type="textarea"
                    :rows="3"
                    style="width: 100%"
                    placeholder="Please input notification"
                    v-model="comment">
            </el-input>
        </div>
        <div>
        <el-button @click="sendNotificationTask(task)" type="primary" icon="el-icon-bell" :disabled="isSendNotificationTask">Send</el-button>
        </div>
        <div class="task-comments">
            
            <comments-index :comments="task.comments"/>
        </div>
    </div>
</template>

<script>

    import CommentsIndex from '@/components/Comments/CommentsIndex';
    import CommentResource from '@/api/comments'
    const commentResource = new CommentResource();

    export default {
        name: "notification-task-body",
        props:['task'],
        components: {
            CommentsIndex,
        },
        data() {
            return {
                isSendNotificationTask:false,
                comments:[],
                comment:''
            };
        },
        mounted(){
            this.comments = this.task.comments;
            this.comment = this.task.notification_message;
        },
        methods:{
            sendNotificationTask(task){

                this.isSendNotificationTask = true;

                let editTask = {
                    commentable_id: task.id,
                    commentable_type: 'fom_task_notified',
                    comment: this.comment,
                };

                // this.comments.push(this.comment)

                commentResource
                    .store(editTask)
                    .then(response => {
                        this.$message({
                            message: `Congrats, users are notified!`,
                            type: 'success',
                            duration: 5 * 1000,
                        });
                        this.comments.push(response)
                        this.comment = '';
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.isSendNotificationTask = false;
                    });
            },
        }
    }
</script>

<style scoped>

</style>