<template>
    <el-tooltip class="item" effect="dark" :content="type" placement="top-start">
        <span :class="icon"></span>
    </el-tooltip>
</template>

<script>
    export default {
        name: "task-type-icon",
        props:['type'],
        computed:{
            icon(){

                if(this.type === 'notification'){
                    return 'el-icon-bell';
                }else if(this.type === 'fill-up form'){
                    return 'el-icon-tickets';
                }

                return 'el-icon-upload';
            }
        }
    }
</script>

<style scoped>

</style>