<template>
    <el-row class="tasks-table-header">

        <el-col :span="12">
            <strong>Title</strong>
        </el-col>

        <el-col :span="4" class="avatars">
            Receivers
        </el-col>
        <el-col :span="4" class="avatars">
            Senders
        </el-col>

        <el-col :span="2">
            &nbsp;
        </el-col>

        <el-col :span="2">
            Due Date
        </el-col>

    </el-row>
</template>
<script>
    export default {
        name: 'tasksTableHeader',
    }
</script>
<style lang="scss" scoped>
    .tasks-table-header {
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 12px;
    }
</style>
