<template>

    <div>
        <el-row>
            <el-col :span="19">
                <el-form-item :label="label" :error="error" v-if="labelDisplay">
                    <el-select
                            style="width:100%;"
                            v-model="selected"
                            :size="size"
                            class="filter-item"
                            :placeholder="`select ${label}`"
                            :multiple="multiple"
                            filterable
                            :clearable="clearable"
                            @change="valueChange">
                        <el-option v-for="item in list" :key="item.id"  :label="`${item[display]}`" :value="item.id" />
                    </el-select>
                </el-form-item>
                <el-select
                        v-else
                        style="width:100%;"
                        v-model="selected"
                        :size="size"
                        class="filter-item"
                        :placeholder="`select ${label}`"
                        :multiple="multiple"
                        filterable
                        :clearable="clearable"
                        @change="valueChange">
                    <el-option v-for="item in list" :key="item.id"  :label="`${item[display]}`" :value="item.id" />
                </el-select>
            </el-col>
            <el-col :span="5">
                <el-button icon="el-icon-refresh" :size="size" @click="getList" v-if="refresh"/>
                <el-button icon="el-icon-plus" style="padding: 6px 15px;margin: 0;margin-top: 22px;margin-left: 6px;border-radius: 3px;" :size="size" @click="handleCreateUser" v-if="allowCreate"/>
              
              
              
                <el-dialog append-to-body :title="createTitle" :visible.sync="CreateUserDialogVisible" class="val-inc-popup valuation-lists" width="500px">
                    <div class="form-container">
                        
                        <el-form ref="userForm" :model="newUser">
                           <el-row  :gutter="20">

                        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                          
                            <!--<select-resource
                                    v-model="newUser.roles"
                                    v-if="!defaultRoles.length"
                                    label="Roles"
                                    :error="get('roles')"
                                    resource-name="roles"
                                    :multiple="true"
                                    display="name"/>-->

                          
                          
                            <select-resource
                                    v-model="newUser.client_id"
                                    v-if="newUser.roles.includes(10)"
                                    label="Client"
                                    :error="get('client')"
                                    resource-name="clients"
                                    display="fullname"/>

                        </el-col>
                           <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="First Name" :error="get('firstname')">
                                <el-input v-model="newUser.firstname" />
                            </el-form-item>
</el-col>
                           <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                            <el-form-item label="Last Name" :error="get('lastname')">
                                <el-input v-model="newUser.lastname" />
                            </el-form-item>
                            </el-col>
                             <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-form-item :label="$t('user.email')" :error="get('email')">
                                <el-input v-model="newUser.email" />
                            </el-form-item>
                            </el-col>
                            <!--<el-form-item label="Notify User">
                                <el-switch v-model="newUser.notify"></el-switch>
                            </el-form-item>-->

                            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                            <el-button @click="CreateUserDialogVisible = false">
                                {{ $t('table.cancel') }}
                            </el-button>
                            <el-button type="primary" @click="createUser">
                                {{ $t('table.confirm') }}
                            </el-button>
                            </el-col>
                            
                           </el-row>

                        </el-form>
                      
                    </div>
                </el-dialog>


            </el-col>
        </el-row>
    </div>
</template>

<script>

    import Resource from '@/api/resource';
    import BackendErrors from '@/mixins/backend-errors';
    import SelectResource from '@/components/SelectResource';

    const userResource = new Resource('users');

    export default {
        name: 'index',
        mixins:[BackendErrors],
        components: { SelectResource },
        data(){
            return {
                list:[],
                selected:null,
                resource:null,
                CreateUserDialogVisible:false,
                userCreating:false,
                newUser:{
                    roles:[],
                    notify:false,
                    password: 'secret',
                    password_confirmation: 'secret',
                }
            }
        },
        created(){
            this.resource = new Resource(`resource-selection/${this.resourceName}`);
            this.getList();
            this.selected = this.value;
        },
        props:{
            resourceName:{
                type:String,
                required:true
            },
            error:{
                type:String,
                default:''
            },
            label:{
                type:String,
                required:''
            },
            display:{
                type:String,
                default:'title'
            },
            options:{
                type:Object,
                default: () => {}
            },
            multiple:{
                type:Boolean,
                default:false
            },
            value:{
                required:true
            },
            refresh:{
                default:false
            },
            clearable:{
                required:false
            },
            labelDisplay:{
                default:true
            },
            createTitle:{
                default:'No Title'
            },
            size:{
                default:'mini'
            },
            allowCreate:{
                default:false
            },
            defaultRoles:{
                default: () => []
            },
        },
        methods:{
            getList(){
                this.resource.list(this.options)
                    .then(response=>{
                        this.list = response
                    }).catch(error=>{
                    console.log('error')
                });
            },
            valueChange(){
                this.$emit('input',this.selected);
                this.$emit('change',this.selected);
            },
            handleCreateUser(){
                this.resetNewUser();
                this.CreateUserDialogVisible = true;
            },
            createUser() {
                this.userCreating = true;
                userResource
                    .store(this.newUser)
                    .then(response => {
                        this.$message({
                            message: 'New record has been created successfully.',
                            type: 'success',
                            duration: 5 * 1000,
                        });
//                        this.resetNewUser();
                        this.CreateUserDialogVisible = false;
                        this.getList();
                    })
                    .catch(error => {
                        this.record(error);
                        console.log(error);
                    })
                    .finally(() => {
                        this.userCreating = false;
                    });
            },
            resetNewUser(){
                this.newUser = {
                    roles: this.defaultRoles,
                    notify:false,
                    password: 'secret',
                    password_confirmation: 'secret',
                }

            }
        },
        watch:{
            value(){
                this.selected = this.value;
            },
            /*defaultRoles(){
                this.newuser.roles = this.defaultRoles;
            }*/
        }
    };
</script>
