<template>
    <div class="app-container">

        <div class="filter-container">
            <el-input v-model="query.keyword" clearable @clear="handleFilter" :placeholder="$t('table.keyword')" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
            <el-radio-group v-model="query.type" @change="handleFilter">
                <el-radio-button label="Inquiry"/>
                <el-radio-button label="Proposal"/>
                <el-radio-button label="Failed"/>
                <el-radio-button label="Success"/>
            </el-radio-group>
            <el-button class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">
                {{ $t('table.search') }}
            </el-button>
            <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-plus" @click="handleCreate">
                {{ $t('table.add') }}
            </el-button>
        </div>

        <el-table :data="list" border fit highlight-current-row style="width: 100%">

            <!--<el-table-column align="center" label="ID" width="60">
                <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" :content="`${scope.row.id}`">
                        <div>{{ scope.row.id }}</div>
                    </el-tooltip>
                </template>
            </el-table-column>-->
            <el-table-column align="center" label="LS Ref" prop="ls_ref"/>
            <el-table-column align="center" label="Type" prop="type"/>
            <el-table-column align="center" label="Source" prop="source"/>
            <el-table-column align="center" label="Client Name" prop="client_name"/>
            <el-table-column align="center" label="Community" prop="community"/>
            <el-table-column align="center" label="Floor Breakdown" prop="floor_breakdown"/>
            <el-table-column align="center" label="RFP Received" prop="rfp_received"/>
            <el-table-column align="center" label="Proposal Sent" prop="proposal_sent"/>
            <el-table-column align="center" label="Request Service" prop="request_service"/>
            <el-table-column align="center" label="Property Name" prop="property_name"/>
            <el-table-column align="center" label="Contact Name" prop="contact_name"/>
            <el-table-column align="center" label="Mobile" prop="mobile"/>
            <el-table-column align="center" label="Telephone" prop="telephone"/>
            <el-table-column align="center" label="Email" prop="email"/>

        </el-table>
        <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.limit" @pagination="getList" />
        <el-dialog :title="'Create Lead/Job'" :visible.sync="newLeadDialogFormVisible">


            <div class="form-container" v-loading="leadCreating">
                <el-form ref="newLead" :model="newLead" label-position="left" label-width="250px" style="max-width: 600px;margin-left: 50px;">


                    <el-form-item label="Type" :error="get('service')">
                        <el-select style="width:100%;" class="filter-item" placeholder="Please select" v-model="newLead.service">
                            <el-option label="Inquiry" value="Inquiry"/>
                            <el-option label="Proposal" value="Proposal"/>
                            <el-option label="Failed" value="Failed"/>
                            <el-option label="Success" value="Success"/>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Source" :error="get('source')" v-model="newLead.source">
                        <el-select style="width:100%;" class="filter-item" placeholder="Please select">
                            <el-option label="Website" value="Website"/>
                            <el-option label="Email" value="Email"/>
                            <el-option label="Owner Association" value="Owner Association"/>
                            <el-option label="Phone" value="Phone"/>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="Client Name" :error="get('client_name')">
                        <el-input v-model="newLead.client_name" />
                    </el-form-item>

                    <el-form-item label="Community" :error="get('community')">
                        <el-input v-model="newLead.community" />
                    </el-form-item>

                    <el-form-item label="Floor Breakdown" :error="get('floor_breakdown')">
                        <el-input v-model="newLead.floor_breakdown" />
                    </el-form-item>

                    <el-form-item label="RFP Received" :error="get('rfp_received')">
                        <el-date-picker v-model="newLead.rfp_received" />
                    </el-form-item>

                    <el-form-item label="Proposal Sent" :error="get('proposal_sent')">
                        <el-date-picker v-model="newLead.proposal_sent" />
                    </el-form-item>

                    <el-form-item label="Property Name" :error="get('property_name')">
                        <el-input v-model="newLead.property_name" />
                    </el-form-item>

                    <el-form-item label="Contact Name" :error="get('contact_name')">
                        <el-input v-model="newLead.contact_name" />
                    </el-form-item>

                    <el-form-item label="Mobile" :error="get('mobile')">
                        <el-input v-model="newLead.mobile" />
                    </el-form-item>

                    <el-form-item label="Telephone" :error="get('telephone')">
                        <el-input v-model="newLead.telephone" />
                    </el-form-item>

                    <el-form-item label="Email" :error="get('email')">
                        <el-input v-model="newLead.email" />
                    </el-form-item>

                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="newLeadDialogFormVisible = false">
                        {{ $t('table.cancel') }}
                    </el-button>
                    <el-button type="primary" @click="createLead()">
                        {{ $t('table.confirm') }}
                    </el-button>
                </div>
            </div>

        </el-dialog>
    </div>

</template>

<script>
    //components
    import Pagination from '@/components/Pagination';

    //mixins
    import BackendErrors from '@/mixins/backend-errors';

    //apis
    import Resource from '@/api/resource';
    const leadResource = new Resource('leads');

    export default {
        name: 'CRMJobList',
        components: { Pagination },
        mixins:[BackendErrors],
        data() {
            return {
                query:{
                    type:'',
                    keyword:'',
                    page:1,
                    limit:10
                },
                list:[],
                loading:false,
                newLeadDialogFormVisible:false,
                leadCreating:false,
                total:0,
                newLead:{}
            };
        },
        created() {
            this.getList();
        },
        methods:{
            async getList() {
                const { limit, page } = this.query;
                this.loading = true;
                const { data, meta } = await leadResource.list(this.query);
                this.list = data;
                this.list.forEach((element, index) => {
                    element['index'] = (page - 1) * limit + index + 1;
                });
                this.total = meta.total;
                this.loading = false;
            },
            handleFilter() {
                this.query.page = 1;
                this.getList();
            },
            handleCreate() {
                this.resetNewLead();
                this.clear();
                this.newLeadDialogFormVisible = true;
            },
            resetNewLead(){
                this.newLead = {
                    type:'',
                    source:'',
                    client_name:'',
                    community:'',
                    floor_breakdown:'',
                    rfp_received:'',
                    proposal_sent:'',
                    ls_ref:'',
                    request_service:'',
                    property_name:'',
                    contact_name:'',
                    mobile:'',
                    telephone:'',
                    email:'',
                }
            },
            createLead(){
                console.log('createLead');
            }
        }
    };
</script>

<style lang="scss" scoped>

</style>
