//to reset element-ui default css
.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 0px;
  }
}

.small-padding {
  .cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.fixed-width {
  .el-button--mini {
    padding: 7px 10px;
    width: 60px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;

    .el-tag {
      margin-right: 0px;
    }
  }
}

.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

.article-textarea {
  textarea {
    padding-right: 40px;
    resize: none;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #bfcbd9;
  }
}

//element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

//dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

//Unit List Page
//steps
.unit-list{
    .el-step__title{
        line-height: 20px;
        font-size: 14px;
    }

    .el-table--medium td, .el-table--medium th{
        padding: 2px 0;
        align: center;
    }

    .el-table .cell{
        line-height: 16px;
    }

    .cell .el-form-item{
        padding-top: 2px;
        margin-bottom: 0;
    }
}


.project-stages .el-step.is-horizontal.is-center{
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 50px
}

.group-title .el-avatar--circle{
  width: 31px;
  height: 31px;
}
.group-title .avatars{
  display: flex;
  align-items: center;
}

.unit-list .el-collapse-item__header{
  line-height: 18px;
}

.unit-list .group-title .el-col{
  display: flex;
  strong{
    margin-left: 7px;
  }
}
*{
  word-break: normal;
}