/*@import '~normalize.css/normalize.css';
@import '~element-ui/lib/theme-chalk/index.css';
@import 'variables';
@import 'mixin';
@import 'transition';
@import 'element-ui';
@import 'sidebar';
@import 'btn';
@import 'laravue';

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
    font-weight: 700;
}

html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.no-padding {
    padding: 0px !important;
}

.padding-content {
    padding: 4px 0;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.pr-5 {
    padding-right: 5px;
}

.pl-5 {
    padding-left: 5px;
}

.block {
    display: block;
}

.pointer {
    cursor: pointer;
}

.inlineBlock {
    display: block;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

aside {
    background: #eef1f6;
    padding: 8px 24px;
    margin-bottom: 20px;
    border-radius: 2px;
    display: block;
    line-height: 32px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #2c3e50;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    a {
        color: #337ab7;
        cursor: pointer;

        &:hover {
            color: rgb(32, 160, 255);
        }
    }
}

// main-container padding
.app-container {
    padding: 20px;
}

.components-container {
    margin: 30px 50px;
    position: relative;
}

.pagination-container {
    margin-top: 30px;
}

.text-center {
    text-align: center
}

.sub-navbar {
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    transition: 600ms ease position;
    background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

    .subtitle {
        font-size: 20px;
        color: #fff;
    }

    &.draft {
        background: #d0d0d0;
    }

    &.deleted {
        background: #d0d0d0;
    }
}

.link-type,
.link-type:focus {
    color: #337ab7;
    cursor: pointer;

    &:hover {
        color: rgb(32, 160, 255);
    }
}

.filter-container {
    padding-bottom: 10px;

    .filter-item {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
    }
}

//refine vue-multiselect plugin
.multiselect {
    line-height: 16px;
}

.multiselect--active {
    z-index: 1000 !important;
}*/


//asad


@font-face {
    font-family: 'Century Gothic Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Century Gothic Regular'), url('../fonts/GOTHIC.woff') format('woff');
}


@font-face {
    font-family: 'Century Gothic Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Century Gothic Italic'), url('../fonts/GOTHICI.woff') format('woff');
}


@font-face {
    font-family: 'Century Gothic Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Century Gothic Bold'), url('../fonts/GOTHICB.woff') format('woff');
}


@font-face {
    font-family: 'Century Gothic Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Century Gothic Bold Italic'), url('../fonts/GOTHICBI.woff') format('woff');
}


body {
    font-family: 'Century Gothic Regular' !important;
    font-style: normal !important;
    font-weight: normal !important;
}
.main-content-wrap {
    background: #f1f1f1 !important;
}

.dashboard-container .panel-group {
    margin-top: 5px !important;
}

.dashboard-editor-container {
    padding: 0 !important;
    background: #f1f1f1 !important;
}
.el-card {
    border: none;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    margin-bottom: 25px;
}

.el-card .el-card__body {
    padding: 26px 22px;
}

.el-card.filter-card .el-card__body {
    padding: 26px 22px 12px;
}

.el-form--inline .el-form-item__label {
    display: block;
    text-align: left;
    line-height: 20px !important;
    font-weight: normal;
    color: #707070;
    font-size: 13px;
    margin-bottom: 5px;
}

.el-input__inner {
    height: 40px;
    line-height: 40px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ced4da !important;
    background: #f8f9fa !important;
    font-weight: 400;
    text-transform: capitalize;
    color: #697580;
    letter-spacing: .5px;
}

.el-textarea__inner {
    min-height: 70px !important;
    line-height: 18px !important;
    width: 100%;
    border-radius: 3px !important;
    border: 1px solid #ced4da !important;
    background: #f8f9fa !important;
    font-weight: 400;
    text-transform: capitalize;
    color: #697580 !important;
    letter-spacing: .5px;
}

.el-select-dropdown__item.selected {
    color: #9e0d21 !important;
    font-weight: 500 !important;
}

.el-select .el-input.is-focus .el-input__inner , .el-select .el-input__inner:focus , .el-input__inner:focus {
    border: 1px solid #c9ced4 !important;
}

.el-select .el-input .el-select__caret {
    color: #2b3033;
}

.btn:focus {
    outline: unset !important;
    border: unset !important;
}

.el-select {
    width: 100%;
}

.el-form--inline .el-form-item__content {
    width: 100%;
}

.filter-container {
    padding: 0;;
}

.filter-container .filter-item , .el-form--inline .el-form-item {
    width: 100%;
    margin-bottom: 8px;
}

.el-card h4 {
    color: #31383e;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
}


.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
    font-weight: normal !important;
    color: #333333 !important;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
    color: #959ca1 !important;
}

.breadcurm {
    margin-bottom: 30px;
}

.buttons {
    text-align: right;
}
.assignment-buttons {
    text-align: left;
}

.buttons .btn, .btn {
    padding: 11px 20px !important;
    margin-left: 15px !important;
    color: #fff !important;
    font-size: 14px;
    line-height: 14px !important;
    border: none !important;
}
.btn i {
    margin-right: 5px;
}
.btn-blue , .btn-blue:hover , .btn-blue:active , .btn-blue:focus{
    background: #003258 !important;
    color: #fff;
    border: 1px solid #003258 !important;
    outline: none;
    box-shadow: none;
}


.st-popup .btn-blue {
    padding: 12px 25px;
    margin-top: 10px;
}
.inner-plus-popup .btn-blue {
    padding: 12px 25px;
    margin-top: 10px;
    margin-left: 0;
}
.btn-cancel {
    background: #fff !important;
    color: #9e0d21 !important;
    border: 1px solid #9e0d21 !important;
    margin-left: 0px !important;
    padding: 12px 25px;
    margin-top: 10px;
    outline: none;
    box-shadow: none;
}

.btn-search {
    padding: 11px 20px;
    margin-left: 0px;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    border: none;
    margin-top: 25px;
    width: 100%;
}

.switch-radio .el-radio-button {
    width: 38px !important;
    margin: 0;
}

.switch-radio .svg-icon {
    fill: #7c7c7c;
    background: unset;
}

.switch-radio .el-radio-button span.el-radio-button__inner {
    padding: 12px !important;
    border: none;
    color: #7c7c7c;

}

.switch-radio .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    color: #FFF;
    background-color: #003258;
    border-color: #003258;
    box-shadow: -1px 0 0 0 #003258;
}



.switch-radio .el-radio-button__orig-radio:checked+.el-radio-button__inner .svg-icon {
    fill: #FFF;
}


.btn-search i {
    margin-right: 5px;
}

.unit-view .el-card__body {
    padding: 20px !important;
    max-height: 202px;
    min-height: 202px;
    overflow: overlay;
}

.unit-view#project-card .el-card__body {
    max-height: unset;
}
.teer {
    position: relative;
}
.teer:before {
    width: 0px;
    height: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #ffffff;
    content: "";
    position: absolute;
    top: 70px;
    margin-left: 30px;
}

.st-popup span.el-dialog__title , .inner-plus-popup span.el-dialog__title {
    font-weight: bold;
    padding-bottom: 0;
    font-size: 22px;
    color: #333333;
}

.st-popup .el-dialog {
    width: 80%;
    padding: 40px;
}

.inner-plus-popup .el-dialog{
    width: 40%;
    padding: 40px;
}

.st-popup .el-dialog__body , .inner-plus-popup .el-dialog__body {
    padding: 0px;
}

.st-popup .el-dialog__header , .inner-plus-popup .el-dialog__header {
    margin-bottom: 20px;
    padding: 0px;
}

.st-popup .el-form--inline .el-form-item , .inner-plus-popup .el-form--inline .el-form-item {
    width: 100%;
    margin-bottom: 15px;
}

.select-multi-add .el-select {
    width: calc( 100% - 45px);
}
.select-multi-add .el-button {
    padding: 10px;
    border-radius: 3px;
    background: #13ba72;
    color: #fff;
    border: 1px solid #13ba72;
    width: 36px;
    outline: none;
    box-shadow: none;
    height: 36px;
    margin-left: 4px;
}

.select-multi-add .el-button:hover , .select-multi-add .el-button:active , .select-multi-add .el-button:focus , .select-multi-add .el-button:visited {
    background: #109f61;
    border: 1px solid #109f61;
    outline: none;
    box-shadow: none;
}


.unit-list .el-step__title {
    line-height: 12px;
    font-size: 11px !important;
    letter-spacing: .5px !important;
    font-weight: 500 !important;
    max-width: 105px;
    color: #bcbbbb;
    margin: 0 auto;
    margin-top: 8px;
}

.el-step__icon.is-text {
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    color: #f8f8f8;
    background: #f8f8f8;
    width: 18px;
    height: 18px;
}

.el-step__head.is-success .el-step__icon.is-text {
    border: 2px solid #13ba72 !important;
    color: #13ba72;
    background: #13ba72;
}

.el-step__head.is-finish .el-step__icon.is-text {
    border: 2px solid #075dac;
}


.el-step__line {background-color: #dfdfdf;}

.el-step__title.is-finish {
    color: #075dac;
}
.el-step__title.is-success {
    color: #13ba72;
}



.project-stages .el-step.is-horizontal {
    cursor: pointer;
}
.project-stages .el-step.is-horizontal.is-center {
    margin: 0;
}

.el-card.st-steps .el-card__body {
    padding: 18px 22px;
}


.el-card.st-step-detail .el-collapse {
    border: none;
}

.el-card.st-step-detail .el-collapse-item {
    padding: 0 !important;
    margin-bottom: 15px;
}
.el-card.st-step-detail .el-collapse-item__header {
    background: #f1f1f1;
    line-height: 30px !important;
    padding: 14px 20px;
    height: unset;
    border-radius: 5px;
    border: none !important;
    color: #31383e;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;

}



.el-card.st-step-detail .steps-col-title p {
    color: #959ca1;
    margin-bottom: 10px;

}

.el-card.st-step-detail .steps-col-title h5 {
    font-weight: bold;
    margin-bottom: 10px;
}

.el-card.st-step-detail .group-title .el-col strong {
    color: #31383e;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 15px;
    margin-top: 8px;
    padding-right: 40px;
    position: relative;
    top: 2px;
}

.el-card.st-step-detail .el-icon-bottom {
    color: #fff !important;
    background: #13ba72;
    width: 21px;
    text-align: center;
    height: 23px;
    font-size: 14px;
    border-radius: 3px;
    outline: none;
    box-shadow: none;
    line-height: 22px;
    margin-right: 7px;
    position: relative;
    top: 2px;
}

.el-card.st-step-detail .el-icon-top {
    color: #fff !important;
    background: #f15151;
    width: 21px;
    outline: none;
    box-shadow: none;
    text-align: center;
    height: 23px;
    font-size: 14px;
    border-radius: 3px;
    line-height: 24px;
    margin-right: 7px;
    position: relative;
    top: 3px;
}
.el-card.st-step-detail .group-title .avatars {
    max-height: 33px;
}
.el-card.st-step-detail .group-title .el-avatar--circle {
    width: 33px;
    height: 33px;
    margin-right: -15px;
    border: 2px solid #003258;
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.40) !important;
    outline: none;
    box-shadow: none;
    position: relative;
    transition: .5s;
    z-index: 1;

}
.el-card.st-step-detail .group-title .el-avatar--circle:hover {
    z-index: 10;
}
.el-card.st-step-detail .group-title .el-avatar>img {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
}

.el-card.st-step-detail .el-icon-bell {
    font-size: 16px;
    line-height: 33px;
    color: #003258;
    outline: none;
    box-shadow: none;
}
.el-card.st-step-detail .el-icon-message-solid {
    font-size: 16px;
    line-height: 33px;
    color: #880a1b;
    outline: none;
    box-shadow: none;
}

.el-card.st-step-detail .el-tag.el-tag--warning {
    background-color: #f2c4c4;
    outline: none;
    box-shadow: none;
    font-size: 11px;
    border-color: #f1a1a1;
    color: #f15151;
    padding: 1px 13px !important;
    border-radius: 3px;
    height: unset;
    margin-top: 2px;
}

.el-card.st-step-detail .el-collapse-item__content {
    padding: 20px 18px 20px 18px;
    box-shadow: unset;
    background: #fcfcfc;
    border: 2px solid #f1f1f1;
}


.el-card.st-step-detail .group-form {
    padding: unset;
    justify-content: unset;
    display: unset;
    box-shadow: unset;
    width: 100%;
}

.el-card.st-step-detail .group-form .receiver-plus .el-input .el-select__caret.el-icon-arrow-up:before ,
.el-card.st-step-detail .group-form .senders-plus .el-input .el-select__caret.el-icon-arrow-up:before {
    content: "\E6D9";
    color: #003258;
    font-weight: bolder;
}

a, button {
    outline: none !important;
    box-shadow: none !important;
}
.el-select-dropdown__list {
    padding: 0;
}

.el-select-dropdown__item.sender-opt {
    padding: 7px 12px;
    height: unset;
    line-height: 26px;
    font-size: 13px;
    color: #8e8c8c;
    border-bottom: 1px solid #f1f1f1;
    text-transform: capitalize;
}


.el-select-dropdown.is-multiple .el-select-dropdown__item.sender-opt.selected {
    color: #003f6b;
}

.receiver-plus .el-select , .senders-plus .el-select {
    max-width: 10px;
}

.receiver-plus .el-select .el-select__tags , .senders-plus .el-select .el-select__tags {
    display: none;
}

.receiver-plus .el-select , .senders-plus .el-select {
    padding: 0;
    border: none;
    background: none;
}
.receiver-plus .el-select input , .senders-plus .el-select input {
    padding: 0;
    border: none;
    background: none;
    display: none;
}

.receiver-plus .el-form-item__content .res-img img , .senders-plus .el-form-item__content .res-img img {
    border-radius: 100px;
    margin-right: -15px;
    border: 2px solid #003258;
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.40) !important;
    outline: none;
    box-shadow: none;
    position: relative;
    transition: .5s;
    cursor: pointer;
    z-index: 1;
    min-width: 35px;
    min-height: 35px;
    border-radius: 100px;
    max-width: 35px;
    max-height: 35px;
    -o-object-fit: cover;
    object-fit: cover;
}

.receiver-plus .el-form-item__content .res-img img:hover , .senders-plus .el-form-item__content .res-img img:hover {
    z-index: 10;
}

.receiver-plus .el-select .el-input .el-select__caret.is-reverse , .receiver-plus .el-select .el-input .el-select__caret ,
.senders-plus .el-select .el-input .el-select__caret.is-reverse , .senders-plus .el-select .el-input .el-select__caret {
    transform: unset !important;
}

.receiver-plus .el-input__suffix , .senders-plus .el-input__suffix {
    right: -30px;
    top: -20px;
}

.task-asign.el-button--warning {
    padding: 10px 15px;
    border-radius: 3px;
    margin-top: 25px;
    font-size: 13px;
    font-weight: 400;
}

.task-asign.el-button--success {
    background: #13ba72;
    border: 1px solid #13ba72;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    margin-top: 25px;
}

.st-tasks h5 {
    color:#333333;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 8px;
    text-transform: capitalize;
}
.st-tasks {
    margin-top: 25px;
}

.st-tasks .all-tasks-form {
    border: none;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    background: #fff;
    padding: 20px;
}

.st-tasks .all-tasks-form .el-button--primary {
    color: #FFF;
    background: #1990ff !important;
    border-color: #1990ff !important;
    font-size: 13px !important;
    letter-spacing: .5px !important;
    padding: 10px 15px;
    border-radius: 3px;
    font-weight: normal !important;
    margin-right: 9px;
    margin-top: 8px;
}

.el-button--primary .el-icon-bell {
    font-size: 13px !important;
    color: #FFF !important;
    line-height: 14px !important;

}

.st-tasks .all-tasks-form .el-button--success {
    color: #FFF;
    background: #13ce66 !important;
    padding: 10px 15px;
    font-size: 13px !important;
    letter-spacing: .5px !important;
    font-weight: normal !important;
    border-color: #13ce66 !important;
    margin-top: 8px;
}

.task-comments label {
    display: block;
    text-align: left;
    line-height: 20px !important;
    font-weight: normal;
    color: #707070;
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 15px;
}



.task-comments .task-discussion ul {

    margin: 0 !important;
    padding: 10px;
    background: #fff8e7;
    list-style: none;
    border-radius: 4px;
    border: 1px solid #ffe8ab;
}

.task-comments .task-discussion ul li {
    line-height: 20px;
    margin-bottom: 6px;
    border-bottom: 1px solid #eae0c6;
    padding-bottom: 5px;
    color: #555;
    font-size: 12px;
    letter-spacing: .5px;
}

.task-comments .task-discussion ul li:last-child {
    margin: 0;
    border-bottom: none;
    padding: 0;
}

.task-comments .task-discussion img {
    width: 20px !important;
    margin-right: 5px !important;
    border-radius: 50px !important;
    float: left !important;
}

.el-textarea .el-textarea__inner {
    line-height: 20px;
    width: 100%;
    border-radius: 3px;
    font-size: 12px;
    border: 1px solid #ced4da;
    background: #fff;
    font-weight: 400;
    text-transform: capitalize;
    color: #697580;
    letter-spacing: .2px;
    margin-bottom: 5px;
    padding: 7px 12px;
}



.st-drwwer .el-drawer__header {
    color: #31383e;
    margin-bottom: 20px;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
}

.st-drwwer .el-drawer {
    padding: 40px;
    padding-right: 30px;
}
.st-drwwer .el-tabs__item {
    color: #b8b9bb;
}
.st-drwwer .el-tabs__item.is-active , .st-drwwer .el-tabs__item:hover , .st-drwwer .el-tabs__item:focus {
    outline: none;
    box-shadow: none;
    color: #31383e;
}

.st-drwwer .el-tabs__active-bar {
    background: #9e0d21;
}

.st-drwwer .form-container {
    margin-bottom: 0px;
    margin-top: 10px;
}

.st-drwwer .el-drawer__body {
    overflow: overlay;
    padding-right: 20px;
}


.st-drwwer .el-form--inline .el-form-item {
    margin-bottom: 12px;
}

.st-drwwer .el-checkbox__label , .st-drwwer .el-radio__label {
    color: #afafaf;
    font-size: 12px;
    padding-left: 6px;
    font-weight: normal;
    white-space: normal;
}

.st-drwwer .el-checkbox__input.is-checked .el-checkbox__inner,
.st-drwwer .el-checkbox__input.is-indeterminate .el-checkbox__inner , .st-drwwer .el-radio__input.is-checked .el-radio__inner , .el-radio__input.is-checked .el-radio__inner {
    background-color: #9f0d22;
    border-color: #9f0d22;
    outline: none;
    box-shadow: unset;
}

.st-drwwer .el-checkbox__inner:hover , .st-drwwer .el-radio__inner:hover , .el-radio__inner:hover {
    border-color: #9f0d22;
    outline: none;
    box-shadow: unset;
}

.st-drwwer .el-checkbox__input.is-checked+.el-checkbox__label , .st-drwwer .el-radio__input.is-checked+.el-radio__label , .el-radio__input.is-checked+.el-radio__label {
    color: #9f0d22;
    outline: none;
    box-shadow: unset;
}
.el-radio:focus:not(.is-focus):not(:active):not(.is-disabled) .el-radio__inner {
    box-shadow: unset;
    outline: none;
}
.st-drwwer .el-checkbox-group , .st-drwwer .el-checkbox-group {
    font-size: 0;
    line-height: 13px;
}

.st-drwwer .btn-cancel , .st-drwwer .btn-red {
    padding: 12px 25px;
    margin-top: 0;
    border: 1px solid #9e0d21 !important;
}

.btn-red:hover, .btn-red:active, .btn-red:focus {
    background: #880a1b !important;
    color: #fff;
    outline: none;
    box-shadow: none;
}


.st-drwwer .form-container {
    margin-bottom: 20px;
}

.el-form-item__error {
    position: relative;
}

.sub-con-plus , .sub-con-plus:hover , .sub-con-plus:focus , .sub-con-plus:visited {
    color: #FFF;
    background: #13ce66 !important;
    padding: 10px 10px;
    font-size: 13px !important;
    letter-spacing: .5px !important;
    font-weight: normal !important;
    border-color: #13ce66 !important;
    margin-top: 25px;
    width: 100%;
}

.sub-con-del , .sub-con-del:hover , .sub-con-del:focus , .sub-con-del:visited {
    color: #FFF;
    background: #f15151 !important;
    padding: 10px 10px;
    font-size: 13px !important;
    letter-spacing: .5px !important;
    font-weight: normal !important;
    border-color: #f15151 !important;
    margin-top: 25px;
    width: 100%;
}

.my-side-notes {
    background-color: #f5f7f8;
    color: #909399;
    padding: 20px !important;
    margin: 0;
    border-radius: 5px;
    opacity: 1;
    display: block !important;
    transition: opacity .2s;
    word-break: normal;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: .3px;
}
.my-side-notes ol {
    list-style: none;
    margin: 0 !important;
    padding: 0;
}
.my-side-notes ol li {
    margin-bottom: 10px;
}
.my-side-notes ol li:last-child {
    margin: 0;
}

.req-list-item {
    padding: 10px 15px;
    border-radius: 5px;
    background: #f1f1f1;
    margin-top: 15px;
}
.req-list-item label {
    display: block;
    font-size: 10px;
    color: #707070;
    font-weight: normal;
    margin-bottom: 4px;
}

.req-list-item span {
    font-weight: normal;
    color: #31383e;
    font-size: 12px;
}


.req-list-item span.el-tag {
    font-size: 11px !important;
    padding: 4px 10px !important;
    line-height: 13px;
    height: unset;
    border-radius: 3px;
}

.req-list-item span.el-tag-m-primary {
    background: #cfcfcf !important;
    border: 1px solid #cfcfcf !important;
    border: unset !important;
}
.req-list-item hr {
    margin: 12px 0 10px;
    border-top: 1px solid #fff;
}

.req-list-item span a.btn {
    font-size: 11px !important;
    padding: 4px 10px !important;
    line-height: 13px;
    height: unset;
    color: #fff;
    border-radius: 3px;
    margin: 0;
    margin-right: 5px;
}
.req-list-item span a.btn-primary, .req-list-item span a.btn-primary:active, .req-list-item span a.btn-primary:hover, .req-list-item span a.btn-primary:focus {
    background: #1990ff;
    color: #fff;
}
.req-list-item span a.btn-success, .req-list-item span a.btn-success:active, .req-list-item span a.btn-success:hover, .req-list-item span a.btn-success:focus {
    background: #13ce66;
    color: #fff;
}

.req-popup .el-dialog {
    padding: 40px;
    border-radius: 10px;
}
.req-popup .el-dialog__body {
    padding: 0px;
}
.req-popup .el-dialog__header {
    padding: 0px;
    margin-bottom: 20px;
}
.req-popup .el-dialog__header .el-dialog__title {
    color: #31383e;
    font-size: 18px;
    font-weight: bold;
}

.req-popup .el-form-item {
    margin-bottom: 12px;
}
.req-popup .el-form-item .el-form-item__label {
    font-size: 13px;
    color: #707070;
    padding: 0;
    margin-bottom: 5px;
}

.req-popup .el-form-item .el-range-editor.el-input__inner {
    width: 100%;
}

.req-popup .el-form-item .el-range-editor--medium .el-range-input {
    background: #f8f9fa;
}

.req-popup .el-form-item .el-textarea__inner {
    border-radius: 3px;
    background: #f8f9fa;
    border: 1px solid #ced4da;
    min-height: 75px !important;
}

.req-popup .req-list-table , .req-list-table {
    border: unset;
    margin-top: 25px;
}

.req-popup .req-list-table.table-sec {
    margin-top: 0px;
}

.req-popup .req-list-table tr , .req-list-table tr {
    border: unset;
}
.req-popup .req-list-table tr th , .req-list-table tr th {
    border: 1px solid transparent;
    background: #e9e9e9;
    letter-spacing: .5px;
    padding: 8px 12px;
    border-radius: 5px 5px 0px 0px;
    font-size: 13px;
    font-weight: normal;
    color: #707070;
}

.req-popup .req-list-table tr td , .req-list-table tr td {
    font-size: 12px;
    font-weight: normal;
    padding: 8px 12px;
    border: 1px solid #ced4da;
    color: #707070;
    line-height: 14px;
}

.req-popup .pop-sub-head {
    color: #707070;
    margin-top: 20px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.req-popup .req-list-table tr:nth-child(even) , .req-list-table tr:nth-child(even) {background: #f9f9f9}
.req-popup .req-list-table tr:nth-child(odd)  , .req-list-table tr:nth-child(odd) {background: #fff}

.req-popup .btn-cancel {
    margin-top: 0;
    border-radius: 5px;
    padding: 13px 20px;
}

.req-popup .btn {
    padding: 13px 20px;
    border-radius: 5px;
    border: 1px solid;
    margin-top: 5px;
}

.el-date-editor.el-input {
    width: 100%;
}

.el-checkbox__input {
    vertical-align: top !important;
}

.st-drwwer h3 {
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
}

.st-drwwer .el-radio {
    margin-bottom: 0;
}

.st-drwwer .el-checkbox {
    line-height: 15px;
}
.st-drwwer .my-check .el-checkbox {
    line-height: 15px;
    margin: 0px;
    display: block;
    margin-top: 5px;
}
.drawer-table tr th , .table-2 tr th {
    border: 1px solid transparent;
    background: #e9e9e9;
    letter-spacing: .5px;
    padding: 8px 12px;
    border-radius: 5px 5px 0px 0px;
    font-size: 13px;
    font-weight: normal;
    color: #707070;
}

.drawer-table tr td , .table-2 tr td {
    font-size: 12px;
    font-weight: normal;
    padding: 8px 12px;
    border: 1px solid #ced4da;
    color: #707070;
    line-height: 14px;
}

.drawer-table .pop-sub-head , .table-2 .pop-sub-head {
    color: #707070;
    margin-top: 20px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.drawer-table {
    margin-bottom: 15px;
}
.drawer-table .el-radio , .table-2 .el-radio {
    margin-bottom: 0;
}

.drawer-table .special , .table-2 .special {
    background: #f9f9f9;
}

.el-message-box__wrapper .el-message-box__title {
    color: #31383e;
    font-size: 18px;
    font-weight: bold;
}

.el-message-box__wrapper .el-message-box__header {
    padding: 0px;
    margin-bottom: 15px;
}

.el-message-box__wrapper .el-message-box__content {
    padding: 0px;
}
.el-message-box__wrapper .el-message-box {
    padding: 30px;
    border-radius: 10px;
}

.el-message-box__wrapper .el-message-box__input {
    padding-top: 5px;
}
.el-message-box__wrapper .el-message-box__btns {
    padding: 0;
}

.el-message-box__wrapper .el-message-box__headerbtn {
    position: absolute;
    top: 0px;
    right: 0px;
}

.el-message-box__headerbtn:hover .el-message-box__close ,
.el-message-box__headerbtn:active .el-message-box__close,
.el-message-box__headerbtn:focus .el-message-box__close {
    color: #9e0d21 !important;
}

.el-message-box__wrapper .el-message-box__btns .el-button--primary {
    padding: 12px 25px;
    margin-top: 0;
    border: 1px solid #9e0d21 !important;
    background: #9e0d21;
    color: #fff !important;
    margin-right: 0px !important;
    font-size: 14px;
    line-height: 14px;
    border-radius: 5px;
}
.el-message-box__wrapper .el-message-box__btns .el-button--default {
    padding: 12px 25px;
    margin-top: 0;
    border: 1px solid #9e0d21 !important;
    color: #9e0d21;
    font-size: 14px;
    margin-right: 5px;
    line-height: 14px;
    border-radius: 5px;
}

.badge-top-container .badge {
    z-index: 1;
}


.notification-details p b , .notification-details p strong {
    color: #333333 !important;
}

.notification-details p a {
    float: right;
    color: #b3b3b3;
    display: block;
    margin-top: 5px;
}
.change-pass {
    padding: 20px;
    border-radius: 5px;
    background: #f1f1f1;
    margin-top: 15px;

    h4 {
        font-size: 15px;
        margin-bottom: 12px;
    }
}


.el-dropdown {
    outline: none;
    box-shadow: none;
}
.el-tabs__active-bar {
    background: #9e0d21;
}

.el-tabs__item.is-active, .el-tabs__item:hover, .el-tabs__item:focus {
    outline: none;
    box-shadow: none;
    color: #31383e;
}

.el-tabs__item {
    color: #b8b9bb;
}

/** property valuation starts**/  

.page-head h1 {
    font-size: 20px;
    font-weight: 800;
    color: #333333;
    margin: 0;
    margin-bottom: 8px;
}

.btn-red {
    background: #9e0d21 !important;
}

.btn-red:hover {
    background: #fff;
}


.valuation-lists .el-form-item__label {
    line-height: 15px !important;
    display: block;
    float: unset;
    text-align: left;
    margin-bottom: 2px;
    font-size: 12px;
}


.valuation-lists .el-input__inner , .valuation-lists input {
    height: 28px !important;
    line-height: 28px;
    padding: 0 10px;
    font-size: 12px;
}
.valuation-lists table.cost-meth-table {
    margin-top: 20px !important;
    margin-bottom: 20px;
}
.cost-meth-table tr th {
    letter-spacing: 0px;
    padding: 4px 8px;
    line-height: 13px;
}

.cost-meth-table .el-table__body-wrapper table {
    margin-top: 0;
    margin-bottom: 20px
}

.cost-meth-table .el-input-number__decrease , .cost-meth-table .el-input-number__increase {
    top: 2px;
    line-height: 21px;
}

.cost-meth-table .el-input__inner , .cost-meth-table input {
    height: 25px !important;
    line-height: 25px;
    border-radius: 3px;
    padding: 0 7px;
    font-size: 10px;
    width: 100%;
    border: 1px solid #ced4da !important;
    box-shadow: none;
    outline: none;
    background: #f8f9fa !important;
    color: #697580;
    letter-spacing: 0px;
}

.valuation-lists .el-input--medium .el-input__icon {
    line-height: 28px;
}

.valuation-lists .el-input--prefix .el-input__inner {
    padding-left: 30px;
}

.val-internal-tab .el-tabs__header {
    border-bottom: 1px solid #dfe4ed;
    margin: 0;
}
.val-internal-tab .el-tabs__header .el-tabs__nav .is-active {
    background: #fff;
}

.val-internal-tab .el-tabs__content {
    padding: 15px;
    background: #fff;
    padding-bottom: 0;
    margin-bottom: 15px;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #dfe4ed;
    border-top: 0;
}

.valuation-lists .btn-inner {
    padding: 10px 20px !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.38) !important;   
}

.valuation-lists .btn-inner:hover , .valuation-lists .btn-inner:focus , .valuation-lists .btn-inner:active {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.38) !important;
}
.valuation-bg .el-checkbox__input.is-checked .el-checkbox__inner, .valuation-bg  .el-checkbox__input.is-indeterminate .el-checkbox__inner, .valuation-bg  .el-radio__input.is-checked .el-radio__inner {
    background-color: #9f0d22;
    border-color: #9f0d22;
    outline: none;
    box-shadow: unset;
}
.valuation-bg .el-checkbox__input.is-checked + .el-checkbox__label, .valuation-bg .el-radio__input.is-checked + .el-radio__label {
    color: #9f0d22;
    outline: none;
    box-shadow: unset;
}
.valuation-bg .el-checkbox__label, .valuation-bg .el-radio__label {
    color: #606266;
    font-size: 12px;
    padding-left: 6px;
    font-weight: normal;
    white-space: normal;
}

.valuation-bg .el-radio {
    margin-right: 15px;
}

.valuation-bg .el-checkbox__label {
    position: relative !important;
    top: -7px !important;
}

.drop-red {

}
.drop-red .el-button-group > .el-button:first-child , .drop-red .el-button-group > .el-button:last-child {
    background: #003d6b;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20) !important;
    border: 1px solid #003d6b;
    color: #fff;
}

.my-map .el-button {
    padding: 10px 20px !important;
    margin-top: 10px !important;
}

.my-map .el-input {
    margin-top: 10px !important;
}



.val-inc-popup .el-dialog__header {
    color: #31383e;
    font-size: 18px;
    font-weight: bold;
}

.val-inc-popup .el-dialog__header {
    padding: 0px;
    margin-bottom: 15px;
}

.val-inc-popup .el-dialog__body {
    padding: 0px;
}
.val-inc-popup .el-dialog {
    padding: 30px;
    border-radius: 10px;
}

.val-inc-popup .el-message-box__input {
    padding-top: 5px;
}
.val-inc-popup .el-message-box__btns {
    padding: 0;
}

.val-inc-popup .el-range-editor--mini .el-range-input {
    font-size: 12px;
    background: #f8f9fa;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    width: 40%;
}

.val-inc-popup .el-date-editor--daterange {
    max-width: 273px !important;

}

.val-inc-popup .el-message-box__headerbtn {
    position: absolute;
    top: 0px;
    right: 0px;
}

.val-inc-popupbtn:hover .el-message-box__close ,
.val-inc-popupbtn:active .el-message-box__close,
.val-inc-popup:focus .el-message-box__close {
    color: #9e0d21 !important;
}

.val-inc-popup .el-button--primary {
    padding: 12px 25px;
    margin-top: 0;
    border: 1px solid #9e0d21 !important;
    background: #9e0d21;
    color: #fff !important;
    margin-right: 0px !important;
    font-size: 14px;
    line-height: 14px;
    border-radius: 5px;
}

.val-inc-popup .btn-blue, .val-inc-popup .btn-blue:hover, .val-inc-popup .btn-blue:active, .val-inc-popup .btn-blue:focus {
    background: #003258 !important;
    color: #fff;
    border: 1px solid #003258 !important;
    outline: none;
    box-shadow: none;
}


.val-inc-popup .el-button--default {
    padding: 12px 25px;
    margin-top: 0;
    border: 1px solid #9e0d21 !important;
    color: #9e0d21;
    font-size: 14px;
    margin-right: 5px;
    line-height: 14px;
    border-radius: 5px;
}

.val-inc-popup .el-checkbox__input {
    vertical-align: bottom;
}

.val-inc-popup table ,.valuation-bg table {
    border: unset;
    margin-top: 25px;
}


.val-inc-popup table tr , .valuation-bg table tr {
    border: unset;
}

.val-inc-popup table tr th {
    border: 1px solid rgba(0, 0, 0, 0.06);
    background: #f1f1f1;
    letter-spacing: .5px;
    padding: 4px 0px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: normal;
    color: #707070;
}

.el-switch__label * {
    color: #707070;
}

.val-inc-popup table tr td , .valuation-bg table tr td {
    font-size: 11px;
    font-weight: normal;
    padding: 8px 9px;
    border: 1px solid #ced4da;
    color: #707070;
    line-height: 12px;
}


.val-inc-popup table tr td {
    padding: 0px 9px;
}

.val-inc-popup table .el-date-editor .el-range-input {
    width: 25%;
}
.val-inc-popup .el-table__body-wrapper table {
    margin-top: 0 !important;
}


.val-inc-popup table tr:nth-child(even) , .valuation-bg table tr:nth-child(odd) {background: #f9f9f9}
.val-inc-popup table tr:nth-child(odd) , .valuation-bg table tr:nth-child(odd){background: #fff}

.valuation-bg .el-table , .valuation-bg table {
    background: unset;
    width: 100%;
}

.valuation-bg .el-table .cell {
    padding: 0;
}

.valuation-bg .el-table th > .cell {
    line-height: 10px;
}
.valuation-bg table tr th {
    border: 1px solid rgba(0, 0, 0, 0.06);
    background: #f1f1f1;
    letter-spacing: .5px;
    padding: 6px 9px;
    border-radius: 2px;
    font-size: 11px;
    font-weight: normal;
    color: #707070;
}
.valuation-bg .el-form-item--mini.el-form-item , .val-inc-popup .el-form-item {
    margin-bottom: 12px;
}

.my-val-tabs .el-tabs__content {
    padding: 26px 22px;
    border-radius: 5px;
}

.my-val-tabs .el-tabs__nav-wrap {
    border-radius: 6px 6px 0px 0px;
}

.my-val-tabs .el-tabs__header {
    border-radius: 6px 6px 0px 0px;
}
.my-val-tabs .el-tabs__item {
    padding: 0px 30px;
    height: 50px;
    line-height: 50px;
}

.my-val-tabs .el-tabs__header .el-tabs__item.is-active , .my-val-tabs .el-tabs__header .el-tabs__item:hover {
    color: #9e0d21 !important;
}

.val-internal-tab .el-tabs__content {
    padding: 17px 15px 0;
    border-radius: 5px;
}

.val-internal-tab .el-tabs__nav-wrap {
    border-radius: 0px 0px 0px 0px;
}

.val-internal-tab .el-tabs__header {
    border-radius: 0px 0px 0px 0px;
}
.val-internal-tab .el-tabs__item {
    padding: 0px 15px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

.val-internal-tab .el-tabs__header .el-tabs__item.is-active , .val-internal-tab .el-tabs__header .el-tabs__item:hover {
    color: #9e0d21 !important;
}

.valuation-bg .srrounding-check .el-checkbox__label {
    top: -4px !important;
}

.photos-box {
    padding: 10px;
    background: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    margin-bottom: 15px;
    position: relative;
}
.photos-box span.del-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.68);
    text-align: center;
    color: #fff;
    line-height: 30px;
    opacity: 0;
    top: 15px;
    right: 15px;
    transition: all .5s;
    border-radius: 3px;
    cursor: pointer;
}
.photos-box:hover span.del-icon {
    opacity: 1;
}
.photos-box img {
    width: 100%;
    min-width: 100%;
    min-height: 130px;
    max-height: 130px;
    object-fit: cover;
    object-position: center;
}
.photos-box .el-select , .photos-box .el-input {
    margin-bottom: 0;
}

.photos-box .el-input {
    margin-top: 10px;
}

.mce-ico {
    font-family: 'tinymce',Arial !important;
}

.pro-val-table.el-table th {
    color: #ffffff;
    background: #003258;
    font-size: 12px;
    padding: 10px 0 !important;
}
.pro-val-table.el-table td {
    font-size: 12px;
    padding: 6px 0 !important;
}
.pro-val-table.el-table td .cell {
    line-height: 14px !important;
    white-space: nowrap;
}

.pro-val-table.el-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.pro-val-table.el-table tr:nth-child(odd) {
    background-color: #fff;
}

.pagination-container {
    background: #fff;
    padding: 15px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
}

.pagination-container .el-pager li.active {
    background-color: #880a1b !important;
    color: #FFFFFF;
}

.pagination-container .el-pager li:hover {
    color: #880a1b !important;
}
.val-pop-colapse {
    border: none;
}
.val-pop-colapse .el-collapse-item__header {
    background-color: #f5f5f5;
    border: 1px solid #e6ebf5;
    padding: 0 15px;
    border-radius: 3px;
    margin-top: 10px;
}

.val-pop-colapse .el-collapse-item__wrap {
    border: 1px solid #e6ebf5;
    padding: 15px;
    padding-bottom: 0;
}

.val-pop-colapse .el-collapse-item__content {
    padding-bottom: 0;
}

.val-pop-colapse .el-collapse-item__content .el-form-item {
    margin-bottom: 12px;
}

.special-select .el-input-group__prepend {
    width: 80px !important;
    padding: 0 !important;
}

.special-select .el-input-group__prepend .el-select--mini {
    margin: -10px 0 !important;
}

.el-input__inner , .el-textarea__inner {
    text-transform: unset !important;
}



.val-inc-popup .input-with-select , .input-with-select.special-select {
    direction: rtl;
    text-align: left !important;
}

.val-inc-popup .input-with-select .el-input-group__prepend , .input-with-select.special-select .el-input-group__prepend {
    direction: ltr;
    text-align: left;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    border-right: 1px solid #ced4da;
}

.val-inc-popup .input-with-select input , .input-with-select.special-select input {
    direction: ltr;
    text-align: left;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.el-select-dropdown__item span {
    font-weight: bold;
    font-size: 12px !important;
}

.rent-pop.val-inc-popup .el-checkbox__input {
    vertical-align: bottom !important;
    position: relative;
    top: 5px;
}

.rent-pop .el-table .cell {
    line-height: 13px;
    padding: 4px 0px;
}